{% extends "base.html" %}

{% load i18n %}

{% block main_header %}{% endblock %}

{% block content %}

  <div class="jumbotron px-0">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12 col-sm-7 col-md-5 col-lg-5 col-xl-4 moving-door px-0">
          <a href="/{{ lang }}">
            <span class="d-block fill-jaffa w-100 h-100 svg-transition-1s error-404-door px-3">{% include "svg/door-door.svg" %}</span>
            <span class="d-block fill-jaffa w-100 h-100 error-404-background px-3">{% include "svg/door-background.svg" %}</span>
          </a>
        </div>
        <div class="col-12 col-md-7 col-lg-6 col-xl-5 text-right text-md-left mt-4">
          <h1 class="text-jaffa">{% trans "Erreur 404 - Vous ne naviguez pas sur la bonne page" %}</h1>
          <p class="lead">Voici un indice pour sortir d'ici</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
