{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "404 Error – Escape Game Lille – Just Escape" %}{% endblock %}
{% block description %}{% trans "You are not browsing on the good page 🙄" %}{% endblock %}

{% block og_title %}{% trans "404 Error" %}{% endblock %}
{% block og_description %}{% trans "You are not browsing on the good page 🙄" %}{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

  <div class="jumbotron px-0">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12 col-sm-7 col-md-5 col-lg-5 col-xl-4 moving-door px-0">
          <a href="/{{ lang }}">
            <span class="d-block fill-jaffa w-100 h-100 svg-transition-1s error-404-door px-3">{% include "svg/door-door.svg" %}</span>
            <span class="d-block fill-jaffa w-100 h-100 error-404-background px-3">{% include "svg/door-background.svg" %}</span>
          </a>
        </div>
        <div class="col-12 col-md-7 col-lg-6 col-xl-5 text-right text-md-left mt-4">
          <h1 class="text-jaffa">{% trans "Error 404 – You are not browsing on the good page" %}</h1>
          <p class="lead">{% trans "Go through the door to retrace your steps" %}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
