{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Access ⭐ Escape Game Lille ⭐ Just Escape" %}{% endblock %}
{% block description %}{% trans "24 rue d'Arras 59 800 Lille — How to get there? 🚶 🚲  🚗 🚉 ✈ 🚀 — +33 1 23 45 67 89" %}{% endblock %}

{% block og_title %}{% trans "Access" %}{% endblock %}
{% block og_description %}{% trans "24 rue d'Arras 59 800 Lille — How to get there? 🚶 🚲  🚗 🚉 ✈ 🚀 — +33 1 23 45 67 89" %}{% endblock %}

{% block h1 %}{% trans "How to get to our estate in Lille?" %}{% endblock %}

{% block content %}

  <div class="jumbotron">
    <div class="container">
      <div class="row mb-4">
        <div class="col-12 col-lg-5 col-xl-4 mb-4 px-0">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-12">
                <div class="card deepdark border-jaffa mb-4">
                  <div class="card-body">
                    <div class="media">
                      <span class="fill-mulberry-jaffa d-inline-block svg-64px mr-3 my-auto">
                        {% include "svg/clock.svg" %}
                      </span>
                      <div>
                        <h2 class="text-jaffa size-15 mb-1">{% trans "Opening hours" %}</h2>
                        <p class="lh-12 mb-0">
                          {% trans "<span class='text-jaffa'>Monday-friday:</span> 2PM-11PM<br>" %}
                          {% trans "<span class='text-jaffa'>Saturday-sunday:</span> 10AM-11PM" %}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-12">
                <div class="card deepdark border-jaffa mb-4">
                  <div class="card-body">
                    <div class="media">
                      <div class="fill-mulberry-jaffa d-inline-block svg-64px mr-3 my-auto">
                        {% include "svg/map-marker.svg" %}
                      </div>
                      <div>
                        <h2 class="text-jaffa size-15 mb-1">{% trans "Address" %}</h2>
                        <p class="lh-12 mb-0">
                          {% trans "17 rue Négrier<br>59 800 Lille, France" %}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="col-12">
                <div id="map"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-7 col-xl-8 px-0">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                <div class="card deepdark border-jaffa mb-4">
                  <div class="card-body">
                    <h2 class="text-jaffa size-15 mb-1"><span class="fill-jaffa svg-20px">{% include "svg/walking.svg" %}</span>{% trans "Venir à pied" %}</h2>
                    <p class="mb-0 text-justify">{% lorem 30 w %}</p>
                  </div>
                </div>
                <div class="card deepdark border-jaffa mb-4">
                  <div class="card-body">
                    <h2 class="text-jaffa size-15 mb-1"><span class="fill-jaffa svg-20px mr-2">{% include "svg/bus.svg" %}</span><span class="fill-jaffa svg-20px mr-1">{% include "svg/subway.svg" %}</span>{% trans "Venir en transports" %}</h2>
                    <p class="mb-0 text-justify">{% lorem 30 w %}</p>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                <div class="card deepdark border-jaffa mb-4">
                  <div class="card-body">
                    <h2 class="text-jaffa size-15 mb-1"><span class="fill-jaffa svg-20px mr-1">{% include "svg/car.svg" %}</span>{% trans "Venir en voiture" %}</h2>
                    <p class="mb-0 text-justify">{% lorem 30 w %}</p>
                  </div>
                </div>
                <div class="card deepdark border-jaffa mb-4">
                  <div class="card-body">
                    <h2 class="text-jaffa size-15 mb-1"><span class="fill-jaffa svg-20px mr-1">{% include "svg/bicycle.svg" %}</span>{% trans "Venir à vélo" %}</h2>
                    <p class="mb-0 text-justify">{% lorem 30 w %}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="rounded p-3 border-0 softdark">
        <p class="mb-2">{% trans "N&#39;hésitez pas à passer sur <a class='text-jaffa font-weight-bold' href='/{{ lang }}faq'>notre FAQ</a>." %}</p>
        <p class="mb-2">{% trans "Retrouvez toutes les informations pour nous joindre directement sur notre <a class='text-jaffa font-weight-bold' href='/{{ lang }}contact'>page de contact</a>." %}</p>
        <p class="mb-0">{% trans "Il ne reste plus qu&#39;à <a class='text-mulberry font-weight-bold' href='/{{ lang }}reserver'>réserver</a> si ce n&#39;est pas déjà fait !" %}</p>
      </div>
    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  <script>
    function initMap() {
        var coords = {lat: 50.6425341, lng: 3.0563218}
        var map = new google.maps.Map(document.getElementById('map'), {
            center: coords,
            zoom: 18,
            disableDefaultUI: true,
            fullscreenControl: true,
            zoomControl: true,
            scrollwheel: false
        });
    }
  </script>
  <script src="/static/js/gmaps.js" defer async></script>

  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/{{ lang }}"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "{% trans "Access" %}",
                "item": "https://just-escape.fr/{{ lang }}acces"
            }
        ]
    }
  </script>
{% endblock %}
