{% load i18n %}
<!DOCTYPE html>
<html lang="{% if lang %}{{ lang }}{% else %}fr{% endif %}" prefix="og: http://ogp.me/ns#" {% block microdata %}{% endblock %}class="h-100">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if noindex %}
    <meta name="robots" content="noindex">
    {% endif %}

    <style rel="stylesheet">{% include "css/bootstrap.opti.css" %}</style>
    <style rel="stylesheet">{% include "css/custom.css" %}</style>
    {% block extra_css %}{% endblock %}

    <!-- generics -->
    <link rel="icon" href="/static/icon/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/static/icon/favicon-57.png" sizes="57x57">
    <link rel="icon" href="/static/icon/favicon-76.png" sizes="76x76">
    <link rel="icon" href="/static/icon/favicon-96.png" sizes="96x96">
    <link rel="icon" href="/static/icon/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/static/icon/favicon-192.png" sizes="192x192">
    <link rel="icon" href="/static/icon/favicon-228.png" sizes="228x228">
    <!-- Android -->
    <link rel="shortcut icon" sizes="196x196" href="/static/icon/favicon-196.png">
    <!-- iOS -->
    <link rel="apple-touch-icon" href="/static/icon/favicon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="/static/icon/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="/static/icon/favicon-180.png" sizes="180x180">
    <!-- Windows 8 IE 10-->
    <meta name="msapplication-TileColor" content="#f8f9fa">
    <meta name="msapplication-TileImage" content="/static/icon/favicon-144.png">
    <!-- Windows 8.1 + IE11 and above -->
    <meta name="msapplication-config" content="/static/xml/browserconfig.xml">

    <link rel="canonical" href="https://just-escape.fr{% if current_page %}/{% endif %}{{ lang }}{{ current_page }}">
    <link rel="alternate" hreflang="fr" href="https://just-escape.fr{% if current_page %}/{% endif %}{{ current_page }}">
    <link rel="alternate" hreflang="fr-be" href="https://just-escape.fr{% if current_page %}/{% endif %}{{ current_page }}">
    <link rel="alternate" hreflang="fr-ca" href="https://just-escape.fr{% if current_page %}/{% endif %}{{ current_page }}">
    <link rel="alternate" hreflang="fr-mc" href="https://just-escape.fr{% if current_page %}/{% endif %}{{ current_page }}">
    <link rel="alternate" hreflang="fr-ml" href="https://just-escape.fr{% if current_page %}/{% endif %}{{ current_page }}">
    <link rel="alternate" hreflang="fr-sn" href="https://just-escape.fr{% if current_page %}/{% endif %}{{ current_page }}">
    <link rel="alternate" hreflang="fr-ch" href="https://just-escape.fr{% if current_page %}/{% endif %}{{ current_page }}">
    <link rel="alternate" hreflang="en" href="https://just-escape.fr/en/{{ current_page }}">
    <link rel="alternate" hreflang="en-gb" href="https://just-escape.fr/en/{{ current_page }}">
    <link rel="alternate" hreflang="en-us" href="https://just-escape.fr/en/{{ current_page }}">
    <link rel="alternate" hreflang="x-default" href="https://just-escape.fr/en/{{ current_page }}">

    <title>{% block title %}Just Escape{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">

    <meta property="og:title" content="{% block og_title %}{% trans "Just Escape — From 2 Players" %}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{% endblock %}">
    <meta property="og:image" content="{% block og_image %}https://just-escape.fr/static/img/logo-just-escape-1200x630.png{% endblock %}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:alt" content="{% block og_image_alt %}{% trans "Just Escape Lille Logo" %}{% endblock %}">
    <meta property="og:image:width" content="{% block og_image_width %}1200{% endblock %}">
    <meta property="og:image:height" content="{% block og_image_height %}630{% endblock %}">
    <meta property="og:type" content="{% if og_type %}{{ og_type }}{% else %}website{% endif %}">
    <meta property="og:url" content="https://just-escape.fr{% if current_page %}/{% endif %}{{ lang }}{{ current_page }}">
    <meta property="og:site_name" content="{% trans "Just Escape ⭐⭐⭐⭐⭐" %}">
    <meta property="locale" content="{% if not lang %}fr_FR{% else %}en_US{% endif %}">
    <meta property="locale:alternate" content="{% if not lang %}en_US{% else %}fr_FR{% endif %}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@JustEscapeLille">
  </head>

  <body class="d-flex flex-column dark sans-serif pb-0">
    <svg id="svg-css" aria-hidden="true" focusable="false">
      <linearGradient id="mulberry-jaffa" x1="50%" y1="0%" x2="50%" y2="100%">
        <stop stop-color="#cb4299" offset="0"/>
        <stop stop-color="#f38d40" offset="75%"/>
      </linearGradient>
    </svg>

    {% include "header.html" %}

    <main class="flex-grow-1">
      <div class="disclaimer">
        <div class="big-noodle size-15">{% trans "Notice" %}</div>
        <div class="size-09">{% trans "Just Escape is being created and should open at the end of 2019" %}</div>
      </div>

      <div class="jumbotron-fluid light">
        <div class="pre-content"></div>
      </div>
 
      {% block main_header %}
      <div class="jumbotron-fluid light">
        <div class="container py-3">
          <div class="mx-auto text-center">
            <h1>{% block h1 %}{% trans "One of the most immersive live escape games in&nbsp;Lille" %}{% endblock %}</h1>
          </div>
        </div>
      </div>
      {% endblock %}

      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </main>
 
    {% include "footer.html" %}

    <script src="/static/js/jquery.slim.min.js"></script>
    <script src="/static/js/popper-1.12.9.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/anime.min.js"></script>

    <script>
      function navReductionOnScroll() {
          if (this.oldScroll < this.scrollY) {
              if (document.body.scrollTop > 60 || document.documentElement.scrollTop > 60) {
                  $("#navheader").addClass("reduced");
                  $("#navbar").collapse('hide');
              }
          }
          else
          {
              $("#navheader").removeClass("reduced");
          }
          this.oldScroll = this.scrollY;
      }

      window.addEventListener('scroll', navReductionOnScroll);
    </script>

    <!-- Enable popovers -->
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover()
      })
    </script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','/static/js/analytics.js','ga');
      ga('create', 'UA-138743603-1', 'auto');
      ga('send', 'pageview');
    </script>

    {% block post_base_js %}{% endblock %}
  </body>
</html>
