{% extends "base.html" %}

{% block title %}Blog – Escape Game Lille – Just Escape{% endblock %}
{% block description %}Vous êtes curieux à propos des escape games, surtout ceux à Lille ? Soyez les premiers à découvrir les articles de Just Escape.{% endblock %}

{% block og_title %}Blog{% endblock %}
{% block og_description %}Vous êtes curieux à propos des escape games, surtout ceux à Lille ? Soyez les premiers à découvrir les articles de Just Escape.{% endblock %}

{% block h1 %}Un blog à propos d'escape games, de Lille et de plein d'autres choses{% endblock %}

{% block content %}

  <div id="blog" class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col">
          <div>
            <ol class="breadcrumb softdark py-2">
              <li class="breadcrumb-item"><a href="/" class="fill-jaffa svg-16px">{% include "svg/home.svg" %}</a></li>
              <li class="breadcrumb-item active" aria-current="page">Blog</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <ul class="list-unstyled">
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/murder-party-evjf">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">La Murder Party pour un EVJF : Une Expérience Inoubliable chez Just Escape à Lille</h2>
                  <p class="text-muted mb-1">Posté le 4 avril 2025</p>
                  <p>Organiser un enterrement de vie de jeune fille (EVJF) mémorable est un défi passionnant. Parmi les nombreuses options disponibles, la murder party se distingue comme une activité immersive et originale qui promet des souvenirs impérissables. [...]</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic">
                  <picture>
                    <source srcset="/static/img/murder_party_lille_enquete_criminelle.webp" type="image/webp">
                    <source srcset="/static/img/murder_party_lille_enquete_criminelle.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/murder_party_lille_enquete_criminelle.jpg" alt="Une murder party evjf">
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/guide-indispensable-passionnes-escape-games">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Le Guide Indispensable pour Tous les Passionnés d'Escape Games</h2>
                  <p class="text-muted mb-1">Posté le 13 décembre 2024</p>
                  <p>Si vous êtes un amateur d’escape games, vous savez à quel point il peut être difficile de trouver les meilleurs scénarios, de comparer les expériences ou même de découvrir des salles près de chez vous. Heureusement, Escape Zone (www.escape-zone.fr) est là pour vous simplifier la vie ! Ce site est une véritable mine d’or pour tous les passionnés d’escape games, qu’ils soient novices ou experts. Dans cet article, nous allons explorer ce qu’est Escape Zone et pourquoi il s'agit d'un outil incontournable pour les joueurs.</p>
                </div>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/escape-game-entreprise">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Just Escape pour un escape game d’entreprise réussi</h2>
                  <p class="text-muted mb-1">Posté le 16 mars 2023</p>
                  <p>Capitale attractive des Hauts-de-France, Lille est une ville animée et dynamique qui sait se réinventer. Elle offre le cadre rêvé pour participer à un escape game. Et ce, pour les particuliers comme pour les professionnels. Vous êtes une entreprise à la recherche d’une activité inspirante pour vos collaborateurs ? Et si vous réserviez une expérience ludique pour vos salariés ? Brisez la glace ! Just Escape vous propose de réserver une escape room ou une salle de réunion à Lille pour vivre un moment intense et mémorable.</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic">
                  <picture>
                    <source srcset="/static/img/escape-game-entreprise.webp" type="image/webp">
                    <source srcset="/static/img/escape-game-entreprise.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/escape-game-entreprise.jpg" alt="Un escape game d'entreprise">
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/location-salle-reunion-lille">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Location de salle de réunion à Lille</h2>
                  <p class="text-muted mb-1">Posté le 1er mars 2023</p>
                  <p>Pour prendre des décisions stratégiques, former son personnel ou simplement partager de bons moments entre collègues, une entreprise doit parfois réunir ses collaborateurs. Elle peut très bien choisir de le faire sur son site. Mais le faire à l’extérieur de ses locaux permet de changer d’environnement et de casser la routine pour mieux briser la glace. Encore faut-il bien choisir le lieu. Séminaire, team building, onboarding, formation… découvrez les bonnes raisons de choisir Just Escape pour la location de salle de réunion à Lille !</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic">
                  <picture>
                    <source srcset="/static/img/location-salle-reunion-lille.webp" type="image/webp">
                    <source srcset="/static/img/location-salle-reunion-lille.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/location-salle-reunion-lille.jpg" alt="Louez une salle de réunion à Lille">
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/idee-animation-soiree-entreprise">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Quelle idée d'animation pour une soirée d'entreprise ?</h2>
                  <p class="text-muted mb-1">Posté le 25 février 2023</p>
                  <p>Vous êtes à la recherche d’une animation qui saura surprendre vos collaborateurs pour votre prochaine soirée d’entreprise ? Mais comment choisir ? Escape game ou murder party : Just Escape vous aide à trouver l’idée d’animation qui vous correspond. Qu’il s’agisse d’un team building, d’un séminaire, d’un départ à la retraite ou d’une soirée de Noël, nos expériences sur mesure plairont à tous vos employés !</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic">
                  <picture>
                    <source srcset="/static/img/idee-animation-soiree-entreprise.webp" type="image/webp">
                    <source srcset="/static/img/idee-animation-soiree-entreprise.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/idee-animation-soiree-entreprise.jpg" alt="Une idée d'animation pour une soirée d'entreprise">
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/idee-animation-seminaire-entreprise">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Quelle idée d'animation pour un séminaire d'entreprise ?</h2>
                  <p class="text-muted mb-1">Posté le 15 février 2023</p>
                  <p>Rien ne doit être laissé au hasard pour l’organisation de votre séminaire d’entreprise. Que ce soit pour les présentations, les réunions ou les animations. Une animation de séminaire d’entreprise réussie mélange divertissement, émotions et surprises. Autant d’atouts que possède l’escape game. Just Escape organise votre animation de séminaire pour une expérience inoubliable. [...]</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic">
                  <picture>
                    <source srcset="/static/img/idee-animation-seminaire-entreprise.webp" type="image/webp">
                    <source srcset="/static/img/idee-animation-seminaire-entreprise.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/idee-animation-seminaire-entreprise.jpg" alt="Une idée d'animation pour un séminaire d'entreprise">
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/animation-entreprise">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Just Escape pour votre animation d’entreprise à Lille</h2>
                  <p class="text-muted mb-1">Posté le 11 février 2023</p>
                  <p>Vous voulez offrir la meilleure expérience à vos salariés pour votre animation d’entreprise ? Escape game, murder party et salle de réception : Just Escape a l’offre qu’il vous faut. Faites le choix de l’inattendu et de la convivialité avec notre centre d’escape game à Lille. Venez vivre une aventure en équipe que vous n’êtes pas près d’oublier !</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic">
                  <picture>
                    <source srcset="/static/img/animation-entreprise.webp" type="image/webp">
                    <source srcset="/static/img/animation-entreprise.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/animation-entreprise.jpg" alt="Une animation d'entreprise avec une équipe de joueurs dans un escape game">
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/animation-murder-party">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Tout savoir sur l’animation murder party</h2>
                  <p class="text-muted mb-1">Posté le 7 février 2023</p>
                  <p>Si l’escape game commence à bien se faire connaître dans l’Hexagone, la murder party est encore confidentielle. En tout cas, pour le moment. Car sa recette emprunte des ingrédients similaires qui ont tout pour plaire. Une pincée de mystère, un peu de logique et une bonne dose d’adrénaline. Besoin d’inspiration pour votre prochaine expérience ? Voici notre guide de la murder party !</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic">
                  <picture>
                    <source srcset="/static/img/murder-party-soiree-enquete.webp" type="image/webp">
                    <source srcset="/static/img/murder-party-soiree-enquete.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/murder-party-soiree-enquete.jpg" alt="Des joueurs dans une murder party jouent lors d'une soirée enquête">
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/jeux-team-building">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Quels jeux de team building choisir ?</h2>
                  <p class="text-muted mb-1">Posté le 5 février 2023</p>
                  <p>Activité sportive ou culturelle ? Quels sont les meilleurs jeux de team building pour souder une équipe et optimiser le bien-être de vos collaborateurs ? Just Escape accompagne les entreprises qui souhaitent stimuler la communication, la confiance et la cohésion au travail avec des expériences insolites et conviviaux. Vivez une aventure unique et authentique avec Just Escape !</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic">
                  <picture>
                    <source srcset="/static/img/communication-reflexion-puzzle.webp" type="image/webp">
                    <source srcset="/static/img/communication-reflexion-puzzle.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/communication-reflexion-puzzle.jpg" alt="Puzzle qui demande de la réflexion et de la communication">
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/salle-seminaire-lille-just-escape">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Votre salle de séminaire à Lille avec Just Escape</h2>
                  <p class="text-muted mb-1">Posté le 1er février 2023</p>
                  <p>Conférence, formation, assemblée générale, séminaire… Peu importe la raison de la réunion, le lieu a son importance dans la réussite de votre événement professionnel. De plus en plus d’entreprises veulent offrir une expérience marquante à leurs collaborateurs. C’est pourquoi elles choisissent de se réunir en dehors de leurs propres locaux. Cela permet d’organiser un séminaire dans des conditions originales. À Lille, de nombreuses salles de séminaire peuvent répondre à vos attentes. Mais Just Escape sort du lot. Nous vous expliquons pourquoi notre centre d’escape game est un choix unique qui est sûr de marquer les esprits pour votre salle de séminaire à Lille !</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic">
                  <picture>
                    <source srcset="/static/img/salle-seminaire-escape-game-lille-baie-vitree.webp" type="image/webp">
                    <source srcset="/static/img/salle-seminaire-escape-game-lille-baie-vitree.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/salle-seminaire-escape-game-lille-baie-vitree.jpg" alt="La salle de séminaire avec sa baie vitrée">
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/seminaire-entreprise-original">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Comment organiser un séminaire d’entreprise original ?</h2>
                  <p class="text-muted mb-1">Posté le 29 janvier 2023</p>
                  <p>Vous aimeriez faire de votre prochain séminaire d’entreprise un événement original et insolite ? Just Escape vous propose l’expérience qu’il vous faut. Escape game, murder party et salle de réunion : testez une animation unique en équipe et partagez une aventure palpitante entre collègues !</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic">
                  <picture>
                    <source srcset="/static/img/team-building-escape-game-lille.webp" type="image/webp">
                    <source srcset="/static/img/team-building-escape-game-lille.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/team-building-escape-game-lille.jpg" alt="Séminaire d'entreprise original dans un escape game à Lille">
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/seminaire-entreprise-escape-game">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Pourquoi choisir l’escape game pour votre séminaire d’entreprise ?</h2>
                  <p class="text-muted mb-1">Posté le 23 janvier 2023</p>
                  <p>Avez-vous pensé à réserver un escape game pour votre prochain séminaire d’entreprise ? Le jeu d’évasion entre collègues est un très bon moyen de s’amuser et de créer du lien entre collègues. Les bénéfices sur l’esprit d’équipe, la communication et la motivation sont réels. Just Escape satisfait vos demandes de séminaire d’entreprise à Lille pour une journée inoubliable et riche en découvertes !</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic">
                  <picture>
                    <source srcset="/static/img/activite-team-building-escape-room-lille.webp" type="image/webp">
                    <source srcset="/static/img/activite-team-building-escape-room-lille.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/activite-team-building-escape-room-lille.jpg" alt="Séminaire d'entreprise dans un escape game à Lille">
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/salle-reunion-escape-game">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Votre salle de réunion dans notre centre d’escape game</h2>
                  <p class="text-muted mb-1">Posté le 14 janvier 2023</p>
                  <p>Le centre d’escape game Just Escape à Lille ne vous propose pas seulement de vivre un jeu d’évasion grandeur nature en équipe. En plus de nos escape rooms, nous proposons une salle de réunion dans nos locaux. Nous cassons les codes. Car après une activité ludique, il peut être utile de se retrouver entre collègues dans une salle de réception pour échanger ou pour une présentation d’entreprise. Découvrez l’offre sur mesure de Just Escape pour votre événement d’entreprise !</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic">
                  <picture>
                    <source srcset="/static/img/salle-seminaire-escape-game-lille.webp" type="image/webp">
                    <source srcset="/static/img/salle-seminaire-escape-game-lille.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/salle-seminaire-escape-game-lille.jpg" alt="Une salle de réunion à Lille tout équipé pour des séminaires">
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/activite-team-building-escape-game-lille">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Un escape game pour une activité team building mémorable</h2>
                  <p class="text-muted mb-1">Posté le 10 janvier 2023</p>
                  <p>L’escape game mélange esprit d’équipe, communication, aventure et fun. C’est ce qui en fait l’activité team building idéale pour votre entreprise. Offrez un jeu d’évasion grandeur nature à vos collaborateurs et affrontez-vous en équipe. Avec Just Escape, profitez d’une solution clé en main pour votre activité team building à Lille !</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic">
                  <picture>
                    <source srcset="/static/img/activite-team-building-murder-party-lille.webp" type="image/webp">
                    <source srcset="/static/img/activite-team-building-murder-party-lille.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/activite-team-building-murder-party-lille.jpg" alt="Activite team building escape game lille">
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/9-questions-one-brain-escape-game-lille">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">9 questions à One Brain, escape game à Lille</h2>
                  <p class="text-muted mb-1">Posté le 12 septembre 2022</p>
                  <p>Quatre ans après l'ouverture de One Brain, centre d'escape game à Lille, Martin, co-fondateur, se confie. (Re)découvrez l'histoire de cette enseigne emblématique de la ville de Lille avec ces neuf questions rétrospectives. Lisez bien jusqu'à la fin : certaines réponses vont vraiment vous étonner. [...]</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <video class="mr-3" autoplay muted loop>
                  <source src="/static/vid/le-cube-escape-game-lille.webm" type="video/webm"/>
                  <p>Les vidéos ne sont pas supportées par ce navigateur</p>
                </video>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/idees-activites-lille">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Nos meilleures idées d'activités à Lille</h2>
                  <p class="text-muted mb-1">Posté le 12 août 2022</p>
                  <p>Dans le nord de la France, Lille est une ville culturelle dynamique et animée. Que vous soyez Lillois ou que vous ayez envie d'y passer un weekend, de nombreuses activités à Lille vous garantissent de ne jamais vous y ennuyer. En quête d'inspiration pour vos prochaines sorties ? Suivez tout simplement notre guide ! [...]</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic">
                  <picture>
                    <source srcset="/static/img/lille-place-general-de-gaulle.webp" type="image/webp">
                    <source srcset="/static/img/lille-place-general-de-gaulle.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/lille-place-general-de-gaulle.jpg" alt="La place du général de Gaulle à Lille">
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/devis-escape-game">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Votre devis escape game en ligne</h2>
                  <p class="text-muted mb-1">Posté le 23 juillet 2022</p>
                  <p>Vous aimeriez réserver une activité originale et insolite pour un événement privé ? Pour un team building en entreprise ou des retrouvailles entre amis, l'escape game est l'expérience qu'il vous faut. Tentez le jeu d'évasion grandeur nature et confrontez-vous en équipe pour déjouer les énigmes de l'escape room. Demandez votre devis escape game en ligne et vivez une aventure riche en émotions et en rebondissements ! [...]</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic">
                  <picture>
                    <source srcset="/static/img/cocktail-dinatoire-escape-game-lille.webp" type="image/webp">
                    <source srcset="/static/img/cocktail-dinatoire-escape-game-lille.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/cocktail-dinatoire-escape-game-lille.jpg" alt="Un cocktail dinatoire réunit une équipe célébrant un événement">
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/escape-game-2-joueurs-lille">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Un escape game à 2 : c'est possible</h2>
                  <p class="text-muted mb-1">Posté le 17 juillet 2022</p>
                  <p>En quête d'une activité originale en duo ? Osez l'expérience de l'escape game à 2 et vivez une aventure que vous n'êtes pas près d'oublier. Avec votre frère, votre sœur, votre enfant, votre meilleur ami ou votre âme sœur, réservez un escape game pour deux participants. Usez de votre bon sens et de votre logique, et combinez vos neurones en duo le temps d'une partie riche en rebondissements. Voici tout ce qu'il faut savoir pour organiser votre escape game à 2.</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic">
                  <picture>
                    <source srcset="/static/img/escape-game-lille-deux-joueurs.webp" type="image/webp">
                    <source srcset="/static/img/escape-game-lille-deux-joueurs.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/escape-game-lille-deux-joueurs.jpg" alt="Deux joueurs dans un escape game à Lille">
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/escape-game-enfant-lille">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Votre escape game avec enfant à Lille</h2>
                  <p class="text-muted mb-1">Posté le 12 juillet 2022</p>
                  <p>Jeu d'évasion grandeur nature, l'escape game n'est pas seulement réservé aux adultes. C'est une aventure qui peut aussi se vivre en famille. Accessible à partir de 10 ans idéalement, l'escape game met tous les enfants d'accord. Des plus timides aux plus extravertis, chaque enfant a son rôle à jouer pour permettre à son équipe de résoudre les énigmes à temps. Vous êtes à la recherche d'un escape game avec enfant à Lille ? Découvrez tout ce qu'il faut savoir à ce sujet et vivez une expérience inoubliable !</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic">
                  <picture>
                    <source srcset="/static/img/escape-game-enfant-lille.webp" type="image/webp">
                    <source srcset="/static/img/escape-game-enfant-lille.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/escape-game-enfant-lille.jpg" alt="Un enfant prêt à entrer dans un escape game à Lille">
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/escape-game-evjf-original">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Un escape game pour un EVJF original</h2>
                  <p class="text-muted mb-1">Posté le 7 juillet 2022</p>
                  <p>L'enterrement de vie de jeune fille (EVJF) ou l'enterrement de vie de garçon (EVG) ne s'organise pas au hasard. Si vous êtes l'organisateur de cette journée spéciale, vous avez une mission importante à relever pour votre ami ou votre amie. Tout EVJF doit comporter une bonne dose d'amusement, de distraction et de surprises pour être réussi. Et l'escape game réunit justement tous ces atouts. Organisez un escape game pour un EVJF à la fois original et inoubliable ! [...]</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic">
                  <picture>
                    <source srcset="/static/img/escape-game-evjf-original.webp" type="image/webp">
                    <source srcset="/static/img/escape-game-evjf-original.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/escape-game-evjf-original.jpg" alt="Un EVJF original dans un escape game">
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/meilleur-escape-game-lille">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Just Escape : meilleur escape game à Lille</h2>
                  <p class="text-muted mb-1">Posté le 26 juin 2022</p>
                  <p>Que ce soit votre premier jeu d'évasion ou que vous soyez un fan incontesté des escape rooms, vous êtes forcément à la recherche de la meilleure expérience. L'escape game a investi toutes les grandes villes de France. Avec une offre parfois si riche et diversifiée qu'il est difficile de faire un choix. Quel est le meilleur escape game à Lille ? Just Escape va vous faire vivre une aventure en famille ou entre amis que vous n'oublierez pas de sitôt ! [...]</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic mr-3">
                  <picture>
                    <source srcset="/static/img/meilleur-escape-game-lille-decors.webp" type="image/webp">
                    <source srcset="/static/img/meilleur-escape-game-lille-decors.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/meilleur-escape-game-lille-decors.jpg" alt="Des décors d'escape game spectaculaires" >
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/escape-game-anniversaire-lille">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Un escape game pour un anniversaire inoubliable</h2>
                  <p class="text-muted mb-1">Posté le 19 juin 2022</p>
                  <p>Une année de plus, encore une occasion de se rassembler pour passer de bons moments. Et si cette année vous fêtiez votre anniversaire différemment ? Quand il s'agit de garder de bons souvenirs de ce jour si spécial, il faut miser sur l'originalité et l'intensité de l'expérience. Justement, il existe une activité parfaite pour cela : l'escape game. En famille ou entre amis, découvrez les secrets d'organisation d'un escape game réussi pour un anniversaire inoubliable. [...]</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic mr-3">
                  <picture>
                    <source srcset="/static/img/escape-game-anniversaire-lille.webp" type="image/webp">
                    <source srcset="/static/img/escape-game-anniversaire-lille.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/escape-game-anniversaire-lille.jpg" alt="Des joueurs fêtent un anniversaire dans un escape game" >
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/escape-game-famille-lille">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Jouer à un escape game en famille à Lille</h2>
                  <p class="text-muted mb-1">Posté le 14 juin 2022</p>
                  <p>Entre l'école et le travail, nos vies quotidiennes subissent un rythme infernal qui nous éloigne parfois de nos proches. Il est temps de se retrouver entre parents et enfants. Et si vous réserviez un escape game en famille à Lille ? Vivez une expérience riche en émotions et en découvertes avec un escape game spécialement pensé pour les familles. [...]</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic mr-3">
                  <picture>
                    <source srcset="/static/img/escape-game-famille-lille.webp" type="image/webp">
                    <source srcset="/static/img/escape-game-famille-lille.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/escape-game-famille-lille.jpg" alt="Une famille dans un escape game" >
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/escape-game-lille-nouvelle-generation">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Un escape game nouvelle génération à Lille</h2>
                  <p class="text-muted mb-1">Posté le 7 juin 2022</p>
                  <p>J'ai joué à <strong>mon premier escape game en 2013</strong> alors que j'étais en vacances chez mes parents. La salle de The great escape game m'avait fait rêver ! Mon petit frère qui me savait touche à tout m'avait dit sur le chemin du retour "<span class="font-italic">eh mais tu pourrais carrément créer ton escape room !</span>". 5 ans plus tard, je me retrouve avec mon diplôme d'ingénieur électronique en poche et je travaille dans un centre de recherche à <strong>Budapest, la capitale européenne des escape games</strong>. Je passe mes soirées à faire <strong>des escape rooms avec mes collègues et entre amis</strong>. [...]</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <video class="mr-3" autoplay muted loop>
                  <source src="/static/vid/salle-escape-game-modelisation-3d.webm" type="video/webm"/>
                  <p>Les vidéos ne sont pas supportées par ce navigateur</p>
                </video>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Blog",
                "item": "https://just-escape.fr/blog"
            }
        ]
    }
  </script>
{% endblock %}
