{% extends "base.html" %}

{% block title %}Just Escape : votre devis escape game en ligne{% endblock %}
{% block description %}Pour un team building d'entreprise ou un événement spécial pour un groupe nombreux, demandez un devis escape game en ligne… pour une aventure intense !{% endblock %}

{% block og_title %}Just Escape : votre devis escape game en ligne{% endblock %}
{% block og_description %}Pour un team building d'entreprise ou un événement spécial pour un groupe nombreux, demandez un devis escape game en ligne… pour une aventure intense !{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

  <div class="jumbotron pt-4">
    <div class="container px-0">
      <div class="row">
        <div class="col col-md-10 col-lg-8">
          <div>
            <ol class="breadcrumb softdark py-2">
              <li class="breadcrumb-item"><a href="/blog" class="text-jaffa">Blog</a></li>
              <li class="breadcrumb-item active" aria-current="page">Votre devis escape game en ligne</li>
            </ol>
          </div>

          <h1 class="text-jaffa">Votre devis escape game en ligne</h1>
          <p class="font-italic">Vous aimeriez réserver une activité originale et insolite pour un événement privé ? Pour un team building en entreprise ou des retrouvailles entre amis, l'escape game est l'expérience qu'il vous faut. Tentez le jeu d'évasion grandeur nature et confrontez-vous en équipe pour déjouer les énigmes de l'escape room. Demandez votre devis escape game en ligne et vivez une aventure riche en émotions et en rebondissements !</p>
          <p class="text-muted">Posté le X juin 2022</p>

          <h2 class="text-jaffa">Devis escape game : des expériences pour tous les groupes</h2>
          <p>L'escape game est une activité qui s'adapte à tous les groupes. Que vous soyez seulement à deux ou à plus de vingt participants, il existe des offres pour tous les joueurs. L'escape game se prête aussi bien aux parties entre couples qu'aux larges groupes d'amis ou aux équipes de collègues. Le scénario, les décors et les énigmes à résoudre font la part belle à l'esprit d'équipe, la cohésion, la communication et la logique.</p>
          <p>Lorsque la première <a href='/blog/escape-room-france-guide'>escape room</a> française a ouvert ses portes à Paris en 2013, les joueurs étaient surtout des adeptes de l'escape room virtuelle et des jeux vidéo. Mais depuis, les profils se sont bien diversifiés. Dans toutes les régions de France, les enseignes attirent aussi bien des experts de l'évasion que de simples curieux du concept. De même, les groupes de particuliers réunis pour un anniversaire ou une autre journée spéciale côtoient les parties réservées aux entreprises. En effet, les entreprises, publiques comme privées, sont de plus en plus nombreuses à tenter l'expérience de l'escape game en totale immersion. Séminaire, afterwork, soirée d'intégration, formation ou team building : l'escape room est le lieu idéal pour apprendre à se connaître et renforcer les liens entre collaborateurs.</p>
          <div class="row justify-content-center">
            <div class="col col-lg-10">
              <figure class="text-center font-italic mb-3">
                <picture>
                  <source srcset="/static/img/team-building-lille-escape-game.webp" type="image/webp">
                  <source srcset="/static/img/team-building-lille-escape-game.jpg" type="image/jpg">
                  <img loading="lazy" src="/static/img/team-building-lille-escape-game.webp" class="img-fluid w-100 mb-1" alt="Dans une salle d'escape game à Lille, deux collègues sont contentes de leur team building">
                </picture>
                <figcaption>
                  Des collègues en teambuilding dans un escape game
                </figcaption>
              </figure>
            </div>
          </div>
          <p>Pour demander un devis escape game et réserver une partie pour votre groupe chez Just Escape, <a href='/contact'>contactez notre équipe</a> par e-mail ou par téléphone. Vous avez aussi la possibilité de <a href='/team-building#devis'>remplir un formulaire de devis en quelques clics</a>. Seules quelques informations sont nécessaires :
          </p>
          <ul>
            <li>Votre nom</li>
            <li>Le nom de votre entreprise</li>
            <li>Une adresse e-mail de contact</li>
            <li>Un numéro de téléphone de contact</li>
            <li>La taille du groupe</li>
            <li>La prestation que vous souhaitez</li>
            <li>La date souhaitée</li>
            <li>Votre budget si vous en avez un</li>
            <li>Un commentaire supplémentaire</li>
          </ul>
          <p>Afin de vous proposer des prestations complètes et de vous accompagner au mieux dans l'organisation de votre partie, nous vous proposons une expérience clé en main.</p>

          <h2 class="text-jaffa">L'esprit d'équipe par le jeu : devis escape game pour entreprise</h2>
          <p>Les entreprises à la recherche d'un <a href='/'>escape game à Lille</a> peuvent compter sur Just Escape pour réserver une partie mémorable. Votre équipe sera plongée dans une escape room sans cadenas, où de nombreuses énigmes inédites les attendent. Découvrez le Digimiam dans un décor futuriste qui prend place dans un restaurant à Lille de 2080. Décrivez vos besoins et obtenez votre devis escape game sur mesure qui tient compte de la taille de votre groupe et des prestations souhaitées. Notre équipe veillera à organiser une journée ou une soirée qui répond à vos attentes. De la collation sucrée au cocktail apéritif, l'expérience ne s'arrête pas derrière la porte de l'escape room.</p>

          <div class="row justify-content-center">
            <div class="col col-lg-10">
              <figure class="text-center font-italic mb-3">
                <picture>
                  <source srcset="/static/img/cocktail-dinatoire-escape-game-lille.webp" type="image/webp">
                  <source srcset="/static/img/cocktail-dinatoire-escape-game-lille.jpg" type="image/jpg">
                  <img loading="lazy" src="/static/img/cocktail-dinatoire-escape-game-lille.webp" class="img-fluid w-100 mb-1" alt="Un cocktail dinatoire réunit une équipe célèbrant un événement">
                </picture>
                <figcaption>
                  Personnalisez votre devis avec un cocktail dinatoire !
                </figcaption>
              </figure>
            </div>
          </div>

          <p>D'une capacité de 16 personnes assises et une vingtaine debout, la salle de réception est spécialement équipée pour accueillir les entreprises. Vous y trouverez une machine à café, un paperboard, un vidéoprojecteur et une connexion wifi haut débit. Nous vous aidons à sélectionner votre jeu et vos prestations en fonction de la taille de votre groupe et de vos attentes. En plus de la partie, des ateliers thématiques ou créatifs peuvent vous être proposés pour compléter l'expérience. Repartez avec des photos souvenirs en équipe et des souvenirs inoubliables plein la tête ! Le temps d'une partie des plus réalistes et surprenantes, chaque participant aura l'occasion d'oublier sa place hiérarchique au sein de l'entreprise.</p>

          <h2 class="text-jaffa">Joueurs nombreux : découvrez la murder party !</h2>
          <p>Si votre groupe est très nombreux, il sera possible de le scinder en deux pour vous proposer deux parties et deux équipes. Lorsqu'un groupe de joueurs sera dans l'escape room, les autres participants trouveront de quoi s'amuser dans la salle d'accueil. Plusieurs jeux de société sont à votre disposition. Pour votre événement d'entreprise, Just Escape a une autre solution pour vous : <a href='/murder-party'>la Murder Party</a>.</p>
          <p>La Murder Party, c'est un scénario immersif et original qui convient aux groupes jusqu'à 50 personnes. L'intrigue se déroule dans une ambiance festive menacée par l'arrivée soudaine d'un événement funeste. Il s'agit de résoudre un meurtre dans des circonstances étranges et de démasquer le criminel en faisant preuve de déduction et de sens de la négociation. Chaque joueur se glisse dans la peau d'un personnage bien distinct, avec sa propre personnalité. Autour des participants, des comédiens viendront pimenter la partie. Jouez aux détectives privés et découvrez la face cachée de vos co-équipiers. De quoi le meurtrier sera-t-il capable pour dissimuler ses sombres secrets ? Et jusqu'où les autres iront-ils pour le percer à jour ? Pour atteindre vos objectifs personnels comme collectifs, de nombreuses qualités seront nécessaires. Communication, partage d'informations, force de persuasion… autant de compétences indispensables à la vie en entreprise au quotidien.</p>

          <div class="row justify-content-center">
            <div class="col col-lg-10">
              <figure class="text-center font-italic mb-3">
                <picture>
                  <source srcset="/static/img/devis-escape-game-murder-party.webp" type="image/webp">
                  <source srcset="/static/img/devis-escape-game-murder-party.jpg" type="image/jpg">
                  <img loading="lazy" src="/static/img/devis-escape-game-murder-party.webp" class="img-fluid w-100 mb-1" alt="Un événement privé de murder party">
                </picture>
                <figcaption>
                  Demandez un devis pour un escape game ou une murder party
                </figcaption>
              </figure>
            </div>
          </div>

          <p>Concept innovant et séduisant, la Murder Party ne manquera pas de surprendre vos équipes. Le scénario de cette enquête criminelle immersive dure entre 2 et 3 heures. Le principal objectif de l'escape game ou de la murder party est de partager un moment privilégié de complicité. Activité parfaite pour briser la glace entre collègues, l'escape game se propose de clore un séminaire en beauté. L'amusement et le rire à travers le jeu vous permettront de poser un nouveau regard sur vos collaborateurs.</p>
          <p>En plus du pot de convivialité ou du cocktail dinatoire, votre devis escape game pour entreprise ou événement privé pourra inclure d'autres prestations originales comme un atelier d'improvisation théâtrale. Le centre de Just Escape vous accompagnent de A à Z dans l'organisation de votre événement personnalisé.</p>
        </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Blog",
                "item": "https://just-escape.fr/blog"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "Votre devis escape game en ligne",
                "item": "https://just-escape.fr/blog/devis-escape-game"
            }
        ]
    }
  </script>
{% endblock %}
