{% extends "base.html" %}

{% block title %}Blog – Escape Game Lille – Just Escape{% endblock %}
{% block description %}Vous êtes curieux à propos des escape games, surtout ceux à Lille ? Soyez les premiers à découvrir les articles de Just Escape.{% endblock %}

{% block og_title %}Blog{% endblock %}
{% block og_description %}Vous êtes curieux à propos des escape games, surtout ceux à Lille ? Soyez les premiers à découvrir les articles de Just Escape.{% endblock %}

{% block h1 %}Un blog à propos d'escape games, de Lille et de plein d'autres choses{% endblock %}

{% block content %}

  <div id="blog" class="jumbotron">
    <div class="container">
      <div class="row justify-content-center">
        <ul class="list-unstyled">
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/escape-game-enfant-lille">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Votre escape game avec enfant à Lille</h2>
                  <p class="text-muted mb-1">Posté le 12 juillet 2022</p>
                  <p>Jeu d'évasion grandeur nature, l'escape game n'est pas seulement réservé aux adultes. C'est une aventure qui peut aussi se vivre en famille. Accessible à partir de 10 ans idéalement, l'escape game met tous les enfants d'accord. Des plus timides aux plus extravertis, chaque enfant a son rôle à jouer pour permettre à son équipe de résoudre les énigmes à temps. Vous êtes à la recherche d'un escape game avec enfant à Lille ? Découvrez tout ce qu'il faut savoir à ce sujet et vivez une expérience inoubliable !</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic">
                  <picture>
                    <source srcset="/static/img/escape-game-enfant-lille.webp" type="image/webp">
                    <source srcset="/static/img/escape-game-enfant-lille.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/escape-game-enfant-lille.jpg" alt="Un enfant prêt à entrer dans un escape game à Lille">
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/escape-game-evjf-original">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Un escape game pour un EVJF original</h2>
                  <p class="text-muted mb-1">Posté le 7 juillet 2022</p>
                  <p>L'enterrement de vie de jeune fille (EVJF) ou l'enterrement de vie de garçon (EVG) ne s'organise pas au hasard. Si vous êtes l'organisateur de cette journée spéciale, vous avez une mission importante à relever pour votre ami ou votre amie. Tout EVJF doit comporter une bonne dose d'amusement, de distraction et de surprises pour être réussi. Et l'escape game réunit justement tous ces atouts. Organisez un escape game pour un EVJF à la fois original et inoubliable ! [...]</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic">
                  <picture>
                    <source srcset="/static/img/escape-game-evjf-original.webp" type="image/webp">
                    <source srcset="/static/img/escape-game-evjf-original.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/escape-game-evjf-original.jpg" alt="Un EVJF original dans un escape game">
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/meilleur-escape-game-lille">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Just Escape : meilleur escape game à Lille</h2>
                  <p class="text-muted mb-1">Posté le 26 juin 2022</p>
                  <p>Que ce soit votre premier jeu d'évasion ou que vous soyez un fan incontesté des escape rooms, vous êtes forcément à la recherche de la meilleure expérience. L'escape game a investi toutes les grandes villes de France. Avec une offre parfois si riche et diversifiée qu'il est difficile de faire un choix. Quel est le meilleur escape game à Lille ? Just Escape va vous faire vivre une aventure en famille ou entre amis que vous n'oublierez pas de sitôt ! [...]</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic mr-3">
                  <picture>
                    <source srcset="/static/img/meilleur-escape-game-lille-decors.webp" type="image/webp">
                    <source srcset="/static/img/meilleur-escape-game-lille-decors.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/meilleur-escape-game-lille-decors.jpg" alt="Des décors d'escape game spectaculaires" >
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/escape-game-anniversaire-lille">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Un escape game pour un anniversaire inoubliable</h2>
                  <p class="text-muted mb-1">Posté le 19 juin 2022</p>
                  <p>Une année de plus, encore une occasion de se rassembler pour passer de bons moments. Et si cette année vous fêtiez votre anniversaire différemment ? Quand il s'agit de garder de bons souvenirs de ce jour si spécial, il faut miser sur l'originalité et l'intensité de l'expérience. Justement, il existe une activité parfaite pour cela : l'escape game. En famille ou entre amis, découvrez les secrets d'organisation d'un escape game réussi pour un anniversaire inoubliable. [...]</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic mr-3">
                  <picture>
                    <source srcset="/static/img/escape-game-anniversaire-lille.webp" type="image/webp">
                    <source srcset="/static/img/escape-game-anniversaire-lille.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/escape-game-anniversaire-lille.jpg" alt="Des joueurs fêtent un anniversaire dans un escape game" >
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/escape-game-famille-lille">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Jouer à un escape game en famille à Lille</h2>
                  <p class="text-muted mb-1">Posté le 14 juin 2022</p>
                  <p>Entre l'école et le travail, nos vies quotidiennes subissent un rythme infernal qui nous éloigne parfois de nos proches. Il est temps de se retrouver entre parents et enfants. Et si vous réserviez un escape game en famille à Lille ? Vivez une expérience riche en émotions et en découvertes avec un escape game spécialement pensé pour les familles. [...]</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <figure class="text-center font-italic mr-3">
                  <picture>
                    <source srcset="/static/img/escape-game-famille-lille.webp" type="image/webp">
                    <source srcset="/static/img/escape-game-famille-lille.jpg" type="image/jpg">
                    <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/escape-game-famille-lille.jpg" alt="Une famille dans un escape game" >
                  </picture>
                </figure>
              </div>
            </a>
          </li>
          <li class="mb-5">
            <a class="row flex-md-row-reverse justify-content-center align-items-center" href="/blog/escape-game-lille-nouvelle-generation">
              <div class="col-12 col-md-6 col-lg-8">
                <div class="media-body">
                  <h2 class="text-jaffa">Un escape game nouvelle génération à Lille</h2>
                  <p class="text-muted mb-1">Posté le 7 juin 2022</p>
                  <p>J'ai joué à <strong>mon premier escape game en 2013</strong> alors que j'étais en vacances chez mes parents. La salle de The great escape game m'avait fait rêver ! Mon petit frère qui me savait touche à tout m'avait dit sur le chemin du retour "<span class="font-italic">eh mais tu pourrais carrément créer ton escape room !</span>". 5 ans plus tard, je me retrouve avec mon diplôme d'ingénieur électronique en poche et je travaille dans un centre de recherche à <strong>Budapest, la capitale européenne des escape games</strong>. Je passe mes soirées à faire <strong>des escape rooms avec mes collègues et entre amis</strong>. [...]</p>
                </div>
              </div>
              <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <video class="mr-3" autoplay muted loop>
                  <source src="/static/vid/salle-escape-game-modelisation-3d.webm" type="video/webm"/>
                  <p>Les vidéos ne sont pas supportées par ce navigateur</p>
                </video>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Blog",
                "item": "https://just-escape.fr/blog"
            }
        ]
    }
  </script>
{% endblock %}
