{% extends "base.html" %}

{% block title %}9 questions à One Brain, escape game à Lille{% endblock %}
{% block description %}Quatre ans après l'ouverture de One Brain, centre d'escape game à Lille, Martin, co-fondateur, se confie. (Re)découvrez l'histoire de cette enseigne emblématique de la ville de Lille avec ces neuf questions rétrospectives. Certaines réponses vont vraiment vous étonner.{% endblock %}

{% block og_title %}9 questions à One Brain, escape game à Lille{% endblock %}
{% block og_description %}Quatre ans après l'ouverture de One Brain, centre d'escape game à Lille, Martin, co-fondateur, se confie. (Re)découvrez l'histoire de cette enseigne emblématique de la ville de Lille avec ces neuf questions rétrospectives. Certaines réponses vont vraiment vous étonner.{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

  <div class="jumbotron pt-4">
    <div class="container px-0">
      <div class="row">
        <div class="col col-md-10 col-lg-8">
          <div>
            <ol class="breadcrumb softdark py-2">
              <li class="breadcrumb-item"><a href="/blog" class="text-jaffa">Blog</a></li>
              <li class="breadcrumb-item active" aria-current="page">9 questions à One Brain, escape game à Lille</li>
            </ol>
          </div>

          <h1 class="text-jaffa">9 questions à One Brain, escape game à Lille</h1>
          <p class="font-italic">Quatre ans après l'ouverture de One Brain, centre d'escape game à Lille, Martin, co-fondateur, se confie. (Re)découvrez l'histoire de cette enseigne emblématique de la ville de Lille avec ces neuf questions rétrospectives. Lisez bien jusqu'à la fin : certaines réponses vont vraiment vous étonner.</p>
          <p class="text-muted">Posté le X septembre 2022</p>

          <p class="font-italic mb-0">Avant de commencer l'interview...</p>
          <h2 class="text-jaffa">Qu'est-ce que One Brain ?</h2>
          <p>One Brain est une enseigne d'<a href="https://onebrainlille.com/">escape game à Lille</a> qui a ouvert en 2018. Il s'agit d'une enseigne d'escape game 2.0 car les énigmes sont innovantes et sans cadenas. Deux scénarios sont jouables :</p>
          <ul>
            <li><a href="https://onebrainlille.com/le-cube/" rel="nofollow">Le Cube</a>, de 2 à 12 joueurs sur 2 salles. Découvrez Maia, une intelligence artificielle capable de créer des énigmes... et de piéger les joueurs...</li>
            <li><a href="https://onebrainlille.com/mission-hantee/" rel="nofollow">La Mission Hantée</a>, de 2 à 6 joueurs. Que sont devenus les joueurs de l'équipe venue juste avant vous ? Menez l'enquête comme des détectives.</li>
          </ul>

          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <figure class="text-center font-italic">
                <picture>
                  <source srcset="/static/img/one-brain-lille-martin-thibaut.webp" type="image/webp">
                  <source srcset="/static/img/one-brain-lille-martin-thibaut.jpg" type="image/jpg">
                  <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/one-brain-lille-martin-thibaut.jpg" alt="Martin et Thibaut en photo, les deux fondateurs de One Brain Lille">
                </picture>
                <figcaption>
                  Martin Van Boxsom et Thibaut Leuridan, deux amis passionnés, fondateurs de One Brain Lille
                </figcaption>
              </figure>
            </div>
          </div>

          <p>Vous pouvez réserver une session grâce au <a href="https://onebrainlille.com/reservation/" rel="nofollow">module de réservation en ligne</a>. Si vous êtes déjà venus chez <a href="/">Just Escape</a>, la bonne nouvelle, c'est qu'ils sont situés au 11B boulevard Jean-Baptiste Lebas à Lille, de l'autre côté du parc.</p>

          <div class="row justify-content-center mb-3">
            <div class="col-12 col-lg-10">
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d2531.0811018301774!2d3.067268016167623!3d50.62561018260844!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x47c2d5c7d6770a87%3A0xe09f4aa8ce0a56cc!2s%E2%8F%B3%20Just%20Escape%20%E2%80%93%20Escape%20Game%20Lille%20%F0%9F%8E%AF%2C%2026%20Rue%20d&#39;Arras%2C%2059000%20Lille!3m2!1d50.6235603!2d3.0677545!4m5!1s0x47c2d5cdcd9d9529%3A0x2225c466f45fc5f1!2sOne%20Brain%20-%20Live%20Escape%20Game%202.0%2C%20Boulevard%20Jean-Baptiste%20Lebas%2C%20Lille!3m2!1d50.6276766!2d3.0698168!5e0!3m2!1sfr!2sfr!4v1660336529400!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>

          <h2 class="text-jaffa">Des salles d'escape games à Lille très innovantes</h2>

          <p class="text-jaffa text-inter mb-0">Pourquoi tous les scénarios de One Brain contiennent une mise en abyme ?</p>
          <p class="mb-1">Martin : Très vite avec Thibaut nous savions que nous voulions créer un escape game différent avec un maximum d'immersion. La mise en abyme est une justification réaliste de pourquoi les joueurs vont faire un escape game.</p>
          <p>La mise en abyme est une justification réaliste de pourquoi les joueurs vont faire un jeu d'évasion grandeur nature. Chez One Brain, les joueurs n'entrent pas dans un escape game, mais dans un centre de recherche dédié aux escape games. Tous nos 'scénarios' sont des 'expériences' autour de l'escape gaming : paramétrer une intelligence artificielle qui génère des énigmes ; ou bien s'échapper en trouvant des solutions dans le premier scénario créé par cette intelligence artificielle et s'assurer de la cohérence de son histoire. Cela permet de jouer à des histoires crédibles entre amis. Et de nombreux joueurs croient vraiment participer à des expériences !</p>

          <p class="text-jaffa text-inter mb-0">One Brain a été le premier escape game de Lille à proposer des énigmes avec une difficilté variable. Pourquoi ce choix ?</p>
          <p class="mb-1">Martin : Nous voulions nous distinguer des autres escape rooms sur tous les aspects :</p>
          <ul class="mb-1">
            <li>Les autres scénarios avaient plusieurs salles : le Cube sera une salle unique.</li>
            <li>Les autres décors étaient colorées : le Cube sera tout blanc.</li>
            <li>Les autres salles étaient pleine : le Cube sera vide.</li>
          </ul>
          <p class="mb-1">Avec Thibaut, ça nous tracassait que certains escape games soient d'office éliminés par certains joueurs parce que la difficulté n'est pas adaptée au groupe : trop simple ou trop compliqué de terminer en 1 heure.</p>
          <p class="mb-1">Le Cube allait être une salle bourrée d'électronique dont le code peut facilement être modifié. C'était donc une opportunité d'avoir une difficulté variable. En terme de game design ça a été un véritable casse-tête à concevoir mais pour les joueurs c'est une vraie plus-value.</p>
          <p>Après avoir fait quelques recherches en 2018 je crois que One Brain était la première enseigne d'escape game en France à proposer des énigmes dont la difficulté peut changer.</p>

          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <figure class="text-center font-italic">
                <video class="mb-1" autoplay muted loop controls>
                  <source src="/static/vid/le-cube-escape-game-lille.webm" type="video/webm"/>
                  <p>Les vidéos ne sont pas supportées par ce navigateur</p>
                </video>
                <figcaption>
                  Le Cube de One Brain – scénario d'escape game à Lille
                </figcaption>
              </figure>
            </div>
          </div>

          <p class="text-jaffa text-inter mb-0">Est-ce que tu peux nous parler de la fiche de score que les joueurs reçoivent en fin de partie ?</p>
          <p class="mb-1">Martin : Quand vous jouez une mission chez One Brain, le game master vous présente une fiche de score à la fin de votre expérience. Vous découvrez des statistiques sur votre session pour vous situer par rapport à d'autres joueurs. Vous pouvez débloquer des trophés (comme dans les jeux vidéos) selon si vous avez eu une bonne cohésion ("Communiquant hors pair"), si votre escape game a démarré rapidement ("Sur les chapeaux de roues"), si vous avez été de bons détectives, etc.</p>
          <p class="mb-1">Ce qui est cool, c'est que vous repartez avec quelque chose de la session, contrairement à d'autres escape games dans lesquels le joueur repart les mains dans les poches.</p>
          <p>Et puis ça suscite la compétition. Je me souviens d'une fois à la fin d'une session un joueur s'est précipité sur le classement. Il n'avait qu'un objectif : faire mieux que sa copine dont la fiche était sur le frigo. Il a pu accrocher la sienne à côté !</p>

          <h2 class="text-jaffa">Racontez-nous des anecdotes sur votre centre d'escape game</h2>

          <p class="text-jaffa text-inter mb-0">Est-ce que les joueurs font des bêtises dans vos escape rooms ?</p>
          <p class="mb-1">Martin : C'est vrai qu'on entend parfois des histoires de game masters assez hallucinants. Ils nous mettent en garde de ne pas uriner dans la salle ou de ne pas arracher le sol. De ce côté-là, on a eu de la chance pour l'instant : on doit sûrement avoir des familles et des groupes d'amis différents. Nos salles attirent peut être moins des sessions agitées d'escape game EVJF comme "Very Bad Ch'ti" [scénario d'une autre enseigne à Lille] par exemple.</p>
          <p>Dans la Mission Hantée, il y a un instrument à vent dans les décors. Les moments les plus drôles sont les sessions pendant lesquelles les joueurs soufflent dedans ! Ils oublient que d'autres personnes ont fait la même chose qu'eux juste avant !</p>

          <p class="text-jaffa text-inter mb-0">Est-ce que vous avez abandonné des idées dans vos escape rooms ?</p>
          <p class="mb-1">Martin : Le décor de la première salle du scénario la Mission Hantée représente un accueil d'escape game miniature. Pour approfondir la mise en abyme, cette salle devait initialement être une réplique complète et ultra réaliste de l'entrée de One Brain : comptoir, faux flyers, posters commerciaux pour représenter les salles, etc. Mais comme nous voulions laisser de la place pour une future escape room, nous avons dû composer avec un espace réduit. Nous avons retiré les supports de communication pour éviter que les joueurs soient désorientés par des fausses pistes.</p>
          <p>Dans le Cube nous avons légèrement modifié le mécanisme d'une énigme. L'énigme est une référence à une scène du film 2001 l'Odyssée de l'espace, dans laquelle le protagoniste dévisse des sortes de cadenas. Cela fait sortir des cassettes. Au début, les joueurs avaient donc une clef BTR pour déverrouiller des boulons. Mais cela causait trop de soucis mécaniques : les joueurs serraient trop ou pas assez ; les moteurs s'enrayaient et surchauffaient. Alors les cassettes sont devenues statiques, et les joueurs appuient sur des boutons pour allumer des LEDs qui activent ou désactivent les cassettes. Du coup, la référence a un peu disparu, mais l'énigme reste toujours efficace.</p>

          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <figure class="text-center font-italic">
                <video class="mb-1" controls>
                  <source src="/static/vid/one-brain-le-cube-enigme.webm" type="video/webm"/>
                  <p>Les vidéos ne sont pas supportées par ce navigateur</p>
                </video>
                <figcaption>
                  La scène qui a inspiré One Brain pour une des énigmes du Cube
                </figcaption>
              </figure>
            </div>
          </div>

          <p class="text-jaffa text-inter mb-0">Qu'est-ce que vous changeriez avec le recul, si vous deviez recréer One Brain depuis zéro ?</p>
          <p class="mb-1">Martin : Depuis l'ouverture, on a fait une multitude de petits ajustements. Donc forcément, si c'était à refaire depuis zéro, on prendrait ces ajustements en compte dès le début !</p>
          <p>On a par exemple refait tout récemment notre site Internet, pour le rendre plus compréhensible et plus impactant. On a également reformulé nos pitchs de mission. Pour l'immersion, on parlait "d'expériences" plutôt que de "missions" ou "scénarios", et le pitch du Cube restait flou et ne mettait pas assez en avant le retournement de situation. On voulait susciter la curiosité et intriguer les joueurs en ne révélant pas réellement l'histoire, mais quand ils réservent, les joueurs ont besoin de savoir directement à quoi s'attendre ! Donc on a modifié tout ça. On garde l'immersion sur place, mais le site Internet ne met plus trop de doute : vous réservez bien un escape game de 60 minutes, vous n'êtes pas sur le site du centre de recherche de One Brain Industries !</p>

          <p class="text-jaffa text-inter mb-0">Quelle a été votre inspiration pour créer Maia ?</p>
          <p class="mb-1">Martin : Dans nos histoires, Maia c’est donc l'intelligence artificielle au sein de notre centre de recherche, chargée de créer des énigmes d’escape game. On la souhaitait plutôt immatérielle, sans corps physique, ce qui nous permettait du coup de l'intégrer un peu partout dans nos salles. Donc en termes de visuel, elle a quelque chose d'assez léger et abstrait.</p>

          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <figure class="text-center font-italic">
                <video class="mb-1" controls>
                  <source src="/static/vid/one-brain-escape-game-maia.webm" type="video/webm"/>
                  <p>Les vidéos ne sont pas supportées par ce navigateur</p>
                </video>
                <figcaption>
                  Maia, la mascotte de l'escape game
                </figcaption>
              </figure>
            </div>
          </div>

          <p>Ensuite en terme de personnalité et de voix, on a fait un petit mélange de nos deux IA préférées de la pop culture : HAL 9000 du film "2001 l'Odyssée de L'espace" de Stanley Kubrick, et GLaDOS des jeux vidéos "Portal" de Valve Software. On aimait la personnalité très "piquante" de GLaDOS, pleine d'ironie, de sarcasme et de sadisme, mais on préférait la voix absolument neutre de HAL 9000. Qu'il annonce une bonne ou une mauvaise nouvelle, qu'il soit heureux ou qu'il supplie pour sa vie, la voix de HAL reste d'une neutralité absolue, presque terrifiante. On préfère ce côté très froid et calculateur des robots. Donc notre Maia est un peu l'enfant cachée de ces deux-là : elle va souvent taquiner méchamment les joueurs, tout en restant très neutre dans les intonations.</p>

          <h2 class="text-jaffa">Qu'est-ce que One Brain prépare ?</h2>

          <p class="text-jaffa text-inter mb-0">Est-ce que One Brain prépare une nouvelle escape room dans son centre à Lille ?</p>
          <p class="mb-1">Martin : Oui, Mission to Mars !</p>
          <p class="mb-1">Le nom de ce scénario est temporaire. Dans cet escape game, vous incarnerez la première équipe de scientifiques humains à explorer la planète rouge et devrez déterminer s'il est possible de la terraformer.</p>
          <p class="mb-1">À quoi peut-on s'attendre ? Je veux éviter de parler des mécanismes parce qu'il y a des challenges techniques et ce n'est pas sûr que tout soit réalisable.</p>
          <p>Par contre, je peux dire que nous travaillons sur des manières innovantes de découvrir l'escape room, la narration et les mécanismes.</p>

          <p class="text-jaffa text-inter mb-0">Est-ce que vous avez d'autres projets que cet escape game ?</p>
          <p>Martin : Bien sûr ! Nous travaillons à un scénario d'escape game à faire à la maison. Vous imprimez un kit et une partie des énigmes sera jouable en ligne. Le thème de cet escape game print &amp; play sera à nouveau un laboratoire d'études, sans Maia cette fois.</p>

          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <figure class="text-center font-italic">
                <picture>
                  <source srcset="/static/img/escape-game-a-la-maison-one-brain.webp" type="image/webp">
                  <source srcset="/static/img/escape-game-a-la-maison-one-brain.jpg" type="image/jpg">
                  <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/escape-game-a-la-maison-one-brain.jpg" alt="Une capture d'écran du scénario d'escape game à la maison de One Brain">
                </picture>
                <figcaption>
                  Une première image de l'escape game à la maison de One Brain (en exclusivité !)
                </figcaption>
              </figure>
            </div>
          </div>

          <hr style="width: 25%" class="border-jaffa my-3">

          <p>La vision de l'escape game de One Brain vous plait ? Alors contactez-les dès maintenant au 03.59.54.40.93 ou <span class="text-jaffa font-weight-bold">réservez directement une session sur leur <a href="https://onebrainlille.com/reservation/" rel="nofollow">module de réservation</a></span>.</p>
          <p class="font-italic">Note de la rédaction : personnellement j'ai été transporté lorsque j'ai joué au Cube en 2018. Le Cube, c'est une salle que j'ai rejoué quelques années plus tard pour me rappeler des souvenirs, comme quand on regarde un film à nouveau.</p>

        </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Blog",
                "item": "https://just-escape.fr/blog"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "9 questions à One Brain, escape game à Lille",
                "item": "https://just-escape.fr/blog/9-questions-one-brain-escape-game-lille"
            }
        ]
    }
  </script>
{% endblock %}

