{% extends "base.html" %}

{% block title %}Un Escape Game Nouvelle Génération à Lille – Just Escape{% endblock %}
{% block description %}Just Escape est un projet qui a commencé il y a plusieurs années. Je vais vous parler de sa création de A à Z.{% endblock %}

{% block og_title %}Un Escape Game Nouvelle Génération à Lille – Just Escape{% endblock %}
{% block og_description %}Just Escape est un projet qui a commencé il y a plusieurs années. Je vais vous parler de sa création de A à Z.{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

  <div class="jumbotron pt-4">
    <div class="container px-0">
      <div class="row">
        <div class="col col-md-10 col-lg-8">
          <div>
            <ol class="breadcrumb softdark py-2">
              <li class="breadcrumb-item"><a href="/" class="fill-jaffa svg-16px">{% include "svg/home.svg" %}</a></li>
              <li class="breadcrumb-item"><a href="/blog" class="text-jaffa">Blog</a></li>
              <li class="breadcrumb-item active" aria-current="page">Un escape game nouvelle génération à Lille</li>
            </ol>
          </div>

          <h1 class="text-jaffa">Un escape game nouvelle génération à Lille</h1>
          <p class="font-italic">Just Escape est un projet qui a commencé il y a plusieurs années. Je vais vous parler de sa création de A à Z.</p>
          <p class="text-muted">Posté le 7 juin 2022</p>

          <h2 class="text-jaffa">La genèse de Just Escape</h2>
          <h3 class="text-jaffa">"Eh, mais tu pourrais carrément créer ton <strong>escape room</strong> !"</h3>
          <p>J'ai joué à <strong>mon premier escape game en 2013</strong> alors que j'étais en vacances chez mes parents. La salle de The great escape game m'avait fait rêver ! Mon petit frère qui me savait touche-à-tout m'avait dit sur le chemin du retour "<span class="font-italic">eh mais tu pourrais carrément créer ton escape room !</span>".</p>
          <p>5 ans plus tard, je me retrouve avec mon diplôme d'ingénieur en électronique en poche et je travaille dans un centre de recherche à <strong>Budapest, la capitale européenne des escape games</strong>. Je passe mes soirées à faire <strong>des escape rooms avec mes collègues et entre amis</strong> ; je suis super fan ! Je découvre plein d'expériences différentes : <strong>des décors de dingue</strong>, <strong>des scénarios travaillés</strong>, <strong>des énigmes astucieuses</strong>. C'est à ce moment que je commence à penser sérieusement à créer un escape game. Just Escape prend forme.</p>

          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <figure class="text-center font-italic">
                <picture>
                  <source srcset="/static/img/budapest-capitale-europeenne-escape-game.webp" type="image/webp">
                  <source srcset="/static/img/budapest-capitale-europeenne-escape-game.jpg" type="image/jpg">
                  <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/budapest-capitale-europeenne-escape-game.jpg" alt="Une photo de Budapest, la capitale des escape games en Europe" >
                </picture>
                <figcaption>
                  Budapest, la ville dans laquelle j'ai joué à tellement d'escape games
                </figcaption>
              </figure>
            </div>
          </div>

          <h3 class="text-jaffa">Comment créer un <strong>jeu d'évasion grandeur nature</strong> vraiment innovant ?</h3>
          <p>Première esquisse du projet : <strong>la salle a besoin d'être ultra connectée pour avoir la meilleure immersion possible</strong>. Il faut que <strong>chacune des énigmes communique son succès au reste de la salle</strong> pour que l'ambiance sonore évolue, pour que les lumières changent et pour débloquer les mini-jeux suivants. Il me faut en fait un logiciel qui orchestre tous les éléments de la salle !</p>
          <p>Il est clair que des compétences en ingénierie logicielle seront plus que nécessaires... Ni une ni deux je contacte Jean-Baptiste, ami d'école d'ingé et très doué en dev. JB rejoint le projet et c'est parti pour les prochaines étapes : création de l'identité de la société et du business plan.</p>

          <h3 class="text-jaffa">Just Escape est né grâce à l'intelligence collective</h3>
          <p>Pour ces étapes-là, nous cherchons à avoir un maximum d'avis extérieurs. L'idée est d'utiliser un maximum l'intelligence collective pour éviter de faire des choix qui nous plaisent à nous mais pas forcément à nos futurs groupes de joueurs. Nous envoyons des questionnaires à nos proches pour avoir leurs avis sur le nom de la société, le logo et plein d'autres éléments !</p>

          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <figure class="text-center font-italic">
                <picture>
                  <source srcset="/static/img/logos-just-escape.webp" type="image/webp">
                  <source srcset="/static/img/logos-just-escape.jpg" type="image/jpg">
                  <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/logos-just-escape.jpg" alt="Plusieurs logos possibles pour Just Escape">
                </picture>
                <figcaption>
                  Les logos de Just Escape que nous avons étudié
                </figcaption>
              </figure>
            </div>
          </div>

          <p>Ce n'est pas nous qui avons choisi que la société s'appelle Just Escape, mais nos proches grâce à un sondage !</p>

          <h3 class="text-jaffa">Des petites <strong>escape rooms</strong> pour 2 à 5 joueurs</h3>
          <p>Lors de la création du business plan, nous pensions à ce moment-là que la création des rooms ne prendrait que quelques mois. Quelle erreur...</p>
          <p>Nous voulions que <strong>les deux premières salles soient finies fin 2019 et enchaîner sur une troisième salle en 2020</strong>. Les deux premières seraient des petites escape rooms rooms car nous avions vu que le marché de Lille ne proposait pas de gameplay pour <strong>un groupe de 2 à 5 joueurs</strong>.<p>
          <p>Cela nous permettrait notamment de séduire <strong>les joueurs en couple</strong>. C'était un choix risqué car en moyenne le prix d'un escape game pour chaque réservation serait plus faible qu'avec une salle de 3 à 6 joueurs.</p>

          <h3 class="text-jaffa">Les galères pour trouver <strong>un local à Lille</strong></h3>
          <p>Une fois notre business plan en main, nous voilà à la recherche d'un local à Lille et d'un financement. Le <strong>Crédit du Nord de Roubaix</strong> accepte de nous suivre dans notre projet.</p>
          <p><strong>Nous trouvons un local à Lille dans le quartier Lille Moulins</strong>, au sud de la métropole lilloise, mais pas trop éloigné du vieux Lille pour autant. Le local nous plait car il est atypique et proche d'un quartier en devenir : <strong>le parc Jean-Baptiste Lebas et la gare St-Sauveur</strong>.</p>
          <p>Malheureusement il y a beaucoup de travaux pour rendre le local moderne et aux normes. C'est parti pour 6 mois de travaux : démolition, électricité, installation d'une pompe à chaleur, plomberie et cloisons à monter. Les travaux prennent bien plus de temps que prévu mais nous sommes très satisfaits du résultat&nbsp;!</p>

          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <figure class="text-center font-italic">
                <video class="mb-1" autoplay muted loop>
                  <source src="/static/vid/local-just-escape-lille-travaux.webm" type="video/webm"/>
                  <p>Les vidéos ne sont pas supportées par ce navigateur</p>
                </video>
                <figcaption>
                  Un avant/après des travaux dans le local de Just Escape à Lille
                </figcaption>
              </figure>
            </div>
          </div>

          <h2 class="text-jaffa">La création du scénario Cybercity</h2>
          <h3 class="text-jaffa">Comment avoir des salles aux décors originaux et immersifs ?</h3>

          <p>Après tous ces travaux, c'est parti pour la création de Cybercity, <strong>la version futuriste de Lille</strong> ! Je commence par modéliser la salle en 3D, nous nous inspirons de jeux vidéos, de films (notamment Le Cinquième Élément et Blade Runner) et de notre imaginaire. Cybercity sera entre <strong>le design futuriste épuré et le néo Lille pollué</strong>. Les néons sont donc de mise dans ce décor !</p>

          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <figure class="text-center font-italic">
                <video class="mb-1" autoplay muted loop>
                  <source src="/static/vid/salle-escape-game-modelisation-3d.webm" type="video/webm"/>
                  <p>Les vidéos ne sont pas supportées par ce navigateur</p>
                </video>
                <figcaption>
                  Première ébauche de la salle d'escape game en 3D
                </figcaption>
              </figure>
            </div>
          </div>

          <h3 class="text-jaffa">Des <strong>énigmes</strong> et un <strong>gameplay</strong> ambitieux</h3>

          <p>Lors de la création du gameplay de la salle, nous voulions avoir <strong>des énigmes "logiques" par rapport à la mission</strong> pour avoir <strong>la meilleure immersion possible</strong>. C'est une contrainte assez importante lorsque l'on doit créer des énigmes amusantes et variées mais d'un autre côté cela nous a forcé à être créatifs.</p>
          <p>Nous voulions également que <strong>chacune des expériences de jeu soit disponible dans plusieurs difficultés</strong> : pour les personnes débutantes ou pour des équipes d'amateurs d'escape games de longue date. Il ne faut pas que les joueurs experts finissent en 20 minutes et d'autres équipes en une heure et 30 minutes.</p>
          <p>Nous nous sommes donc lancés dans la création d'<strong>une dizaine d'énigmes originales dans le thème de la restauration lilloise</strong> et du futur... et cela nous a pris 2 ans ! Certaines énigmes nous ont donné du fil à retordre et de sacrées migraines... Sur certaines, la création nous a pris du temps et pour d'autres c'est le peaufinage qui a pris un temps fou !</p>
          <p>Un mini-jeu peut fonctionner une fois, mais il doit être solide et fonctionner mille fois. Nous avions sous-estimé le temps que prendrait la phase après la création de l'énigme, celle où l'on s'assure que celle-ci va fonctionner sans arrêt et sans casser ou bugger pendant plusieurs années.</p>

          <div class="d-flex justify-content-center mb-3">
            <a href="/salles" class="btn btn-primary p-2"><span>Je découvre le trailer de la mission</span></a>
          </div>

          <h2 class="text-jaffa">Un nouvel <strong>escape game arrive à Lille</strong></h2>
          <h3 class="text-jaffa">Pré-ouverture de l'<strong>escape room</strong> et premiers joueurs</h3>
          <p>Le retard que nous avions accumulé lors de la création de la salle doublé de la crise du covid nous a plombé le moral. Heureusement que nous faisions régulièrement tester les énigmes et que les retours étaient très positifs. Cela nous a énormément motivé à finir Cybercity et à enfin ouvrir au grand public !</p>
          <p>Nous avons tenu à faire un <strong>beta testing avant l'ouverture officielle de la salle d'escape</strong>. Pendant 3 mois, nous avons fait passé <strong>des groupes de joueurs qui nous donnaient leur avis sur l'expérience</strong>. Nous n'acceptions qu'une équipe par jour ; cela nous permettait d'avoir du temps pour faire les modifications sur la salle suite aux retours.</p>
          <p>Nous avons <strong>modifié certaines énigmes</strong>, rendu celles-ci plus faciles, <strong>ajouté des accessoires dans la salle</strong>, <strong>résolu des bugs dans la mission</strong> et enregistré des indices avec les voix des personnages non-joueurs pour plus d'immersion.</p>

          <p>Comme cette phase de beta testing était payante à prix réduit, cela nous a également permis de tester le logiciel de réservation et les différents modes de paiement. Nous utilisons 4escape comme <strong>la plupart des escape game du nord</strong> de la France, le module de réservation est ergonomique et permet de réaliser une réservation en payant un acompte correspondant à la place d'un joueur ou de payer la totalité de la mission en ligne.</p>

          <div class="d-flex justify-content-center mb-3">
            <a href="/reserver" class="btn btn-primary p-2"><span>Je réserve avec le module 4escape</span></a>
          </div>

          <h3 class="text-jaffa">Réception critique de la salle : <strong>quel est le meilleur escape game de Lille ?</strong></h3>
          <p>Nous avons ouvert <strong>Just Escape au grand public le 27 février 2022</strong>. Les premiers groupes sont unanimes : Cybercity est une des meilleures salles d'escape game de Lille. Certains disent même que c'est <strong>la meilleure salle d'escape game de Lille</strong>.</p>
          <p>Le public apprécie les <strong>énigmes nouvelle génération</strong> (cela change des cadenas), l'atmosphère créée par <strong>le décor</strong> et <strong>l'ambiance sonore de la salle</strong>.</p>
          <ul>
            <li>
              Les enfants adorent les mini-jeu de manipulation et d'agilité
            </li>
            <li>
              Les parents apprécient l'intrigue du scénario et les casse-tête de Cybercity
            </li>
            <li>
              Les équipes d'entreprise s'amusent grâce aux activités de coopération
            </li>
          </ul>

          <p>La <strong>difficulté variable de la mission</strong> permet de proposer une expérience facile, intermédiaire ou difficile : il y en a pour tous les niveaux ! Nous sommes ravis de tous ces retours positifs, ça valait le coup d'avoir passé <strong>des soirées à s'acharner à construire des énigmes high-tech</strong> !</p>

          <p>À l'heure où est écrit cet article, nous avons dépassé les 100 avis sur google avec 100% de satisfaction !</p>

          <div class="row justify-content-center">
            <div class="col-8 col-lg-4">
              <figure class="text-center font-italic">
                <picture>
                  <source srcset="/static/img/avis-meilleur-escape-game-lille.webp" type="image/webp">
                  <source srcset="/static/img/avis-meilleur-escape-game-lille.jpg" type="image/jpg">
                  <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/avis-meilleur-escape-game-lille.jpg" alt="Capture d'écran des avis de Just Escape">
                </picture>
                <figcaption>
                  "Meilleur escape game de&nbsp;Lille" est souvent mentionné dans les&nbsp;avis
                </figcaption>
              </figure>
            </div>
          </div>

          <div class="d-flex justify-content-center mb-3">
            <a href="/reserver" class="btn btn-primary rp-2"><span>Je réserve ma session d'escape game</span></a>
          </div>

          <p>Dans un prochain article, je reviendrai plus précisément sur <strong>la création de l'escape room Cybercity</strong>. Je dévoilerai l'envers du décors et les problématiques que nous avons rencontré.</p>
        </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Blog",
                "item": "https://just-escape.fr/blog"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "Escape game lille nouvelle génération",
                "item": "https://just-escape.fr/blog/escape-game-lille-nouvelle-generation"
            }
        ]
    }
  </script>
{% endblock %}
