{% extends "base.html" %}

{% block title %}Un escape game pour une activité team building mémorable{% endblock %}
{% block description %}Vous souhaitez organiser une activité team building originale ? Faites vivre une aventure inoubliable à vos collaborateurs avec un escape game.{% endblock %}

{% block og_title %}Un escape game pour une activité team building mémorable{% endblock %}
{% block og_description %}Vous souhaitez organiser une activité team building originale ? Faites vivre une aventure inoubliable à vos collaborateurs avec un escape game.{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

  <div class="jumbotron pt-4">
    <div class="container px-0">
      <div class="row">
        <div class="col col-md-10 col-lg-8">
          <div>
            <ol class="breadcrumb softdark py-2">
              <li class="breadcrumb-item"><a href="/" class="fill-jaffa svg-16px">{% include "svg/home.svg" %}</a></li>
              <li class="breadcrumb-item"><a href="/blog" class="text-jaffa">Blog</a></li>
              <li class="breadcrumb-item active" aria-current="page">Un escape game pour une activité team building mémorable</li>
            </ol>
          </div>

          <h1 class="text-jaffa">Activité team building: votre escape game à Lille</h1>
          <p class="font-italic">L’escape game mélange esprit d’équipe, communication, aventure et fun. C’est ce qui en fait l’activité team building idéale pour votre entreprise. Offrez un jeu d’évasion grandeur nature à vos collaborateurs et affrontez-vous en équipe. Avec Just Escape, profitez d’une solution clé en main pour votre activité team building à Lille !</p>
          <p class="text-muted">Posté le 10 janvier 2023</p>

          <h2 class="text-jaffa">Escape game : l’activité team building pour tous !</h2>
          <p>En fonction de vos objectifs et de la taille de votre entreprise, Just Escape est en mesure de vous proposer différentes formules. De 5 à 50 personnes, nous nous adaptons à votre groupe pour votre activité <a href='/team-building'>team building</a>. Afin de vous faire vivre une <a href='/blog/animation-entreprise'>animation entreprise</a> originale, nous vous plongerons dans des décors réalistes et des scénarios immersifs. Plutôt qu’une activité team building classique, optez pour un concept unique et original qui saura renforcer les liens de votre équipe. Une fois à l’intérieur de l’escape room, vous disposez de 60 minutes top chrono pour relever les indices et résoudre les énigmes. Ensemble : c’est le maître mot de cette expérience.</p>

          <div class="d-flex justify-content-center mb-3">
                  <a href="/team-building#devis" class="btn btn-primary p-2"><span>Je demande un devis</span></a>
          </div>

          <p>Notre escape game est une activité team building adaptée à toutes les entreprises. Le temps d’un jeu d’évasion, des collègues qui n’ont pas l’occasion d’échanger au bureau pourront apprendre à se connaître. Cette activité ludique se prête aussi bien aux joueurs débutants qu’aux plus expérimentés, une session de briefing étant prévue au début de la session. Pour participer à un escape game, aucune expérience ni connaissance spécifique n’est requise. Venez simplement avec votre curiosité, votre bonne humeur et l’envie de partager un bon moment. Posez un regard différent sur vos collègues de travail !</p>

          <p>Séminaire, team building ou formation : l’escape game d’entreprise ne laissera personne indifférent. Sur place, en plus de nos <a href='/salles'>escape rooms</a>, nous pouvons vous accueillir dans notre salle de réception pour votre activité team building. D’une surface de 40 m², la pièce est équipée de tout le nécessaire pour plaire à vos salariés, des jeux de société au paperboard en passant par le vidéoprojecteur. Nous n’avons pas oublié non plus la machine à café et le wifi haut débit. Pour les grands groupes, nous vous invitons à nous contacter rapidement pour obtenir votre devis personnalisé et assurer la disponibilité de nos escape rooms.</p>

          <div class="d-flex justify-content-center mb-4">
            <a href="tel:+33789053790" class="btn btn-primary px-5">
              <span>Je souhaite en savoir plus : 07 89 05 37 90</span>
            </a>
          </div>

          <h2 class="text-jaffa">Activité team building : votre escape room à Lille</h2>
          <p>Dans le centre de Lille, le scénario original de notre escape game « le Digimiam » vous fait faire un bond dans le futur. Bienvenue en 2080 ! Poussez la porte d’un restaurant high-tech qui met à l’honneur la gastronomie flamande. Au-delà de l’aspect ludique, notre escape room mise sur l’intelligence artificielle, concept qui bouleverse le fonctionnement des entreprises, pour passionner les joueurs. Il faudra faire preuve de logique, de coordination, de cohésion et surtout de communication pour relever le défi en équipe ! Cette expérience est conçue pour 2 à 16 joueurs et peut se répartir sur deux salles pour les groupes plus nombreux. D’une durée de 60 minutes, l’activité est disponible en français et en anglais. Nous pouvons adapter la difficulté du jeu à vos attentes.</p>

      <div class="row justify-content-center mb-5">
        <div class="col-12 col-md-10 px-md-0">
          <div id="carousel-digimiam" class="carousel carousel-zoom-in slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-digimiam" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-digimiam" data-slide-to="1"></li>
              <li data-target="#carousel-digimiam" data-slide-to="2"></li>
              <li data-target="#carousel-digimiam" data-slide-to="3"></li>
              <li data-target="#carousel-digimiam" data-slide-to="4"></li>
              <li data-target="#carousel-digimiam" data-slide-to="5"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <picture>
                  <source srcset="/static/img/escape-game-lille-refectoire.webp" type="image/webp">
                  <source srcset="/static/img/escape-game-lille-refectoire.jpg" type="image/jpg">
                  <img class="img-fluid" src="/static/img/escape-game-lille-refectoire.jpg" alt="Vue panoramique du réfectoire de la room">
                </picture>
              </div>
              <div class="carousel-item">
                <picture>
                  <source srcset="/static/img/escape-game-lille-enigmatique.webp" type="image/webp">
                  <source srcset="/static/img/escape-game-lille-enigmatique.jpg" type="image/jpg">
                  <img class="img-fluid" src="/static/img/escape-game-lille-enigmatique.jpg" alt="Une énigme difficile demande de la réflexion à une joueuse">
                </picture>
              </div>
              <div class="carousel-item">
                <picture>
                  <source srcset="/static/img/escape-game-lille-joueurs.webp" type="image/webp">
                  <source srcset="/static/img/escape-game-lille-joueurs.jpg" type="image/jpg">
                  <img loading="lazy" class="img-fluid w-100" src="/static/img/escape-game-lille-joueurs.jpg" alt="Une famille de trois joueurs viennent de débuter l'aventure">
                </picture>
              </div>
              <div class="carousel-item">
                <picture>
                  <source srcset="/static/img/escape-game-lille-room.webp" type="image/webp">
                  <source srcset="/static/img/escape-game-lille-room.jpg" type="image/jpg">
                  <img loading="lazy" class="img-fluid w-100" src="/static/img/escape-game-lille-room.jpg" alt="Vue de la salle avec ses décors immersifs">
                </picture>
              </div>
              <div class="carousel-item">
                <picture>
                  <source srcset="/static/img/escape-game-lille-manipulation.webp" type="image/webp">
                  <source srcset="/static/img/escape-game-lille-manipulation.jpg" type="image/jpg">
                  <img loading="lazy" class="img-fluid w-100" src="/static/img/escape-game-lille-manipulation.jpg" alt="Un agent en pleine fouille et réflexion">
                </picture>
              </div>
              <div class="carousel-item">
                <picture>
                  <source srcset="/static/img/escape-game-lille-laser.webp" type="image/webp">
                  <source srcset="/static/img/escape-game-lille-laser.jpg" type="image/jpg">
                  <img loading="lazy" class="img-fluid w-100" src="/static/img/escape-game-lille-laser.jpg" alt="Un laser met en difficulté l'équipe">
                </picture>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-digimiam" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#carousel-digimiam" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Suivant</span>
            </a>
          </div>
        </div>
      </div>

          <p>Pour davantage de flexibilité, Just Escape personnalise entièrement votre activité team building. Par ailleurs, nous travaillons avec des partenaires locaux pour optimiser la qualité de nos expériences, notamment des commerçants lillois. Notre équipe conviviale vous accueille dans des locaux adaptés et chaleureux. Si l’objectif de l’escape game est de gérer son stress et faire preuve de réflexion et d’observation, la priorité reste l’amusement et la détente. C’est pourquoi l’expérience pourra se poursuivre après l’escape game, avec un cocktail dînatoire ou une collation.</p>

          <p>Plusieurs types d’organisation sont possibles. Si vous envisagez un événement matinal, nous pourrons vous recevoir avec le petit-déjeuner pour votre équipe. En soirée, place au cocktail apéritif pour poursuivre le dialogue derrière les murs de l’escape room. Choisir l’escape game pour votre activité team building, c’est apprendre à se concentrer et à se concerter en équipe pour prendre les bonnes décisions. Pour garantir la sécurité de l’expérience, nous suivons les joueurs à distance tout au long de la session par un dispositif de micros et de caméras. Et parce qu’il n’y a pas que les <a href='/blog/jeux-team-building'>jeux de team building</a> pour donner le sourire à une équipe, vous pourrez repartir avec des photos souvenirs !</p>

      <div class="row justify-content-center mb-5">
        <div class="col-12 col-md-10 px-md-0">
          <div id="carousel-tb" class="carousel carousel-zoom-in slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-tb" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-tb" data-slide-to="1"></li>
              <li data-target="#carousel-tb" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <picture>
                  <source srcset="/static/img/activite-team-building-escape-game-lille.webp" type="image/webp">
                  <source srcset="/static/img/activite-team-building-escape-game-lille.jpg" type="image/jpg">
                  <img class="img-fluid" src="/static/img/activite-team-building-escape-game-lille.jpg" alt="Activite team building escape game lille">
                </picture>
              </div>
              <div class="carousel-item">
                <picture>
                  <source srcset="/static/img/activite-team-building-escape-room-lille.webp" type="image/webp">
                  <source srcset="/static/img/activite-team-building-escape-room-lille.jpg" type="image/jpg">
                  <img class="img-fluid" src="/static/img/activite-team-building-escape-room-lille.jpg" alt="Activite team building escape room lille">
                </picture>
              </div>
              <div class="carousel-item">
                <picture>
                  <source srcset="/static/img/activite-team-building-murder-party-lille.webp" type="image/webp">
                  <source srcset="/static/img/activite-team-building-murder-party-lille.jpg" type="image/jpg">
                  <img loading="lazy" class="img-fluid w-100" src="/static/img/activite-team-building-murder-party-lille.jpg" alt="Activite team building murder party lille">
                </picture>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-tb" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#carousel-tb" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Suivant</span>
            </a>
          </div>
        </div>
      </div>

          <h2 class="text-jaffa">Réservez votre Murder Party pour une activité team building originale</h2>
          <p>Just Escape a encore une autre idée d’animation de soirée d’entreprise pour vous : la <a href='/murder-party'>Murder Party</a>. Cette fois, nous ne sommes plus en 2080, mais en 1884. Cette <a href='/blog/animation-murder-party'>animation Murder Party</a> vous transporte au Far West du temps de la ruée vers l’or. Vous voilà dans un saloon de Silver Town… et vous n’êtes pas au bout de vos surprises. Chaque participant incarnera un personnage précis. Pour réussir, il faudra exceller dans l’art de la négociation, la déduction, la persuasion, la diplomatie mais aussi l’improvisation. Finalement, il s’agit des mêmes compétences essentielles que vos employés doivent mobiliser au travail au quotidien. L’expérience est pensée pour 10 à 50 jours mais il est possible d’organiser deux parties en deux équipes.</p>

          <p>Concept innovant, la Murder Party par Just Escape se déroule sur un temps de jeu de 2 heures. Dans cette ambiance festive propice à un cocktail, osez briser la glace pour percer les secrets des autres joueurs. Que cache la personnalité de chaque participant ? Plus qu’une activité team building, la Murder Party est une expérience nouvelle à part entière que vous ne serez pas près d’oublier ! L’amusement et le rire seront évidemment de la partie.</p>

          <p>Pour votre activité team building chez Just Escape, nous vous invitons à contacter notre équipe par téléphone ou à faire une <a href='/team-building#devis'>demande de devis directement sur notre site</a>. N’oubliez pas de bien remplir en détail le champ libre « Prestation » qui nous permet de vous concocter une expérience 100 % sur mesure. Votre événement privé pourra continuer avec une remise de prix ou un spectacle de magie. Ou pourquoi ne pas organiser un entretien de recrutement ou un onboarding dans nos salles pour une approche atypique qui saura créer la surprise ?</p>
        </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Blog",
                "item": "https://just-escape.fr/blog"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "Activité team building: votre escape game à Lille",
                "item": "https://just-escape.fr/blog/activite-team-building-escape-game-lille"
            }
        ]
    }
  </script>
{% endblock %}
