{% extends "base.html" %}

{% block title %}Envie d'un escape game en famille ? Découvrez Just Escape !{% endblock %}
{% block description %}Un escape game en famille, c'est l'occasion de passer de bons moments ensemble et de vivre une expérience inoubliable.{% endblock %}

{% block og_title %}Envie d'un escape game en famille ? Découvrez Just Escape !{% endblock %}
{% block og_description %}Un escape game en famille, c'est l'occasion de passer de bons moments ensemble et de vivre une expérience inoubliable.{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

  <div class="jumbotron pt-4">
    <div class="container px-0">
      <div class="row">
        <div class="col col-md-10 col-lg-8">
          <div>
            <ol class="breadcrumb softdark py-2">
              <li class="breadcrumb-item"><a href="/" class="fill-jaffa svg-16px">{% include "svg/home.svg" %}</a></li>
              <li class="breadcrumb-item"><a href="/blog" class="text-jaffa">Blog</a></li>
              <li class="breadcrumb-item active" aria-current="page">Jouer à un escape game en famille à Lille</li>
            </ol>
          </div>

          <h1 class="text-jaffa">Votre escape game en famille à Lille</h1>
          <p class="font-italic">Entre l'école et le travail, nos vies quotidiennes subissent un rythme infernal qui nous éloigne parfois de nos proches. Il est temps de se retrouver entre parents et enfants. Et si vous réserviez un escape game en famille à Lille ? Vivez une expérience riche en émotions et en découvertes avec un escape game spécialement pensé pour les familles.</p>
          <p class="text-muted">Posté le 14 juin 2022</p>

          <h2 class="text-jaffa">Pourquoi participer à un escape game en famille ?</h2>
          <p>Fatigués de la routine ? Vos sorties en famille sont répétitives et manquent d'originalité ? En réservant un <a href='/'>escape game à Lille</a>, vous choisissez une activité ludique et dynamique, qui plaira autant aux petits qu'aux grands. De la famille avec jeunes enfants en passant par les adolescents, toutes les familles que nous voyons passer au sein de nos escape rooms sont complémentaires. Malgré ces profils variés, elles partagent toutes un point commun : elles adorent le goût du défi et de l'aventure de l'escape game. Chaque génération a une approche différente pour résoudre les énigmes à temps et en équipe.</p>
          <p>L'escape game est l'activité familiale par excellence pour se confronter entre parents et enfants, entre rires et coopération. Idéal pour renforcer les liens entre les membres de votre famille et ressortir de l'escape room des souvenirs plein la tête. Un escape game en famille vous donne la possibilité, le temps d’une partie, de quitter la réalité pour vous immerger ensemble dans une autre dimension. Plongez dans des histoires captivantes dont vous êtes les héros et relevez les défis qui vous font face, en faisant preuve d'esprit d’équipe et de cohésion. À mi-chemin entre le jeu de piste et la chasse au trésor, l'escape game réinvente la façon de vivre sa propre aventure. Si vous aimez jouer aux jeux de société en famille, notamment au Cluedo, vous allez adorer l'univers extrêmement riche de l'escape game !</p>
          <p>Laissez l'excitation et le goût du jeu vous envahir sans céder à la nervosité et à la pression. Le jeu passe avant les enjeux. L'escape game est conçu avant tout pour s'amuser et partager des instants précieux avec ses proches. Les énigmes et les défis ne sont que des prétextes pour atteindre cet objectif. Participez à un jeu d'évasion grandeur nature en famille et montrez de quoi vous êtes capables.</p>

          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <figure class="text-center font-italic">
                <picture>
                  <source srcset="/static/img/escape-game-famille-lille.webp" type="image/webp">
                  <source srcset="/static/img/escape-game-famille-lille.jpg" type="image/jpg">
                  <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/escape-game-famille-lille.jpg" alt="Une famille dans un escape game">
                </picture>
                <figcaption>
                  Une famille dans l'escape game Le Digimiam
                </figcaption>
              </figure>
            </div>
          </div>

          <h2 class="text-jaffa">3 bonnes raisons de réserver un escape game en famille</h2>
          <p>Si vous doutez encore du caractère idéal et original de l'escape game en famille pour en faire votre prochaine activité, voici 3 bonnes raisons de réserver votre partie :</p>
          <ol>
            <li>Pour apprendre ou réapprendre à s'écouter les uns les autres. Plongés dans un autre univers, les membres de votre famille réagissent et interagissent autrement que dans la vraie vie. Il va falloir se faire confiance et discuter de manière constructive pour lever le voile sur les mystères qui vous entourent.</li>
            <li>Pour insuffler le goût de la réflexion et de la coopération aux plus petits. Le principe de l'escape game repose sur des notions importantes que sont l'imagination, la cohésion et la concentration. Vos enfants pourront en tirer des enseignements pratiques qui ne manqueront pas de leur servir à l'école et dans leur vie quotidienne en général. C'est bien plus qu'un simple jeu d'évasion !</li>
            <li>Pour vivre un moment unique, fait de rires et de complicité. Les parents auront l'occasion de replonger en enfance et de montrer un autre visage à leurs enfants !</li>
          </ol>

          <h2 class="text-jaffa">Votre escape game en famille avec Just Escape : comment ça marche ?</h2>
          <p>Pour votre escape game en famille, Just Escape a pensé à un scénario futuriste qui ne manquera pas de plaire aux enfants et aux adolescents. Lille, 2080. Poussez les portes d'un restaurant contrôlé par l'intelligence artificielle... et où bien des surprises vous attendent. C'est le scénario original de notre escape game Digimiam, qui peut accueillir de 2 à 10 personnes, et jusqu'à 5 joueurs dans une même salle. Parfait pour jouer en famille. Cette ambiance 100% digitale et technologique parlera à coup sûr à la jeune génération connectée.</p>

          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <figure class="text-center font-italic">
                <picture>
                  <source srcset="/static/img/escape-room-famille-enigme.webp" type="image/webp">
                  <source srcset="/static/img/escape-room-famille-enigme.jpg" type="image/jpg">
                  <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/escape-room-famille-enigme.jpg" alt="Une famille résoud une énigme dans une escape room">
                </picture>
                <figcaption>
                  Une famille résoud une énigme ensemble dans une escape room
                </figcaption>
              </figure>
            </div>
          </div>

          <p>Mais nous n'avons pas oublié les autres générations pour autant. Si les enfants et adolescents participent avec leurs parents ou leurs grands-parents, d’autres éléments n'échapperont pas aux personnes plus âgées. C'est le cas des références à la culture flamande éparpillées dans l'escape room. Tout est fait pour vous mettre à l'aise et vous faire sourire... mais ne perdez pas de temps, le chronomètre tourne et les énigmes n'attendent pas. Il faudra compter sur la participation de tous les joueurs pour remporter la partie à temps !</p>

          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <figure class="text-center font-italic">
                <picture>
                  <source srcset="/static/img/escape-game-gaufre.webp" type="image/webp">
                  <source srcset="/static/img/escape-game-gaufre.jpg" type="image/jpg">
                  <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/escape-game-gaufre.jpg" alt="Une gaufre dans une énigme d'un escape game">
                </picture>
                <figcaption>
                  Le scénario le Digimiam intègre des références à la culture flamande dans les énigmes
                </figcaption>
              </figure>
            </div>
          </div>

          <p>Just Escape recommande l'escape game en famille pour les enfants à partir de 10 ans. L'escape room est truffée d'énigmes et le jeu demande un certain niveau de réflexion. Mais si les parents le souhaitent, il est tout à fait possible de faire venir des enfants plus jeunes. Dans tous les cas, les groupes avec des enfants de moins de 15 ans doivent obligatoirement être accompagnés par un adulte. La difficulté du jeu est adaptable à l'âge et au niveau des joueurs. Que votre famille découvre une escape room pour la toute première fois ou qu'elle est experte dans le domaine des jeux de société et des escape games, tout le monde a sa chance !</p>
          <p>Alors, qui seront les plus doués pour faire preuve de logique, de sens de l'observation et résoudre les énigmes ? Les parents ou les enfants ? Cela reste à voir. L'après-midi ou en soirée, le week-end ou pendant les vacances scolaires, suivez la piste des indices pour percer les secrets de l'escape room. Un <a href='/blog/escape-game-anniversaire-lille'>escape game pour un anniversaire</a>, des retrouvailles en famille ou simplement pour s'amuser ensemble ? N'importe quel événement ou prétexte suffit pour se lancer dans l'aventure et réserver votre partie. Il y a toujours une bonne raison pour jouer à un escape game en famille. L'escape game, c'est une nouvelle forme de distraction pour varier les plaisirs. Si l'escape game joue avec les émotions, il n'y a aucun risque ou danger à y participer en famille. Tout est fait pour veiller à votre sécurité et un maître du jeu vous accompagnera à distance dans votre partie.</p>

          <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
              <figure class="text-center font-italic">
                <picture>
                  <source srcset="/static/img/jeu-evasion-famille.webp" type="image/webp">
                  <source srcset="/static/img/jeu-evasion-famille.jpg" type="image/jpg">
                  <img loading="lazy" class="img-fluid w-100 mb-1" src="/static/img/jeu-evasion-famille.jpg" alt="Un maître du jeu se prépare à faire jouer une famille à un jeu d'évasion grandeur nature">
                </picture>
                <figcaption>
                  Une sortie familiale dans un jeu d'évasion grandeur nature
                </figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Blog",
                "item": "https://just-escape.fr/blog"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "Jouer à un escape game en famille à Lille",
                "item": "https://just-escape.fr/blog/escape-game-famille-lille"
            }
        ]
    }
  </script>
{% endblock %}

