{% extends "base.html" %}

{% block title %}Découvrez notre animation murder party{% endblock %}
{% block description %}En famille, entre amis ou en collègues, l’animation murder party mise sur l’originalité, le jeu et les surprises pour séduire. Vivez une aventure sur mesure !{% endblock %}

{% block og_title %}Découvrez notre animation murder party{% endblock %}
{% block og_description %}En famille, entre amis ou en collègues, l’animation murder party mise sur l’originalité, le jeu et les surprises pour séduire. Vivez une aventure sur mesure !{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

  <div class="jumbotron pt-4">
    <div class="container px-0">
      <div class="row">
        <div class="col col-md-10 col-lg-8">
          <div>
            <ol class="breadcrumb softdark py-2">
              <li class="breadcrumb-item"><a href="/" class="fill-jaffa svg-16px">{% include "svg/home.svg" %}</a></li>
              <li class="breadcrumb-item"><a href="/blog" class="text-jaffa">Blog</a></li>
              <li class="breadcrumb-item active" aria-current="page">Tout savoir sur l’animation murder party</li>
            </ol>
          </div>

          <h1 class="text-jaffa">Tout savoir sur l’animation murder party</h1>
          <p class="font-italic">Si l’escape game commence à bien se faire connaître dans l’Hexagone, la murder party est encore confidentielle. En tout cas, pour le moment. Car sa recette emprunte des ingrédients similaires qui ont tout pour plaire. Une pincée de mystère, un peu de logique et une bonne dose d’adrénaline. Besoin d’inspiration pour votre prochaine expérience ? Voici notre guide de la murder party !</p>
          <p class="text-muted">Posté le 7 fevrier 2023</p>

          <h2 class="text-jaffa">Animation murder party : quelles sont les règles du jeu ?</h2>
          <p>La <a href='/murder-party'>murder party</a>, ou soirée enquête, est une sorte de Cluedo géant. À l’image de l’escape game, ce jeu d’immersion grandeur nature qui emprunte ses codes aux jeux de société et d’enquête se joue à huis clos. Chaque joueur est invité à incarner un personnage différent qui a un rôle bien précis à jouer dans l’intrigue. C’est une enquête policière à résoudre en usant de toutes les qualités possibles. Pour pimenter le scénario et le rendre plus réaliste, des comédiens se glissent dans la salle en tant que personnages secondaires. Ils s’assurent également de la bonne progression des participants dans leur session de jeu.</p>

          <p>Concrètement, la partie commence par un briefing. Chaque joueur reçoit des informations sur son identité et les relations que son personnage nouent avec d’autres. Certains sont complices, d’autres ennemis… certains sont unis par une liaison secrète. Chaque participant a des objectifs bien précis à remplir, parfois incompatibles avec ceux d’autres personnages de la pièce. Cela demande donc de la négociation, de la diplomatie et de la ruse pour faire et défaire des alliances au fur et à mesure de la partie. N’hésitez pas à surjouer pour mieux trahir ! C’est en cela que la murder party se rapproche également d’une version un peu plus élaborée du célèbre jeu du loup-garou.</p>

          <p>Entre l’escape game, le théâtre et la chasse au trésor, la murder party se prête très bien à un <a href='/team-building'>team building</a> pour une entreprise. Tout comme à un anniversaire entre amis ou simplement une sortie en famille. La grande différence entre l’escape game et la murder party se trouve du côté des interactions. En effet, au cours d’un escape game, les participants interagissent avant tout avec des objets, à la recherche d’indices. Mais dans l’animation murder party, c’est avec les autres personnages qu’il va falloir interagir pour mener l’enquête. Toutes les conditions sont réunies pour briser la glace et apprendre à mieux connaître ses collègues.</p>

          <p>Le temps d’une soirée, vous êtes surtout invités à oublier votre place dans la hiérarchie au travail. Le personnage que vous êtes sur le point de jouer n’a plus rien à voir avec votre véritable identité. Vous serez bientôt pris dans une sombre histoire de meurtre et de conflit.</p>

          <p>À vous de clamer votre innocence et vos bonnes intentions… et de dissimuler votre vraie nature.</p>

          <h2 class="text-jaffa">Le RedRock Saloon : la murder party par Just Escape</h2>
          <p>Printemps 1884, côte ouest de l’Amérique. Au sein de ses <a href='/salles'>escape rooms</a> à Lille, Just Escape vous propose une murder party d’une durée approximative de 3 heures sur le thème de la ruée vers l’or. Revivez l’époque des colons qui ont fait fortune en prospectant des métaux rares. Les participants sont rassemblés au RedRock Saloon pour une grande fête qui va prendre des proportions imprévues. Sur scène : le juge, le shérif et son adjoint, les Indiens, le docteur, des trappeurs, des promoteurs ferroviaires, un prêcheur… Bref, tous les grands noms de Silver Town, petite ville en apparence tranquille du Far West, sont de la partie. Plot twists et rebondissements en perspective !</p>

          <p>Notre animation murder party vous fera vivre des conflits de terre et des querelles entre colons et indiens. Choisissez votre camp et défendez vos intérêts tout en gardant vos secrets. L’atmosphère idéale pour une <a href='/blog/activite-team-building-escape-game-lille'>activité de team building</a> que vous n’oublierez pas de sitôt ! Niveau aspects pratiques, cette expérience est conçue pour un groupe de 10 à 25 joueurs. Les groupes plus nombreux peuvent aussi participer. Dans ce cas, nous vous répartissons en deux équipes distinctes pour conserver la qualité du jeu et de l’intrigue.</p>

          <p>Sachez qu’il n’y a pas de costume particulier à prévoir pour nos <a href='/blog/jeux-team-building'>jeux de team building</a> et que nous nous chargeons de vous fournir les accessoires nécessaires. Vous pouvez donc garder le secret jusqu’au jour J sans rien révéler à vos collaborateurs sur la nature de l’expérience qu’il s’apprête à vivre. L’effet de surprise sera au rendez-vous ! Pour vous garantir un moment convivial tout au long de la partie, nous mettons des rafraîchissements à la disposition des joueurs.</p>

          <h2 class="text-jaffa">Organisez votre murder party avec Just Escape</h2>
          <p>Notre scénario de murder party a été spécialement conçu pour plaire à tout le monde en choisissant un univers qui fait partie de notre imaginaire collectif à tous. Qui n’a jamais vu un western ? Qui n’a jamais fantasmé cette époque des chercheurs d’or où tout semblait possible ? Avec la murder party, tout est possible justement. Notre intrigue convient à la fois aux joueurs débutants et aux confirmés.</p>

          <p>En plus de nos escape rooms, notre équipe vous propose une salle de réception pour vous accueillir après ou avant votre partie. Vous pourrez y organiser une réunion stratégique ou un simple cocktail pour poursuivre les discussions entre collègues. Notre salle est équipée d’un paperboard, d’une connexion wifi, d’un vidéoprojecteur ainsi que d’une machine à café et de jeux de société. De quoi organiser un événement professionnel à la hauteur de vos exigences et de vos besoins. Côté pratique, nous sommes situés au 26 rue d’Arras non loin du parc Jean-Baptiste Lebas et du centre-ville de Lille. Notre centre d’escape game est desservi par les transports en commun, notamment la station de métro Lille Grand Palais.</p>

          <p>Vous souhaitez organiser une animation murder party pour votre prochain événement professionnel ? Team building, formation, onboarding ou séminaire : nous pouvons vous envoyer un devis personnalisé sur simple demande ! Par ailleurs, nous vous informons que nous proposons des tarifs spéciaux (à titre privé) pour les employés. Nous vous invitons à nous contacter si vous souhaitez en savoir plus sur nos tarifs CE.</p>

        </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Blog",
                "item": "https://just-escape.fr/blog"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "Tout savoir sur l’animation murder party",
                "item": "https://just-escape.fr/blog/animation-murder-party"
            }
        ]
    }
  </script>
{% endblock %}
