{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Booking – Escape Game Lille – Just Escape" %}{% endblock %}
{% block description %}{% trans "Did you know ❓ By booking an room you save a kitten 😸" %}{% endblock %}

{% block og_title %}{% trans "Booking ⚡" %}{% endblock %}
{% block og_description %}{% trans "Did you know ❓ By booking an room you save a kitten 😸" %}{% endblock %}

{% block h1 %}{% trans "Book an escape room" %}{% endblock %}

{% block content %}

  <div class="jumbotron">
    <div class="container px-0">
      <div class="row mb-3">
        <div class="col">
          <div>
            <ol class="breadcrumb softdark py-2">
                    <li class="breadcrumb-item"><a href="/{{ lang }}" class="fill-jaffa svg-16px">{% include "svg/home.svg" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% trans "Réserver" %}</li>
            </ol>
          </div>

          <h2 class="text-jaffa">{% trans "Booking form" %}</h2>
        </div>
      </div>

      <div class="softdark mb-3 p-3 rounded pt-0">
        <div class="row justify-content-center text-center">
          <div class="col">
            <div class="forescape" data-subdomain="justescape" data-type="bookings" data-rooms="61d2ca6625349a8b9c738af9,677d306bc9e6d4b7e7f4467b,61ff052e48e4df4b1c330ee7,64481c0fed643ccf79244297,67e6827c682d79856fcd7e84"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block post_base_js %}

   <script>
   !function(e,t){var r=e.createElement(t),a=e.getElementsByTagName(t)[0],n=new Date,s=""+n.getFullYear()+("0"+(n.getMonth()+1)).slice(-2)+("0"+n.getDate()).slice(-2);r.defer=1,r.src="https://justescape.4escape.io/public/js/iframe.min.js?v="+s,a.parentNode.insertBefore(r,a)}(document,"script");
   </script>

  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/{{ lang }}"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "{% trans "Booking" %}",
                "item": "https://just-escape.fr/{{ lang }}reserver"
            }
        ]
    }
  </script>
{% endblock %}
