{% extends "base.html" %}

{% load i18n %}

{% block title %}Réserver Murder Party – Escape Game Lille – Just Escape{% endblock %}
{% block description %}Réservez dès maintenant votre murder party chez Just Escape{% endblock %}

{% block og_title %}Réserver Murder Party ⚡{% endblock %}
{% block og_description %}Réservez dès maintenant votre murder party chez Just Escape{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

  <div class="jumbotron">
    <div class="container px-0">
      <div class="row mb-3">
        <div class="col">
          <h1 class="text-jaffa">Murder party – RedRock Saloon</h1>

          <div class="row d-flex justify-content-center">
            <div class="col col-lg-6">
              <img src="/static/img/murder-party-redrock-saloon.jpeg" class="img-fluid mb-3">
            </div>
          </div>

          <p>Nous sommes au printemps 1884. La côte ouest de l'Amérique voit peu à peu de petites villes apparaître. Elles sont remplies de colons venant prospecter des métaux précieux, installer des ranchs ou encore ouvrir des saloons douteux. Il ne manque plus que le chemin de fer pour parfaire le cadre. Silver Town est l'une de ces petites villes, fondée il y a 20 ans.</p>
          <p>Il y a ce soir un air de fête alors que les habitants de la ville se préparent à célébrer le 20ème anniversaire. Cependant, tout ne tourne pas rond. Les conflits de terre, les querelles avec les indiens, les jeux de cartes douteux et les étrangers de la ville forment une atmosphère tendue.</p>
          <p>Dans RedRock Saloon, la grande fête de la ville se joue au cours d'une seule soirée. Toutes les grandes figures de la ville seront présentes dont le juge, le shérif et son adjoint, les filles du saloon, les sympathiques indiens et le docteur amateur de jeu de cartes peu recommandable ! En plus des villageois, Silver Town est actuellement visitée, entre autres, par des promoteurs ferroviaires enthousiastes et un prêcheur quelque peu sinistre. Cependant, tout le monde n'est peut-être pas ce qu'il semble être. Certains des participants ont des objectifs différents à la célébration de l’anniversaire, et cachent tous des secrets qu'ils protégeront à tout prix !</p>
          <p style="font-size: 28px; font-style: italic" class="text-right mb-4">Le RedRock Saloon ouvre ses portes !</p>
          <hr style="width: 25%" class="border-jaffa">
          <p class="my-4">La murder se joue à 20 joueurs. Il y aura des organisateurs-acteurs en plus des joueurs. Elle dure 2h30 à 3h. Il n'y a pas besoin de prévoir de costume particulier. Chacun des joueurs doit s'inscrire individuellement et recevra ensuite plus de détails par mail. Des rafraîchissements seront disponibles sur place.</p>
          <hr style="width: 25%" class="border-jaffa">
          <p class="my-4">Une murder party est une en quête policière grandeur nature qui vous plonge dans une rocambolesque histoire de meurtre, le temps d'une soirée chacun oublie sa personnalité pour se glisser dans celle d'un personnage ; shérif, serveur de saloon, chercheur d'or, trappeur, banquier vicieux... Le temps de la partie, tu dois atteindre tes objectifs ! (Comme un Loup Garou plus élaboré en somme)</p>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <h2 class="text-jaffa">Formulaire de réservation</h2>
        </div>
      </div>

      <div class="softdark mb-3 p-3 rounded pt-0">
        <div class="row justify-content-center text-center">
          <div class="col">
            <div class="forescape" data-subdomain="justescape" data-type="bookings" data-rooms="628d2db2b388630689b4f1dd"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block post_base_js %}
   <script>
   !function(e,t){var r=e.createElement(t),a=e.getElementsByTagName(t)[0],n=new Date,s=""+n.getFullYear()+("0"+(n.getMonth()+1)).slice(-2)+("0"+n.getDate()).slice(-2);r.defer=1,r.src="https://justescape.4escape.io/public/js/iframe.min.js?v="+s,a.parentNode.insertBefore(r,a)}(document,"script");
   </script>

  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Réserver murder party",
                "item": "https://just-escape.fr/reserver-murder-party"
            }
        ]
    }
  </script>
{% endblock %}
