{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Conditions of Use ⭐ Escape Game Lille ⭐ Just Escape" %}{% endblock %}
{% block description %}{% trans "Check out the conditions of use of Just Escape. Just Escape is a SARL (LLC) with a registered capital of 1000€." %}{% endblock %}

{% block og_title %}{% trans "Conditions of Use" %}{% endblock %}
{% block og_description %}{% trans "Check out the conditions of use of Just Escape. Just Escape is a SARL (LLC) with a registered capital of 1000€." %}{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

  <div class="jumbotron">
    <div class="container">
      <div class="card border-jaffa deepdark">
        <div class="card-body">

          <h1 class="text-jaffa text-center">{% trans "Conditions of use" %}</h1>

          <h2 class="text-jaffa">{% trans "This is supposed to be our conditions of use" %}</h2>
          <p class="size-09 text-justify">{% trans "But we have not written it yet" %}</p>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
