{% extends "base.html" %}

{% load i18n %}

{% block title %}Confirmation – Escape Game Lille – Just Escape{% endblock %}
{% block description %}Votre demande a été prise en compte. Nous allons vous répondre très rapidement !{% endblock %}

{% block og_title %}Confirmation{% endblock %}
{% block og_description %}Votre demande a été prise en compte. Nous allons vous répondre très rapidement !{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

  <div class="jumbotron px-0">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1 class="text-jaffa">Votre demande a bien été prise en compte</h1>
          <p class="lead">Nous allons vous répondre très rapidement !</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

