{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Contact ⭐ Escape Game Lille ⭐ Just Escape" %}{% endblock %}
{% block description %}{% trans "24 rue d'Arras 59 800 Lille — How to get there? 🚶 🚲  🚗 🚉 ✈ 🚀 — +33 1 23 45 67 89" %}{% endblock %}

{% block og_title %}{% trans "Contact" %}{% endblock %}
{% block og_description %}{% trans "24 rue d'Arras 59 800 Lille — How to get there? 🚶 🚲  🚗 🚉 ✈ 🚀 — +33 1 23 45 67 89" %}{% endblock %}

{% block h1 %}{% trans "How to contact us" %}{% endblock %}

{% block content %}
  
  <div class="jumbotron">
    <div class="container">
      <div class="row">

        <div class="col-12 col-xl-4 mb-4">
          <div class="card deepdark border-jaffa">
            <div class="card-body">
              <div class="media">
                <span class="fill-mulberry-jaffa d-inline-block svg-64px mr-3 my-auto">
                  {% include "svg/clock.svg" %}
                </span>
                <div>
                  <h2 class="text-jaffa size-15 mb-1">{% trans "Opening hours" %}</h2>
                  <p class="lh-12 mb-0">
                    {% trans "<span class='text-jaffa'>Monday-friday:</span> 2PM-11PM<br>" %}
                    {% trans "<span class='text-jaffa'>Saturday-sunday:</span> 10AM-11PM" %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-4 mb-4">
          <div class="card deepdark border-jaffa">
            <div class="card-body">
              <div class="media">
                <span class="fill-mulberry-jaffa d-inline-block svg-64px mr-3 my-auto">
                  {% include "svg/address.svg" %}
                </span>
                <div>
                  <h2 class="text-jaffa size-15 mb-1">{% trans "Contact" %}</h2>
                  <p class="lh-12 mb-0">
                    {% trans "<span class='text-jaffa'>Tel:</span> +33 1 23 45 67 89<br>" %}
                    {% trans "<span class='text-jaffa'>Mail:</span> c<span hidden></span>ontac<span hidden></span>t@<span hidden></span>justes<span hidden></span>cape<span hidden></span>.fr" %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-4 mb-4">
          <div class="card deepdark border-jaffa">
            <div class="card-body">
              <div class="media">
                <div class="fill-mulberry-jaffa d-inline-block svg-64px mr-3 my-auto">
                  {% include "svg/map-marker.svg" %}
                </div>
                <div>
                  <h2 class="text-jaffa size-15 mb-1">{% trans "Address" %}</h2>
                  <p class="lh-12 mb-0">
                    {% trans "17 rue Négrier<br>59 800 Lille, France" %} 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row mb-4">
        <div class="col-12">
          <div id="map"></div>
        </div>
      </div>

      <div class="softdark no-background rounded border-0 p-3 mb-5">
        <p class="mb-2">{% trans "N&#39;hésitez pas à passer sur <a class='text-jaffa font-weight-bold' href='/{{ lang }}faq'>notre FAQ</a>." %}</p>
        <p class="mb-2">{% trans "Vous organisez un <span class='font-weight-bold'>séminaire</span> ? Retrouvez les informations sur notre <a class='text-jaffa font-weight-bold' href='/{{ lang }}team-building'>page dédiée aux entreprises</a>." %}</p>
        <p class="mb-2">{% trans "Vous préparez un <span class='font-weight-bold'>anniversaire</span>, <span class='font-weight-bold'>EVJF</span> ou <span class='font-weight-bold'>EVG</span> ? Vous devriez regarder nos <a class='text-jaffa font-weight-bold' href='/{{ lang }}tarifs'>tarifs avantageux</a>." %}</p>
        <p class="mb-0">{% trans "Vous pouvez acheter une <span class='font-weight-bold'>carte cadeau</span> depuis <a class='text-mulberry font-weight-bold' href='/{{ lang }}reserver'>module de réservation</a>." %}</p>
      </div>

      <div class="row">
        <div class="col-12 col-sm-9 col-md-7 col-lg-5 col-xl-4">
          <span id="newsletter" class="anchor">&nbsp;</span>
          <h2 class="text-jaffa size-15">{% trans "Newsletter" %}</h2>
          <form action="/{{ lang }}contact#newsletter" method="post">
            {% csrf_token %}

            {% if unexpected_error %}
              <p class="text-red">{% trans "An unexpected error happened. Please contact us directly." %}</p>
            {% elif form.errors %}
              {{ form.non_field_errors }}
              {{ form.email.errors }}
            {% endif %}

            {% if subscription_success %}
            <a id="newsletter-email-bar" tabindex="0" data-toggle="popover" data-placement="top" data-trigger="click focus" data-content="{% trans "Thank you and see you soon!" %}">
            {% endif %}
              <div class="input-group">
                <input type="text" spellcheck="false" class="form-control" placeholder="{% trans "marmitron@justescape.fr" %}" name="{{ form.email.name }}" required>
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="submit"><span>{% trans "Subscribe" %}</span></button>
                </div>
              </div>
            {% if subscription_success %}
            </a>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  <script>
    function initMap() {
        var coords = {lat: 50.6425341, lng: 3.0563218}
        var map = new google.maps.Map(document.getElementById('map'), {
            center: coords,
            zoom: 18,
            disableDefaultUI: true,
            fullscreenControl: true,
            zoomControl: true,
            scrollwheel: false
        });
    }
  </script>
  <script src="/static/js/gmaps.js" defer async></script>

  {% if subscription_success %}
    <script>
      $('#newsletter-email-bar').popover('show');
      $('#newsletter-email-bar').popover('disable');
    </script>
  {% endif %}

  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/{{ lang }}"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "{% trans "Contact" %}",
                "item": "https://just-escape.fr/{{ lang }}contact"
            }
        ]
    }
  </script>
{% endblock %}
