{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Contact – Escape Game Lille – Just Escape" %}{% endblock %}
{% block description %}{% trans "26 rue d&#39;Arras 59000 Lille – How to get there? 🚶 🚲  🚗 🚉 ✈ 🚀 – +33 7 89 05 37 90" %}{% endblock %}

{% block og_title %}{% trans "Contact" %}{% endblock %}
{% block og_description %}{% trans "26 rue d&#39;Arras 59000 Lille – How to get there? 🚶 🚲  🚗 🚉 ✈ 🚀 – +33 7 89 05 37 90" %}{% endblock %}

{% block h1 %}{% trans "How to contact us" %}{% endblock %}

{% block content %}
  
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col">
          <div>
            <ol class="breadcrumb softdark py-2">
              <li class="breadcrumb-item"><a href="/" class="fill-jaffa svg-16px">{% include "svg/home.svg" %}</a></li>
              <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-xl-4 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-body">
              <div class="media">
                <span class="fill-jaffa d-inline-block svg-64px mr-3 my-auto">
                  {% include "svg/clock.svg" %}
                </span>
                <div>
                  <h2 class="text-jaffa size-15 mb-1">{% trans "Opening hours" %}</h2>
                  <p class="lh-12 mb-0">
                    {% trans "<span class='text-jaffa'>Monday-sunday:</span> 10AM-11PM" %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-4 mb-4">
          <div class="card deepdark border-jaffa">
            <div class="card-body">
              <div class="media">
                <span class="fill-jaffa d-inline-block svg-64px mr-3 my-auto">
                  {% include "svg/address.svg" %}
                </span>
                <div>
                  <h2 class="text-jaffa size-15 mb-1">{% trans "Contact" %}</h2>
                  <p class="lh-12 mb-0">
                    {% trans "<span class='text-jaffa'>Tel:</span> <a href='tel:+33789053790' class='text-hover-mulberry text-underline'>+33 7 89 05 37 90</a><br>" %}
                    {% trans "<span class='text-jaffa'>Mail:</span> c<span hidden></span>ontac<span hidden></span>t@<span hidden></span>justes<span hidden></span>cape<span hidden></span>.fr" %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-4 mb-4">
          <div class="card deepdark border-jaffa">
            <div class="card-body">
              <div class="media">
                <div class="fill-jaffa d-inline-block svg-64px mr-3 my-auto">
                  {% include "svg/map-marker.svg" %}
                </div>
                <div>
                  <h2 class="text-jaffa size-15 mb-1">{% trans "Address" %}</h2>
                  <p class="lh-12 mb-0">
                    {% trans "26 rue d&#39;Arras<br> 59000 Lille, France" %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="row mb-4">
        <div class="col-12">
          <div id="map"></div>
        </div>
      </div>

    </div>
  </div>

  <div class="jumbotron softdark">
    <div class="container">
      <span id="venir" class="anchor">&nbsp;</span>
      <h2 class="text-jaffa mb-3">{% trans "How to get to the estate in Lille?" %}</h2>
      <div class="row">
        <div class="col-sm-12 col-lg-4 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-body">
              <h3 class="text-jaffa size-15 mb-1"><span class="fill-jaffa svg-20px">{% include "svg/walking.svg" %}</span>{% trans "By foot" %}</h3>
              <p class="mt-3">{% trans "From the <span class='text-underline'>Republic square</span>, go down the <span class='text-underline'>boulevard de la Liberté</span>. Enter the <span class='text-underline'>Jean-Baptiste Lebas square</span>, and continue going down." %}</p>
              <p class="mb-0">{% trans "Get out of the park by the exit on the side of <span class='text-underline'>rue de Solférino</span> and you should see the <span class='text-underline'>rue d&#39;Arras</span> at the left of the Carrefour City shop." %}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-4 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-body">
              <h3 class="text-jaffa size-15 mb-1"><span class="fill-jaffa svg-20px mr-2">{% include "svg/bus.svg" %}</span><span class="fill-jaffa svg-20px mr-1">{% include "svg/subway.svg" %}</span>{% trans "Public transport" %}</h3>
              <p class="mt-3 mb-2">{% trans "The metro line 2 has two nearby stations: <span class='text-underline'>Lille Grand Palais</span> and Porte d&#39;Arras." %}</p>
              <p class="mb-0">{% trans "There are 2 close bus stations as well: Douai Arras (on the L14) and JB Lebas (on the L1)." %}</p>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-lg-4 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-body">
              <h3 class="text-jaffa size-15 mb-1"><span class="fill-jaffa svg-20px mr-2">{% include "svg/car.svg" %}</span>{% trans "By car" %}</h3>
              <p class="mt-3 mb-2">{% trans "In the Rue d'Arras and in the Moulins district (to the south) parking is <span class='text-underline'>free</span>. Plan ahead to find a place to park." %}</p>
              <p class="mb-0">{% trans "In the area of the Jean-Lebas Park and to the north of it, parking is not free." %}</p>
            </div>
          </div>
        </div>
      </div>

<script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    region: "eu1",
    portalId: "143791160",
    formId: "d8658790-cd46-42f9-b154-ebc74932b275"
  });
</script>
    </div>
  </div>

  <!--
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-9 col-md-7 col-lg-5 col-xl-4">
          <span id="newsletter" class="anchor">&nbsp;</span>
          <h2 class="text-jaffa size-15">{% trans "Newsletter" %}</h2>
          <form action="/{{ lang }}contact#newsletter" method="post">
            {% csrf_token %}

            {% if unexpected_error %}
              <p class="text-red">{% trans "An unexpected error happened. Please contact us directly." %}</p>
            {% elif form.errors %}
              {{ form.non_field_errors }}
              {{ form.email.errors }}
            {% endif %}

            {% if subscription_success %}
            <a id="newsletter-email-bar" tabindex="0" data-toggle="popover" data-placement="top" data-trigger="click focus" data-content="{% trans "Thank you and see you soon!" %}">
            {% endif %}
              <div class="input-group">
                <input type="text" spellcheck="false" class="form-control" placeholder="{% trans "marmitron@justescape.fr" %}" name="{{ form.email.name }}" required>
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="submit"><span>{% trans "Subscribe" %}</span></button>
                </div>
              </div>
            {% if subscription_success %}
            </a>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>
  -->

{% endblock %}

{% block post_base_js %}
  <script>
    function initMap() {
        var coords = {lat: 50.6235063, lng: 3.0677556};

        var map = new google.maps.Map(document.getElementById('map'), {
            center: coords,
            zoom: 15,
            disableDefaultUI: true,
            fullscreenControl: true,
            zoomControl: true,
            scrollwheel: false
        });

        var marker = new google.maps.Marker({
            position: coords,
            title: "Just Escape"
        });

        marker.setMap(map);
    }
  </script>
  <script src="/static/js/gmaps.js" defer async></script>

  {% if subscription_success %}
    <script>
      $('#newsletter-email-bar').popover('show');
      $('#newsletter-email-bar').popover('disable');
    </script>
  {% endif %}

  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/{{ lang }}"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "{% trans "Contact" %}",
                "item": "https://just-escape.fr/{{ lang }}contact"
            }
        ]
    }
  </script>
{% endblock %}
