{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Une activité originale pour un EVG réussi ? – Just Escape" %}{% endblock %}
{% block description %}{% trans "Plus besoin de se creuser la tête pour trouver la prochaine activité d'EVG. L'escape game pour EVG met tout le monde d'accord de par son originalité !" %}{% endblock %}

{% block og_title %}{% trans "Une activité originale pour un EVG réussi ? – Just Escape" %}{% endblock %}
{% block og_description %}{% trans "Plus besoin de se creuser la tête pour trouver la prochaine activité d'EVG. L'escape game pour EVG met tout le monde d'accord de par son originalité !" %}{% endblock %}

{% block pre_content %}{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

  <div class="jumbotron-fluid content-cover position-relative">
    <div>
      <picture>
        <source srcset="/static/img/escape-game-evg.webp" type="image/webp">
        <source srcset="/static/img/escape-game-evg.jpg" type="image/jpg">
        <img class="position-absolute" style="top: 0px; height: 100%; object-fit: cover; width: 100%" src="/static/img/escape-game-evg.webp" alt="{% trans "Un escape game en EVG" %}">
      </picture>
    </div>

    <div class="container h-100">
      <div class="row h-100">
        <div class="col d-flex flex-column justify-content-end text-cover">
                <h1 class="text-inter text-center font-weight-normal">{% trans "Un escape game pour le meilleur des <span class='text-red'>EVG</span> ?" %}</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron px-0 deepdark py-3">
    <div class="container mb-5">
      <div class="row">
        <div class="col">
          <div>
            <ol class="breadcrumb dark py-2">
                    <li class="breadcrumb-item"><a href="/{{ lang }}" class="fill-jaffa svg-16px">{% include "svg/home.svg" %}</a></li>
                    <li class="breadcrumb-item active">{% trans "Votre événement" %}</li>
                    <li class="breadcrumb-item active" aria-current="page">{% trans "EVG" %}</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col text-center">
                <h2 class="text-inter font-weight-bold">{% trans "Organiser un enterrement de vie de garçon original à Lille" %}</h2>
                <div class="font-weight-bold size-15 mb-2">{% trans "Choisissez le pack EVG lors de la réservation" %}</div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-4 mb-4">
          <div class="card transparent border-light border-2px h-100">
            <div class="card-header">
                    <h3 class="text-center text-inter font-weight-bold mb-0">{% trans "Une aventure <span class='text-mulberry'>mémorable</span>" %}</h3>
            </div>
            <div class="card-body size-11 text-center lh-12 pt-0">
                    <div>{% trans "Choisissez nos activités pour un EVG des plus amusants et qui correspond le mieux au jeune marié pour une journée mémorable. Faites de ce moment un moment unique." %}</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-4 mb-4">
          <div class="card transparent border-light border-2px h-100">
            <div class="card-header">
                    <h3 class="text-center text-inter font-weight-bold mb-0">{% trans "Un EVG qui lui ressemble" %}</h3>
            </div>
            <div class="card-body size-11 text-center lh-12 pt-0">
                    <div>{% trans "Choisissez la murder party et ses histoires ou un escape game pour une expérience mémorable dans des décors réalistes et une immersion totale dans différentes époques." %}</div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-4 mb-4">
          <div class="card transparent border-light border-2px h-100">
            <div class="card-header">
                    <h3 class="text-center text-inter font-weight-bold mb-0">{% trans "<span class='text-mulberry'>Coopérez</span> ou <span class='text-mulberry'>rivalisez</span>" %}</h3>
            </div>
            <div class="card-body size-11 text-center lh-12 pt-0">
                    <p>{% trans "Un jeu d'évasion avec de la fouille, contre ou en équipe, nos game masters expérimentés rendront l'expérience Just Escape inoubliable." %}</p>
            </div>
          </div>
        </div>

        <div class="col-12 mb-4">
          <div class="card transparent border-light border-2px h-100">
            <div class="card-header">
                    <h3 class="text-center text-inter font-weight-bold mb-0">{% trans "Inclus dans la formule" %}</h3>
            </div>
            <div class="card-body size-11 text-center lh-12 pt-0">
                    <p>{% trans "Boisson rafraîchissante par personne pendant l'enquête." %}</p>
                    <p>{% trans "Privatisation de la salle de réception et accès à des jeux de société avant ou après la session." %}</p>
                    <p>{% trans "Collations adaptées selon le moment de la journée (apéritif, goûter)." %}</p>
                    <p>{% trans "Petit cadeau spécial pour le marié." %}</p>
            </div>
          </div>
        </div>

        <div class="col-12 mb-4">
          <div class="card transparent border-light border-2px h-100">
            <div class="card-header">
                    <h3 class="text-center text-inter font-weight-bold mb-0">{% trans "Un challenge réussi" %}</h3>
            </div>
            <div class="card-body size-11 text-center lh-12 pt-0">
                    <p>{% trans "Préparer un <b>enterrement de vie de garçon</b> peut sembler être un vrai casse-tête. Pas de panique, nous sommes là pour transformer une simple activité de groupe en une <b>expérience inoubliable</b>. Optez pour un <b>Escape Game palpitant ou un Jeu de rôle captivant</b>." %}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mb-5">
        <div class="col-12 col-lg-6 text-center">
                <a href="/{{ lang }}reserver" class="btn btn-primary p-3 size-12 d-flex flex-column justify-content-center"><span><span class="d-inline-block svg-24px fill-light align-text-bottom mr-3">{% include "svg/calendar-check.svg" %}</span>{% trans "Je réserve une séance" %}</span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col mb-5">
          <div class="forescape" data-subdomain="justescape" data-type="bookings" data-rooms="677d306bc9e6d4b7e7f4467b,61d2ca6625349a8b9c738af9,61ff052e48e4df4b1c330ee7,64481c0fed643ccf79244297"></div>
        </div>
      </div>

      <div class="row">
              <h2>{% trans "Une question sur un événement EVG ? Consultez notre FAQ" %}</h2>
      </div>

      <div class="row">

        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-light rounded mb-3" id="qa-04" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div id="question-04" class="pointer size-1 mb-0 question" data-toggle="collapse" data-target="#answer-04" aria-expanded="false" aria-controls="answer-04" itemprop="name" role="button">
              <span class="transition-03s fill-light svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Y a-t-il des réductions pour les groupes lors de la réservation d'une activité EVG ?" %}
            </div>
            <div id="answer-04" class="collapse" aria-labelledby="question-04" data-parent="#qa-04" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                {% trans "Oui, nous proposons souvent des tarifs de groupe pour les activités EVG." %}
                </p>
                <p class="mb-0">
                {% trans "<a href='/fr/contact' rel='nofollow'>Contactez-nous</a> directement pour en savoir plus." %}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-light rounded mb-3" id="qa-03" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div id="question-03" class="pointer size-1 mb-0 question" data-toggle="collapse" data-target="#answer-03" aria-expanded="false" aria-controls="answer-03" itemprop="name" role="button">
              <span class="transition-03s fill-light svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Quelle activité choisir pour un EVG ?" %}
            </div>
            <div id="answer-03" class="collapse" aria-labelledby="question-03" data-parent="#qa-03" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                {% trans "Nous proposons une grande variété d'activités pour un EVG, tel que des jeux de rôle grandeur nature, c'est idéal pour les grands groupes. Un escape game futuriste pour les passionnés de technologie etc." %}
                </p>
                <p class="mb-0">{% trans "Consultez notre page dédiée pour découvrir toutes nos offres." %}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-light rounded mb-3" id="qa-02" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div id="question-02" class="pointer size-1 mb-0 question" data-toggle="collapse" data-target="#answer-02" aria-expanded="false" aria-controls="answer-02" itemprop="name" role="button">
              <span class="transition-03s fill-light svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "À combien peut-on faire un EVG ?" %}
            </div>
            <div id="answer-02" class="collapse" aria-labelledby="question-02" data-parent="#qa-02" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                {% trans "Jouable de 2 à 120 joueurs, nos activités s'adaptent à tous les âges et sont idéales pour toutes les occasions telles qu'un EVJF/EVG." %}
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="jumbotron light">
    <div class="container">
      <div class="row justify-content-center mb-3">
        <div class="col text-center">
                <h2 class="text-inter font-weight-bold mb-0">{% trans "Nos propositions pour une activité EVG" %}</h2>
                <div class="text-inter size-15">{% trans "Plein de défis <strong>vous attendent</strong>" %}</div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 mb-4 d-flex align-items-stretch">
          {% include "component/card_sm_redrock_saloon.html" %}
        </div>

        <div class="col-12 col-lg-6 mb-4 d-flex align-items-stretch">
          {% include "component/card_sm_le_tournoi_des_sorciers.html" %}
        </div>

        <div class="col-12 col-lg-6 mb-4 d-flex align-items-stretch">
          {% include "component/card_sm_qui_est_loup_garou.html" %}
        </div>

        <div class="col-12 col-lg-6 mb-4 d-flex align-items-stretch">
          {% include "component/card_sm_killer_party.html" %}
        </div>

        <div class="col-12 col-lg-6 mb-4 d-flex align-items-stretch">
          {% include "component/card_sm_digimiam.html" %}
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-4 text-center">
                <p>{% trans "Pour toute question ou demande d'information supplémentaire, contactez-nous." %}</p>
          <div class="card transparent border-light border-2px h-100">
            <div class="card-header">
                    <h3 class="text-center text-inter text-jaffa font-weight-bold mb-0">{% trans "Contact" %}</h3>
            </div>
            <div class="card-body size-11 text-center lh-12 pt-0">
                    <p><span class="text-jaffa font-weight-bold">Tel : </span>{% trans "06 44 81 04 99" %}</p>
              <p><span class="text-jaffa font-weight-bold">Mail : </span>contact@justescape.fr</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  <script>
    $("#answer-02").on("show.bs.collapse", function() {$("#question-02 span").addClass("rotate-90");})
    $("#answer-02").on("hide.bs.collapse", function() {$("#question-02 span").removeClass("rotate-90");})
    $("#answer-03").on("show.bs.collapse", function() {$("#question-03 span").addClass("rotate-90");})
    $("#answer-03").on("hide.bs.collapse", function() {$("#question-03 span").removeClass("rotate-90");})
    $("#answer-04").on("show.bs.collapse", function() {$("#question-04 span").addClass("rotate-90");})
    $("#answer-04").on("hide.bs.collapse", function() {$("#question-04 span").removeClass("rotate-90");})
  </script>

   <script>
   !function(e,t){var r=e.createElement(t),a=e.getElementsByTagName(t)[0],n=new Date,s=""+n.getFullYear()+("0"+(n.getMonth()+1)).slice(-2)+("0"+n.getDate()).slice(-2);r.defer=1,r.src="https://justescape.4escape.io/public/js/iframe.min.js?v="+s,a.parentNode.insertBefore(r,a)}(document,"script");
   </script>

  <script>
    async function loadFile() {
      await new Promise((resolve, reject) => {
        const scriptTag = document.createElement('script');
        scriptTag.type = 'text/javascript';
        scriptTag.src = "https://apps.elfsight.com/p/platform.js";
        scriptTag.setAttribute('data-use-service-core', '');
        scriptTag.onload = () => resolve();
        document.body.appendChild(scriptTag);
      })
    }
    setTimeout(loadFile, 3000);
  </script>

  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/{{ lang }}"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "{% trans "Escape Game EVG" %}",
                "item": "https://just-escape.fr/{{ lang }}escape-game-evg"
            }
        ]
    }
  </script>
{% endblock %}
