{% extends "base.html" %}

{% load i18n %}

{% block h1 %}{% trans "Frequently asked questions" %}{% endblock %}

{% block content %}

  <div class="jumbotron py-4">
    <div id="qa-1" class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9">
          <h4 id="question-1" class="text-jaffa pointer" data-toggle="collapse" data-target="#answer-1" aria-expanded="false" aria-controls="answer-1"><span class="transition-03s fill-jaffa svg-16px d-inline-block">{% include "svg/arrow-right.svg" %}</span> {% lorem 5 w %} ?</h4>
        </div>
      </div>
      <div id="answer-1" class="collapse row justify-content-center" aria-labelledby="question-1" data-parent="#qa-1">
        <div class="col-12 col-md-9">
          <p class="mb-0">{% lorem %}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron softdark py-4">
    <div id="qa-2" class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9">
          <h4 id="question-2" class="text-jaffa pointer" data-toggle="collapse" data-target="#answer-2" aria-expanded="false" aria-controls="answer-2"><span class="transition-03s fill-jaffa svg-16px d-inline-block">{% include "svg/arrow-right.svg" %}</span> {% lorem 5 w %} ?</h4>
        </div>
      </div>
      <div id="answer-2" class="collapse row justify-content-center" aria-labelledby="question-2" data-parent="#qa-2">
        <div class="col-12 col-md-9">
          <p class="mb-0">{% lorem %}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron py-4">
    <div id="qa-3" class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9">
          <h4 id="question-3" class="text-jaffa pointer" data-toggle="collapse" data-target="#answer-3" aria-expanded="false" aria-controls="answer-3"><span class="transition-03s fill-jaffa svg-16px d-inline-block">{% include "svg/arrow-right.svg" %}</span> {% lorem 5 w %} ?</h4>
        </div>
      </div>
      <div id="answer-3" class="collapse row justify-content-center" aria-labelledby="question-3" data-parent="#qa-3">
        <div class="col-12 col-md-9">
          <p class="mb-0">{% lorem %}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron softdark py-4">
    <div id="qa-4" class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9">
          <h4 id="question-4" class="text-jaffa pointer" data-toggle="collapse" data-target="#answer-4" aria-expanded="false" aria-controls="answer-4"><span class="transition-03s fill-jaffa svg-16px d-inline-block">{% include "svg/arrow-right.svg" %}</span> {% lorem 5 w %} ?</h4>
        </div>
      </div>
      <div id="answer-4" class="collapse row justify-content-center" aria-labelledby="question-4" data-parent="#qa-4">
        <div class="col-12 col-md-9">
          <p class="mb-0">{% lorem %}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron py-4">
    <div id="qa-5" class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9">
          <h4 id="question-5" class="text-jaffa pointer" data-toggle="collapse" data-target="#answer-5" aria-expanded="false" aria-controls="answer-5"><span class="transition-03s fill-jaffa svg-16px d-inline-block">{% include "svg/arrow-right.svg" %}</span> {% lorem 5 w %} ?</h4>
        </div>
      </div>
      <div id="answer-5" class="collapse row justify-content-center" aria-labelledby="question-5" data-parent="#qa-5">
        <div class="col-12 col-md-9">
          <p class="mb-0">{% lorem %}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron softdark py-4">
    <div id="qa-6" class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9">
          <h4 id="question-6" class="text-jaffa pointer" data-toggle="collapse" data-target="#answer-6" aria-expanded="false" aria-controls="answer-6"><span class="transition-03s fill-jaffa svg-16px d-inline-block">{% include "svg/arrow-right.svg" %}</span> {% lorem 5 w %} ?</h4>
        </div>
      </div>
      <div id="answer-6" class="collapse row justify-content-center" aria-labelledby="question-6" data-parent="#qa-6">
        <div class="col-12 col-md-9">
          <p class="mb-0">{% lorem %}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron py-4">
    <div id="qa-7" class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9">
          <h4 id="question-7" class="text-jaffa pointer" data-toggle="collapse" data-target="#answer-7" aria-expanded="false" aria-controls="answer-7"><span class="transition-03s fill-jaffa svg-16px d-inline-block">{% include "svg/arrow-right.svg" %}</span> {% lorem 5 w %} ?</h4>
        </div>
      </div>
      <div id="answer-7" class="collapse row justify-content-center" aria-labelledby="question-7" data-parent="#qa-7">
        <div class="col-12 col-md-9">
          <p class="mb-0">{% lorem %}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron softdark py-4">
    <div id="qa-8" class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9">
          <h4 id="question-8" class="text-jaffa pointer" data-toggle="collapse" data-target="#answer-8" aria-expanded="false" aria-controls="answer-8"><span class="transition-03s fill-jaffa svg-16px d-inline-block">{% include "svg/arrow-right.svg" %}</span> {% lorem 5 w %} ?</h4>
        </div>
      </div>
      <div id="answer-8" class="collapse row justify-content-center" aria-labelledby="question-8" data-parent="#qa-8">
        <div class="col-12 col-md-9">
          <p class="mb-0">{% lorem %}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron py-4">
    <div id="qa-9" class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9">
          <h4 id="question-9" class="text-jaffa pointer" data-toggle="collapse" data-target="#answer-9" aria-expanded="false" aria-controls="answer-9"><span class="transition-03s fill-jaffa svg-16px d-inline-block">{% include "svg/arrow-right.svg" %}</span> {% lorem 5 w %} ?</h4>
        </div>
      </div>
      <div id="answer-9" class="collapse row justify-content-center" aria-labelledby="question-9" data-parent="#qa-9">
        <div class="col-12 col-md-9">
          <p class="mb-0">{% lorem %}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron softdark py-4">
    <div id="qa-10" class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-9">
          <h4 id="question-10" class="text-jaffa pointer" data-toggle="collapse" data-target="#answer-10" aria-expanded="false" aria-controls="answer-10"><span class="transition-03s fill-jaffa svg-16px d-inline-block">{% include "svg/arrow-right.svg" %}</span> {% lorem 5 w %} ?</h4>
        </div>
      </div>
      <div id="answer-10" class="collapse row justify-content-center" aria-labelledby="question-10" data-parent="#qa-10">
        <div class="col-12 col-md-9">
          <p class="mb-0">{% lorem %}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  <script>
    $("#answer-1").on("show.bs.collapse", function() {$("#question-1 span").addClass("rotate-90");})
    $("#answer-1").on("hide.bs.collapse", function() {$("#question-1 span").removeClass("rotate-90");})
    $("#answer-2").on("show.bs.collapse", function() {$("#question-2 span").addClass("rotate-90");})
    $("#answer-2").on("hide.bs.collapse", function() {$("#question-2 span").removeClass("rotate-90");})
    $("#answer-3").on("show.bs.collapse", function() {$("#question-3 span").addClass("rotate-90");})
    $("#answer-3").on("hide.bs.collapse", function() {$("#question-3 span").removeClass("rotate-90");})
    $("#answer-4").on("show.bs.collapse", function() {$("#question-4 span").addClass("rotate-90");})
    $("#answer-4").on("hide.bs.collapse", function() {$("#question-4 span").removeClass("rotate-90");})
    $("#answer-5").on("show.bs.collapse", function() {$("#question-5 span").addClass("rotate-90");})
    $("#answer-5").on("hide.bs.collapse", function() {$("#question-5 span").removeClass("rotate-90");})
    $("#answer-6").on("show.bs.collapse", function() {$("#question-6 span").addClass("rotate-90");})
    $("#answer-6").on("hide.bs.collapse", function() {$("#question-6 span").removeClass("rotate-90");})
    $("#answer-7").on("show.bs.collapse", function() {$("#question-7 span").addClass("rotate-90");})
    $("#answer-7").on("hide.bs.collapse", function() {$("#question-7 span").removeClass("rotate-90");})
    $("#answer-8").on("show.bs.collapse", function() {$("#question-8 span").addClass("rotate-90");})
    $("#answer-8").on("hide.bs.collapse", function() {$("#question-8 span").removeClass("rotate-90");})
    $("#answer-9").on("show.bs.collapse", function() {$("#question-9 span").addClass("rotate-90");})
    $("#answer-9").on("hide.bs.collapse", function() {$("#question-9 span").removeClass("rotate-90");})
    $("#answer-10").on("show.bs.collapse", function() {$("#question-10 span").addClass("rotate-90");})
    $("#answer-10").on("hide.bs.collapse", function() {$("#question-10 span").removeClass("rotate-90");})
  </script>
{% endblock %}
