{% extends "base.html" %}

{% load i18n %}

{% block microdata %}itemscope itemtype="https://schema.org/FAQPage" {% endblock %}

{% block title %}{% trans "FAQ ⭐ Live Escape Game Lille ⭐ Just Escape" %}{% endblock %}
{% block description %}{% trans "FAQ" %}{% endblock %}

{% block og_title %}{% trans "FAQ ⭐ Live Escape Game Lille ⭐ Just Escape" %}{% endblock %}
{% block og_description %}{% trans "Live Escape Games are a fun game to play." %}{% endblock %}

{% block h1 %}{% trans "Frequently Asked Questions" %}{% endblock %}

{% block content %}

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <h2>{% trans "General" %}</h2>
          <div class="p-3 border-solid border-jaffa rounded mb-3" id="qa-01" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 id="question-01" class="text-jaffa pointer size-15 mb-0" data-toggle="collapse" data-target="#answer-01" aria-expanded="false" aria-controls="answer-01" itemprop="name">
              <span class="transition-03s fill-jaffa svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "What is a live escape game?" %}
            </h3>
            <div id="answer-01" class="collapse" aria-labelledby="question-01" data-parent="#qa-01" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                  {% trans "Escape games are a team game that consists of locking a group in a room full of mysteries. You have 60 minutes to solve puzzles with hidden clues." %}
                </p>
                <p>
                  {% trans "Getting out on time will require logic, communication and a good team spirit. These qualities must be demonstrated in stressful and adrenaline-filled situations." %}
                </p>
                <p class="mb-0">
                  {% trans "It is ideal to challenge yourself or simply for the pleasure of life-size immersion." %}
                </p>
              </div>
            </div>
          </div>

          <div class="p-3 border-solid border-jaffa rounded mb-3" id="qa-02" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 id="question-02" class="text-jaffa pointer size-15 mb-0" data-toggle="collapse" data-target="#answer-02" aria-expanded="false" aria-controls="answer-02" itemprop="name">
              <span class="transition-03s fill-jaffa svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Are we really locked up?" %}
            </h3>
            <div id="answer-02" class="collapse" aria-labelledby="question-02" data-parent="#qa-02" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                  {% trans "The principle of escape games is to complete all the riddles without leaving the room." %}
                </p>
                <p class="mb-0">
                  {% trans "In case of emergency or uneasiness, it is always possible to evacuate. A game master monitors you with cameras and microphones." %}
                </p>
              </div>
            </div>
          </div>

          <div class="p-3 border-solid border-jaffa rounded mb-3" id="qa-03" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 id="question-03" class="text-jaffa pointer size-15 mb-0" data-toggle="collapse" data-target="#answer-03" aria-expanded="false" aria-controls="answer-03" itemprop="name">
              <span class="transition-03s fill-jaffa svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Are your escape rooms english friendly?" %}
            </h3>
            <div id="answer-03" class="collapse" aria-labelledby="question-03" data-parent="#qa-03" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3 mb-0">
                  {% trans "Yes, our scenarios can be played in both French and English. Let us know your preference during the booking process." %}
                </p>
              </div>
            </div>
          </div>

          <div class="p-3 border-solid border-jaffa rounded mb-3" id="qa-04" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 id="question-04" class="text-jaffa pointer size-15 mb-0" data-toggle="collapse" data-target="#answer-04" aria-expanded="false" aria-controls="answer-04" itemprop="name">
              <span class="transition-03s fill-jaffa svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Can pregnant women and the elderly play?" %}
            </h3>
            <div id="answer-04" class="collapse" aria-labelledby="question-04" data-parent="#qa-04" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                  {% trans "Yes, <a href='/en/salles?show=d1#digimiam' class='text-underline'>our room <span class='font-italic'>The Digimiam</span></a> does not contain frightening elements nor physical exercises." %}
                </p>
                <p>
                  {% trans "It is possible to sit in our escape rooms if necessary." %}
                </p>
                <p class="mb-0">
                  {% trans "You can inform us at the time of booking so that we can welcome you in the best conditions possible." %}
                </p>
              </div>
            </div>
          </div>

          <div class="p-3 border-solid border-jaffa rounded mb-3" id="qa-05" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 id="question-05" class="text-jaffa pointer size-15 mb-0" data-toggle="collapse" data-target="#answer-05" aria-expanded="false" aria-controls="answer-05" itemprop="name">
              <span class="transition-03s fill-jaffa svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Can I participate despite my disability?" %}
            </h3>
            <div id="answer-05" class="collapse" aria-labelledby="question-05" data-parent="#qa-05" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                  {% trans "We do our best to keep <a href='/en/salles?show=d1#digimiam' class='text-underline font-italic'>The Digimiam</a> accessible to people with reduced mobility, hearing, sight or other disabilities. We recommend that you have someone in the group who does not have a particular disability for certain riddles." %}
                </p>
                <p class="mb-0">
                  {% trans "Feel free to let us know about your situation so that we can adapt the experience if possible." %}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <h2>{% trans "The booking process" %}</h2>
          <div class="p-3 border-solid border-jaffa rounded mb-3" id="qa-06" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 id="question-06" class="text-jaffa pointer size-15 mb-0" data-toggle="collapse" data-target="#answer-06" aria-expanded="false" aria-controls="answer-06" itemprop="name">
              <span class="transition-03s fill-jaffa svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Is there an age limit to play?" %}
            </h3>
            <div id="answer-06" class="collapse" aria-labelledby="question-06" data-parent="#qa-06" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                  {% trans "We advise you not to come with children under the age of 10. Completing a puzzle requires focus." %}
                </p>
                <p class="mb-0">
                  {% trans "Groups with children under the age of 15 are accepted with at least one adult in the team." %}
                </p>
              </div>
            </div>
          </div>

          <div class="p-3 border-solid border-jaffa rounded mb-3" id="qa-07" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 id="question-07" class="text-jaffa pointer size-15 mb-0" data-toggle="collapse" data-target="#answer-07" aria-expanded="false" aria-controls="answer-07" itemprop="name">
              <span class="transition-03s fill-jaffa svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "How can I pay?" %}
            </h3>
            <div id="answer-07" class="collapse" aria-labelledby="question-07" data-parent="#qa-07" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                  {% trans "We ask you to pay a deposit online via our secure payment module to finalize the <a href='/en/reserver' class='text-underline'>booking of your session</a>." %}
                </p>
                <p>
                  {% trans "If you do not like to pay on the internet, you can do it in our premises, but you will have to come in advance to validate the reservation." %}
                </p>
                <p class="mb-0">
                  {% trans "We ask you to pay a deposit of at least one place (non-refundable). You can also pay the full amount at the time of booking if it is more convenient for you." %}
                </p>
              </div>
            </div>
          </div>

          <div class="p-3 border-solid border-jaffa rounded mb-3" id="qa-08" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 id="question-08" class="text-jaffa pointer size-15 mb-0" data-toggle="collapse" data-target="#answer-08" aria-expanded="false" aria-controls="answer-08" itemprop="name">
              <span class="transition-03s fill-jaffa svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Do you have 2-player suited escape rooms?" %}
            </h3>
            <div id="answer-08" class="collapse" aria-labelledby="question-08" data-parent="#qa-08" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                  {% trans "Yes, Just Escape offers you a scenario specially designed for couples or duos, both in terms of gameplay and price." %}
                </p>
                <p>
                  {% trans "<a href='/en/salles?show=d1#digimiam' class='text-underline'>Our room <span class='font-italic'>The Digimiam</span></a> is adapted for two players. This room can accomodate up to 4 players." %}
                </p>
                <p class="mb-0">
                  {% trans "Other scenarios tolerate 2 players but do not recommend it." %}
                </p>
              </div>
            </div>
          </div>

          <div class="p-3 border-solid border-jaffa rounded mb-3" id="qa-09" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 id="question-09" class="text-jaffa pointer size-15 mb-0" data-toggle="collapse" data-target="#answer-09" aria-expanded="false" aria-controls="answer-09" itemprop="name">
              <span class="transition-03s fill-jaffa svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Can we change the size of the group?" %}
            </h3>
            <div id="answer-09" class="collapse" aria-labelledby="question-09" data-parent="#qa-09" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                  {% trans "Yes, if you did not pay the full amount when you booked, you may change your group until the game begins." %}
                </p>
                <p>
                  {% trans "If you have already paid for everything, you can replace a player who canceled at the last minute because the reservation is not nominative." %}
                </p>
                <p class="mb-0">
                  {% trans "However, if you have purchased 4 tickets and you come to 3, we will not refund you. We will offer you a gift certificate for one place." %}
                </p>
              </div>
            </div>
          </div>

          <div class="p-3 border-solid border-jaffa rounded mb-3" id="qa-10" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 id="question-10" class="text-jaffa pointer size-15 mb-0" data-toggle="collapse" data-target="#answer-10" aria-expanded="false" aria-controls="answer-10" itemprop="name">
              <span class="transition-03s fill-jaffa svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Do you sell drinks and snacks?" %}
            </h3>
            <div id="answer-10" class="collapse" aria-labelledby="question-10" data-parent="#qa-10" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                  {% trans "Yes, you can drink and snack after the game." %}
                </p>
                <p>
                {% trans "If you are a group of friends, our <a href='/en/tarifs' class='text-underline'>gourmet and aperitif menus</a> may interest you." %}
                </p>
                <p class="mb-0">
                  {% trans "If you are a company, we have <a href='/en/team-building' class='text-underline'>turnkey packages</a>." %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron softdark">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
          <h2>{% trans "The escape game session" %}</h2>
          <div class="p-3 border-solid border-jaffa rounded mb-3" id="qa-11" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 id="question-11" class="text-jaffa pointer size-15 mb-0" data-toggle="collapse" data-target="#answer-11" aria-expanded="false" aria-controls="answer-11" itemprop="name">
              <span class="transition-03s fill-jaffa svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "At what time should we arrive?" %}
            </h3>
            <div id="answer-11" class="collapse" aria-labelledby="question-11" data-parent="#qa-11" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                  {% trans "As a courtesy to other groups, we ask you to be punctual." %}
                </p>
                <p class="mb-0">
                  {% trans "In case of delay we reserve the right to penalize the duration of your escape game, or even to cancel it. No claims can be made." %}
                </p>
              </div>
            </div>
          </div>

          <div class="p-3 border-solid border-jaffa rounded mb-3" id="qa-12" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 id="question-12" class="text-jaffa pointer size-15 mb-0" data-toggle="collapse" data-target="#answer-12" aria-expanded="false" aria-controls="answer-12" itemprop="name">
              <span class="transition-03s fill-jaffa svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "How long a session really is?" %}
            </h3>
            <div id="answer-12" class="collapse" aria-labelledby="question-12" data-parent="#qa-12" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                  {% trans "A game lasts one hour (less if you have a skilled group)." %}
                </p>
                <p class="mb-0">
                  {% trans "Example of a reservation at 6:30 PM:" %}
                </p>
                <ul>
                  <li>{% trans "6:15 PM: arrival" %}</li>
                  <li>{% trans "6:30 PM: briefing" %}</li>
                  <li>{% trans "6:45 PM: start of the mission" %}</li>
                  <li>{% trans "7:45 PM: get out, debrief and have a toast" %}</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="p-3 border-solid border-jaffa rounded mb-3" id="qa-13" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 id="question-13" class="text-jaffa pointer size-15 mb-0" data-toggle="collapse" data-target="#answer-13" aria-expanded="false" aria-controls="answer-13" itemprop="name">
              <span class="transition-03s fill-jaffa svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Is it true that we are being filmed?" %}
            </h3>
            <div id="answer-13" class="collapse" aria-labelledby="question-13" data-parent="#qa-13" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3 mb-0">
                  {% trans "Cameras and microphones placed in rooms will follow you throughout the game. A game master will ensure your safety and progress. He can give you clues to help you." %}
                </p>
              </div>
            </div>
          </div>

          <div class="p-3 border-solid border-jaffa rounded mb-3" id="qa-14" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 id="question-14" class="text-jaffa pointer size-15 mb-0" data-toggle="collapse" data-target="#answer-14" aria-expanded="false" aria-controls="answer-14" itemprop="name">
              <span class="transition-03s fill-jaffa svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Where is located Just Escape?" %}
            </h3>
            <div id="answer-14" class="collapse" aria-labelledby="question-14" data-parent="#qa-14" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3 mb-0">
                  {% trans "We don't have any premises at the moment!" %}
                </p>
              </div>
            </div>
          </div>

          <div class="p-3 border-solid border-jaffa rounded mb-3" id="qa-15" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 id="question-15" class="text-jaffa pointer size-15 mb-0" data-toggle="collapse" data-target="#answer-15" aria-expanded="false" aria-controls="answer-15" itemprop="name">
              <span class="transition-03s fill-jaffa svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Do I have to prepare to come?" %}
            </h3>
            <div id="answer-15" class="collapse" aria-labelledby="question-15" data-parent="#qa-15" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3 mb-0">
                  {% trans "Come as you are. At Just Escape we are here to have fun! You don't need to prepare yourself or nor to have prior knowledge to play." %}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <h2>{% trans "Occasions (Team Building)" %}</h2>
          <div class="p-3 border-solid border-jaffa rounded mb-3" id="qa-16" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 id="question-16" class="text-jaffa pointer size-15 mb-0" data-toggle="collapse" data-target="#answer-16" aria-expanded="false" aria-controls="answer-16" itemprop="name">
              <span class="transition-03s fill-jaffa svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Can I organize a birthday, stag&nbsp;/ hen&nbsp;/ bachelor party?" %}
            </h3>
            <div id="answer-16" class="collapse" aria-labelledby="question-16" data-parent="#qa-16" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                  {% trans "We will be happy to welcome you for <a href='/en/tarifs' class='text-underline'>your bachelor parties and other celebrations with family and friends</a>." %}
                </p>
                <p>
                  {% trans "After the game, we will invite you to our reception room to have a good time." %}
                </p>
                <p class="mb-0">
                  {% trans "Chances are you're interested in our gourmet and aperitif formulas." %}
                </p>
              </div>
            </div>
          </div>

          <div class="p-3 border-solid border-jaffa rounded mb-3" id="qa-17" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 id="question-17" class="text-jaffa pointer size-15 mb-0" data-toggle="collapse" data-target="#answer-17" aria-expanded="false" aria-controls="answer-17" itemprop="name">
              <span class="transition-03s fill-jaffa svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Do you have special rates for companies?" %}
            </h3>
            <div id="answer-17" class="collapse" aria-labelledby="question-17" data-parent="#qa-17" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                  {% trans "Yes, we offer additional services for <a href='/en/team-building' class='text-underline'>your team building events</a>." %}
                </p>
                <p class="mb-0">
                  {% trans "Contact us if you wish to make available advantageous rates for your employees." %}
                </p>
              </div>
            </div>
          </div>

          <div class="p-3 border-solid border-jaffa rounded mb-3" id="qa-18" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 id="question-18" class="text-jaffa pointer size-15 mb-0" data-toggle="collapse" data-target="#answer-18" aria-expanded="false" aria-controls="answer-18" itemprop="name">
              <span class="transition-03s fill-jaffa svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "How many players can play?" %}
            </h3>
            <div id="answer-18" class="collapse" aria-labelledby="question-18" data-parent="#qa-18" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                  {% trans "<a href='/en/salles?show=d1#digimiam' class='text-underline'>Our escape room <span class='font-italic'>The Digimiam</span></a> can accommodate up to 4 players. As this room is duplicated, you can play up to 8 simultaneously." %}
                </p>
                <p>
                  {% trans "If there are more of you (16 or 24), one group will play while the others relax in our reception area." %}
                </p>
                <p class="mb-0">
                  {% trans "We invite companies to fill in <a href='/en/team-building#devis' class='text-underline'>our quote form</a>." %}
                </p>
              </div>
            </div>
          </div>

          <div class="p-3 border-solid border-jaffa rounded mb-3" id="qa-19" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 id="question-19" class="text-jaffa pointer size-15 mb-0" data-toggle="collapse" data-target="#answer-19" aria-expanded="false" aria-controls="answer-19" itemprop="name">
              <span class="transition-03s fill-jaffa svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Do you start sessions with a time offset for large groups?" %}
            </h3>
            <div id="answer-19" class="collapse" aria-labelledby="question-19" data-parent="#qa-19" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                  {% trans "Normally we start our sessions with a 15-minute offset" %}
                </p>
                <p class="mb-0">
                  {% trans "When we welcome groups who know each other, schedules are of course synchronized." %}
                </p>
              </div>
            </div>
          </div>

          <div class="p-3 border-solid border-jaffa rounded mb-3" id="qa-20" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <h3 id="question-20" class="text-jaffa pointer size-15 mb-0" data-toggle="collapse" data-target="#answer-20" aria-expanded="false" aria-controls="answer-20" itemprop="name">
              <span class="transition-03s fill-jaffa svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "How to use gift cards?" %}
            </h3>
            <div id="answer-20" class="collapse" aria-labelledby="question-20" data-parent="#qa-20" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                  {% trans "The <a href='/en/carte-cadeau' class='text-underline'>gift card</a> can be used during the <a href='/en/reserver' class='text-underline'>online booking</a>." %}
                </p>
                <p class="mb-0">
                  {% trans "A gift voucher is only valid for one year. Hurry up and come and play!" %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  <script>
    $("#answer-01").on("show.bs.collapse", function() {$("#question-01 span").addClass("rotate-90");})
    $("#answer-01").on("hide.bs.collapse", function() {$("#question-01 span").removeClass("rotate-90");})
    $("#answer-02").on("show.bs.collapse", function() {$("#question-02 span").addClass("rotate-90");})
    $("#answer-02").on("hide.bs.collapse", function() {$("#question-02 span").removeClass("rotate-90");})
    $("#answer-03").on("show.bs.collapse", function() {$("#question-03 span").addClass("rotate-90");})
    $("#answer-03").on("hide.bs.collapse", function() {$("#question-03 span").removeClass("rotate-90");})
    $("#answer-04").on("show.bs.collapse", function() {$("#question-04 span").addClass("rotate-90");})
    $("#answer-04").on("hide.bs.collapse", function() {$("#question-04 span").removeClass("rotate-90");})
    $("#answer-05").on("show.bs.collapse", function() {$("#question-05 span").addClass("rotate-90");})
    $("#answer-05").on("hide.bs.collapse", function() {$("#question-05 span").removeClass("rotate-90");})
    $("#answer-06").on("show.bs.collapse", function() {$("#question-06 span").addClass("rotate-90");})
    $("#answer-06").on("hide.bs.collapse", function() {$("#question-06 span").removeClass("rotate-90");})
    $("#answer-07").on("show.bs.collapse", function() {$("#question-07 span").addClass("rotate-90");})
    $("#answer-07").on("hide.bs.collapse", function() {$("#question-07 span").removeClass("rotate-90");})
    $("#answer-08").on("show.bs.collapse", function() {$("#question-08 span").addClass("rotate-90");})
    $("#answer-08").on("hide.bs.collapse", function() {$("#question-08 span").removeClass("rotate-90");})
    $("#answer-09").on("show.bs.collapse", function() {$("#question-09 span").addClass("rotate-90");})
    $("#answer-09").on("hide.bs.collapse", function() {$("#question-09 span").removeClass("rotate-90");})
    $("#answer-10").on("show.bs.collapse", function() {$("#question-10 span").addClass("rotate-90");})
    $("#answer-10").on("hide.bs.collapse", function() {$("#question-10 span").removeClass("rotate-90");})
    $("#answer-11").on("show.bs.collapse", function() {$("#question-11 span").addClass("rotate-90");})
    $("#answer-11").on("hide.bs.collapse", function() {$("#question-11 span").removeClass("rotate-90");})
    $("#answer-12").on("show.bs.collapse", function() {$("#question-12 span").addClass("rotate-90");})
    $("#answer-12").on("hide.bs.collapse", function() {$("#question-12 span").removeClass("rotate-90");})
    $("#answer-13").on("show.bs.collapse", function() {$("#question-13 span").addClass("rotate-90");})
    $("#answer-13").on("hide.bs.collapse", function() {$("#question-13 span").removeClass("rotate-90");})
    $("#answer-14").on("show.bs.collapse", function() {$("#question-14 span").addClass("rotate-90");})
    $("#answer-14").on("hide.bs.collapse", function() {$("#question-14 span").removeClass("rotate-90");})
    $("#answer-15").on("show.bs.collapse", function() {$("#question-15 span").addClass("rotate-90");})
    $("#answer-15").on("hide.bs.collapse", function() {$("#question-15 span").removeClass("rotate-90");})
    $("#answer-16").on("show.bs.collapse", function() {$("#question-16 span").addClass("rotate-90");})
    $("#answer-16").on("hide.bs.collapse", function() {$("#question-16 span").removeClass("rotate-90");})
    $("#answer-17").on("show.bs.collapse", function() {$("#question-17 span").addClass("rotate-90");})
    $("#answer-17").on("hide.bs.collapse", function() {$("#question-17 span").removeClass("rotate-90");})
    $("#answer-18").on("show.bs.collapse", function() {$("#question-18 span").addClass("rotate-90");})
    $("#answer-18").on("hide.bs.collapse", function() {$("#question-18 span").removeClass("rotate-90");})
    $("#answer-19").on("show.bs.collapse", function() {$("#question-19 span").addClass("rotate-90");})
    $("#answer-19").on("hide.bs.collapse", function() {$("#question-19 span").removeClass("rotate-90");})
    $("#answer-20").on("show.bs.collapse", function() {$("#question-20 span").addClass("rotate-90");})
    $("#answer-20").on("hide.bs.collapse", function() {$("#question-20 span").removeClass("rotate-90");})
  </script>

  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Foire Aux Questions",
                "item": "https://just-escape.fr/faq"
            }
        ]
    }
  </script>
{% endblock %}
