{% load i18n %}

<footer id="my-footer">
  <div class="jumbotron deepdark" style="padding-bottom: 80px">
    <div class="container">
      <div class="row justify-content-left justify-content-sm-center pl-3">
        <div class="col-12 col-md-4 mb-3">
          <div class="text-inter text-jaffa font-weight-bold">{% trans "Just Escape" %}</div>
          <div class="size-09 mb-3">{% trans "Just Escape est un centre d'escape game et de murder party à Lille. <span class='font-weight-bold'>Vivez des sensations fortes</span> avec vos amis ou votre famille ! Découvrez des activités ludiques de <span class='font-weight-bold'>teambuilding pour grands groupes</span>. Faites-vous accompagner dans vos <span class='font-weight-bold'>projets de gamification sur mesure et clefs en main</span>." %}</div>

          <div class="text-jaffa text-inter mb-2">{% trans "Suivez-nous sur les réseaux !" %}</div>

          <div class="d-flex flex-row">
            <span class="social-media-icon d-inline-block svg-32px mr-1 pointer mb-2 mb-md-0">
              <a href="https://www.facebook.com/JustEscapeLille">
                {% include "svg/facebook.svg" %}
              </a>
            </span>
            <span class="social-media-icon d-inline-block svg-32px mr-1 pointer mb-2 mb-md-0">
              <a href="https://www.instagram.com/justescape_lille">
                {% include "svg/instagram.svg" %}
              </a>
            </span>
            <span class="social-media-icon d-inline-block svg-32px mr-1 pointer mb-2 mb-md-0">
              <a href="https://twitter.com/JustEscapeLille">
                {% include "svg/twitter.svg" %}
              </a>
            </span>
            <span class="social-media-icon d-inline-block svg-32px mr-1 pointer mb-2 mb-md-0">
              <a href="https://www.linkedin.com/company/justescapelille">
                {% include "svg/linkedin.svg" %}
              </a>
            </span>
            <span class="social-media-icon d-inline-block svg-32px mr-1 pointer mb-2 mb-md-0">
              <a href="https://www.tripadvisor.fr/Attraction_Review-g187178-d23815821-Reviews-Just_Escape-Lille_Nord_Hauts_de_France.html">
                {% include "svg/tripadvisor.svg" %}
              </a>
            </span>
            <span class="social-media-icon d-inline-block svg-32px mr-1 pointer">
              <a href="https://www.yelp.fr/biz/just-escape-game-lille-lille">
                {% include "svg/yelp.svg" %}
              </a>
            </span>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="text-inter font-weight-bold">{% trans "Particuliers" %}</div>
          <ul class="ul-no-style pl-0">
            <li><a href="/blog/escape-game-evjf-original">{% trans "Escape game EVJF" %}</a></li>
            <li><a href="/blog/escape-game-famille-lille">{% trans "Escape game famille" %}</a></li>
            <li><a href="/blog/escape-game-enfant-lille">{% trans "Escape game enfant" %}</a></li>
            <li><a href="/blog/escape-game-anniversaire-lille">{% trans "Escape game anniversaire" %}</a></li>
            <li><a href="/blog/escape-game-2-joueurs-lille">{% trans "Escape game 2 joueurs" %}</a></li>
          </ul>

          <div class="text-inter font-weight-bold">{% trans "Entreprises" %}</div>
          <ul class="ul-no-style pl-0">
                  <li><a href='/{{ lang }}team-building'>{% trans "Teambuilding" %}</a></li>
                  <li><a href='/{{ lang }}team-building#devis'>{% trans "Devis" %}</a></li>
                  <li><a href='/{{ lang }}team-building'>{% trans "Séminaire" %}</a></li>
                  <li><a href='/{{ lang }}team-building'>{% trans "Journée d'étude" %}</a></li>
                  <li><a href='/{{ lang }}team-building'>{% trans "Afterwork" %}</a></li>
            <li><a href='/blog/salle-reunion-escape-game'>{% trans "Salle de réunion" %}</a></li>
            <li class="opacity-07">{% trans "Gamification" %}</li>
          </ul>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="text-inter font-weight-bold">{% trans "Découvrir" %}</div>
          <ul class="ul-no-style pl-0">
                  <li><a href="/{{ lang }}murder-party">{% trans "Murder party" %}</a></li>
                  <li><a href="/{{ lang }}murder-party/qu-est-ce-qu-une-murder-party">{% trans "Qu'est-ce qu'une murder party ?" %}</a></li>
            <li><a href="/blog">{% trans "Blog" %}</a></li>
            <li><a href="/blog/escape-game-lille-nouvelle-generation">{% trans "La création de Just Escape" %}</a></li>
          </ul>

          <div class="text-inter font-weight-bold">{% trans "Pratique" %}</div>
          <ul class="ul-no-style pl-0">
            <li><a href="/{{ lang }}faq">{% trans "FAQ" %}</a></li>
            <li><a href="/{{ lang }}contact">{% trans "Contact" %}</a></li>
            <li><a href="/{{ lang }}tarifs">{% trans "Pricing" %}</a></li>
            <li><a class="mr-3" href="/{{ lang }}cgv">{% trans "Terms" %}</a></li>
            <li><a href="/{{ lang }}cgu">{% trans "Conditions" %}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
