{% extends "base.html" %}

{% load i18n %}

{% block h1 %}{% trans "Offrir une carte cadeau" %}{% endblock %}

{% block content %}

  <div class="jumbotron">
    <div class="container px-0">
      <h2 class="text-jaffa">{% trans "Plaisir d&#39;offrir, joie de recevoir..." %}</h2>
      <div class="card">
        <div class="card-body"> 
          <script async src="https://bookeo.com/widget.js?a=42555C9M33616A1270396B&startmode=buyvoucher"></script>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/{{ lang }}"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "{% trans "Booking" %}",
                "item": "https://just-escape.fr/{{ lang }}reserver"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "{% trans "Gift voucher" %}",
                "item": "https://just-escape.fr/{{ lang }}carte-cadeau"
            }
        ]
    }
  </script>
{% endblock %}
