{% extends "base.html" %}

{% load i18n %}

{% block h1 %}{% trans "Offrir une carte cadeau" %}{% endblock %}

{% block content %}

  <div class="jumbotron">
    <div class="container px-0">
      <h2 class="text-jaffa">Plaisir d'offrir, joie de recevoir...</h2>
      <div class="card">
        <div class="card-body"> 
          <script type="text/javascript" src="https://bookeo.com/widget.js?a=42555C9M33616A1270396B&startmode=buyvoucher"></script>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
