{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Gift Voucher ⭐ Escape Game Lille ⭐ Just Escape" %}{% endblock %}
{% block description %}{% trans "Your friends and family will love you with this gift box 🎁😍" %}{% endblock %}

{% block og_title %}{% trans "Gift Voucher 🎁" %}{% endblock %}
{% block og_description %}{% trans "Your friends and family will love you with this gift box 😍" %}{% endblock %}

{% block h1 %}{% trans "Offer a gift card" %}{% endblock %}

{% block content %}

  <div class="jumbotron">
    <div class="container px-0">
      <div class="softdark mb-3 py-3 d-flex flex-row align-items-center justify-content-center text-center rounded height-400px">
        <p>{% trans "The gift voucher module is not opened yet" %}</p>
      </div>
    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/{{ lang }}"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "{% trans "Booking" %}",
                "item": "https://just-escape.fr/{{ lang }}reserver"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "{% trans "Gift voucher" %}",
                "item": "https://just-escape.fr/{{ lang }}carte-cadeau"
            }
        ]
    }
  </script>
{% endblock %}
