{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Just Escape – Escape Game Lille – From 2 Players" %}{% endblock %}
{% block description %}{% trans "New escape game 2.0 in Lille ⭐ Ideal for an outing with friends. Amazing scenery. Scenario Digimiam the futuristic estaminet 🤖" %}{% endblock %}

{% block og_title %}{% trans "Escape Game Lille – From 2 Players" %}{% endblock %}
{% block og_description %}{% trans "New escape game 2.0 in Lille ⚡ Ideal for an outing with friends 😃 Amazing scenery 👌 Scenario Digimiam the futuristic estaminet 🤖" %}{% endblock %}

{% block h1 %}{% trans "One of the most immersive live escape games in&nbsp;Lille" %}{% endblock %}

{% block content %}

  <section class="jumbotron">
    <div class="container">

      <span id="nos-salles" class="anchor">&nbsp;</span>
      <div class="row justify-content-center mb-4">
        <h2>{% trans "Escape rooms" %}</h2>
      </div>

      <div class="row d-flex justify-content-around flex-wrap">
        <article class="col-12 col-lg-6 mb-4">
          <div class="card bg-transparent border-0 h-100">
            <div class="card-body p-0">
              <div class="d-flex flex-column flex-sm-row">
                <div class="d-flex justify-content-center mb-3 mr-sm-2">
                  <div class="width-170px position-relative my-auto my-lg-0">
                    <div class="ribbon ribbon-top-left ribbon-small ribbon-mulberry-jaffa"><span>{% trans "New" %}</span></div>
                    <a href="/{{ lang }}salles?show=d1#digimiam">
                      {% include "svg/digimiam.svg" %}
                    </a>
                  </div>
                </div>

                <div>
                  <span id="digimiam" class="anchor">&nbsp;</span>
                  <h3 class="size-25 text-light-shadow mb-0"><a href="/{{ lang }}salles?show=d1#digimiam">{% trans "The Digimiam" %}</a></h3>
                  <p class="font-italic mb-1">{% trans "Futuristic restaurant" %}</p>
                  <p>{% trans "You are in <strong class='font-weight-normal'>Lille in 2080</strong> in a futuristic estaminet. The neurons of the Digimiam&#39;s cooking Artificial Intelligence have short-circuited! It&#39;s now up to you to infiltrate through a <strong class='font-weight-normal text-jaffa'>laser labyrinth</strong> and regain control of the <span class='text-jaffa'>robotic arms</span>! Will you be able to solve all the original enigmas in immersive sceneries?" %}</p>
                  <p class="size-09">{% trans "This is a <strong class='font-weight-normal'>2-player scenario</strong> that can welcome up to 8 players (the scenario is duplicated in two rooms)." %}</p>
                  <div class="row justify-content-end">
                    <div class="col-6 pr-1">
                      <a href="/{{ lang }}salles?show=d1#digimiam" class="btn btn-secondary btn-block">
                        <span>{% trans "The room" %}</span>
                      </a>
                    </div>
                    <div class="col-6 pl-1">
                      <a href="/{{ lang }}reserver" class="btn btn-primary btn-block">
                        <span>{% trans "Book now" %}</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-footer border-0 bg-transparent px-0 mt-2 mt-sm-0">
              <div class="d-flex flex-column flex-sm-row float-right">
                <div class="mb-2 mr-sm-4">
                  <div class="d-flex flex-row-reverse flex-sm-row">
                    <div class="position-relative">
                      <span class="d-inline-block svg-24px fill-jaffa align-top">{% include "svg/users.svg" %}</span>
                    </div>
                    <span class="mr-2 mr-sm-3 mr-lg-2"></span>
                    <span class="size-09 lh-24px">{% trans "2 - 4 players" %}</span>
                  </div>
                </div>
                <div class="mb-2 mr-sm-4">
                  <div class="d-flex flex-row-reverse flex-sm-row">
                    <span class="d-inline-block svg-24px fill-jaffa align-top">{% include "svg/chrono.svg" %}</span>
                    <span class="mr-2 mr-sm-3 mr-lg-2"></span>
                    <span class="size-09 lh-24px">{% trans "60 minutes" %}</span>
                  </div>
                </div>
                <div class="mb-2">
                  <div class="d-flex flex-row-reverse flex-sm-row">
                    <span class="d-inline-block svg-24px fill-jaffa align-top">{% include "svg/lang.svg" %}</span>
                    <span class="mr-2 mr-sm-3 mr-lg-2"></span>
                    <span class="size-09 lh-24px">{% trans "FR / EN" %}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="col-12 col-lg-6 mb-4">
          <div class="card bg-transparent border-0 h-100">
            <div class="card-body p-0">
              <div class="d-flex flex-column flex-sm-row">
                <div class="d-flex justify-content-center mb-3 mr-sm-2">
                  <div class="width-170px position-relative my-auto my-lg-0 opacity-05">
                    <div class="ribbon ribbon-top-left ribbon-small ribbon-mulberry-jaffa"><span>{% trans "[room] Soon" %}</span></div>
                    {% include "svg/puppet.svg" %}
                  </div>
                </div>

                <div>
                  <span id="room2" class="anchor">&nbsp;</span>
                  <h3 class="size-25 text-light-shadow opacity-05 mb-0">{% trans "Horror room" %} <span class="d-inline-block svg-36px fill-light align-baseline">{% include "svg/minus-16.svg" %}</span></h3>
                  <p class="font-italic mb-1 opacity-05">{% trans "Manor of the puppeteer" %}</p>
                  <p class="opacity-05">{% trans "We are going to open a new <strong class='font-weight-normal'>horror escape game in Lille</strong>. Immersed in the middle of a forest, you discover the mysterious manor of a puppeteer. Will you escape the macabre valse of the puppets? Are you ready to put your life and that of your team at risk? The adrenaline rises... Scenario to be played at dusk!" %}</p>
                  <p class="size-09 opacity-05">{% trans "The design of the puzzles is still in progress." %}</p>
                </div>
              </div>
            </div>

            <div class="card-footer border-0 bg-transparent px-0 mt-2 mt-sm-0">
              <div class="d-flex flex-column flex-sm-row float-right">
                <div class="mb-2 mr-sm-4">
                  <div class="d-flex flex-row-reverse opacity-05 flex-sm-row">
                    <span class="d-inline-block svg-24px fill-jaffa align-top">{% include "svg/users.svg" %}</span>
                    <span class="mr-2"></span>
                    <span class="size-09 lh-24px">{% trans "4 - 6 players" %}</span>
                  </div>
                </div>
                <div class="mb-2 mr-sm-4">
                  <div class="d-flex flex-row-reverse opacity-05 flex-sm-row">
                    <span class="d-inline-block svg-24px fill-jaffa align-top">{% include "svg/chrono.svg" %}</span>
                    <span class="mr-2"></span>
                    <span class="size-09 lh-24px">{% trans "60 minutes" %}</span>
                  </div>
                </div>
                <div class="mb-2">
                  <div class="d-flex flex-row-reverse opacity-05 flex-sm-row">
                    <span class="d-inline-block svg-24px fill-jaffa align-top">{% include "svg/lang.svg" %}</span>
                    <span class="mr-2"></span>
                    <span class="size-09 lh-24px">{% trans "FR / EN" %}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>

    </div>
  </section>

  <section class="jumbotron light">
    <div class="container">
      <div class="row mb-4">
        <div class="col-12 text-center">
          <span id="quid" class="anchor">&nbsp;</span>
          <h2>{% trans "The concept of Escapes Games" %}</h2>
        </div>
      </div>
      <div class="row">
        <article class="col-12 col-lg-4 mb-4">
          <h3 class="text-center">{% trans "Escape the Room" %}</h3>
          <p class="text-justify">{% trans "The principle of <strong>live escape games</strong> is to lock a group of players in a theme room. The challenge is to <strong class='font-weight-normal'>escape by solving all the puzzles</strong> in <span class='font-weight-bold'>less than one hour</span><span class='emoji'>&nbsp;⏳</span>. Fun and immersive, the <strong class='font-weight-normal'>live escape game</strong> is a hobby that combines <strong>team work</strong>, <span class='font-weight-bold'>communication</span> and <span class='font-weight-bold'>logic</span>. Escape games are an outing to do in <strong>family</strong>, between <strong>friends</strong> or in <strong>couple</strong><span class='emoji'>&nbsp;😃</span>." %}</p>
        </article>
        <article class="col-12 col-lg-4 mb-4">
          <h3 class="text-center">{% trans "The originality of Just Escape" %}</h3>
          <p class="text-justify">{% trans "Just Escape is a <strong>2.0 escape game</strong> in which you are offered original puzzles <span class='font-weight-bold'>without any lockers</span><span class='emoji'>&nbsp;🎯</span>. We also focus on the quality of immersion by creating film-like sceneries<span class='emoji'>&nbsp;🗿</span>. <span class='font-weight-bold'>Fully connected</span> puzzles affect the atmosphere of the rooms to offer you <span class='font-weight-bold'>the most realistic experience possible</span>. The first room can be played by <strong>two people at an affordable price</strong>." %}</p>
        </article>
        <article class="col-12 col-lg-4 mb-4">
          <h3 class="text-center">{% trans "Teambuilding, Bachelor party" %}</h3>
          <p class="text-justify">{% trans "We have attractive prices for events like <strong>birthdays</strong>, <strong>stag or hen parties</strong><span class='emoji'>&nbsp;🎁</span>. Just Escape also provides <strong class='font-weight-normal'>turnkey solutions</strong> for <strong>team building</strong> and workshop (<span class='font-weight-bold'>relaxation area</span>, <span class='font-weight-bold'>dinner aperitif</span>, etc). This is an excellent opportunity to strengthen <strong>team cohesion</strong><span class='emoji'>&nbsp;😄</span>. This activity is suitable for beginners as well as passionate thanks to adaptative clues." %}</p>
        </article>
      </div>
    </div>
  </section>

  <section class="jumbotron">
    <div class="container">
      <div class="row mb-4">
        <div class="col-12 text-center">
          <span id="promotions" class="anchor">&nbsp;</span>
          <h2>{% trans "What is the price of a scenario?" %}</h2>
        </div>
      </div>

      <div class="row d-flex justify-content-center flex-wrap mb-4">
        <div class="col-12 col-md-8 col-lg-3 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-body text-center mt-4 mb-5">
              <h3 class="size-5 card-title text-jaffa">{% trans "25€" %}</h3>
              <p class="card-text font-italic">
                {% trans "Per person" %}
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 col-lg-3 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-body text-center mt-4 mb-5">
              <h3 class="size-5 card-title text-jaffa">{% trans "-20&#37;" %}</h3>
              <p class="card-text font-italic">
                {% trans "Off-peak hours" %}
              </p>
              <p class="card-text font-italic small">
                {% trans "From monday to friday until 4PM (included)" %}
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 col-lg-3 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-body text-center mt-4 mb-5">
              <h3 class="size-5 card-title text-jaffa">{% trans "-30&#37;" %}</h3>
              <p class="card-text font-italic">
                {% trans "For <span class='font-weight-bold text-mulberry'>students</span>" %}
              </p>
              <p class="card-text font-italic small">
                {% trans "Online payments are made at full price. Refund of the difference on site upon presentation of the card." %}
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8 col-lg-3 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="ribbon ribbon-top-left ribbon-jaffa"><span>{% trans "Out of stock" %}</span></div>
            <div class="card-body text-center">
              <h3 class="size-35 card-title text-jaffa">{% trans "Special offer" %}</h3>
              <p class="card-text font-italic small">{% trans "The last special offer is out of stock" %}</p>
              <p class="card-text font-italic small">{% trans "We invite you to wait" %}</p>
              <a class="btn btn-secondary float-right border-0" href="#newsletter">
                <span>{% trans "Get notified" %}</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mb-2">
        <div class="col-6 col-md-4 col-lg-2 pr-1">
          <a href="/{{ lang }}tarifs#formules" class="btn btn-secondary btn-block">
            <span>{% trans "Formulas" %}</span>
          </a>
        </div>
        <div class="col-6 col-md-4 col-lg-2 pl-1">
          <a href="/{{ lang }}tarifs#formules" class="btn btn-primary btn-block">
            <span>{% trans "Book now" %}</span>
          </a>
        </div>
      </div>
      <div class="row justify-content-center">
        <a href="/{{ lang }}team-building#devis" class="size-09 text-underline text-hover-mulberry">{% trans "Company quote" %}</a>
      </div>
    </div>
  </section>

  <section class="jumbotron light">
    <div class="container">
      <div class="row mb-4">
        <div class="col-12 text-center">
          <span id="references" class="anchor">&nbsp;</span>
          <h2><span class="svg-24px fill-dark align-super mr-2">{% include "svg/quote-left.svg" %}</span>{% trans "The best live escape game in&nbsp;Lille –&nbsp;The designer&#39;s&nbsp;mom" %}</h2>
        </div>
      </div>

      <div class="row d-flex justify-content-left">
        <div class="col-12 col-md-10 col-lg-7 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="media flex-column flex-sm-row">
                <img alt="{% trans "Half shadowed close-up of a puzzling man wearing a hat and smoking a pipe" %}" class="align-self-center mr-3 mb-3 mb-sm-0 img-fluid rounded-circle" src="/static/img/énigmatique-actionnaire.png">
                <div class="media-body">
                  <p class="card-text"><span class="svg-16px fill-dark align-super mr-2">{% include "svg/quote-left.svg" %}</span>{% trans "A scenario <span class='font-weight-bold'>rich in emotions</span> that I highly recommend! If you book with them, talk to me ahead so I can get a cooptation bon[...]" %}</p>
                </div>
              </div>
            </div>
            <div class="card-footer text-right">
              {% trans "– An anonymous shareholder of Just Escape" %}
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-10 col-lg-7 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="media flex-column flex-sm-row">
                <span class="d-inline-block svg-75px align-self-center mr-3 mb-3 mb-sm-0 rounded-circle dark">
                  {% include "svg/marmitron-head.svg" %}
                </span>
                <div class="media-body">
                  <p class="card-text"><span class="svg-16px fill-dark align-super mr-2">{% include "svg/quote-left.svg" %}</span>{% trans "The Digimiam is undoubtedly the best estaminet in Lille! You&#39;ll find some amazing 2040-style waffles that will remind you of your childhood! Yummy! <span class='font-weight-bold'>You&#39;re gonna love it!</span>" %}</p>
                </div>
              </div>
            </div>
            <div class="card-footer text-right">
              {% trans "– Marmitron, Digimiam's Intelligence since 2053" %}
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-end">
        <div class="col-12 col-md-10 col-lg-7">
          <div class="card">
            <div class="card-body">
              <div class="media flex-column flex-sm-row">
                <img alt="{% trans "Scenery in the background and in the foreground a close-up of an enigmatic smiling woman wearing a large hat and big sunglasses" %}" class="align-self-center mr-3 mb-3 mb-sm-0 img-fluid rounded-circle" src="/static/img/mystérieuse-shirley.png">
                <div class="media-body">
                  <p class="card-text"><span class="svg-16px fill-dark align-super mr-2">{% include "svg/quote-left.svg" %}</span>{% trans "I loved this <span class='font-weight-bold'>investigation full of twists and turns</span>. It&#39;s obvious that the riddles were child&#39;s play to me! Ha ha ha... What? What took me so long? Uh well.... It&#39;s because... it&#39;s because I admired the scenery of the room!" %}</p>
                </div>
              </div>
            </div>
            <div class="card-footer text-right">
              {% trans "– Shirley, a supposed descendant of Sherlock Holmes" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="jumbotron">
    <div class="container">
      <div class="row mb-4">
        <div class="col-12 text-center">
          <h2>{% trans "How to get to the estate in&nbsp;Lille?" %}</h2>
        </div>
      </div>

      <div class="row">

        <div class="col-12 col-xl-4 mb-4">
          <div class="card deepdark border-jaffa">
            <div class="card-body">
              <div class="media">
                <span class="fill-jaffa d-inline-block svg-64px mr-3 my-auto">
                  {% include "svg/clock.svg" %}
                </span>
                <div>
                  <h3 class="text-jaffa size-15 mb-1">{% trans "Opening hours" %}</h3>
                  <p class="lh-12 mb-0">
                    {% trans "<span class='text-jaffa'>Monday-friday:</span> 2PM-11PM<br>" %}
                    {% trans "<span class='text-jaffa'>Saturday-sunday:</span> 10AM-11PM" %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-4 mb-4">
          <div class="card deepdark border-jaffa">
            <div class="card-body">
              <div class="media">
                <span class="fill-jaffa d-inline-block svg-64px mr-3 my-auto">
                  {% include "svg/address.svg" %}
                </span>
                <div>
                  <h3 class="text-jaffa size-15 mb-1">{% trans "Contact" %}</h3>
                  <p class="lh-12 mb-0">
                    {% trans "<span class='text-jaffa'>Tel:</span> +33 1 23 45 67 89<br>" %}
                    {% trans "<span class='text-jaffa'>Mail:</span> c<span hidden></span>ontac<span hidden></span>t@<span hidden></span>justes<span hidden></span>cape<span hidden></span>.fr" %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-4 mb-4">
          <div class="card deepdark border-jaffa">
            <div class="card-body">
              <div class="media">
                <div class="fill-jaffa d-inline-block svg-64px mr-3 my-auto">
                  {% include "svg/map-marker.svg" %}
                </div>
                <div>
                  <h3 class="text-jaffa size-15 mb-1">{% trans "Address" %}</h3>
                  <p class="lh-12 mb-0">
                    {% trans "26 rue d&#39;Arras<br>59 800 Lille, France" %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="jumbotron-fluid">
    <div id="map"></div>
  </div>

  <div class="jumbotron py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-9 col-md-7 col-lg-5 col-xl-4 ml-sm-5 ml-lg-0">
          <span id="newsletter" class="anchor">&nbsp;</span>
          <h2 class="text-jaffa size-15">{% trans "Newsletter" %}</h2>
          <form action="/{{ lang }}#newsletter" method="post">
            {% csrf_token %}

            {% if unexpected_error %}
              <p class="text-red">{% trans "An unexpected error happened. Please contact us directly." %}</p>
            {% elif form.errors %}
              {{ form.non_field_errors }}
              {{ form.email.errors }}
            {% endif %}

            {% if subscription_success %}
            <a id="newsletter-email-bar" tabindex="0" data-toggle="popover" data-placement="top" data-trigger="click focus" data-content="{% trans "Thank you and see you soon!" %}">
            {% endif %}
              <div class="input-group">
                <input type="text" spellcheck="false" class="form-control" placeholder="{% trans "marmitron@justescape.fr" %}" name="{{ form.email.name }}" required>
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="submit"><span>{% trans "Subscribe" %}</span></button>
                </div>
              </div>
            {% if subscription_success %}
            </a>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  <script>
    var isDisplayed = false;

    function initMap() {
        var coords = {lat: 50.6235063, lng: 3.0677556};

        var map = new google.maps.Map(document.getElementById('map'), {
            center: coords,
            zoom: 15,
            disableDefaultUI: true,
            fullscreenControl: true,
            zoomControl: true,
            scrollwheel: false
        });

        var marker = new google.maps.Marker({
            position: coords,
            title: "Just Escape"
        });

        marker.setMap(map);
    }

    function displayMap() {
        if (isDisplayed === false) {
            isDisplayed = true;
            var gmaps = document.createElement('script');
            gmaps.type = 'text/javascript';
            gmaps.src = '/static/js/gmaps.js';
            document.head.appendChild(gmaps);
        }
    }

    if (document.body.scrollTop > 60 || document.documentElement.scrollTop > 60) {
        displayMap();
    } else {
        window.addEventListener('scroll', displayMap);
    }
  </script>

  {% include "js/animate-room.js" %}

  <script>
    function emojiSupport() {
      var userAgent = window.navigator.userAgent,
          platform = window.navigator.platform,
          macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
          windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
          iosPlatforms = ['iPhone', 'iPad', 'iPod'],
          os = null;

      if (macosPlatforms.indexOf(platform) !== -1) {
          // Mac OS
          return true;
      } else if (iosPlatforms.indexOf(platform) !== -1) {
          // iOS
          return true;
      } else if (windowsPlatforms.indexOf(platform) !== -1) {
          // Windows
          return true;
      } else if (/Android/.test(userAgent)) {
          // Android
          return true;
      } else if (!os && /Linux/.test(platform)) {
          // Linux
          return false;
      }

      return false;
    }

    if (!emojiSupport()) {
        $('.emoji').addClass('d-none');
    }
  </script>

  {% if subscription_success %}
    <script>
      $('#newsletter-email-bar').popover('show');
      $('#newsletter-email-bar').popover('disable');
    </script>
  {% endif %}

  <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://just-escape.fr/",
        "logo": "https://just-escape.fr/static/img/logo-just-escape.png"
    }
  </script>
{% endblock %}
