{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Just Escape – Escape Game Lille – From 2 Players" %}{% endblock %}
{% block description %}{% trans "New escape game 2.0 in Lille ⭐ Ideal for an outing with friends. Amazing scenery. Scenario Digimiam the futuristic estaminet 🤖" %}{% endblock %}

{% block og_title %}{% trans "Escape Game Lille – From 2 Players" %}{% endblock %}
{% block og_description %}{% trans "New escape game 2.0 in Lille ⚡ Ideal for an outing with friends 😃 Amazing scenery 👌 Scenario Digimiam the futuristic estaminet 🤖" %}{% endblock %}

{% block pre_content %}{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

  <div class="jumbotron-fluid content-cover position-relative">
    <div>
      <picture>
        <source media="(max-width: 599.98px)" srcset="/static/img/escape-game-lille-nouvelle-generation-600x780.jpg" type="image/jpg">
        <source media="(max-width: 599.98px)" srcset="/static/img/escape-game-lille-nouvelle-generation-600x780.webp" type="image/webp">
        <source media="(min-width: 600px, max-width: 991.98px)" srcset="/static/img/escape-game-lille-nouvelle-generation-1820x1120.jpg" type="image/jpg">
        <source media="(min-width: 600px, max-width: 991.98px)" srcset="/static/img/escape-game-lille-nouvelle-generation-1820x1120.webp" type="image/webp">
        <source media="(min-width: 992px)" srcset="/static/img/escape-game-lille-nouvelle-generation-1700x900.jpg" type="image/jpg">
        <source media="(min-width: 992px)" srcset="/static/img/escape-game-lille-nouvelle-generation-1700x900.webp" type="image/webp">
        <img class="position-absolute" style="top: 0px; height: 100%; object-fit: cover; width: 100%" src="/static/img/escape-game-lille-nouvelle-generation-1820x1120.webp" alt="{% trans "Une joueuse immergée dans sa mission est exaltée" %}">
      </picture>
    </div>

    <div class="container h-100">
      <div class="row h-100">
        <div class="col d-flex flex-column justify-content-end" style="margin-bottom: 100px">
          <h1 class="text-light text-inter size-2 size-sm-35"><span class="font-weight-bold">{% trans "Escape Game Lille" %}</span><br><span style="font-weight: normal">{% trans "nouvelle génération" %}</span></h1>
          <div>
            <a href="/{{ lang }}reserver" class="btn btn-inter p-3 size-12"><span class="d-inline-block svg-24px fill-light align-text-bottom mr-3">{% include "svg/calendar-check.svg" %}</span>{% trans "Je réserve une séance" %}</a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="jumbotron gradient-mulberry-jaffa position-relative">
    <div class="gradient-mulberry-jaffa extension extension-top extension-corner-bottom-right"></div>
    <div class="gradient-mulberry-jaffa extension extension-bottom extension-corner-top-right"></div>

    <div class="container">
      <div class="row mb-4">
        <div class="col-12 text-center">
          <h2 class="text-inter font-weight-bold">{% trans "L'originalité de Just Escape" %}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-4 mb-4">
          <div class="card transparent border-light border-2px h-100">
            <div class="card-header">
              <h3 class="text-center text-inter font-weight-bold mb-0">{% trans "Des énigmes inédites" %}</h3>
            </div>
            <div class="card-body size-11 text-center lh-12 pt-0">
              {% trans "Résolvez des énigmes originales que vous découvrez pour la première fois. Retrouvez des mécanismes modernes dans des salles complètement insolites &quot;0&nbsp;cadenas&quot;." %}
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-4">
          <div class="card transparent border-light border-2px h-100">
            <div class="card-header">
              <h3 class="text-center text-inter font-weight-bold mb-0">{% trans "La difficulté s'adapte à votre groupe" %}</h3>
            </div>
            <div class="card-body size-11 text-center lh-12 pt-0">
              {% trans "Profitez d'un scénario amusant, que vous ayant un niveau débutant ou expert. Le game master peut adapter la difficulté pour rendre votre session la plus fun possible." %}
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-4">
          <div class="card transparent border-light border-2px h-100">
            <div class="card-header">
              <h3 class="text-center text-inter font-weight-bold mb-0">{% trans "Des décors immersifs" %}</h3>
            </div>
            <div class="card-body size-11 text-center lh-12 pt-0">
              {% trans "Vivez l'immersion au format grandeur nature. Des décors et une mise en scène digne de cinéma vous attendent. En prime, les énigmes 100&#37; connectées influent sur l'ambiance son et lumière&nbsp;!" %}
            </div>
          </div>
        </div>
        <div class="col-12 mb-4">
          <div class="card transparent border-light border-2px h-100">
            <div class="card-header">
              <h3 class="text-center text-inter font-weight-bold">{% trans "Qu'est-ce qu'un escape game&nbsp;?" %}</h3>
              <div class="text-center font-italic size-11">{% trans "Mais au fait..." %}</div>
            </div>
            <div class="card-body size-11 text-center pt-0">
              <p class="lh-12">
                {% trans "Le principe des jeux d'évasion grandeur nature est d'enfermer un groupe de joueurs dans une salle à thème. Le challenge est de résoudre des énigmes en équipe pour vous échapper en moins d'une heure." %}
              </p>
              <p class="lh-12">
                {% trans "Un maître du jeu veille sur vous pour s'assurer que tout se passe bien." %}
              </p>
              <p class="lh-12 mb-0">
                {% trans "Le jeu d'évasion est un loisir à découvrir entre amis, en famille avec les enfants ou en couple à partir de 2 joueurs." %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron light position-relative">
    <div class="light extension extension-bottom extension-corner-top-left"></div>

    <div class="container px-0" style="margin-top: 40px">
      <div class="row">
        <div class="col">
          <h2 class="text-inter font-weight-bold mb-0 text-center">{% trans "Les escape rooms" %}</h2>
          <div class="text-inter text-center size-12 mb-5">{% trans "Découvrez les scénarios" %}</div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
          <div class="card deepdark py-4 px-0 px-sm-4">
            <div class="card-header d-flex flex-column flex-md-row justify-content-between">
              <div class="d-flex flex-column mb-3 mb-md-0 justify-content-center">
                <div class="text-inter font-weight-bold lh-1 size-2">{% trans "Le Digimiam" %}</div>
                <div class="size-15 lh-1">{% trans "Estaminet cybernétique" %}</div>
              </div>
              <div class="d-flex flex-column align-items-end justify-content-center">
                <div>
                  <span class="lh-24px">{% trans "2 à 8 joueurs (sur 2 salles)" %}</span>
                  <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/users.svg" %}</span>
                </div>
                <div>
                  <span class="lh-24px">{% trans "60 minutes" %}</span>
                  <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/chrono.svg" %}</span>
                </div>
                <div>
                  <span class="lh-24px">{% trans "FR" %}</span>
                  <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/lang.svg" %}</span>
                </div>
              </div>
            </div>
            <div class="card-body">

              <div id="carousel-digimiam" class="carousel carousel-zoom-in slide mb-3" data-ride="carousel" data-interval="3000">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-digimiam" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-digimiam" data-slide-to="1"></li>
                  <li data-target="#carousel-digimiam" data-slide-to="2"></li>
                  <li data-target="#carousel-digimiam" data-slide-to="3"></li>
                  <li data-target="#carousel-digimiam" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <picture>
                      <source srcset="/static/img/escape-game-lille-joueurs.webp" type="image/webp">
                      <source srcset="/static/img/escape-game-lille-joueurs.jpg" type="image/jpg">
                      <img loading="lazy" class="img-fluid w-100" src="/static/img/escape-game-lille-joueurs.jpg" alt="{% trans "Une famille de trois joueurs viennent de débuter l'aventure" %}" >
                    </picture>
                  </div>
                  <div class="carousel-item">
                    <picture>
                      <source srcset="/static/img/escape-game-lille-enigme.webp" type="image/webp">
                      <source srcset="/static/img/escape-game-lille-enigme.jpg" type="image/jpg">
                      <img loading="lazy" class="img-fluid w-100" src="/static/img/escape-game-lille-enigme.jpg" alt="{% trans "Deux personnes en train de résoudre une énigme" %}" >
                    </picture>
                  </div>
                  <div class="carousel-item">
                    <picture>
                      <source srcset="/static/img/escape-game-lille-room.webp" type="image/webp">
                      <source srcset="/static/img/escape-game-lille-room.jpg" type="image/jpg">
                      <img loading="lazy" class="img-fluid w-100" src="/static/img/escape-game-lille-room.jpg" alt="{% trans "Vue de la salle avec ses décors immersifs" %}" >
                    </picture>
                  </div>
                  <div class="carousel-item">
                    <picture>
                      <source srcset="/static/img/escape-game-lille-manipulation.webp" type="image/webp">
                      <source srcset="/static/img/escape-game-lille-manipulation.jpg" type="image/jpg">
                      <img loading="lazy" class="img-fluid w-100" src="/static/img/escape-game-lille-manipulation.jpg" alt="{% trans "Un agent en pleine fouille et réflexion" %}" >
                    </picture>
                  </div>
                  <div class="carousel-item">
                    <picture>
                      <source srcset="/static/img/escape-game-lille-laser.webp" type="image/webp">
                      <source srcset="/static/img/escape-game-lille-laser.jpg" type="image/jpg">
                      <img loading="lazy" class="img-fluid w-100" src="/static/img/escape-game-lille-laser.jpg" alt="{% trans "Un laser met en difficulté l'équipe" %}" >
                    </picture>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-digimiam" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">{% trans "Previous" %}</span>
                </a>
                <a class="carousel-control-next" href="#carousel-digimiam" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">{% trans "Next" %}</span>
                </a>
              </div>

              <p class="size-11 mb-0">{% trans "En 2080, le dernier estaminet de Lille vient de fermer. Les neurones de l'intelligence culinaire ont court-circuité. Mme Poivre compte sur vous pour restaurer le réfectoire. Parviendrez-vous à sauver l'un des derniers lieux emblématique de la culture flamande&nbsp;?" %}</p>
            </div>
            <div class="card-footer d-flex flex-column flex-md-row justify-content-between">
              <div class="d-flex flex-column align-items-center mb-4 mb-md-0">
                <div class="lh-1 size-09">{% trans "À partir de" %}</div>
                <div class="text-inter font-weight-bold lh-1 size-2">{% trans "20€" %}</div>
                <div class="lh-1 size-09">{% trans "par joueur" %}</div>
              </div>

              <a href="/{{ lang }}reserver" class="btn btn-inter p-3 size-12 d-flex flex-column justify-content-center"><span><span class="d-inline-block svg-24px fill-light align-text-bottom mr-3">{% include "svg/calendar-check.svg" %}</span>{% trans "Je réserve une séance" %}</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron position-relative">
    <div class="dark extension extension-bottom extension-corner-top-right"></div>

    <div class="container" style="margin-top: 40px">

      <div class="row mb-5">
        <div class="col-12 text-center">
          <h2 class="text-inter font-weight-bold">{% trans "Les avis des joueurs" %}</h2>
        </div>
      </div>

      <div class="row d-flex">
        <div class="col">
          <div class="card light">
            <div class="card-body">
              <div class="elfsight-app-62d569e2-3755-49d6-a607-504522ab075f"></div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="jumbotron gradient-mulberry-jaffa position-relative">
    <div class="gradient-mulberry-jaffa extension extension-bottom extension-corner-top-left"></div>

    <div class="container" style="margin-top: 40px">

      <div class="row">
        <div class="col">
          <h2 class="text-inter font-weight-bold text-center mb-0">{% trans "Combien coûte un escape game&nbsp;?" %}</h2>
          <div class="text-inter text-center mb-5 size-12">{% trans "Nos tarifs" %}</div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 col-xl-4 mb-4">
          <div class="card transparent border-light border-2px h-100">
            <div class="card-body d-flex flex-column">
              <div class="text-center mb-4">
                <span class="text-inter font-weight-bold lh-1 size-15">{% trans "20€" %}</span>
                <span class="text-inter lh-1 size-09">{% trans " par joueur en heure creuse," %}</span>
                <span class="text-inter font-weight-bold lh-1 size-15">{% trans "25€" %}</span>
                <span class="text-inter lh-1 size-09">{% trans " en heure pleine" %}</span>
              </div>
              <p class="text-center lh-12 size-11">
                {% trans "Les escape games sont une sortie à faire en famille avec les enfants, entre amis ou en couple." %}
              </p>
              <p class="text-center lh-12 size-11">
                {% trans "Le scénario peut être joué à deux personnes à prix abordable." %}
              </p>
              <p class="text-center lh-12 size-11 mb-0">
                {% trans "Vous organisez un événement comme un anniversaire, un EVG ou un EVJF&nbsp;? Après la partie, vous pourrez rester gratuitement dans les canapés de la salle de réception&nbsp;!" %}
              </p>
            </div>
            <div class="card-footer transparent text-center" style="border-width: 0px">
              <picture>
                <source srcset="/static/img/salle-de-jeux-lille.jpg" type="image/jpg">
                <source srcset="/static/img/salle-de-jeux-lille.webp" type="image/webp">
                <img loading="lazy" src="/static/img/salle-de-jeux-lille.webp" class="img-fluid mb-3" alt="{% trans "Salle avec des jeux de société, des tables et des canapés" %}">
              </picture>
              <a href="/{{ lang }}/reserver" class="text-inter btn btn-light size-1">{% trans "Je regarde les horaires" %}</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 col-xl-4 mb-4">
          <div class="card transparent border-light border-2px h-100">
            <div class="card-body">
              <h3 class="text-inter font-weight-bold lh-1 mb-2 text-center">{% trans "Carte cadeau" %}</h3>
              <p class="text-inter lh-1 size-1 text-center">{% trans "Vous ne savez jamais quoi offrir&nbsp;?" %}</p>
              <p class="text-center lh-12 size-11">{% trans "Que diriez-vous d'un bon cadeau original et unique en son genre&nbsp;?" %}</p>
              <p class="text-center lh-12 size-11">{% trans "Vos proches vont adorer passer noël ou leur anniversaire avec vous&nbsp;!" %}</p>
              <p class="text-center lh-12 size-11 mb-0">{% trans "Vous organisez une tombola ou une cagnotte ? Demandez à en recevoir pour servir de lot." %}</p>
            </div>
            <div class="card-footer transparent text-center" style="border-width: 0px">
              <video autoplay muted loop class="mb-3" title="Une carte cadeau pour un escape game sur Lille">
                <source src="/static/vid/carte-cadeau-2-joueurs-lille.webm" type="video/webm"/>
                <p>{% trans "Videos are not supported by this browser" %}</p>
              </video>
              <a href="/{{ lang }}/carte-cadeau" class="text-inter btn btn-light size-1">{% trans "J'en veux une" %}</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-xl-4 mb-4">
          <div class="card transparent border-light border-2px h-100">
            <div class="card-body">
              <h3 class="text-inter font-weight-bold lh-1 mb-2 text-center">{% trans "Teambuilding" %}</h3>
                <p class="text-inter lh-1 size-1 text-center">{% trans "Formation, séminaire, atelier" %}</p>
                <p class="text-center lh-12 size-11">{% trans "Le live escape game combine le travail d'équipe, la communication et la logique. C'est une excellente occasion de renforcer la cohésion d'un groupe." %}</p>
                <p class="text-center lh-12 size-11">{% trans "Découvrez des solutions clé en main pour team building : salle de séminaire, apéritif dinatoire, etc." %}</p>
                <p class="text-center lh-12 size-11 mb-0">{% trans "Choisissez la formule qu'il vous faut, que vous soyez 2 personnes ou jusqu'à 46 collaborateurs." %}</p>
              </div>
              <div class="card-footer transparent text-center" style="border-width: 0px">
                <picture>
                  <source srcset="/static/img/team-building-escape-game-lille.webp" type="image/webp">
                  <source srcset="/static/img/team-building-escape-game-lille.jpg" type="image/jpg">
                  <img loading="lazy" src="/static/img/team-building-escape-game-lille.webp" class="img-fluid mb-3" alt="{% trans "Team building pour entreprise dans un escape game" %}">
                </picture>
                <a href="/{{ lang }}/team-building" class="text-inter btn btn-light size-1">{% trans "En savoir plus" %}</a>
              </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="jumbotron">
    <div class="container" style="margin-top: 40px">
      <div class="row mb-4">
        <div class="col-12 text-center">
          <h2 class="text-inter font-weight-bold">{% trans "Comment rejoindre le centre à&nbsp;Lille&nbsp;?" %}</h2>
        </div>
      </div>

      <div class="row">

        <div class="col-12 col-xl-4 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-body">
              <div class="media">
                <span class="fill-jaffa d-inline-block svg-64px mr-3 my-auto">
                  {% include "svg/clock.svg" %}
                </span>
                <div>
                  <div class="text-jaffa text-inter font-weight-bold size-12 mb-1">{% trans "Horaires d'ouverture" %}</div>
                  <p class="lh-12 mb-0">
                    {% trans "<span class='text-jaffa'>Monday-sunday:</span> 10AM-11PM" %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-4 mb-4">
          <div class="card deepdark border-jaffa">
            <div class="card-body">
              <div class="media">
                <span class="fill-jaffa d-inline-block svg-64px mr-3 my-auto">
                  {% include "svg/address.svg" %}
                </span>
                <div>
                  <div class="text-jaffa text-inter font-weight-bold mb-1">{% trans "Contact" %}</div>
                  <p class="lh-12 mb-0">
                    {% trans "<span class='text-jaffa'>Tel:</span> <a href='tel:+33789053790' class='text-hover-mulberry text-underline'>+33 7 89 05 37 90</a><br>" %}
                    {% trans "<span class='text-jaffa'>Mail:</span> c<span hidden></span>ontac<span hidden></span>t@<span hidden></span>justes<span hidden></span>cape<span hidden></span>.fr" %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-xl-4 mb-4">
          <div class="card deepdark border-jaffa">
            <div class="card-body">
              <div class="media">
                <div class="fill-jaffa d-inline-block svg-64px mr-3 my-auto">
                  {% include "svg/map-marker.svg" %}
                </div>
                <div>
                  <div class="text-jaffa text-inter font-weight-bold size-12 mb-1">{% trans "Address" %}</div>
                  <p class="lh-12 mb-0">
                    <a href="https://g.page/just-escape-lille?share" class="text-hover-mulberry text-underline">{% trans "26 rue d&#39;Arras<br>59000 Lille, France" %}</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="jumbotron-fluid">
    <div id="map"></div>
  </div>

  <div class="jumbotron py-5">
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-center px-0">
          <a href="/{{ lang }}reserver" class="btn btn-inter p-3 size-12"><span class="d-inline-block svg-24px fill-light align-text-bottom mr-3">{% include "svg/calendar-check.svg" %}</span>{% trans "Je réserve une séance" %}</a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  <script>
    var isDisplayed = false;

    function initMap() {
        var coords = {lat: 50.6235063, lng: 3.0677556};

        var map = new google.maps.Map(document.getElementById('map'), {
            center: coords,
            zoom: 15,
            disableDefaultUI: true,
            fullscreenControl: true,
            zoomControl: true,
            scrollwheel: false
        });

        var marker = new google.maps.Marker({
            position: coords,
            title: "Just Escape"
        });

        marker.setMap(map);
    }

    function displayMap() {
        if (isDisplayed === false) {
            isDisplayed = true;
            var gmaps = document.createElement('script');
            gmaps.type = 'text/javascript';
            gmaps.src = '/static/js/gmaps.js';
            document.head.appendChild(gmaps);
        }
    }

    if (document.body.scrollTop > 60 || document.documentElement.scrollTop > 60) {
        displayMap();
    } else {
        window.addEventListener('scroll', displayMap);
    }
  </script>

  <script>
    function emojiSupport() {
      var userAgent = window.navigator.userAgent,
          platform = window.navigator.platform,
          macosPlatforms = ['Macintosh', 'MacIntel', 'MacPPC', 'Mac68K'],
          windowsPlatforms = ['Win32', 'Win64', 'Windows', 'WinCE'],
          iosPlatforms = ['iPhone', 'iPad', 'iPod'],
          os = null;

      if (macosPlatforms.indexOf(platform) !== -1) {
          // Mac OS
          return true;
      } else if (iosPlatforms.indexOf(platform) !== -1) {
          // iOS
          return true;
      } else if (windowsPlatforms.indexOf(platform) !== -1) {
          // Windows
          return true;
      } else if (/Android/.test(userAgent)) {
          // Android
          return true;
      } else if (!os && /Linux/.test(platform)) {
          // Linux
          return false;
      }

      return false;
    }

    if (!emojiSupport()) {
        $('.emoji').addClass('d-none');
    }
  </script>

  {% if subscription_success %}
    <script>
      $('#newsletter-email-bar').popover('show');
      $('#newsletter-email-bar').popover('disable');
    </script>
  {% endif %}

  <script>
    async function loadFile() {
      await new Promise((resolve, reject) => {
        const scriptTag = document.createElement('script');
        scriptTag.type = 'text/javascript';
        scriptTag.src = "https://apps.elfsight.com/p/platform.js";
        scriptTag.onload = () => resolve();
        document.body.appendChild(scriptTag);
      })
    }
    setTimeout(loadFile, 1500);
  </script>

  <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Organization",
        "url": "https://just-escape.fr/",
        "logo": "https://just-escape.fr/static/img/logo-just-escape.png"
    }
  </script>
{% endblock %}
