{% extends "base.html" %}

{% block title %}Killer Party Lille – Just Escape{% endblock %}
{% block description %}Découvrez la killer party : une murder party orientée action. Vous avez déjà joué à Among Us ? Découvrez son adaptation grandeur nature. Amusez-vous grâce à cette activité complètement insolite !{% endblock %}

{% block og_title %}Killer Party Lille – Just Escape{% endblock %}
{% block og_description %}Découvrez la killer party : une murder party orientée action. Vous connaissez Among Us ? Découvrez son adaptation grandeur nature. Amusez-vous grâce à cette activité complètement insolite !{% endblock %}

{% block h1 %}Une murder party originale à Lille{% endblock %}

{% block content %}

<section>
  <div class="jumbotron py-5 mb-4">
    <div class="container px-0">
      <div class="row">
        <div class="col">
          <div>
            <ol class="breadcrumb softdark py-2">
              <li class="breadcrumb-item"><a href="/" class="fill-jaffa svg-16px">{% include "svg/home.svg" %}</a></li>
              <li class="breadcrumb-item"><a href="/murder-party" class="text-jaffa">Murder Party</a></li>
              <li class="breadcrumb-item active" aria-current="page">La Killer Party</li>
            </ol>
          </div>

          <div class="d-flex flex-column flex-md-row justify-content-between mb-2">
            <div class="d-flex flex-column mb-0">
              <h2 class="text-jaffa mb-0">La killer party</h2>
              <div class="text-inter font-weight-bold size-12 mb-2">Among Us grandeur nature</div>
            </div>
            <div class="d-flex flex-column align-items-end">
              <div>
                <span class="lh-24px">6 à 20 joueurs</span>
                <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/users.svg" %}</span>
              </div>
              <div>
                <span class="lh-24px">90 minutes</span>
                <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/chrono.svg" %}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <div class="position-relative">
            <picture>
              <source srcset="/static/img/killer-party.png" type="image/png">
              <img loading="lazy" class="img-fluid w-100 mb-3" src="/static/img/killer-party.png" alt="Des personnages sont dans une intrigue de killer party">
            </picture>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 mb-4">
          <div class="card transparent border-light border-2px h-100">
            <div class="card-header">
              <h3 class="text-center text-inter font-weight-bold mb-0">Un jeu de rôle ludique et passionnant</h3>
            </div>
            <div class="card-body size-11 text-center lh-12 pt-0">
              <div class="mb-2">Venez découvrir une murder party originale et unique en son genre : une soirée futuriste dans laquelle tueurs et chercheurs se trouvent dans la même pièce.</div>
              <div>Deux équipes seront plongées dans l'univers de la Cyber party, une cherche à éliminer l'autre qui cherche à résoudre des énigmes tout en essayant de se défendre face aux attaques adverses.</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 mb-4">
          <div class="card transparent border-light border-2px h-100">
            <div class="card-body size-11 text-center d-flex flex-column justify-content-center lh-12">
              <div>Si vous cherchez une activité originale pour l'organisation d'un EVG/EVJF, anniversaire ou une soirée amusante et ludique entre amis, la cyber party répondra à toutes vos envies.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p style="font-size: 28px; font-style: italic" class="text-right mb-4">Le futur réserve bien des surprises</p>
          <hr style="width: 25%" class="border-jaffa">
          <p class="my-4">Notre cyber party s'inspire du jeu à succès among us. Une partie dure 1 heure et demi et est constituée de 3 manches. Des animateurs seront présents pour vous guider durant la durée du jeu.</p>
          <hr style="width: 25%" class="border-jaffa">
          <p class="my-4">Pour s'inscrire, chaque joueur doit remplir le formulaire d'inscription individuellement. Des rafraichissements seront disponibles sur place.</p>
          <!-- <p class="text-center"><a href="/murder-party/qu-est-ce-qu-une-murder-party" class="btn btn-inter p-3">Qu'est-ce qu'une murder party ?</a></p> -->
        </div>
      </div>
    </div>
  </div>
  
  <div class="jumbotron softdark position-relative py-5">
    <div class="softdark extension extension-top extension-corner-bottom-right"></div>
    <div class="softdark extension extension-bottom extension-corner-top-right"></div>
    <div class="container px-0">
      <div class="row">
        <div class="col">
          <span id="inscription" class="anchor">&nbsp;</span>
          <h2 class="text-jaffa">Je souhaite m'inscrire à cette killer party</h2>
          <p>Veuillez nous contacter.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="jumbotron light position-relative py-5">
    <div class="container px-0 pt-4">
      <div class="row mb-3">
        <div class="col text-center">
          <h2 class="font-weight-bold">
            Découvrez aussi une murder party orientée histoire
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="card deepdark position-relative px-0">
            <div class="card-header d-flex flex-column flex-lg-row justify-content-between">
              <div class="d-flex flex-column mb-3 mb-md-0 justify-content-top">
                <div class="text-inter font-weight-bold lh-1 text-jaffa size-15">La murder classique</div>
                <div class="lh-1">Cluedo géant</div>
              </div>
              <div class="d-flex flex-column align-items-end justify-content-center">
                <div class="lh-16px">
                  <span class="size-09 lh-16px">10 à 25 joueurs</span>
                  <span class="d-inline-block lh-16px svg-16px fill-light align-top">{% include "svg/users.svg" %}</span>
                </div>
                <div class="lh-16px">
                  <span class="size-09 lh-16px">3 heures</span>
                  <span class="d-inline-block lh-16px svg-16px fill-light align-top">{% include "svg/chrono.svg" %}</span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <picture>
                <source srcset="/static/img/murder-party-375.png" type="image/jpg">
                <img loading="lazy" class="img-fluid mx-auto d-block mb-2" src="/static/img/murder-party-375.png" alt="Logo de la murder party">
              </picture>
<!--              <p class="size-09 mb-0">En 2080, le dernier estaminet de Lille vient de fermer. Les neurones de l'intelligence culinaire ont court-circuité. Mme Poivre compte sur vous pour restaurer le réfectoire. Parviendrez-vous à sauver l'un des derniers lieux emblématique de la culture flamande ?
</p>-->
            </div>
            <div class="card-footer d-flex flex-column flex-md-row justify-content-between">
              <div class="d-flex flex-row align-items-center mb-4 mb-md-0">
                <div class="lh-1 size-09 mr-1">À partir de</div><div class="text-inter font-weight-bold lh-1 size-15">25€</div>
              </div>

              <a href="/murder-party-redrock-saloon" class="btn btn-inter">Je veux en savoir plus</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Murder Party",
                "item": "https://just-escape.fr/murder-party"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "Killer Party",
                "item": "https://just-escape.fr/killer-party"
            }
        ]
    }
  </script>
{% endblock %}
