{% extends "base.html" %}

{% block title %}Murder Party Lille – Just Escape{% endblock %}
{% block description %}Découvrez le RedRock saloon, une murder party dans un village western. Amusez-vous grâce à cette activité complètement insolite !{% endblock %}

{% block og_title %}Murder Party Lille – Just Escape{% endblock %}
{% block og_description %}Découvrez le RedRock saloon, une murder party dans un village western. Amusez-vous grâce à cette activité complètement insolite !{% endblock %}

{% block extra_css %}
  <style rel="stylesheet">{% include "css/fa-solid-5.8.1.min.css" %}</style>
  <style rel="stylesheet">{% include "css/fa-regular-5.8.1.min.css" %}</style>
  <style rel="stylesheet">{% include "css/fontawesome-5.8.1.min.css" %}</style>
  <style rel="stylesheet">{% include "css/tempusdominus-bootstrap-4-5.1.2.min.css" %}</style>
  <style rel="stylesheet">{% include "css/tempusdominus-custom.css" %}</style>
{% endblock %}

{% block h1 %}Scénario de Murder Party classique à Lille{% endblock %}

{% block content %}

<section>
  <div class="jumbotron py-5 mb-4">
    <div class="container px-0">
      <div class="row">
        <div class="col">
          <div>
            <ol class="breadcrumb softdark py-2">
              <li class="breadcrumb-item"><a href="/" class="fill-jaffa svg-16px">{% include "svg/home.svg" %}</a></li>
              <li class="breadcrumb-item"><a href="/murder-party" class="text-jaffa">Murder Party</a></li>
              <li class="breadcrumb-item active" aria-current="page">La Murder Party</li>
            </ol>
          </div>

          <div class="d-flex flex-column flex-md-row justify-content-between mb-2">
            <div class="d-flex flex-column mb-0">
              <h2 class="text-jaffa mb-0">La Murder Party</h2>
              <div class="text-inter font-weight-bold size-12 mb-2">Murder party classique</div>
            </div>
            <div class="d-flex flex-column align-items-end">
              <div>
                <span class="lh-24px">10 à 25 joueurs</span>
                <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/users.svg" %}</span>
              </div>
              <div>
                <span class="lh-24px">3 heures</span>
                <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/chrono.svg" %}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <div class="position-relative">
            <picture>
              <source srcset="/static/img/murder-party.webp" type="image/webp">
              <source srcset="/static/img/murder-party.png" type="image/png">
              <img class="img-fluid w-100 mb-3" src="/static/img/murder-party.webp" alt="Des personnages sont dans une intrigue de murder party">
            </picture>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 mb-4">
          <div class="card transparent border-light border-2px h-100">
            <div class="card-header">
              <h3 class="text-center text-inter font-weight-bold mb-0">Vous cherchez une activité immersive et originale ?</h3>
            </div>
            <div class="card-body size-11 text-center lh-12 pt-0">
              <div>Nous vous proposons une expérience unique en son genre : une soirée western immersive où chaque invité incarnera un personnage charismatique de l'époque dans une mystérieuse enquête meurtrière.</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 mb-4">
          <div class="card transparent border-light border-2px h-100">
            <div class="card-body size-11 text-center d-flex flex-column justify-content-center lh-12">
              <div class="mb-2">Pouvant aller de 10 à 25 joueurs, la murder party est une activité idéale pour organiser un anniversaire, EVJF et EVG mais aussi une soirée inoubliable entre amis.</div>
              <div class="font-weight-bold">Découvrez notre CLUEDO grandeur nature.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p style="font-size: 28px; font-style: italic" class="text-right mb-4">Le RedRock Saloon ouvre ses portes !</p>
          <hr style="width: 25%" class="border-jaffa">
          <p class="my-4">Cette murder party dure environ 3 heures. Nous mettons à votre disposition tout le matériel nécessaire : costumes, accessoires, scénario détaillé et animateurs professionnels pour vous guider.</p>
          <hr style="width: 25%" class="border-jaffa">
          <p class="my-4">Chacun des joueurs doit s'inscrire individuellement et recevra ensuite plus de détails par mail. Des rafraichissements seront disponibles sur place.</p>
          <p class="text-center"><a href="/murder-party/qu-est-ce-qu-une-murder-party" class="btn btn-inter p-3">Qu'est-ce qu'une murder party ?</a></p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="jumbotron softdark position-relative py-5">
    <div class="softdark extension extension-top extension-corner-bottom-right"></div>
    <div class="softdark extension extension-bottom extension-corner-top-right"></div>
    <div class="container px-0">
      <div class="row">
        <div class="col">
          <span id="devis" class="anchor">&nbsp;</span>
          <span id="inscription" class="anchor">&nbsp;</span>
          <h2 class="text-jaffa">Je m'inscris à cette murder party</h2>
  
          {% include "component/quote_form.html" with action="/murder-party-redrock-saloon#devis" form=form unexpected_error=unexpected_error salesquote_success=salesquote_success lang=lang %}
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="jumbotron light position-relative py-5">
    <div class="container px-0 pt-4 mb-5">
      <div class="row mb-3">
        <div class="col text-center">
          <h2 class="font-weight-bold">
            Découvrez aussi une murder party orientée action
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="card deepdark position-relative px-0">
            <div class="card-header d-flex flex-column flex-lg-row justify-content-between">
              <div class="d-flex flex-column mb-3 mb-md-0 justify-content-top">
                <div class="text-inter font-weight-bold lh-1 text-jaffa size-15">La Killer party</div>
                <div class="lh-1">Among Us dans un escape game</div>
              </div>
              <div class="d-flex flex-column align-items-end justify-content-center">
                <div class="lh-16px">
                  <span class="size-09 lh-16px">6 à 20 joueurs</span>
                  <span class="d-inline-block lh-16px svg-16px fill-light align-top">{% include "svg/users.svg" %}</span>
                </div>
                <div class="lh-16px">
                  <span class="size-09 lh-16px">90 minutes</span>
                  <span class="d-inline-block lh-16px svg-16px fill-light align-top">{% include "svg/chrono.svg" %}</span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <picture>
                <source srcset="/static/img/killer-party-375.webp" type="image/webp">
                <source srcset="/static/img/killer-party-375.png" type="image/png">
                <img class="img-fluid d-block mx-auto mb-2" src="/static/img/killer-party-375.webp" alt="Logo killer party">
              </picture>
       <!--<p class="size-09 mb-0">En 2080, le dernier estaminet de Lille vient de fermer. Les neurones de l'intelligence culinaire ont court-circuité. Mme Poivre compte sur vous pour restaurer le réfectoire. Parviendrez-vous à sauver l'un des derniers lieux emblématique de la culture flamande ?
      </p>-->
            </div>
            <div class="card-footer d-flex flex-column flex-md-row justify-content-between">
              <div class="d-flex flex-row align-items-center mb-4 mb-md-0">
                <div class="lh-1 size-09 mr-1">À partir de</div><div class="text-inter font-weight-bold lh-1 size-15">25€</div>
              </div>

              <a href="/killer-party" class="btn btn-inter">Je veux en savoir plus</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <a href="/murder-party">Je retourne à la liste des murder party</a>
    </div>
  </div>
</section>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Murder Party",
                "item": "https://just-escape.fr/murder-party"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "Redrock Saloon",
                "item": "https://just-escape.fr/murder-party-redrock-saloon"
            }
        ]
    }
  </script>
{% endblock %}
