{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Murder Party Lille – Just Escape" %}{% endblock %}
{% block description %}{% trans "Découvrez le tournoi des sorciers, une murder party dans une école de magie. Amusez-vous grâce à cette activité complètement insolite !" %}{% endblock %}

{% block og_title %}{% trans "Murder Party Lille – Just Escape" %}{% endblock %}
{% block og_description %}{% trans "Découvrez le tournoi des sorciers, une murder party dans une école de magie. Amusez-vous grâce à cette activité complètement insolite !" %}{% endblock %}

{% block extra_css %}
  <style rel="stylesheet">{% include "css/fa-solid-5.8.1.min.css" %}</style>
  <style rel="stylesheet">{% include "css/fa-regular-5.8.1.min.css" %}</style>
  <style rel="stylesheet">{% include "css/fontawesome-5.8.1.min.css" %}</style>
{% endblock %}

{% block pre_content %}{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

  <div class="jumbotron-fluid">
    <video autoplay muted loop class="d-block" style="max-width: 100%;" poster="/static/img/murder_party_phone_cover.jpg" title="Video de la murder party">
      <source src="/static/vid/murder_party_phone.webm" type="video/webm" media="(max-width: 991.98px)"/>
      <source src="/static/vid/murder_party_computer.webm" type="video/webm"/>
      <p>Videos are not supported by this browser</p>
    </video>

    <div class="position-absolute w-100" style="top: 180px;">
      <div class="row">
        <div class="col d-flex flex-column">
          <h1 class="text-jaffa text-inter text-center">{% trans "Le Tournoi des Sorciers" %}</h1>
          <div class="text-inter font-weight-bold size-12 mb-2 text-center">{% trans "Une compétition de magie" %}</div>
        </div>
      </div>
      <div class="row justify-content-center mb-4">
        <div class="col-6 col-lg-2">
            <picture>
              <source srcset="/static/img/le-tournoi-des-sorciers.webp" type="image/webp">
              <source srcset="/static/img/le-tournoi-des-sorciers.png" type="image/png">
              <img class="img-fluid h-100 mb-3" src="/static/img/le-tournoi-des-sorciers.webp" alt="{% trans "Une murder party avec des décors immersifs à Lille" %}">
            </picture>
        </div>
      </div>
      <div class="row">
        <div class="col text-center mb-5">
          <a href="tel:+33789053790" class="btn btn-primary px-5">
                  <span>{% trans "J'appelle pour réserver : 07 89 05 37 90" %}</span>
          </a>
        </div>
      </div>
    </div>
  </div>

<section>
  <div class="jumbotron py-5 mb-4">
    <div class="container px-0">
      <div class="row">
        <div class="col">
          <div>
            <ol class="breadcrumb softdark py-2">
                    <li class="breadcrumb-item"><a href="/{{ lang }}" class="fill-jaffa svg-16px">{% include "svg/home.svg" %}</a></li>
                    <li class="breadcrumb-item"><a href="/{{ lang }}murder-party" class="text-jaffa">Murder Party</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% trans "Le Tournoi des Sorciers" %}</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mb-4 text-center">
        <div class="col-12 mb-4 mb-lg-2">
          <div class="card transparent border-jaffa h-100">
            <div class="card-header">
              <h3>{% trans "Pour qui est faite cette murder party ?" %}</h3>
            </div>
            <div class="card-body pt-0">
                    <p>
                    {% trans "Pour les groupes d'amis entre 20 et 35 ans, les familles, les fans d'écoles de magie." %}
                    </p>
                    <p>
                    {% trans "Réservez-la pour créer une occasion de réunir vos proches, pour un anniversaire ou un EVJF/EVG." %}
                    </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mb-4 text-center">
        <div class="col-12 col-lg-4 mb-4 mb-lg-2">
          <div class="card transparent border-jaffa h-100">
            <div class="card-header">
                    <h3>{% trans "Apprenez à faire de la <span class='text-mulberry'>sorcellerie</span>" %}</h3>
            </div>
            <div class="card-body pt-0">
                    {% trans "Des duels magiques, des portes qui s'ouvrent d'un coup de baguette magique, des défis autour de pierres aux vertus rares... Tous ces éléments réunis pour vous faire vivre la plus magique des aventures." %}
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-4 mb-lg-2">
          <div class="card transparent border-jaffa h-100">
            <div class="card-header">
                    <h3>{% trans "Un <span class='text-mulberry'>univers magique</span> vous attend" %}</h3>
            </div>
            <div class="card-body pt-0">
                    {% trans "Une expérience immersive dans 100m² de décors spécialement conçus pour l'occasion est prévue. Une salle des potions plus vraie que nature, une bibliothèque renfermant des livres interdits et bien d'autres surprises vous y attendent." %}
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-4 mb-lg-2">
          <div class="card transparent border-jaffa h-100">
            <div class="card-header">
                    <h3>{% trans "Au coeur du tournoi des sorciers" %}</h3>
            </div>
            <div class="card-body pt-0">
                    {% trans "Endossez vos couleurs et représentez fièrement votre maison lors d'une compétition mêlant lecture de sortilèges et identification de plantes mystérieuses. Rejoignez les rangs des grands vainqueurs." %}
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mb-4">
        <div class="col-12 col-lg-6 mb-3">
          <div class="card transparent border-light h-100">
            <div class="card-header text-inter font-weight-bold text-center">
                    {% trans "Détails de l'événement" %}
            </div>
            <div class="card-body size-11 lh-12 pt-0">
              <ul class="list-unstyled">
                <li class="mb-1">
                  <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/map-marker.svg" %}</span>
                  <span class="lh-24px">{% trans "26 rue d'Arras, près de la rue Solférino, Lille" %}</span>
                </li>
                <li class="mb-1">
                  <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/chrono.svg" %}</span>
                  <span class="lh-24px">{% trans "90 minutes de jeu" %}</span>
                </li>
                <li class="mb-1">
                  <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/users.svg" %}</span>
                  <span class="lh-24px">{% trans "8 à 24 joueurs" %}</span><span class="text-mulberry">*</span>
                </li>
                <li class="mb-1">
                  <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/euro.svg" %}</span>
                  <span class="lh-24px">{% trans "À partir de 35€ par personne" %}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="card transparent border-light h-100">
            <div class="card-header text-inter font-weight-bold text-center">
                    <div>{% trans "Inclus dans le prix" %}</div>
            </div>
            <div class="card-body size-11 lh-12 pt-0">
              <ul>
                      <li>{% trans "Une boisson par participant parmis une sélection" %}</li>
                      <li>{% trans "Un acteur pour un groupe allant jusqu'à 15 personnes et un deuxième au delà" %}</li>
                      <li>{% trans "Des costumes sont mis à disposition" %}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center text-center">
        <div class="col-12 col-lg-4 mb-4 mb-lg-2">
          <picture>
            <source srcset="/static/img/murder_party_lille_enquete_criminelle.webp" type="image/webp">
            <source srcset="/static/img/murder_party_lille_enquete_criminelle.jpg" type="image/png">
            <img class="img-fluid w-100 mb-3" src="/static/img/murder_party_lille_enquete_criminelle.webp" alt="{% trans "Participants plongés dans une enquête criminelle lors d'une murder party à Lille" %}">
          </picture>
        </div>
        <div class="col-12 col-lg-4 mb-4 mb-lg-2">
          <picture>
            <source srcset="/static/img/murder_party_lille_scenario_intrigant.webp" type="image/webp">
            <source srcset="/static/img/murder_party_lille_scenario_intrigant.jpg" type="image/png">
            <img class="img-fluid w-100 mb-3" src="/static/img/murder_party_lille_scenario_intrigant.webp" alt="{% trans "Scénario intrigant et indices cachés pendant une murder party à Lille" %}">
          </picture>
        </div>
        <div class="col-12 col-lg-4 mb-4 mb-lg-2">
          <picture>
            <source srcset="/static/img/murder_party_lille_joueurs.webp" type="image/webp">
            <source srcset="/static/img/murder_party_lille_joueurs.jpg" type="image/png">
            <img class="img-fluid w-100 mb-3" src="/static/img/murder_party_lille_joueurs.webp" alt="{% trans "Joueurs analysant une scène de crime fictive lors d'une murder party à Lille" %}">
          </picture>
        </div>
      </div>

      <div class="row justify-content-center mb-4">
        <div class="col-12">
          <div class="card transparent border-light h-100">
            <div class="card-header text-inter font-weight-bold text-center">
                    <p><span class="text-mulberry">*</span> Est-il possible de <span class="text-mulberry">jouer à moins de 8</span> ?</p>
            </div>
            <div class="card-body size-11 lh-12 pt-0">
                    <p>Le Tournoi des sorciers est uniquement jouable à partir de 8 joueurs. S'il vous est impossible d'inviter d'autres personnes dans votre groupe, l'activité <a href="/qui-est-loup-garou">Qui est loup-garou ?</a> se joue dans les mêmes décors et est accessible <span class="text-mulberry">à partir de 5 participants</span>.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  <div class="jumbotron softdark position-relative py-5">
    <div class="softdark extension extension-top extension-corner-bottom-right"></div>
    <div class="softdark extension extension-bottom extension-corner-top-right"></div>
    <div class="container px-0">
      <div class="row mb-5">
        <div class="col">
          <span id="devis" class="anchor">&nbsp;</span>
          <span id="inscription" class="anchor">&nbsp;</span>
          <h2 class="text-jaffa">{% trans "Formulaire de réservation" %}</h2>
          <div class="forescape mb-4" data-subdomain="justescape" data-type="bookings" data-rooms="677d306bc9e6d4b7e7f4467b"></div>

          <div class="text-center">
                  <a href="/{{ lang }}team-building#devis" class="btn btn-primary px-5">
                          <span>{% trans "Je demande un devis" %}</span>
            </a>
          </div>
  
        </div>
      </div>

      <div class="row">
        <div class="col">
                <h2>{% trans "Une question sur cette murder party ? Consultez notre FAQ" %}</h2>
        </div>
      </div>

      <div class="row">

        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-light rounded mb-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div class="size-1 mb-0 question font-weight-bold" itemprop="name" role="button">
              <span class="fill-light svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Les enfants sont-ils acceptés ?" %}
            </div>
            <div id="answer-01" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                {% trans "Oui, les enfants sont acceptés dans notre Murder Party ! Une version simplifiée du scénario est spécialement conçue pour les plus jeunes. Cependant, il est recommandé qu'ils soient accompagnés d'un adulte pour une expérience plus confortable et agréable. L'âge minimum pour participer est de 9 ans." %}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-light rounded mb-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div class="size-1 mb-0 question font-weight-bold" itemprop="name" role="button">
              <span class="fill-light svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Peut-on jouer en anglais ?" %}
            </div>
            <div id="answer-01" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                {% trans "Une version anglaise est disponible <b>sur demande</b>." %}
                </p>
                <p class="mt-3">
                {% trans "Afin de garantir une expérience optimale, veuillez nous informer de votre préférence linguistique lors de la réservation <b>via les commentaires ou par e-mail à contact@justescape.fr</b>." %}
                </p>
                <p class="mb-0">
                {% trans "Que vous préfériez le français ou l'anglais, préparez-vous à une soirée immersive pleine de mystère, d'indices et de stratégies." %}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-light rounded mb-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div class="size-1 mb-0 question font-weight-bold" itemprop="name" role="button">
              <span class="fill-light svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Est-ce accessible pour tous les niveaux ?" %}
            </div>
            <div id="answer-01" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                {% trans "Que vous soyez débutant ou déjà expérimenté, la Murder Party s'adapte parfaitement à tous les niveaux." %}
                </p>
                <p class="mb-0">
                {% trans "Elle a été conçue pour être accessible à tous, permettant à chacun de la prendre en main facilement. Vous jouerez avec une difficulté adaptée, et les animateurs ajusteront leur accompagnement en fonction de votre niveau." %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
                <div class="text-center font-weight-bold mb-3">{% trans "Pour toute question ou demande d'information supplémentaire, contactez-nous." %}</div>

          <div class="text-center p-3 border-jaffa border-solid rounded d-flex justify-content-center flex-column">
                  <div class="text-jaffa text-inter font-weight-bold size-12">Contact</div>
            <div class="d-flex flex-column">
                    <div><span class="text-jaffa">Tel :&nbsp;</span>{% trans "07 89 05 37 90" %}</div>
                    <div><span class="text-jaffa">Mail :&nbsp;</span>contact@justescape.fr</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section>
  <div class="jumbotron light position-relative py-5">
    {% trans "Découvrez aussi d'autres scénarios" as translated_label %}
    {% include "component/discover_as_well.html" with label=translated_label what="redrock_saloon,digimiam" %}

    <div class="text-center">
            <a href="/{{ lang }}murder-party">{% trans "Je retourne à la liste des murder party" %}</a>
    </div>
  </div>
</section>

{% endblock %}

{% block post_base_js %}
  <script>
  !function(e,t){var r=e.createElement(t),a=e.getElementsByTagName(t)[0],n=new Date,s=""+n.getFullYear()+("0"+(n.getMonth()+1)).slice(-2)+("0"+n.getDate()).slice(-2);r.defer=1,r.src="https://justescape.4escape.io/public/js/iframe.min.js?v="+s,a.parentNode.insertBefore(r,a)}(document,"script");
  </script>

  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/{{ lang }}"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Murder Party",
                "item": "https://just-escape.fr/{{ lang }}murder-party"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "{% trans "Le Tournoi des Sorciers" %}",
                "item": "https://just-escape.fr/{{ lang }}murder-party-le-tournoi-des-sorciers"
            }
        ]
    }
  </script>
{% endblock %}
