{% extends "base.html" %}

{% block title %}Murder Party Lille – Just Escape{% endblock %}
{% block description %}Découvrez nos murder party : classique, killer party, murder dinner, type loup-garou... Choisissez votre activité complètement insolite !{% endblock %}

{% block og_title %}Murder Party Lille – Just Escape{% endblock %}
{% block og_description %}Découvrez nos murder party : classique, killer party, murder dinner, type loup-garou. Choisissez votre activité complètement insolite !{% endblock %}

{% block h1 %}Scénarios de Murder Party à Lille{% endblock %}

{% block content %}

<section>
  <div class="jumbotron py-5 deepdark">
    <div class="container px-0">
      <div class="row">
        <div class="col">
          <div>
            <ol class="breadcrumb dark py-2">
              <li class="breadcrumb-item"><a href="/" class="fill-jaffa svg-16px">{% include "svg/home.svg" %}</a></li>
              <li class="breadcrumb-item active" aria-current="page">Murder Party</li>
            </ol>
          </div>

          <div class="d-flex flex-column flex-md-row justify-content-between mb-2">
            <div class="d-flex flex-column mb-0">
              <h2 class="text-jaffa mb-0">Vous cherchez une idée originale pour organiser une soirée inoubliable entre amis ?</h2>
              <div class="text-inter font-weight-bold size-12 mb-2">Découvrez les différents formats</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron light">
    <div class="container px-0">
      <div class="row">
        <div class="col-12 col-lg-6 mb-4 d-flex align-items-stretch">
          {% include "component/card_sm_redrock_saloon.html" %}
        </div>

        <div class="col-12 col-lg-6 mb-4 d-flex align-items-stretch">
          {% include "component/card_sm_killer_party.html" %}
        </div>

        <div class="col-12 col-lg-6 mb-4 d-flex align-items-stretch">
          {% include "component/card_sm_murder_dinner.html" %}
        </div>

        <div class="col-12 col-lg-6 mb-4 d-flex align-items-stretch">
          {% include "component/card_sm_two_rooms.html" %}
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container px-0">
      <div class="row">
        <div class="col text-center">
          <h2 class="mb-3">Bienvenue dans nos activités de Murder Party à Lille</h2>
        </div>
      </div>
      <div class="row mb-5">
        <div class="col">
          <h3>Plongez dans une intrigue captivante avec notre murder party à Lille</h3>
          <p>Vous recherchez une animation immersive et captivante pour fédérer votre équipe lors d'un événement d'entreprise à Lille ? Découvrez notre murder party, une activité originale mêlant jeu d'enquête, scénario policier et jeu de rôle grandeur nature. Plongez au cœur d'une intrigue mystérieuse lors de notre murder party à Lille et renforcez la cohésion d'équipe de manière ludique et engageante.</p>
          <h3>Découvrez une expérience immersive lors de notre Murder Party à Lille</h3>
          <p>Notre murder party à Lille est conçue comme un jeu collaboratif, parfait pour les activités de team building. Les jeux d'équipe et les activités de cohésion d'équipe sont intégrés tout au long de l'animation, favorisant ainsi la collaboration et le travail d'équipe. Vous serez totalement immergés dans l'intrigue captivante et participerez à une expérience interactive unique qui stimulera le team spirit.</p>
          <h3>Explorez une intrigue mystérieuse lors de notre animation de Murder Party à Lille</h3>
          <p>Nous vous proposons des idées de team building originales pour votre entreprise à Lille, telles que notre animation de murder party. Cette activité permet de renforcer les liens au sein de votre équipe tout en développant des compétences de résolution de problèmes, de communication et de collaboration. Nos techniques de team building sont conçues pour dynamiser une réunion d'équipe et maximiser l'engagement des participants.</p>
          <h3>Expérimentez une activité originale avec notre Murder Party à Lille</h3>
          <p>Lors de notre animation de murder party à Lille, nous vous offrons l'opportunité d'intégrer votre équipe dans une expérience immersive où chacun a un rôle essentiel à jouer. C'est également une occasion de relever des défis en équipe et de résoudre ensemble des énigmes complexes. Cette animation peut être adaptée à vos besoins spécifiques, que ce soit pour un séminaire, une soirée d'entreprise ou une journée de cohésion de groupe.</p>
          <h3>Profitez d’une animation interactive unique lors de notre Murder Party à Lille</h3>
          <p>En plus de notre murder party à Lille, nous proposons une large gamme d'animations pour vos événements d'entreprise. Que ce soit une soirée entreprise, un séminaire ou une journée d'intégration, nous pouvons vous fournir des idées d'animation originales et des concepts innovants pour rendre votre événement mémorable. Notre expertise en animation événementielle et incentive vous permettra d'organiser des activités personnalisées qui correspondent à vos objectifs.</p>
          <h3>Contactez-nous dès aujourd’hui pour discuter de notre animation de Murde Party à Lille</h3>
          <p>Ne cherchez plus, contactez-nous dès aujourd'hui pour discuter de vos besoins en matière d'animation d'événements d'entreprise à Lille. Nous pouvons vous proposer des idées d'organisation, des concepts originaux et des animations adaptées pour renforcer la cohésion d'équipe, dynamiser vos réunions et créer des expériences uniques lors de vos soirées et séminaires d'entreprise.</p>
        </div>
      </div>

      <div class="row">
        <div class="col text-center mb-3">
          <h2 class="mb-0">Une question sur les murder party ?</h2>
          <div class="size-15 text-inter">Consultez notre FAQ</div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-light rounded mb-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div class="size-1 mb-0 question font-weight-bold" itemprop="name" role="button">
              <span class="fill-light svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              Qu'est-ce qu'une murder party ?
            </div>
            <div id="answer-01" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                  La Murder Party à Lille est une activité immersive et captivante qui mêle jeu d'enquête, scénario policier et jeu de rôle grandeur nature.
                </p>
                <p class="mb-0">
                  Elle offre une expérience interactive unique où les participants plongent au coeur d'une intrigue mystérieuse.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-light rounded mb-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div class="size-1 mb-0 question font-weight-bold" itemprop="name" role="button">
              <span class="fill-light svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              Est-ce que Just Escape est loin du centre de Lille ?
            </div>
            <div id="answer-01" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                  Just Escape se situe à 10 minutes à pied du centre de Lille et à côté du parc Jean-Baptiste Lebas.
                </p>
                <p class="mb-0">
                  Notez que toutes nos Murder Party peuvent être jouées sur le lieu de votre choix.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-light rounded mb-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div class="size-1 mb-0 question font-weight-bold" itemprop="name" role="button">
              <span class="fill-light svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              Quelle murder party est la plus adaptée pour un groupe d'enfants ?
            </div>
            <div id="answer-01" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3 mb-0">
                  Pour un groupe d'enfants, Two Rooms est le jeu le plus adapté en raison de la simplicité des règles et de son scénario. La Killer Party est également possible.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-light rounded mb-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div class="size-1 mb-0 question font-weight-bold" itemprop="name" role="button">
              <span class="fill-light svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              Quelle murder party choisir pour un événement d'entreprise ?
            </div>
            <div id="answer-01" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                  Si vous souhaitez renforcer la cohésion au sein de votre groupe la Murder Party classique reste la meilleure option pour un team building.
                </p>
                <p>
                  Les Murder Party sont des jeux interactifs qui encouragent la collaboration, la communication et la coopération entre les participants, favorisant ainsi le renforcement de l’esprit d’équipe au sein de l’entreprise.
                </p>
                <p>
                  Elles suscitent l’engagement des participants et créent une atmosphère conviviale et amusante lors de l’événement.
                </p>
                <p class="mb-0">
                  Les Murder Party mettent les participants au défi de résoudre des énigmes, de trouver des indices et de démasquer le coupable. Cela encourage le développement des compétences de résolution de problème et de prise de décision.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section>
  <div class="jumbotron light position-relative py-5">
    {% include "component/discover_as_well.html" with label="nos scénarios d'escape game" what="digimiam" %}
  </div>
</section>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Murder Party",
                "item": "https://just-escape.fr/murder-party"
            }
        ]
    }
  </script>
{% endblock %}
