{% extends "base.html" %}

{% block title %}Murder Dinner Lille – Just Escape{% endblock %}
{% block description %}Découvrez une murder dinner dans un univers mythologique. Amusez-vous grâce à cette activité complètement insolite !{% endblock %}

{% block og_title %}Murder Dinner Lille – Just Escape{% endblock %}
{% block og_description %}Découvrez une murder dinner dans un univers mythologique. Amusez-vous grâce à cette activité complètement insolite !{% endblock %}

{% block h1 %}Murder party autour d'un repas à Lille{% endblock %}

{% block content %}

<section>
  <div class="jumbotron py-5 mb-4">
    <div class="container px-0">
      <div class="row">
        <div class="col">
          <div class="d-flex flex-column flex-md-row justify-content-between mb-2">
            <div class="d-flex flex-column mb-0">
              <h2 class="text-jaffa mb-0">La murder dinner</h2>
              <div class="text-inter font-weight-bold size-12 mb-2">Un humain se cache parmi les dieux</div>
            </div>
            <div class="d-flex flex-column align-items-end">
              <div>
                <span class="lh-24px">5 à 9 joueurs par table</span>
                <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/users.svg" %}</span>
              </div>
              <div>
                <span class="lh-24px">Le temps d'un repas</span>
                <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/chrono.svg" %}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <div class="position-relative">
            <picture>
              <source srcset="/static/img/murder-dinner.png" type="image/png">
              <img loading="lazy" class="img-fluid w-100 mb-3" src="/static/img/murder-dinner.png" alt="Logo de la murder dinner, une murder party autour d'un repas">
            </picture>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 mb-4">
          <div class="card transparent border-light border-2px h-100">
            <div class="card-header">
              <h3 class="text-center text-inter font-weight-bold mb-0">La plus gourmande des murder party</h3>
            </div>
            <div class="card-body size-11 text-center lh-12 pt-0">
              <div class="mb-2">Lors de cette murder party unique en son genre et complètement indéite, vous serez tous invités à un buffet divin à la table de Zeus.</div>
              <div>Lors de ce repas à l'Olympe vous incarnerez tous un dieu. Tous... deux joueurs seront sélectionnés pour être des imposteurs à la table de Zeus.</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 mb-4">
          <div class="card transparent border-light border-2px h-100">
            <div class="card-body size-11 text-center d-flex flex-column justify-content-center lh-12">
              <div>Si vous cherchez une activité à faire lors d'un repas d'anniversaire, d'enterrement de vie de jeune fille/garçon ou si vous souhaitez juste découvrir une activité originale à partager entre amis ? N'attendez plus et réservez dès maintenant !</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p style="font-size: 28px; font-style: italic" class="text-right mb-4">Les portes de l'Olympe vous sont ouvertes !</p>
          <hr style="width: 25%" class="border-jaffa">
          <p class="my-4">Une murder dinner est idéale pour ceux qui cherchent à faire une activité autour d'un repas. Elle se joue de 5 à 9 joueurs (par table) et dure le temps d'un repas.</p>
          <p class="my-4">Nous vous proposons différents choix de repas pour accompagner le jeu. Contactez-nous pour en savoir plus.</p>
          <hr style="width: 25%" class="border-jaffa">
          <p class="my-4">Vous êtes intéressés et souhaitez réserver une murder dinner ? Inscrivez-vous individuellement ci-dessous ou contactez-nous pour plus d'informations.</p>
          <!-- <p class="text-center"><a href="/murder-party/qu-est-ce-qu-une-murder-party" class="btn btn-inter p-3">Qu'est-ce qu'une murder party ?</a></p> -->
        </div>
      </div>
    </div>
  </div>
  
  <div class="jumbotron softdark position-relative py-5">
    <div class="softdark extension extension-top extension-corner-bottom-right"></div>
    <div class="softdark extension extension-bottom extension-corner-top-right"></div>
    <div class="container px-0">
      <div class="row">
        <div class="col">
          <span id="inscription" class="anchor">&nbsp;</span>
          <h2 class="text-jaffa">Je souhaite réserver une partie de murder dinner</h2>
          <p>Veuillez nous contacter.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="jumbotron light position-relative py-5">
    <div class="container px-0 pt-4">
      <div class="row mb-3">
        <div class="col text-center">
          <h2 class="font-weight-bold">
            Découvrez aussi nos scénarios d'escape game
          </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="card deepdark position-relative px-0">
            <div class="card-header d-flex flex-column flex-lg-row justify-content-between">
              <div class="d-flex flex-column mb-3 mb-md-0 justify-content-top">
                <div class="text-inter font-weight-bold lh-1 text-jaffa size-15">Le Digimiam</div>
                <div class="lh-1">Estaminet cybernétique</div>
              </div>
              <div class="d-flex flex-column align-items-end justify-content-center">
                <div class="lh-16px">
                  <span class="size-09 lh-16px">2 à 10 joueurs (sur deux salles)</span>
                  <span class="d-inline-block lh-16px svg-16px fill-light align-top">{% include "svg/users.svg" %}</span>
                </div>
                <div class="lh-16px">
                  <span class="size-09 lh-16px">60 minutes</span>
                  <span class="d-inline-block lh-16px svg-16px fill-light align-top">{% include "svg/chrono.svg" %}</span>
                </div>
                <div class="lh-16px">
                  <span class="size-09 lh-16px">FR / EN</span>
                  <span class="d-inline-block lh-16px svg-16px fill-light align-top">{% include "svg/lang.svg" %}</span>
                </div>
              </div>
            </div>
            <div class="card-body">
              <picture>
                <source srcset="/static/img/escape-game-lille-joueurs.webp" type="image/webp">
                <source srcset="/static/img/escape-game-lille-joueurs.jpg" type="image/jpg">
                <img loading="lazy" class="img-fluid w-100 mb-2" src="/static/img/escape-game-lille-joueurs.jpg" alt="Une famille de trois joueurs viennent de débuter un escape game" >
              </picture>
              <p class="size-09 mb-0">En 2080, le dernier estaminet de Lille vient de fermer. Les neurones de l'intelligence culinaire ont court-circuité. Mme Poivre compte sur vous pour restaurer le réfectoire. Parviendrez-vous à sauver l'un des derniers lieux emblématique de la culture flamande ?
              </p>
            </div>
            <div class="card-footer text-right">
              <a href="/salles" class="btn btn-inter">Je veux en savoir plus</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Murder Party",
                "item": "https://just-escape.fr/murder-party"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "Murder Dinner",
                "item": "https://just-escape.fr/murder-dinner"
            }
        ]
    }
  </script>
{% endblock %}
