{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Murder Party Lille – Just Escape" %}{% endblock %}
{% block description %}{% trans "Découvrez nos murder party : classique, killer party, murder dinner, type loup-garou... Choisissez votre activité complètement insolite !" %}{% endblock %}

{% block og_title %}{% trans "Murder Party Lille – Just Escape" %}{% endblock %}
{% block og_description %}{% trans "Découvrez nos murder party : classique, killer party, murder dinner, type loup-garou. Choisissez votre activité complètement insolite !" %}{% endblock %}

{% block pre_content %}{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

  <div class="jumbotron-fluid">
    <video autoplay muted loop class="d-block" style="max-width: 100%;" poster="/static/img/murder_party_phone_cover.jpg" title="Video de la murder party">
      <source src="/static/vid/murder_party_phone.webm" type="video/webm" media="(max-width: 991.98px)"/>
      <source src="/static/vid/murder_party_computer.webm" type="video/webm"/>
      <p>Videos are not supported by this browser</p>
    </video>

    <div class="position-absolute w-100" style="top: 180px;">
      <div class="row mb-4">
        <div class="col d-flex flex-column">
          <h1 class="text-jaffa text-inter text-center" style="font-size: 2rem">{% trans "Scénarios de murder party à Lille" %}</h1>
          <div class="text-inter font-weight-bold size-15 mb-2 text-center">{% trans "Découvrez nos cluedo géants" %}</div>
        </div>
      </div>
      <div class="row">
        <div class="col text-center mb-3">
          <a href="/reserver" class="btn btn-primary px-5">
                  <span>{% trans "Je réserve" %}</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col text-center mb-3">
          <a href="tel:+33789053790" class="btn btn-light px-5">
                  <span>{% trans "J'appelle : 07 89 05 37 90" %}</span>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col px-3 text-center">
          Nous proposons également un <b>Loup-Garou</b> immersif et un <b>Among Us</b> grandeur nature. De nombreuses surprises n'attendent que vous.
        </div>
      </div>
    </div>
  </div>

<section>
  <div class="jumbotron py-5 deepdark">
    <div class="container px-0">
      <div class="row">
        <div class="col">
          <div>
            <ol class="breadcrumb dark py-2">
                    <li class="breadcrumb-item"><a href="/{{ lang }}" class="fill-jaffa svg-16px">{% include "svg/home.svg" %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{% trans "Murder Party" %}</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="row mb-5">
        <div class="col-12 col-lg-6 mb-3 mb-lg-0 d-flex">
          <div class="card deepdark border-light text-center flex-fill">
            <div class="card-header">
                    <h2 class="mb-0">{% trans "Qu'est-ce qu'une <span class='text-mulberry'>murder party</span> ?" %}</h2>
            </div>
            <div class="card-body">
              <p>
              {% trans "Une Murder Party est un jeu d'<b>enquête</b> s'inspirant du <b>Cluedo</b>, dans lequel les participants incarnent un rôle et tentent d'élucider un meurtre. Ils devront faire preuve de <b>déduction</b> et de <b>logique</b> et tenter de ne pas se faire accuser à tort." %}
              </p>
              <p>
              {% trans "À la manière d'un <b>escape game</b>, les joueurs sont plongés au coeur d'un <b>décor immersif</b> rempli de surprises, rendant leur <b>expérience dépaysante</b> et plein de rebondissements." %}
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 d-flex">
          <div class="card deepdark border-light text-center flex-fill">
            <div class="card-header">
                    <h2 class="mb-0">{% trans "Pourquoi jouer à une murder party ?" %}</h2>
            </div>
            <div class="card-body">
              <p>
              Entre enquête, improvisation et théâtre, elle permet de vivre une histoire de l'intérieur, de stimuler son imagination, d'affûter son sens de l'observation et de favoriser les échanges entre joueurs.
              </p>
              <p>
              Ludique, immersive et souvent pleine d'humour, c'est une expérience sociale et créative qui mêle suspense, stratégie et convivialité.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col text-center mb-4">
          <a href="tel:+33789053790" class="btn btn-primary px-5">
                  <span>{% trans "J'appelle pour réserver : 07 89 05 37 90" %}</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron light">
    <div class="container px-0">
      <div class="row justify-content-center">
        <div class="col">
          <h2 class="text-center">{% trans "Nos scénarios de murder party" %}</h2>
          <div class="text-inter text-center size-12 mb-5">{% trans "Vivez des expériences inédites" %}</div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6 mb-5">
          {% include "component/card_sm_post_mortem.html" %}
        </div>

        <div class="col-12 col-lg-6 mb-5">
          {% include "component/card_sm_le_tournoi_des_sorciers.html" %}
        </div>

        <div class="col-12 col-lg-6 mb-5">
          {% include "component/card_sm_redrock_saloon.html" %}
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col">
          <h2 class="text-center">{% trans "Nos autres jeux sur le même thème" %}</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6 mb-5">
          {% include "component/card_sm_qui_est_loup_garou.html" %}
        </div>

        <div class="col-12 col-lg-6 mb-5">
          {% include "component/card_sm_killer_party.html" %}
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-dark rounded mb-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div class="size-1 mb-0 question font-weight-bold" itemprop="name" role="button">
              <span class="fill-dark svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Quel scénario de murder party choisir ?" %}
            </div>
            <div id="answer-01" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                {% trans "Le Tournoi des Sorciers est idéal entre amis ou en famille pour s'immerger dans son univers école de magie." %}
                </p>
                <p class="mb-0">
                {% trans "Choisissez le Redrock Saloon dans un cadre pro comme un teambuilding. L'ambiance village western est accessible au grand nombre." %}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-dark rounded mb-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div class="size-1 mb-0 question font-weight-bold" itemprop="name" role="button">
              <span class="fill-dark svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Jusqu'à combien de joueurs peuvent jouer ?" %}
            </div>
            <div id="answer-01" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                {% trans "Just Escape organise régulièrement des événements à 30, 50 voire 150 joueurs pour des team building ambitieux ou des mariages originaux." %}
                </p>
                <p class="mb-0">
                {% trans "Certaines activités pourraient être plus adaptées comme:" %}
                </p>
                <ul>
                  <li><a href="/{{ lang }}sherlock-vs-moriarty">Sherlock vs Moriarty</a> : un jeu d'énigmes jusqu'à 150 personnes. Parfait pendant un cocktail dinatoire.</li>
                  <li>Deux murder party en simultané pour jouer jusqu'à 50.</li>
                  <li><a href="/{{ lang }}two-rooms">Two Rooms</a> : une sorte de loup-garou amélioré jusqu'à 30 joueurs.</li>
                </ul>
                <p class="mb-0">
                {% trans "Appelez-nous au 07 89 05 37 90 pour en discuter." %}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-dark rounded mb-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div class="size-1 mb-0 question font-weight-bold" itemprop="name" role="button">
              <span class="fill-dark svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Est-ce que Just Escape est loin du centre de Lille ?" %}
            </div>
            <div id="answer-01" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                {% trans "Just Escape se situe à 10 minutes à pied du centre de Lille et à côté du parc Jean-Baptiste Lebas." %}
                </p>
                <p class="mb-0">
                {% trans "Notez que toutes nos Murder Party peuvent être jouées sur le lieu de votre choix." %}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-dark rounded mb-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div class="size-1 mb-0 question font-weight-bold" itemprop="name" role="button">
              <span class="fill-dark svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Quelle murder party est la plus adaptée pour un groupe d'enfants ?" %}
            </div>
            <div id="answer-01" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3 mb-0">
                {% trans "Pour un groupe d'enfants, Two Rooms est le jeu le plus adapté en raison de la simplicité des règles et de son scénario. La Killer Party est également possible." %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="jumbotron">
    <div class="container px-0">
      <div class="row">
        <div class="col text-center mb-3">
                <h2 class="mb-0">{% trans "Une question sur les murder party ?" %}</h2>
                <div class="size-15 text-inter">{% trans "Consultez notre FAQ" %}</div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-light rounded mb-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div class="size-1 mb-0 question font-weight-bold" itemprop="name" role="button">
              <span class="fill-light svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Qu'est-ce qu'une murder party ?" %}
            </div>
            <div id="answer-01" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                {% trans "La Murder Party à Lille est une activité immersive et captivante qui mêle jeu d'enquête, scénario policier et jeu de rôle grandeur nature." %}
                </p>
                <p class="mb-0">
                {% trans "Elle offre une expérience interactive unique où les participants plongent au coeur d'une intrigue mystérieuse." %}
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-light rounded mb-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div class="size-1 mb-0 question font-weight-bold" itemprop="name" role="button">
              <span class="fill-light svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Quelle murder party choisir pour un événement d'entreprise ?" %}
            </div>
            <div id="answer-01" itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p class="mt-3">
                {% trans "Si vous souhaitez renforcer la cohésion au sein de votre groupe la Murder Party classique reste la meilleure option pour un team building." %}
                </p>
                <p>
                {% trans "Les Murder Party sont des jeux interactifs qui encouragent la collaboration, la communication et la coopération entre les participants, favorisant ainsi le renforcement de l’esprit d’équipe au sein de l’entreprise." %}
                </p>
                <p>
                {% trans "Elles suscitent l’engagement des participants et créent une atmosphère conviviale et amusante lors de l’événement." %}
                </p>
                <p class="mb-0">
                {% trans "Les Murder Party mettent les participants au défi de résoudre des énigmes, de trouver des indices et de démasquer le coupable. Cela encourage le développement des compétences de résolution de problème et de prise de décision." %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
                <div class="text-center font-weight-bold mb-3">{% trans "Pour toute question ou demande d'information supplémentaire, contactez-nous." %}</div>

          <div class="text-center p-3 border-jaffa border-solid rounded d-flex justify-content-center flex-column">
                  <div class="text-jaffa text-inter font-weight-bold size-12">{% trans "Contact" %}</div>
            <div class="d-flex flex-column">
                    <div><span class="text-jaffa">Tel :&nbsp;</span>{% trans "07 89 05 37 90" %}</div>
                    <div><span class="text-jaffa">Mail :&nbsp;</span>contact@justescape.fr</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section>
  <div class="jumbotron light position-relative py-5">
    {% trans "Découvrez aussi nos autres scénarios" as translated_label %}
    {% include "component/discover_as_well.html" with label=translated_label what="digimiam,sherlock_vs_moriarty,two_rooms" %}
  </div>
</section>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/{{ lang }}"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Murder Party",
                "item": "https://just-escape.fr/{{ lang }}murder-party"
            }
        ]
    }
  </script>
{% endblock %}
