{% extends "base.html" %}

{% load i18n %}

{% block h1 %}{% trans "News" %}{% endblock %}

{% block content %}

  <div class="jumbotron">
    <div class="container">
      <div class="row justify-content-center">
        <ul class="list-unstyled">
          <li class="media mb-5">
            <article>
              <a href="/{{ lang }}news1">
                <img src="/static/img/door_robot.png" height="200px" class="mr-3">
              </a>
              <div class="media-body">
                <a href="/{{ lang }}news1"><h2 class="text-jaffa">{% lorem 2 w %}</h2></a>
                <p class="text-muted mb-1">Posté le {% now "SHORT_DATE_FORMAT" %}</p>
                <p class="text-justify">{% lorem %}</p>
              </div>
            </article>
          </li>
          <li class="media mb-5">
            <article>
              <a href="/{{ lang }}news1">
                <img src="/static/img/door_robot.png" height="200px" class="mr-3">
              </a>
              <div class="media-body">
                <a href="/{{ lang }}news1"><h2 class="text-jaffa">{% lorem 2 w %}</h2></a>
                <p class="text-muted mb-1">Posté le {% now "SHORT_DATE_FORMAT" %}</p>
                <p class="text-justify">{% lorem %}</p>
              </div>
            </article>
          </li>
          <li class="media mb-5">
            <article>
              <a href="/{{ lang }}news1">
                <img src="/static/img/door_robot.png" height="200px" class="mr-3">
              </a>
              <div class="media-body">
                <a href="/{{ lang }}news1"><h2 class="text-jaffa">{% lorem 2 w %}</h2></a>
                <p class="text-muted mb-1">Posté le {% now "SHORT_DATE_FORMAT" %}</p>
                <p class="text-justify">{% lorem %}</p>
              </div>
            </article>
          </li>
          <li class="media mb-5">
            <article>
              <a href="/{{ lang }}news1">
                <img src="/static/img/door_robot.png" height="200px" class="mr-3">
              </a>
              <div class="media-body">
                <a href="/{{ lang }}news1"><h2 class="text-jaffa">{% lorem 2 w %}</h2></a>
                <p class="text-muted mb-1">Posté le {% now "SHORT_DATE_FORMAT" %}</p>
                <p class="text-justify">{% lorem %}</p>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>

{% endblock %}
