{% extends "base.html" %}

{% load i18n %}

{% block main_header %}{% endblock %}

{% block content %}

  <div class="jumbotron pt-4">
    <div class="container">
      <div>
        <ol class="breadcrumb softdark py-2">
          <li class="breadcrumb-item"><a href="/{{ lang }}news" class="text-jaffa">News</a></li>
          <li class="breadcrumb-item active" aria-current="page">{% lorem 2 w %}</li>
        </ol>
      </div>

      <section>
        <h2 class="text-jaffa">{% lorem 2 w %}</h2>
        <p class="text-muted">Posté le {% now "SHORT_DATE_FORMAT" %}</p>

        <section>
          <h3>{% lorem 5 w %}</h3>
          <div class="media">
            <span class="svg-132x200px d-inline-block mr-3">
              {% include "svg/door-robot.svg" %}
            </span>
            <div class="media-body">
              <p class="text-justify">{% lorem %}</p>
              <p class="text-justify">{% lorem %}</p>
            </div>
          </div>
          <p class="text-justify">{% lorem %}</p>
        </section>

        <section>
          <h3>{% lorem 7 w %}</h3>
          <div class="media mb-5">
            <div class="media-body">
              <p class="text-justify">{% lorem %}</p>
              <p class="text-justify">{% lorem %}</p>
            </div>
            <span class="svg-132x200px d-inline-block ml-3">
              {% include "svg/door-robot.svg" %}
            </span>
          </div>
        </section>
      </section>
    </div>
  </div>

{% endblock %}
