{% extends "base.html" %}

{% load i18n %}

{% block gtm_header %}
<script>
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PBPTZXM');
</script>
{% endblock %}

{% block title %}{% trans "Order confirmed – Escape Game Lille – Just Escape" %}{% endblock %}
{% block description %}{% trans "Your order is confirmed." %}{% endblock %}

{% block og_title %}{% trans "Order confirmed" %}{% endblock %}
{% block og_description %}{% trans "Your order is confirmed." %}{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

  <div class="jumbotron">
    <div class="container">
      <h1 class="text-jaffa text-center">{% trans "Your order is confirmed" %}</h1>
    </div>
  </div>

{% endblock %}
