{% extends "base.html" %}

{% block title %}Partenaires – Escape Game Lille – Just Escape{% endblock %}
{% block description %}Découvrez les partenaires de Just Escape. Ce sont les meilleurs 👍{% endblock %}

{% block og_title %}Partenaires{% endblock %}
{% block og_description %}Découvrez les partenaires de Just Escape. Ce sont les meilleurs 👍{% endblock %}

{% block h1 %}Partenariats{% endblock %}

{% block content %}

  <div class="jumbotron deeplight">
    <section class="container">
      <h2 class="text-center text-sm-left">Dans la ville de Lille, des commerçants locaux</h2>
      <div class="row">

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 text-center">
          <a href="https://sophrologie-atelier-lille.com/">
            <figure class="figure">
              <div id="carousel-sophrologie-atelier-lille" class="carousel slide mb-1" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carousel-sophrologie-atelier-lille" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-sophrologie-atelier-lille" data-slide-to="1"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <picture>
                      <source srcset="/static/img/sophrologie-atelier-lille-salle.webp" type="image/webp">
                      <source srcset="/static/img/sophrologie-atelier-lille-salle.jpg" type="image/jpg">
                      <img class="img-fluid" src="/static/img/sophrologie-atelier-lille-salle.jpg" alt="Salle de l'atelier" >
                    </picture>
                  </div>
                  <div class="carousel-item">
                    <picture>
                      <source srcset="/static/img/sophrologie-atelier-lille-yoga.webp" type="image/webp">
                      <source srcset="/static/img/sophrologie-atelier-lille-yoga.jpg" type="image/jpg">
                      <img class="img-fluid" src="/static/img/sophrologie-atelier-lille-yoga.jpg" alt="Séance de yoga à l'atelier" >
                    </picture>
                  </div>
                </div>
              </div>
              <figcaption class="text-center text-hover-mulberry text-underline">Sophrologie Atelier Lille</figcaption>
            </figure>
          </a>
          <p class="text-center">Atelier de Yoga et de Sophrologie à Lille Vauban, le centre fondé en 2012 par la psychanalyste Laurence Mouton Shakti, accueille avec Ariel Gio les personnes en quête de sérénité avec eux&#8209;mêmes et les autres.</p>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 text-center">
          <a href="https://www.asi-immobilier.org">
            <figure class="figure">
              <span class="width-100px fill-dark">
                <img class="img-fluid mb-1" src="https://just-escape.fr/static/img/logo-asi.jpg" alt="Logo ASI">
              </span>
              <figcaption class="text-center text-hover-mulberry text-underline">Action Service Immobilier</figcaption>
            </figure>
          </a>
          <p class="text-center">ASI est la société grâce à qui nous avons notre local. Ils possèdent une belle <a href="https://www.asi-immobilier.org/galerie" class="text-underline text-hover-mulberry">galerie de biens immobiliers sur Lille</a> !</p>
        </div>

      </div>
    </section>
  </div>

  <div class="jumbotron light">
    <section class="container">
      <h2 class="text-center text-sm-left">En dehors de Lille</h2>
      <div class="row">

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 text-center">
          <a href="https://www.blanktone.com/">
            <figure class="figure">
              <span class="width-100px fill-dark">
                <img class="img-fluid mb-1" src="https://just-escape.fr/static/img/logo-blanktone.jpg" alt="Logo blanktone studio">
              </span>
              <figcaption class="text-center text-hover-mulberry text-underline">Blanktone studio</figcaption>
            </figure>
          </a>
          <p class="text-center">Pour composer la musique et le design sonore du scénario Le Digimiam, nous avons fait appel à Laurent Vang, co-fondateur de Blanktone Studio. Nous sommes très satisfaits du rendu final et de l'attention que Laurent a porté à ce projet.</p>
        </div>

      </div>
    </section>
  </div>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Partenaires",
                "item": "https://just-escape.fr/partenaires"
            }
        ]
    }
  </script>
{% endblock %}
