{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Partners – Escape Game Lille – Just Escape" %}{% endblock %}
{% block description %}{% trans "Discover Just Escape&#39;s partners. They are the best 👍" %}{% endblock %}

{% block og_title %}{% trans "Partners" %}{% endblock %}
{% block og_description %}{% trans "Discover Just Escape&#39;s partners. They are the best 👍" %}{% endblock %}

{% block h1 %}{% trans "Just Escape&#39;s partnerships" %}{% endblock %}

{% block content %}

  <div class="jumbotron deeplight">
    <section class="container">
      <h2 class="text-center text-sm-left">{% trans "We don&#39;t have partners yet" %}</h2>
      <p class="text-center text-sm-left lead">{% trans "But we will soon" %}</p>
      <div class="row">
        <div class="col-12 col-sm-3 col-md-2 text-center">
          <a class="text-hover-jaffa" href="#">
            <figure class="figure">
              <span class="width-100px fill-dark">
                {% include "svg/just-escape-door.svg" %}
              </span>
              <figcaption class="text-center">Reuse</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-12 col-sm-3 col-md-2 text-center">
          <a class="text-hover-jaffa" href="#">
            <figure class="figure">
              <span class="width-100px fill-jaffa">
                {% include "svg/just-escape-door.svg" %}
              </span>
              <figcaption class="text-center">Adela</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-12 col-sm-3 col-md-2 text-center">
          <a class="text-hover-jaffa" href="#">
            <figure class="figure">
              <span class="width-100px fill-dark">
                {% include "svg/just-escape-door.svg" %}
              </span>
              <figcaption class="text-center">Kerleau</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-12 col-sm-3 col-md-2 text-center">
          <a class="text-hover-jaffa" href="#">
            <figure class="figure">
              <span class="width-100px fill-mulberry">
                {% include "svg/just-escape-door.svg" %}
              </span>
              <figcaption class="text-center">Teleformes</figcaption>
            </figure>
          </a>
        </div>
      </div>
    </section>
  </div>

  <div class="jumbotron light">
    <section class="container">
      <h2 class="text-center text-sm-left">{% trans "Meanwhile" %}</h2>
      <p class="text-center text-sm-left lead">{% trans "We&#39;re having fun with those icons" %}</p>
      <div class="row">
        <div class="col-12 col-sm-3 col-md-2 text-center">
          <a class="text-hover-jaffa" href="#">
            <figure class="figure">
              <span class="width-100px fill-jaffa">
                {% include "svg/just-escape-door.svg" %}
              </span>
              <figcaption class="text-center">Tiranium</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-12 col-sm-3 col-md-2 text-center">
          <a class="text-hover-jaffa" href="#">
            <figure class="figure">
              <span class="width-100px fill-dark">
                {% include "svg/just-escape-door.svg" %}
              </span>
              <figcaption class="text-center">Alextra</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-12 col-sm-3 col-md-2 text-center">
          <a class="text-hover-jaffa" href="#">
            <figure class="figure">
              <span class="width-100px fill-mulberry">
                {% include "svg/just-escape-door.svg" %}
              </span>
              <figcaption class="text-center">Bombats</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-12 col-sm-3 col-md-2 text-center">
          <a class="text-hover-jaffa" href="#">
            <figure class="figure">
              <span class="width-100px fill-dark">
                {% include "svg/just-escape-door.svg" %}
              </span>
              <figcaption class="text-center">Alcates</figcaption>
            </figure>
          </a>
        </div>
      </div>
    </section>
  </div>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/{{ lang }}"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "{% trans "Partners" %}",
                "item": "https://just-escape.fr/{{ lang }}partenaires"
            }
        ]
    }
  </script>
{% endblock %}
