{% extends "base.html" %}

{% load i18n %}

{% block h1 %}{% trans "Our partnerships" %}{% endblock %}

{% block content %}

  <div class="jumbotron deeplight">
    <section class="container">
      <h2>{% lorem 7 w %}</h2>
      <p class="lead">{% lorem 30 w %}</p>
      <div class="row">
        <div class="col-4 col-sm-3 col-lg-2 mb-4">
          <a class="text-hover-jaffa" href="#">
            <figure class="figure">
              {% include "svg/tripadvisor-certificate.svg" %}
              <figcaption class="text-center">Just Escape</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 mb-4">
          <a class="text-hover-jaffa" href="#">
            <figure class="figure">
              {% include "svg/tripadvisor-certificate.svg" %}
              <figcaption class="text-center">Just Escape</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 mb-4">
          <a class="text-hover-jaffa" href="#">
            <figure class="figure">
              {% include "svg/tripadvisor-certificate.svg" %}
              <figcaption class="text-center">Just Escape</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 mb-4">
          <a class="text-hover-jaffa" href="#">
            <figure class="figure">
              {% include "svg/tripadvisor-certificate.svg" %}
              <figcaption class="text-center">Just Escape</figcaption>
            </figure>
          </a>
        </div>
      </div>
    </section>
  </div>

  <div class="jumbotron light">
    <section class="container">
      <h2>{% lorem 5 w %}</h2>
      <p class="lead">{% lorem 20 w %}</p>
      <div class="row">
        <div class="col-4 col-sm-3 col-lg-2 mb-4">
          <a class="text-hover-jaffa" href="#">
            <figure class="figure">
              {% include "svg/tripadvisor-certificate.svg" %}
              <figcaption class="text-center">Just Escape</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 mb-4">
          <a class="text-hover-jaffa" href="#">
            <figure class="figure">
              {% include "svg/tripadvisor-certificate.svg" %}
              <figcaption class="text-center">Just Escape</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 mb-4">
          <a class="text-hover-jaffa" href="#">
            <figure class="figure">
              {% include "svg/tripadvisor-certificate.svg" %}
              <figcaption class="text-center">Just Escape</figcaption>
            </figure>
          </a>
        </div>
        <div class="col-4 col-sm-3 col-lg-2 mb-4">
          <a class="text-hover-jaffa" href="#">
            <figure class="figure">
              {% include "svg/tripadvisor-certificate.svg" %}
              <figcaption class="text-center">Just Escape</figcaption>
            </figure>
          </a>
        </div>
      </div>
    </section>
  </div>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Partenaires",
                "item": "https://just-escape.fr/partenaires"
            }
        ]
    }
  </script>
{% endblock %}
