{% extends "base.html" %}

{% load i18n %}

{% block title %}Quels sont nos Prix ? Escape Game Lille — Just Escape{% endblock %}

{% block h1 %}{% trans "Quels sont nos Prix ?" %}{% endblock %}

{% block content %}

  <div class="jumbotron">
    <div class="container">
      <div class="row mb-3">
        <h2 class="text-jaffa">Quel est le prix d'un scénario ?</h2>
      </div>
      <div class="row d-flex justify-content-center flex-wrap mb-4">
        <div class="col-12 col-sm-7 col-lg-3 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-body text-center mt-4 mb-5">
              <h3 class="size-5 card-title text-jaffa">25€</h3>
              <p class="card-text font-italic">Par personne</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-7 col-lg-3 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-body text-center mt-4 mb-5">
              <h3 class="size-5 card-title text-jaffa">-20%</h3>
              <p class="card-text font-italic">
                Heures creuses
                <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" data-content="Du lundi au vendredi jusqu'à 16h (inclu)"><span class="svg-16px fill-jaffa pointer align-text-bottom">{% include "svg/info-circle.svg" %}</span></a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-7 col-lg-3 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-body text-center mt-4 mb-5">
              <h3 class="size-5 card-title text-jaffa">-30%</h3>
              <p class="card-text font-italic">
                Pour les <span class="font-weight-bold text-mulberry">étudiants</span>
                <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" data-content="Les paiements en ligne se font au plein tarif. Remboursement de la différence sur place sur présentation de la carte."><span class="svg-16px fill-jaffa pointer align-text-bottom">{% include "svg/info-circle.svg" %}</span></a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-7 col-lg-3 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="ribbon ribbon-top-left ribbon-jaffa"><span>Rupture de stock</span></div>
            <div class="card-body text-center">
              <h3 class="size-35 card-title text-jaffa">Offre spéciale</h3>
              <p class="card-text font-italic small">La dernière offre spéciale est en rupture de stock</p>
              <p class="card-text font-italic small">Nous vous invitons à patienter</p>
              <a class="btn btn-secondary float-right border-0" href="/{{ lang }}#newsletter">
                <span>Être averti</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="d-flex flex-column text-center">
          <a class="btn btn-primary px-5 mb-2" href="/{{ lang }}reserver">
            <span>Réserver</span>
          </a>
          <a href="/{{ lang }}team-building#devis" class="size-09 text-underline text-hover-mulberry">Devis entreprise</a>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron softdark">
    <div class="container">
      <div class="row mb-3">
        <h2 class="text-jaffa">Venez fêter vos événements chez nous</h2>
      </div>
      <div class="row d-flex justify-content-center flex-wrap mb-4">
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
          <div class="card dark border-jaffa h-100">
            <div class="card-header">
              <h3 class="card-title text-center text-jaffa mb-0"><span class="d-inline-block svg-24px fill-jaffa align-text-bottom mr-2">{% include "svg/apple-alt.svg" %}</span>Menu Gourmand</h3>
            </div>
            <div class="card-body d-flex align-items-center justify-content-center flex-column">
              <p class="card-text text-center">
                <span class="font-weight-bold">Collation sucrée</span> (boissons, madeleines, fruits, fromage&nbsp;blanc)<br>
                +<br>
                1 <span class="font-weight-bold">Photo imprimée</span> en&nbsp;HD
              </p>
            </div>
            <div class="card-footer text-center">
              <p class="card-text"><span class="text-mulberry">+7€</span> par personne</p>
              <p class="card-text size-09"><span class="text-jaffa">Suggéré pour :</span> Petit&nbsp;déj', Goûter, Anniversaire</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
          <div class="card dark border-jaffa h-100">
            <div class="card-header">
              <h3 class="card-title text-center text-jaffa mb-0"><span class="d-inline-block svg-24px fill-jaffa align-text-bottom mr-2">{% include "svg/beer.svg" %}</span>Menu Apéro</h3>
            </div>
            <div class="card-body d-flex align-items-center justify-content-center flex-column">
              <p class="card-text text-center">
              <span class="font-weight-bold">Apéritif salé</span> (bière ou verre&nbsp;de&nbsp;vin, saucisson, biscuits&nbsp;apéritif)<br>
                +<br>
                1 <span class="font-weight-bold">Photo imprimée</span> en&nbsp;HD
              </p>
            </div>
            <div class="card-footer text-center">
              <p class="card-text"><span class="text-mulberry">+10€</span> par personne</p>
              <p class="card-text size-09"><span class="text-jaffa">Suggéré pour :</span> EVG, EVJF, Anniversaire</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
          <div class="card dark border-jaffa h-100">
            <div class="card-header">
              <h3 class="card-title text-center text-jaffa mb-0"><span class="d-inline-block svg-24px fill-jaffa align-text-bottom mr-2">{% include "svg/gift.svg" %}</span>Carte cadeau</h3>
            </div>
            <div class="card-body d-flex align-items-center justify-content-center flex-column">
              <p class="card-text text-center">Vos proches vont vous adorer avec ce <a class="text-underline" href="/{{ lang }}carte-cadeau">coffret&nbsp;cadeau</a>.</p>
            </div>
            <div class="card-footer text-center">
              <p class="card-text size-09"><span class="text-jaffa">Suggéré pour :</span> Noël, Cagnotte, Tombola</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
          <div class="card dark border-jaffa h-100">
            <div class="card-header">
              <h3 class="card-title text-center text-jaffa mb-0"><span class="d-inline-block svg-24px fill-jaffa align-text-bottom mr-2">{% include "svg/user-tie.svg" %}</span>Entreprises</h3>
            </div>
            <div class="card-body d-flex align-items-center justify-content-center flex-column">
              <p class="card-text text-center">C'est difficile de motiver ses équipes en&nbsp;2019.</p>
              <p class="card-text text-center">Heureusement on a des <a class="text-underline" href="/{{ lang }}team-building">packs Team Building clé&nbsp;en&nbsp;main</a>.</p>
            </div>
            <div class="card-footer text-center">
              <p class="card-text size-09"><span class="text-jaffa">Suggéré pour :</span> Séminaire, Workshop, Teambuilding</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Tarifs",
                "item": "https://just-escape.fr/tarifs"
            }
        ]
    }
  </script>
{% endblock %}
