{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Price ⭐ Escape Game Lille ⭐ Just Escape" %}{% endblock %}
{% block description %}{% trans "Discounts: -20&#37; for students 👨🎓 -30&#37; off-peak hours 🕓 special offers ✨ Gourmet menus 🍪 Aperitif menus 🍻" %}{% endblock %}

{% block og_title %}{% trans "Pricing" %}{% endblock %}
{% block og_description %}{% trans "Discounts: -20&#37; for students 🎓 -30&#37; off-peak hours 🕓 special offers ✨ Gourmet menus 🍪 Aperitif menus 🍻" %}{% endblock %}

{% block h1 %}{% trans "What is our price?" %}{% endblock %}

{% block content %}

  <div class="jumbotron">
    <div class="container">
      <div class="row mb-3">
        <h2 class="text-jaffa">{% trans "Price of a scenario" %}</h2>
      </div>
      <div class="row d-flex justify-content-center flex-wrap mb-4">
        <div class="col-12 col-sm-7 col-lg-3 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-body text-center mt-4 mb-5">
              <h3 class="size-5 card-title text-jaffa">{% trans "25€" %}</h3>
              <p class="card-text font-italic">{% trans "Per person" %}</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-7 col-lg-3 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-body text-center mt-4 mb-5">
              <h3 class="size-5 card-title text-jaffa">{% trans "-20&#37;" %}</h3>
              <p class="card-text font-italic">
                {% trans "Off-peak hours" %}
                <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" data-content="{% trans "From monday to friday until 4PM (included)" %}"><span class="svg-16px fill-jaffa pointer align-text-bottom">{% include "svg/info-circle.svg" %}</span></a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-7 col-lg-3 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-body text-center mt-4 mb-5">
              <h3 class="size-5 card-title text-jaffa">{% trans "-30&#37;" %}</h3>
              <p class="card-text font-italic">
                {% trans "For <span class='font-weight-bold text-mulberry'>students</span>" %}
                <a tabindex="0" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" data-content="{% trans "Online payments are made at full price. Refund of the difference on site upon presentation of the card." %}"><span class="svg-16px fill-jaffa pointer align-text-bottom">{% include "svg/info-circle.svg" %}</span></a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-7 col-lg-3 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="ribbon ribbon-top-left ribbon-jaffa"><span>{% trans "Out of stock" %}</span></div>
            <div class="card-body text-center">
              <h3 class="size-35 card-title text-jaffa">{% trans "Special offer" %}</h3>
              <p class="card-text font-italic small">{% trans "The last special offer is out of stock" %}</p>
              <p class="card-text font-italic small">{% trans "We invite you to wait" %}</p>
              <a class="btn btn-secondary float-right border-0" href="/{{ lang }}#newsletter">
                <span>{% trans "Get notified" %}</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="d-flex flex-column text-center">
          <a class="btn btn-primary px-5 mb-2" href="/{{ lang }}reserver">
            <span>{% trans "Book now" %}</span>
          </a>
          <a href="/{{ lang }}team-building#devis" class="size-09 text-underline text-hover-mulberry">{% trans "Company quote" %}</a>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron softdark">
    <div class="container">
      <div class="row mb-3">
        <h2 class="text-jaffa">{% trans "Come and celebrate your events with us" %}</h2>
      </div>
      <div class="row d-flex justify-content-center flex-wrap mb-4">
        <div class="col-12 col-sm-6 col-lg-3 mb-4">
          <div class="card dark border-jaffa h-100">
            <div class="card-header">
              <h3 class="card-title text-center text-jaffa mb-0"><span class="d-inline-block svg-24px fill-jaffa align-text-bottom mr-2">{% include "svg/apple-alt.svg" %}</span>{% trans "Gourmet menu" %}</h3>
            </div>
            <div class="card-body d-flex align-items-center justify-content-center flex-column">
              <p class="card-text text-center">
                {% trans "<span class='font-weight-bold'>Sweet snack</span> (soft drinks, madeleines, fruits, dairy&nbsp;product)" %}<br>
                +<br>
                {% trans "1 HD <span class='font-weight-bold'>printed photo</span>" %}
              </p>
            </div>
            <div class="card-footer text-center">
              <p class="card-text">{% trans "<span class='text-mulberry'>+7€</span> per person" %}</p>
              <p class="card-text size-09">{% trans "<span class='text-jaffa'>Suggested for:</span>" %} {% trans "Breakfast, Snack, Birthday" %}</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
          <div class="card dark border-jaffa h-100">
            <div class="card-header">
              <h3 class="card-title text-center text-jaffa mb-0"><span class="d-inline-block svg-24px fill-jaffa align-text-bottom mr-2">{% include "svg/beer.svg" %}</span>{% trans "Aperitif menu" %}</h3>
            </div>
            <div class="card-body d-flex align-items-center justify-content-center flex-column">
              <p class="card-text text-center">
                {% trans "<span class='font-weight-bold'>Salted aperitif</span> (beer or glass&nbsp;of&nbsp;wine, dry sausage, appetizers)" %}<br>
                +<br>
                {% trans "1 HD <span class='font-weight-bold'>printed photo</span>" %}
              </p>
            </div>
            <div class="card-footer text-center">
              <p class="card-text">{% trans "<span class='text-mulberry'>+10€</span> per person" %}</p>
              <p class="card-text size-09">{% trans "<span class='text-jaffa'>Suggested for:</span>" %} {% trans "Stag&nbsp;/ Hen&nbsp;/ Bachelor party, Birthday" %}</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
          <div class="card dark border-jaffa h-100">
            <div class="card-header">
              <h3 class="card-title text-center text-jaffa mb-0"><span class="d-inline-block svg-24px fill-jaffa align-text-bottom mr-2">{% include "svg/gift.svg" %}</span>{% trans "Gift card" %}</h3>
            </div>
            <div class="card-body d-flex align-items-center justify-content-center flex-column">
              <p class="card-text text-center">{% trans "Your friends and family will love you with this <a href='/en/carte-cadeau' class='text-underline text-hover-mulberry'>gift&nbsp;box</a>." %}</p>
            </div>
            <div class="card-footer text-center">
              <p class="card-text size-09">{% trans "<span class='text-jaffa'>Suggested for:</span>" %} {% trans "Christmas, Money&nbsp;pot, Lottery" %}</p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3 mb-4">
          <div class="card dark border-jaffa h-100">
            <div class="card-header">
              <h3 class="card-title text-center text-jaffa mb-0"><span class="d-inline-block svg-24px fill-jaffa align-text-bottom mr-2">{% include "svg/user-tie.svg" %}</span>{% trans "Corporate" %}</h3>
            </div>
            <div class="card-body d-flex align-items-center justify-content-center flex-column">
              <p class="card-text text-center">{% trans "It&#39;s tough to motivate your teams in&nbsp;2019." %}</p>
              <p class="card-text text-center">{% trans "Fortunately, we have <a class='text-underline text-hover-mulberry' href='/en/team-building'>turnkey Team&nbsp;Building packages</a>." %}</p>
            </div>
            <div class="card-footer text-center">
              <p class="card-text size-09">{% trans "<span class='text-jaffa'>Suggested for:</span>" %} {% trans "Seminar, Workshop, Teambuilding" %}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/{{ lang }}"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "{% trans "Pricing" %}",
                "item": "https://just-escape.fr/{{ lang }}tarifs"
            }
        ]
    }
  </script>
{% endblock %}
