{% extends "base.html" %}

{% block title %}Qu'est-ce qu'une Murder Party ? – Just Escape{% endblock %}
{% block description %}Une murder party est une jeu d'immersion grandeur nature dans lequel vous incarnez les personnages de l'histoire. Découvrez tout le piquant de ce genre de jeu original...{% endblock %}

{% block og_title %}Qu'est-ce qu'une Murder Party ? – Just Escape{% endblock %}
{% block og_description %}Une murder party est une jeu d'immersion grandeur nature dans lequel vous incarnez les personnages de l'histoire. Découvrez tout le piquant de ce genre de jeu original...{% endblock %}

{% block pre_content %}{% endblock %}

{% block main_header %}{% endblock %}

{% block content %}

  <div class="jumbotron-fluid content-cover position-relative">
    <div>
      <picture>
        <!--<source media="(max-width: 599.98px)" srcset="/static/img/escape-game-lille-nouvelle-generation-600x780.jpg" type="image/jpg">
        <source media="(max-width: 599.98px)" srcset="/static/img/escape-game-lille-nouvelle-generation-600x780.webp" type="image/webp">
        <source media="(min-width: 600px) and (max-width: 991.98px)" srcset="/static/img/escape-game-lille-nouvelle-generation-1820x1120.jpg" type="image/jpg">
        <source media="(min-width: 600px) and (max-width: 991.98px)" srcset="/static/img/escape-game-lille-nouvelle-generation-1820x1120.webp" type="image/webp">
        <source media="(min-width: 992px)" srcset="/static/img/escape-game-lille-nouvelle-generation-1700x900.jpg" type="image/jpg">
        <source media="(min-width: 992px)" srcset="/static/img/escape-game-lille-nouvelle-generation-1700x900.webp" type="image/webp">-->
        <img class="position-absolute" style="top: 0px; height: 100%; object-fit: cover; width: 100%" src="/static/img/qu-est-ce-qu-une-murder-party-1400x740.webp" alt="L'affiche du film murder party">
      </picture>
    </div>

    <div class="container h-100">
      <div class="row h-100">
        <div class="col d-flex flex-column justify-content-end" style="margin-bottom: 100px">
          <h1 class="text-jaffa text-inter size-2 size-sm-35 text-center dark">Qu'est-ce qu'une murder party ?</h1>
          <div class="text-light text-inter text-center font-weight-bold size-12 dark">Lisez la suite pour tout savoir sur le <span class="text-mulberry">piquant</span> de cette activité <span class="text-mulberry">terriblement insolite</span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron px-0 py-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col">
          <div>
            <ol class="breadcrumb softdark py-2">
              <li class="breadcrumb-item"><a href="/murder-party" class="text-jaffa">Murder Party</a></li>
              <li class="breadcrumb-item active" aria-current="page">Qu'est-ce qu'une murder party ?</li>
            </ol>
          </div>

          <div class="text-jaffa size-15 text-inter font-weight-bold text-center">Qu'est-ce qu'une murder party ? En bref</div>

          <p class="text-center">Une murder party, parfois appelé soirée enquête, soirée meurtre et mystère, murder diner, est une jeu d'immersion grandeur nature à huis clos dans lequel vous incarnez les personnages de l'histoire.</p>
          <p class="text-center">Souvent, vous devez résoudre une intrigue policière, d'où le nom de “murder party”. Des comédiens vous accompagnent dans le scénario en jouant des personnages secondaires pour s'assurer que votre personnage progresse dans la bonne direction.</p>

          <div class="row justify-content-center">
            <div class="col col-lg-8">
              <figure class="text-center font-italic">
                <picture>
                  <source srcset="/static/img/murder-party-var.webp" type="image/webp">
                  <source srcset="/static/img/murder-party-var.jpg" type="image/jpg">
                  <img loading="lazy" class="img-fluid mb-1" src="/static/img/murder-party-var.jpg" alt="Des joueurs déguisés dans une murder party">
                </picture>
                <figcaption>
                  Qu'est-ce qu'une murder party ? Lisez la suite pour le découvrir
                </figcaption>
              </figure>
            </div>
          </div>

          <h2 class="text-jaffa">Comment jouer à une murder party ?</h2>
          <p>Au début de la partie vous recevez des informations sur votre personnage :</p>
          <ul>
            <li>Votre identité</li>
            <li>Vos relations avec les autres : complicités, conflits, liaison secrète...</li>
            <li>Vos objectifs, ce que vous devez accomplir pendant la soirée</li>
          </ul>

          <p>Chaque participant incarne un personnage avec ses propres traits de caractères et ses propres objectifs. Vos objectifs peuvent être partiellement compatibles avec les autres personnages. <span class="text-jaffa font-weight-bold">C'est ce qui rend la murder party très fun</span>. Il faudra donc faire des alliances, puis les trahir au bon moment !</p>

          <p>On peut dire qu'une murder party est un mélange entre théâtre, improvisation, escape game, jeu d'enquête. On retrouve de plus en plus de mécanismes d'escape game intégrés à l'histoire, comme des coffres à ouvrir pour récupérer des indices !
</p>
          <p class="text-jaffa text-inter mb-0">Est-ce que je dois jouer comme sur une scène de théâtre ?</p>
          <p class="mb-0">Il est recommandé aux joueurs de jouer, voire de surjouer leur personnage pour rendre les interactions amusantes.</p>
          <p class="mb-0">D'un autre côté, si vous vous sentez gêné à l'idée de devoir jouer théâtralement votre rôle au milieu de tout le monde : pas de panique. Vous pouvez passer toute la partie à comploter secrètement.</p>
          <p>L'important est que vos actions soient cohérentes avec votre personnage.</p>
          <p class="font-italic">Exemple : si vous jouez le rôle d'un banquier cupide, vous devez agir pour accumuler un maximum d'argent</p>

          <p class="text-jaffa text-inter mb-0">Est-ce que je dois me déguiser ?</p>
          <p class="mb-0">Les personnages reçoivent généralement des accessoires utilisables pendant la partie (sac à main, chapeau, vêtement supplémentaire). En fonction du thème, l'organisateur peut envoyer aux joueurs des suggestions vestimentaires pour améliorer l'immersion. Il arrive exceptionnellement que l'organisateur fournisse des costumes spécialement conçus pour la murder party (mais cela reste rare car cela pose des problèmes logistiques).</p>
          <p>Encore une fois, rien n'est obligatoire. La plupart des murder parties se jouent avec des accessoires très légers.</p>
          <i class="fa-fw far fa-check" style="color: green"></i>

          <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
              <figure class="text-center font-italic mb-3">
                <picture>
                  <source srcset="/static/img/murder-party-costume-suggere.webp" type="image/webp">
                  <source srcset="/static/img/murder-party-costume-suggere.jpg" type="image/jpg">
                  <img loading="lazy" src="/static/img/murder-party-costume-suggere.webp" class="img-fluid mb-1" alt="Des joueurs de murder party avec différents costumes plus ou moins adaptés">
                </picture>
                <figcaption>
                  Exemple de costume suggéré pour une murder party sur un <div class="text-jaffa font-weight-bold">thème far west</div>
                </figcaption>
              </figure>
            </div>
          </div>

          <p class="text-jaffa text-inter mb-0">Combien de temps dure une murder party ?</p>
          <p>Une murder party dure entre 2 et 3 heures. Certains scénarios sont pensés pour durer environ 1 heure et d’autres peuvent durer jusqu’à 10 heures, voire un week-end complet.</p>

          <p class="text-jaffa text-inter mb-0">Où se passe une murder party ?</p>
          <p class="mb-0">Vous progressez en huis clos.</p>
          <p class="mb-0">Une murder party peut être organisée n'importe où. Dans ce cas il est nécessaire que le scénario soit bien travaillé pour éviter que les joueurs ne se dispersent.</p>
          <p>Les murder parties sont en général associées aux lieux insolites comme les châteaux ou les monuments historiques pour bénéficier des décors immersifs.</p>

          <div class="row justify-content-center">
            <div class="col col-lg-8">
              <figure class="text-center font-italic mb-3">
                <picture>
                  <source srcset="/static/img/devis-escape-game-murder-party.webp" type="image/webp">
                  <source srcset="/static/img/devis-escape-game-murder-party.jpg" type="image/jpg">
                  <img loading="lazy" src="/static/img/devis-escape-game-murder-party.webp" class="img-fluid mb-1" alt="Un événement privé de murder party">
                </picture>
                <figcaption>
                  La décoration de la salle de réception de Just Escape est idéale pour une murder party dans un saloon
                </figcaption>
              </figure>
            </div>
          </div>

          <p class="text-jaffa text-inter mb-0">Événements</p>
          <p>Les événements sont une mécanique de jeu courante dans les murder parties. Il s'agit de rassembler tous les joueurs pour assister à une confrontation entre deux personnages, comme une joute verbale, un duel, une déclaration tragique. Le scénario peut prévoir des événements, connus à l'avance par les joueurs, ou au contraire qui vont arriver sans que personne ne soit au courant. Les joueurs peuvent aussi créer par eux-mêmes des événements.</p>
          <p class="font-italic">Exemple : Un jugement va avoir lieu dans une heure. Les personnages concernés par ce jugement vont devoir convaincre le juge de trancher en leur faveur.</p>

          <p class="text-jaffa text-inter mb-0">Plot twists</p>
          <p>Dans un scénario de plusieurs heures, vous allez vivre des rebondissements. Les plot twists peuvent être soit prévus à l'origine dans le scénario, soit amenés par les joueurs.</p>
          <p class="font-italic">Exemple : Un personnage central de l'histoire meurt pendant la partie... Toutes les cartes sont rebattues. Si vous comptiez sur ce personnage pour réussir vos objectifs, il va falloir trouver d'autres solutions. Qu'allez-vous faire !?</p>

          <p class="text-jaffa text-inter mb-0">Une murder party c'est comme un escape game ?</p>
          <p>La murder party et l'escape game sont tous les deux des gens immersifs grandeur nature. Dans un escape game vous interagissez surtout avec des objets. Tandis que dans la murder party vous interagissez surtout avec les autres personnes.</p>

          <!--
          <hr class="border-jaffa"/>

          <hr class="border-jaffa"/>

          <div class="font-italic">Transition commerciale à retravailler</div>

          <p class="text-jaffa text-inter mb-0">Est-ce que Just Escape organise des murder parties ?</p>
          <p>Oui ! + mettre des arguments pour dire que celles de Just Escape sont bien</p>

          <p class="text-jaffa text-inter mb-0">Dans quel cadre jouer à une murder party ?</p>
          <p>Vous êtes une organisation ?</p>
          <ul>
            <li>Vous organisez un événement de team building ? Choisissez une activité vraiment originale !</li>
            <li>Vous souhaitez que vos collaborateurs se rapprochent ? Créez les conditions parfaites pour briser la glace !</li>
            <li>Vous préparez un séminaire ? La murder est idéale pour clore sur une touche de grandiose !</li>
          </ul>

          <p>En tant que particulier, vous pouvez également jouer à nos murder party en session ouverte.</p>

          <p>NOTE: ce qui suit doit être intégré dans d'autres pages orientées commerciales : une pro et une particulier.</p>

          <h2 class="text-jaffa text-center mt-5 mb-3">Pourquoi jouer à une murder party ?</h2>

          <h3 class="text-jaffa text-center mb-3">Team building</h3>

          <div class="row text-center justify-content-center">
            <div class="col-12 col-lg-4">
              <div class="card deepdark border-jaffa text-center h-100">
                <div class="card-header text-inter font-weight-bold text-jaffa">
                  Sortez du train train quotidien
                </div>
                <div class="card-body">
                  <p><span class="text-mulberry text-inter">Riez</span> et posez un nouveau regard sur vos collègues.</p>
                  <p>Oubliez votre place hiérarchique dans l'entreprise le temps d'une soirée.</p>
                  <p>Glissez-vous dans la peau d'un personnage : enquêteur, coupable ou suspect !</p>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-4">
              <div class="card deepdark border-jaffa text-center h-100">
                <div class="card-header text-inter font-weight-bold text-jaffa">
                  Révelez les talents
                </div>
                <div class="card-body">
                  <p>La murder party est formidablement efficace pour <span class="text-mulberry text-inter">révéler les talents</span> de chacun.</p>
                  <p>Atteignez vos objectifs en faisant preuve de communication, de diplomatie et de négociation.</p>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-4">
              <div class="card deepdark border-jaffa text-center h-100">
                <div class="card-header text-inter font-weight-bold text-jaffa">
                  La murder s'adapte à votre team&nbsp;building
                </div>
                <div class="card-body">
                  <p>Vous organisez un <span class="text-mulberry text-inter">séminaire</span> ? La murder est idéale pour clore sur une touche de <span class="text-mulberry text-inter">grandiose</span> !</p>
                  <p>Vous souhaitez que vos collaborateurs se rapprochent ?</p>
                  <p>Votre équipe ne se connait pas encore ? Proposez une activité parfaite pour <span class="text-mulberry text-inter">briser&nbsp;la&nbsp;glace</span>&nbsp;!</p>
                </div>
              </div>
            </div>

            <div class="d-flex flex-column">
              <div class="text-center mt-3 mb-2">Vous vous demandez encore quelle activité organiser pour votre team building ? Optez pour la Murder Party !</div>
              <div class="text-center">
                <a href="/team-building#devis" class="btn btn-primary px-5">
                  <span>Envoyez-moi un devis</span>
                </a>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-12">
              <h3 class="text-jaffa text-center">EVJF/EVG</h3>
            </div>

            <div class="col-12 col-lg-4">
              <div class="card deepdark border-jaffa text-center h-100">
                <div class="card-header text-inter font-weight-bold text-jaffa">
                  Découvrez le côté obscur de vos ami(e)s
                </div>
                <div class="card-body">
                  <p>Vous pensiez que la future mariée n'avait rien à cacher ?</p>
                  <p>Partagez un moment de complicité</p>
                  <p>Riez, vivez des émotions fortes</p>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-4">
              <div class="card deepdark border-jaffa text-center h-100">
                <div class="card-header text-inter font-weight-bold text-jaffa">
                  La murder party s'adapte à votre EVJF/EVG
                </div>
                <div class="card-body">
                  <p>Vous êtes à l'aise en public ? Vous êtes timide ? Vous aimez l'improvisation ? La déduction ? La confrontation directe ? Vous préférez la discrétion ?</p>
                  <p>Bonne nouvelle : il y a des rôles pour tout le monde !</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-12">
              <h3 class="text-jaffa text-center">Tu cherches une sortie originale en couple ou avec tes amis ?</h3>
            </div>

            <div class="col-12 col-lg-4">
              <div class="card deepdark border-jaffa text-center h-100">
                <div class="card-header text-inter font-weight-bold text-jaffa">
                  Participez à une activité vraiment originale
                </div>
                <div class="card-body">
                  <p>Vous pensiez que la future mariée n'avait rien à cacher ?</p>
                  <p>Partagez un moment de complicité</p>
                  <p>Riez, vivez des émotions fortes</p>
                </div>
              </div>
            </div>

            <div class="col-12 col-lg-4">
              <div class="card deepdark border-jaffa text-center h-100">
                <div class="card-header text-inter font-weight-bold text-jaffa">
                  La murder party s'adapte à votre EVJF/EVG
                </div>
                <div class="card-body">
                  <p>Vous êtes à l'aise en public ? Vous êtes timide ? Vous aimez l'improvisation ? La déduction ? La confrontation directe ? Vous préférez la discrétion ?</p>
                  <p>Bonne nouvelle : il y a des rôles pour tout le monde !</p>
                </div>
              </div>
            </div>
          </div>

          <h3 class="text-jaffa text-center">Tu cherches une sortie originale en couple ou avec tes amis ?</h3>
          <ul>
            <li>Un ou plusieurs plot twists peuvent survenir pendant la partie et relancer l'histoire. La situation semblait désespérée ?</li>
            <li>Parler de mécaniques avancées</li>
            <li>En réalité le meurtre n'est qu'un prétexte pour s'amuser. Le scénario d'une bonne murder party est ficelé avec plein d'intrigues secondaires. C'est comme ça qu'a été pensé le Redrock Saloon donc plein de gameplays possibles. C'est vous qui faites vos choix.</li>
            <li>plot twists</li>
            <li>événements</li>
            <li>mécaniques liées à l’univers : joutes verbales, combats, mini-défis contre d'autres joueurs,</li>
            <li>Rencontrez de nouvelles personnes</li>
            <li>Atteignez vos objectifs grâce à des capacités propres à votre personnage</li>
          </ul>
          -->

        </div>
      </div>

    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Murder Party",
                "item": "https://just-escape.fr/murder-party"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "Qu'est-ce qu'une murder party ?",
                "item": "https://just-escape.fr/murder-party/qu-est-ce-qu-une-murder-party"
            }
        ]
    }
  </script>
{% endblock %}
