{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Escape Rooms ⭐ Escape Game Lille ⭐ Just Escape" %}{% endblock %}
{% block description %}{% trans "Discover The Digimiam, a futuristic restaurant 🍽 🤖 Ideal for an outing with friends 😃" %}{% endblock %}

{% block og_title %}{% trans "Our Escape Rooms" %}{% endblock %}
{% block og_description %}{% trans "Discover The Digimiam, a futuristic restaurant 🍽 🤖 Ideal for an outing with friends 😃" %}{% endblock %}

{% block h1 %}{% trans "Discover our scenarios" %}{% endblock %}

{% block content %}

  <section class="jumbotron py-5">
    <div id="room-1" class="container px-0">
      <div id="heading-room-1">
        <div class="d-flex flex-row justify-content-center flex-column-reverse flex-md-row">
          <div class="col-12 col-md-2 my-auto text-center text-md-left pl-0">
            <div class="text-hover-jaffa pointer opacity-07 opacity-hover-1 d-inline-block mb-3" role="button" data-toggle="collapse" data-target="#collapse-room-1" aria-expanded="false" aria-controls="collapse-room-1">
              <span class="transition-03s svg-64px svg-sm-48px fill-light d-block text-center{% if show == "d1" %} rotate-90{% endif %}">{% include "svg/arrow-right.svg" %}</span>
              <div class="size-09 text-underline">{% trans "More info" %}</div>
            </div>
          </div>
          <div class="col-12 col-md-10 px-sm-0 mb-4 mb-md-0">
            <div class="d-flex flex-column flex-sm-row">
              <div class="d-flex justify-content-center mb-3 mb-sm-0 mr-sm-3">
                <div class="width-170px position-relative my-auto my-lg-2">
                  <div class="ribbon ribbon-top-left ribbon-small ribbon-mulberry-jaffa"><span>{% trans "New" %}</span></div>
                  {% include "svg/digimiam.svg" %}
                </div>
              </div>

              <div>
                <span id="digimiam" class="anchor">&nbsp;</span>
                <h2>{% trans "The Digimiam" %}</h2>
                <p class="mb-2">{% trans "What could a <span class='font-weight-bold'>futuristic restaurant</span> entirely managed by Artificial Intelligence look like? This is what you will discover in the Digimiam (<span class='font-weight-bold'>famous address</span> that all the inhabitants of <span class='font-weight-bold'>Lille</span> speak about <span class='font-weight-bold'>in 2080</span>)." %}</p>
                <p class="mb-2">{% trans "But today <span class='font-weight-bold'>the Digimiam needs you</span>. The report indicates that <span class='font-weight-bold'>the cooking AI, <span class='font-italic'>Marmitron</span></span>, would no longer respond to orders. The customer is urging you, and you maintenance group specialized in IA." %}</p>
                <p>{% trans "This routine intervention may well become <span class='font-weight-bold'>funnier than expected</span> when you will infiltrate a <span class='font-weight-bold'>laser labyrinth</span>, recalibrate <span class='font-weight-bold'>robotic arms</span> and restore the other modules." %}</p>
                <div class="d-flex flex-column-reverse flex-sm-row justify-content-sm-between">
                  <div class="d-flex flex-column flex-lg-row my-auto">
                    <div class="mb-2 mb-lg-0 mr-lg-4">
                      <div class="d-flex flex-row-reverse flex-sm-row">
                        <div class="position-relative">
                          <span class="d-inline-block svg-24px fill-light align-top position-absolute bottom-minus2px-right-minus6px">{% include "svg/x2.svg" %}</span>
                          <span class="d-inline-block svg-24px fill-jaffa align-top">{% include "svg/users.svg" %}</span>
                        </div>
                        <span class="mr-2 mr-sm-3"></span>
                        <span class="size-09 lh-24px">{% trans "2 - 4 players" %}</span>
                      </div>
                    </div>
                    <div class="mb-2 mb-lg-0 mr-lg-4">
                      <div class="d-flex flex-row-reverse flex-sm-row">
                        <span class="d-inline-block svg-24px fill-jaffa align-top">{% include "svg/chrono.svg" %}</span>
                        <span class="mr-2 mr-sm-3 mr-lg-2"></span>
                        <span class="size-09 lh-24px">{% trans "60 minutes" %}</span>
                      </div>
                    </div>
                    <div class="mb-2 mb-lg-0">
                      <div class="d-flex flex-row-reverse flex-sm-row">
                        <span class="d-inline-block svg-24px fill-jaffa align-top">{% include "svg/lang.svg" %}</span>
                        <span class="mr-2 mr-sm-3 mr-lg-2"></span>
                        <span class="size-09 lh-24px">{% trans "FR / EN" %}</span>
                      </div>
                    </div>
                  </div>
                  <div class="my-lg-auto text-right">
                    <a class="btn btn-primary mb-3 mb-lg-0" href="/{{ lang }}reserver">
                      <span class="px-3">{% trans "Book now" %}</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="collapse-room-1" class="row mt-4 collapse{% if show == "d1" %} show{% endif %}" aria-labelledby="heading-room-1" data-parent="#room-1">
        <div class="col-12 col-lg-5 my-auto">
          <p class="text-justify">{% trans "A better description and awesome photos are to come!" %}</p>
        </div>
        <div class="softdark rounded p-4 col-12 col-lg-7">
          <div id="carousel-room-1" class="carousel slide" data-interval="0">
            <ol class="carousel-indicators">
              <li data-target="carousel-room-1" data-slide-to="0" class="active"></li>
              <li data-target="carousel-room-1" data-slide-to="1"></li>
              <li data-target="carousel-room-1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <span class="d-inline-block w-100">{% include "svg/just-escape.svg" %}</span>
              </div>
              <div class="carousel-item">
                <span class="d-inline-block w-100">{% include "svg/just-escape.svg" %}</span>
              </div>
              <div class="carousel-item">
                <span class="d-inline-block w-100">{% include "svg/just-escape.svg" %}</span>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-room-1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">{% trans "Previous" %}</span>
            </a>
            <a class="carousel-control-next" href="#carousel-room-1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">{% trans "Next" %}</span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </section>

  <section class="jumbotron py-5 softdark">
    <div class="container px-0">
      <div class="d-flex justify-content-end">
        <div class="col-12 col-md-10 px-sm-0">
          <div class="d-flex flex-column flex-sm-row">
            <div class="d-flex justify-content-center mb-3 mb-sm-0 mr-sm-3">
              <div class="width-170px position-relative my-auto my-lg-2 opacity-05">
                <div class="ribbon ribbon-top-left ribbon-small ribbon-mulberry-jaffa"><span>{% trans "[room] Soon" %}</span></div>
                {% include "svg/puppet.svg" %}
              </div>
            </div>

            <div>
              <h2 class="opacity-05">{% trans "Horror room" %} <span class="d-inline-block svg-30px fill-light align-baseline">{% include "svg/minus-16.svg" %}</span></h2>
              <p class="opacity-05 mb-2">{% trans "You will soon be able to enjoy <span class='font-weight-bold'>a new horror room in Lille</span>." %}</p>
              <p class="opacity-05 mb-2">{% trans "All we can reveal for now is that there will be a forest, <span class='font-weight-bold'>a manor house</span>, a gloomy atmosphere, <span class='font-weight-bold'>a puppeteer</span>, her children (small but not that cute), a <span class='font-weight-bold'>theatrical puppet show</span> that <span class='font-italic'>you</span> will perform, <span class='font-weight-bold'>adrenaline rushes</span>, <span class='font-weight-bold'>blood</span> and maybe even <span class='font-weight-bold'>death</span>." %}</p>
              <p class="opacity-05">{% trans "Expected release date: soon™." %}</p>
              <div class="d-flex flex-column-reverse flex-sm-row justify-content-sm-between">
                <div class="d-flex flex-column flex-lg-row my-auto">
                  <div class="mb-2 mb-lg-0 mr-lg-4">
                    <div class="d-flex flex-row-reverse opacity-05 flex-sm-row">
                      <span class="d-inline-block svg-24px fill-jaffa align-top">{% include "svg/users.svg" %}</span>
                      <span class="mr-2"></span>
                      <span class="size-09 lh-24px">{% trans "4 - 6 players" %}</span>
                    </div>
                  </div>
                  <div class="mb-2 mb-lg-0 mr-lg-4">
                    <div class="d-flex flex-row-reverse opacity-05 flex-sm-row">
                      <span class="d-inline-block svg-24px fill-jaffa align-top">{% include "svg/chrono.svg" %}</span>
                      <span class="mr-2"></span>
                      <span class="size-09 lh-24px">{% trans "60 minutes" %}</span>
                    </div>
                  </div>
                  <div class="mb-2 mb-lg-0">
                    <div class="d-flex flex-row-reverse opacity-05 flex-sm-row">
                      <span class="d-inline-block svg-24px fill-jaffa align-top">{% include "svg/lang.svg" %}</span>
                      <span class="mr-2"></span>
                      <span class="size-09 lh-24px">{% trans "FR / EN" %}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}

{% block post_base_js %}
  <script>
    $("#collapse-room-1").on("show.bs.collapse", function() {$("#heading-room-1 span.svg-64px").addClass("rotate-90");})
    $("#collapse-room-1").on("hide.bs.collapse", function() {$("#heading-room-1 span.svg-64px").removeClass("rotate-90");})
    $("#collapse-room-2").on("show.bs.collapse", function() {$("#heading-room-2 span.svg-64px").addClass("rotate-90");})
    $("#collapse-room-2").on("hide.bs.collapse", function() {$("#heading-room-2 span.svg-64px").removeClass("rotate-90");})
  </script>

  {% include "js/animate-room.js" %}

  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/{{ lang }}"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "{% trans "Rooms" %}",
                "item": "https://just-escape.fr/{{ lang }}salles"
            }
        ]
    }
  </script>
{% endblock %}
