{% extends "base.html" %}

{% load i18n %}
{% load l10n %}

{% block title %}{% trans "Team Building – Escape Game Lille – Just Escape" %}{% endblock %}
{% block description %}{% trans "Turnkey packages: Breakfast ☕ Cocktail 🍸 Dinner Aperitif 🍻 Workshop 📈 Privatization 🤵" %}{% endblock %}

{% block og_title %}{% trans "Team Building – Turnkey Packages" %}{% endblock %}
{% block og_description %}{% trans "Turnkey packages: Breakfast ☕ Cocktail 🍸 Dinner Aperitif 🍻 Workshop 📈 Privatization 🤵" %}{% endblock %}

{% block extra_css %}
  <style rel="stylesheet">{% include "css/fa-solid-5.8.1.min.css" %}</style>
  <style rel="stylesheet">{% include "css/fa-regular-5.8.1.min.css" %}</style>
  <style rel="stylesheet">{% include "css/fontawesome-5.8.1.min.css" %}</style>
{% endblock %}

{% block main_header %}
<div class="jumbotron-fluid dark">
  <div class="container py-3">
    <div class="mx-auto text-center">
            <h1 class="size-15 text-inter lh-12" style="font-weight: normal">{% trans "Team building ou séminaire lille clé en main" %}</h1>
             <div class="text-inter">Une parenthèse joyeuse pour créer des liens authentiques</div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="jumbotron-fluid light position-relative">
    <div class="position-absolute w-100 dark" style="top: 0px; height: 20px"></div>

    <div class="container px-md-0">
      <div class="row">

        <div class="col-12 col-lg-6">
          <picture>
            <source srcset="/static/img/team-building-lille-escape-game.webp" type="image/webp">
            <source srcset="/static/img/team-building-lille-escape-game.jpg" type="image/jpg">
            <img src="/static/img/team-building-lille-escape-game.webp" class="img-fluid mb-3" alt="{% trans "Dans une salle d'escape game à Lille, deux collègues sont contentes de leur team building" %}">
          </picture>
          <!--<div id="carousel-team-building" class="carousel carousel-zoom-in slide mb-3" data-ride="carousel" data-interval="3000">
            <ol class="carousel-indicators">
              <li data-target="#carousel-team-building" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-team-building" data-slide-to="1"></li>
              <li data-target="#carousel-team-building" data-slide-to="2"></li>
              <li data-target="#carousel-team-building" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
              </div>
              <div class="carousel-item">
                <picture>
                  <source srcset="/static/img/salle-seminaire-escape-game-lille-baie-vitree.webp" type="image/webp">
                  <source srcset="/static/img/salle-seminaire-escape-game-lille-baie-vitree.jpg" type="image/jpg">
                  <img loading="lazy" src="/static/img/salle-seminaire-escape-game-lille-baie-vitree.webp" class="img-fluid mb-3" alt="{% trans "La salle de séminaire avec sa baie vitrée" %}">
                </picture>
              </div>
              <div class="carousel-item">
                <picture>
                  <source srcset="/static/img/cocktail-dinatoire-escape-game-lille.webp" type="image/webp">
                  <source srcset="/static/img/cocktail-dinatoire-escape-game-lille.jpg" type="image/jpg">
                  <img loading="lazy" src="/static/img/cocktail-dinatoire-escape-game-lille.webp" class="img-fluid mb-3" alt="{% trans "Un cocktail dinatoire réunit une équipe célèbrant un événement" %}">
                </picture>
              </div>
              <div class="carousel-item">
                <picture>
                  <source srcset="/static/img/cohesion-equipe-enigme.webp" type="image/webp">
                  <source srcset="/static/img/cohesion-equipe-enigme.jpg" type="image/jpg">
                  <img loading="lazy" src="/static/img/cohesion-equipe-enigme.webp" class="img-fluid mb-3" alt="{% trans "Une énigme qui demande de la cohésion d'équipe" %}">
                </picture>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-team-building" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">{% trans "Previous" %}</span>
            </a>
            <a class="carousel-control-next" href="#carousel-team-building" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">{% trans "Next" %}</span>
            </a>
          </div>-->
        </div>

        <div class="col-12 col-lg-6">
                <h2 class="text-jaffa mt-4">{% trans "Centre d'escape game avec salle de réunion&nbsp;: le team building avec une touche de grandiose" %}</h2>
                <p class="mb-0">{% trans "Vous recherchez une activité originale pour un cocktail dinatoire à Lille ? Un séminaire d'entreprise mémorable&nbsp;? Un afterwork entre collègue ? Just Escape Lille organisera l'événement qu'il vous faut&nbsp;:" %}</p>
          <ul class="mb-5">
                  <li>{% trans "Salle d'escape game à Lille jusqu'à 10 joueurs" %}</li>
                  <li>{% trans "Murder party pour team building à Lille <b>jusqu'à 50 joueurs</b>" %}</li>
                  <li>{% trans "Jeu d'énigmes pour cocktail dinatoire <b>jusqu'à 150 personnes</b>" %}</li>
                  <li>{% trans "Événement clé en main sur mesure&nbsp;: salle de réception, salle de réunion, cocktail apéritif, cocktail dinatoire, animation, collation sucrée, journée d'inauguration, jeu de pistes, escape game, etc." %}</li>
          </ul>
        </div>

      </div>

      <div class="row d-flex flex-column align-items-center px-3 mb-4">
        <div>
          <a href="#devis" class="btn btn-primary px-5 mb-4">
                  <span>{% trans "Je demande un devis" %}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--
      <div class="row">
        <div class="col">
          <p>
          {% trans "Organiser un escape game à Lille pour votre entreprise présente de nombreux avantages&nbsp;:" %}
          </p>
          <ul>
                  <li>{% trans "Tout d'abord, cela permet de créer un moment de détente et de divertissement pour les employés, ce qui peut contribuer à améliorer le bien être au travail. En effet, en s'amusant ensemble, les employés peuvent se détendre et oublier le stress quotidien lié à leur travail." %}</li>
                  <li>{% trans "De plus, les escape games ou murder party sont des activités ludiques qui permettent de développer la créativité et la capacité de travail en équipe. En effet, pour réussir une mission d'escape game, il est nécessaire de communiquer et de collaborer avec les autres membres de l'équipe. Cela peut être bénéfique pour l'entreprise, car cela peut renforcer la coopération au sein de l'équipe et améliorer la performance de celle-ci." %}</li>
                  <li>{% trans "Un autre avantage du team building est qu'il permet de créer des liens entre les employés et de développer la solidarité au sein de l'entreprise. En effet, en travaillant ensemble pour résoudre des énigmes et réussir une mission, les employés peuvent mieux se connaître et renforcer leur esprit d'équipe." %}</li>
                  <li>{% trans "Enfin, un team building en escape game est une activité originale et inoubliable qui peut être très appréciée par les employés. Cela peut être un moyen pour l'entreprise de montrer sa reconnaissance envers ses employés et leur offrir une expérience unique." %}</li>
          </ul>
          <p>{% trans "En résumé, organiser un escape game à Lille pour votre entreprise présente de nombreux avantages, tels que le développement de la créativité et de la cohésion d'équipe. Cela est bénéfique pour l'entreprise en termes de performance et de bien être au travail." %}</p>
        </div>
      </div>
  -->

  <div class="jumbotron pb-0 pt-3">
    <div class="container px-0">
      <div class="row">
        <div class="col">
          <h2 class="my-4">Pourquoi organiser un team building à Lille avec Just Escape ?</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-4 mb-4">
          <div class="card transparent border-jaffa h-100">
            <div class="card-header">
                    <h3 class="text-center text-inter text-jaffa font-weight-bold mb-0">{% trans "Nouez des liens authentiques" %}</h3>
            </div>
            <div class="card-body size-11 text-center lh-12 pt-0">
                    <p>{% trans "50% de nos clients (300 entreprises) ont renforcé leurs liens avec une murder party." %}</p>
                    <p>{% trans "Les sessions de murder party favorisent les connections d'une manière unique." %}</p>
                    <p>{% trans "Jouez avec vos collègues plutôt qu'avec des cadenas." %}</p>
            </div>
            <div class="card-footer transparent text-center" style="border-width: 0px">
              <picture>
                <source srcset="/static/img/team_building_murder_party.webp" type="image/webp">
                <source srcset="/static/img/team_building_murder_party.jpg" type="image/jpg">
                <img loading="lazy" src="/static/img/team_building_murder_party.webp" class="img-fluid mb-3" alt="{% trans "Graphique illustrant que 50% des teambuilding chez Just Escape sont des murder party" %}">
              </picture>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-4 mb-4">
          <div class="card transparent border-jaffa h-100">
            <div class="card-header">
                    <h3 class="text-center text-inter font-weight-bold mb-0">{% trans "<span class='text-jaffa'>Participez à la même activité</span>" %}</h3>
            </div>
            <div class="card-body size-11 text-center lh-12 pt-0">
                    <p>{% trans "Vous cherchez une activité à vivre ensemble qui parle à tout le monde ?" %}</p>
                    <p>{% trans "Nos murder party et jeux d'énigmes spécial teambuilding s'adaptent aux groupes de 20, 30, 50, 150 joueurs." %}</p>
                    <p>{% trans "Laissez-les exprimer leurs émotions naturelles." %}</p>
            </div>
            <div class="card-footer transparent text-center" style="border-width: 0px">
              <picture>
                <source srcset="/static/img/teambuilding_activite_grand_public.webp" type="image/webp">
                <source srcset="/static/img/teambuilding_activite_grand_public.jpg" type="image/jpg">
                <img loading="lazy" src="/static/img/teambuilding_activite_grand_public.webp" class="img-fluid mb-3" alt="{% trans "Teambuilding grand public entre collègues pour tous les profils" %}">
              </picture>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-4 mb-4">
          <div class="card transparent border-jaffa h-100">
            <div class="card-header">
                    <h3 class="text-center text-inter text-jaffa font-weight-bold mb-0">{% trans "Simple à organiser, Clé en main, Sur mesure" %}</h3>
            </div>
            <div class="card-body size-11 text-center lh-12 pt-0">
                    <p>{% trans "Vous avez besoin de précision ? Besoin d'un séminaire personnalisé ?" %}</p>
                    <p>{% trans "Loïs, notre directeur des événements team building, est à votre écoute (il a le sourire)." %}</p>
                    <p>{% trans "Réussissez votre teambuilding de qualité sans la charge mentale." %}</p>
            </div>
            <div class="card-footer transparent text-center" style="border-width: 0px">
              <picture>
                <source srcset="/static/img/activite-team-building-escape-room-lille.webp" type="image/webp">
                <source srcset="/static/img/activite-team-building-escape-room-lille.jpg" type="image/jpg">
                <img loading="lazy" src="/static/img/activite-team-building-escape-room-lille.webp" class="img-fluid mb-3" alt="{% trans "Un team building à Lille sur mesure et clé en main pour un séminaire" %}">
              </picture>
            <!--
                    6000 collaborateurs
                    Vivez l'émotion humaine à l'état brut.
                    Effet rideau théâtral.
                    On ressort changé.
                    Émotions simples et vraies.
                    Lien entre les membres.
                    Uppercut de beauté et de réflexion.
                    Sentiment Accomplissement.
                    le coeur serré.
                    laissez les exprimer leurs émotions.
                    Laisser une trace.
                    Chaleur d'une histoire avec la difficulté enquête énigmes.
                    ressortez exalté
            -->
            </div>
          </div>
        </div>

        <!--<div class="row">
          <div class="col">
                  Vous recherchez une activité ludique et insolite pour des groupes jusqu'à 50 personnes sur Lille ? Optez pour un jeu d'immersion grandeur nature, dans notre centre d'escape game ou dans vos locaux. Chaque joueur incarne un personnage et doit faire preuve de négociation, de diplomatie et d'improvisation pour parvenir à ses fins. C'est l'occasion parfaite de renforcer la complicité ou de briser la glace. Des comédiens réalisent une mise en situation, puis c'est à vous de jouer !
          </div>
        </div>-->
      </div>

      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-light rounded mb-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div class="size-1 mb-0 question font-weight-bold" itemprop="name" role="button">
              <span class="fill-light svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Qu'est-ce qu'une murder party ?" %}
            </div>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p>
                {% trans "Le temps d'une soirée, chaque participant s'oublie pour incarner un personnage d'une histoire. Il apprend à négocier avec ses collègues, à nouer des alliances. Le but de la murder party est de retrouver le coupable dans une enquête, comme au cluedo." %}
                </p>
                <p>
                {% trans "La murder party est la seule activité d'intérieur permettant à un grand groupe de s'amuser ensemble à la même activité." %}
                </p>
                <p>
                {% trans "C'est une occasion parfaite de briser la glace ou se rapprocher de ses collaborateurs sans la hiérarchie." %}
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-light rounded mb-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div class="size-1 mb-0 question font-weight-bold" itemprop="name" role="button">
              <span class="fill-light svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Quelle est la différence entre une murder party et un escape game ?" %}
            </div>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p>
                {% trans "Un escape game est un format dans lequel les joueurs sont enfermés dans une salle et doivent résoudre des énigmes pour en sortir en moins d'une heure." %}
                </p>
                <p>
                {% trans "La murder party est un jeu de rôle orienté histoire. Chaque participant incarne un personnage avec des objectifs propres. Elle favorise d'avantage les interactions entre les joueurs." %}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="jumbotron-fluid light">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="my-4">Quelle activité choisir pour son teambuilding ? Escape game ? Murder party ? Jeux d'énigmes ?</h2>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-12 col-lg-6 mb-5">
          {% include "component/card_sm_post_mortem.html" %}
        </div>

        <div class="col-12 col-lg-6 mb-5">
          {% include "component/card_sm_redrock_saloon.html" %}
        </div>

        <div class="col-12 col-lg-6 mb-5">
          {% include "component/card_sm_sherlock_vs_moriarty.html" %}
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-dark rounded mb-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div class="size-1 mb-0 question font-weight-bold" itemprop="name" role="button">
              <span class="fill-dark svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Pouvez-vous vous déplacer dans mes locaux ?" %}
            </div>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p>
                {% trans "Oui. 10% de nos clients nous demandent ce service." %}
                </p>
                <p>
                {% trans "Just Escape a l'habitude d'organiser des escape games, murder party ou jeux d'énigmes :" %}
                </p>
                <ul>
                  <li>Sur une péniche</li>
                  <li>À lille ou en région</li>
                  <li>Dans vos nouveaux bureaux à inaugurer</li>
                  <li>À l'intérieur d'un monument (Fort de Mons)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-dark rounded mb-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div class="size-1 mb-0 question font-weight-bold" itemprop="name" role="button">
              <span class="fill-dark svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Organisez-vous des activités sur mesure ?" %}
            </div>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p>
                {% trans "Vous souhaitez organiser un séminaire personalisé avec des activités originales ?" %}
                </p>
                <p>
                {% trans "Parlez-nous de votre besoin. Just Escape propose des événements de teambuilding clé en main." %}
                </p>
                <ul>
                  <li>Diner à thème</li>
                  <li>Activité à domicile</li>
                  <li>Salle de réunion et collation</li>
                  <li>Escape game pour grand groupe</li>
                  <li>Scénario de murder party personalisé</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-dark rounded mb-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div class="size-1 mb-0 question font-weight-bold" itemprop="name" role="button">
              <span class="fill-dark svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Pourquoi choisir une murder party en team building ?" %}
            </div>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p>{% trans "Faites l'expérience d'énigmes chaleureuses." %}</p>
                <p>{% trans "L'immersion dans une murder party est une excellente occasion de briser la glace et découvrir ses collègues en dehors du contexte professionnel." %}</p>
                <picture>
                  <source srcset="/static/img/team-building-escape-game-lille.webp" type="image/webp">
                  <source srcset="/static/img/team-building-escape-game-lille.jpg" type="image/jpg">
                  <img loading="lazy" src="/static/img/team-building-escape-game-lille.webp" class="img-fluid" alt="{% trans "Team building pour entreprise dans un escape game" %}">
                </picture>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <div class="p-3 border-solid border-dark rounded mb-3" itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
            <div class="size-1 mb-0 question font-weight-bold" itemprop="name" role="button">
              <span class="fill-dark svg-16px d-inline-block mr-2">{% include "svg/arrow-right.svg" %}</span>
              {% trans "Pourquoi choisir une murder party en team building ?" %}
            </div>
            <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
              <div itemprop="text">
                <p>{% trans "80% de nos murder party accueillent 18 à 26 joueurs en team building." %}</p>
                <p>{% trans "Nous avons remarqué qu'une vingtaine de joueurs rend les parties idéales." %}</p>
                <p>{% trans "Nos scénarios ont été spécialement conçus pour s'adapter à des groupes d'une dizaine jusqu'à une cinquantaine de joueurs." %}</p>
                <p>{% trans "À partir de 30, 40, 50 joueurs, le jeux d'énigmes grand public <a href='/sherlock-vs-moriarty'>Sherlock vs Moriarty</a> pourrait correspondre à votre besoin." %}</p>
                <picture>
                  <source srcset="/static/img/teambuilding_murder_party_nombre_joueurs.webp" type="image/webp">
                  <source srcset="/static/img/teambuilding_murder_party_nombre_joueurs.jpg" type="image/jpg">
                  <img loading="lazy" src="/static/img/teambuilding_murder_party_nombre_joueurs.webp" class="img-fluid" alt="{% trans "Histogramme de répartition des sessions team building : escape game, murder party, jeux d'énigmes" %}">
                </picture>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row py-5">
        <div class="col text-center">
          <a href="tel:+33644810499" class="btn btn-primary px-5">
                  <span>{% trans "J'appelle pour organiser mon événement : 06 44 81 04 99" %}</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="jumbotron-fluid dark">
    <div class="container">
      <div class="row d-flex flex-column px-3 mt-4">
              <h2 class="my-4">{% trans "Mes salles de séminaire à Lille : 2 à 60 personnes" %}</h3>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-header">
                    <h4 class="text-jaffa text-center mb-0">{% trans "La petite salle" %}</h4>
            </div>
            <div class="card-body">
                    <div>{% trans "Éclairée par deux grandes baies vitrées, cette salle entièrement équipée fait près de 40m² :" %}</div>
              <ul>
                      <li>{% trans "vidéoprojecteur" %}</li>
                      <li>{% trans "paperboard" %}</li>
                      <li>{% trans "machine à café" %}</li>
                      <li>{% trans "wifi haut débit" %}</li>
                      <li>{% trans "salle privative" %}</li>
              </ul>
              <div class="mb-3">{% trans "C'est un lieu idéal pour des petits groupes, un petit déjeuner ou pour un cocktail après une partie d'escape game." %}</div>

              <picture>
                <source srcset="/static/img/salle-seminaire-escape-game-lille.webp" type="image/webp">
                <source srcset="/static/img/salle-seminaire-escape-game-lille.jpg" type="image/jpg">
                <img loading="lazy" src="/static/img/salle-seminaire-escape-game-lille.webp" class="img-fluid" alt="{% trans "Une salle de séminaire à Lille tout équipé pour des formations" %}">
              </picture>
            </div>
            <div class="card-footer d-flex flex-row justify-content-around align-items-center">
                    <div class="text-jaffa text-center">{% trans "De 2 à 15 personnes" %}</div>
                    <a href='/blog/location-salle-reunion-lille' class="btn btn-primary px-3"><span>{% trans "En savoir plus" %}</span></a>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-header">
                    <h4 class="text-jaffa text-center mb-0">{% trans "La grande salle" %}</h4>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                      <div>{% trans "Une salle agréable et spacieuse de près de 60 m² entièrement équipée :" %}</div>
                <ul>
                        <li>{% trans "vidéoprojecteur" %}</li>
                        <li>{% trans "paperboard" %}</li>
                        <li>{% trans "machine à café" %}</li>
                        <li>{% trans "wifi haut débit" %}</li>
                        <li>{% trans "salle privative" %}</li>
                </ul>
                <div class="mb-3">{% trans "C'est un lieu idéal pour les grands groupes, une réunion, un séminaire, une formation ou un atelier de cohésion." %}</div>
              </div>

              <picture>
                <source srcset="/static/img/grande-salle-seminaire.webp" type="image/webp">
                <source srcset="/static/img/grande-salle-seminaire.jpg" type="image/jpg">
                <img loading="lazy" src="/static/img/grande-salle-seminaire.webp" class="img-fluid" alt="{% trans "Une grande salle de séminaire à Lille" %}">
              </picture>
            </div>
            <div class="card-footer d-flex flex-row justify-content-around align-items-center" style="min-height: 61px">
                    <div class="text-jaffa text-center">{% trans "De 2 à 60 personnes" %}</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="jumbotron softdark">
    <div class="container">
      <div class="row">
        <div class="col-12 px-0 px-sm-3">
          <span id="devis" class="anchor">&nbsp;</span>
          <h2 class="text-jaffa mb-4">{% trans "Je demande un devis" %}</h2>
        </div>
      </div>

<script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    region: "eu1",
    portalId: "143791160",
    formId: "d8658790-cd46-42f9-b154-ebc74932b275"
  });
</script>

    </div>
  </div>

  <div class="jumbotron dark">
    <div class="container">
      <div class="row">
        <div class="col">
                <h2 class="mb-3">{% trans "Team building à Lille et activités d'entreprise à Villeneuve d'Ascq" %}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
                <h3 class="mb-3">{% trans "Introduction" %}</h3>
                <p>{% trans "Bienvenue à Lille et Villeneuve d’Ascq, deux villes dynamiques et idéales pour organiser vos événements d’entreprise. Que ce soit pour des séminaires, des réunions, des formations, ou des activités de team building à Lille, nous avons tout ce dont vous avez besoin pour rendre votre événement mémorable et réussi." %}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
                <h3 class="mb-3">{% trans "Team Building à Lille et Villeneuve d'Ascq" %}</h3>
                <p>{% trans "Vous recherchez des activités de team building à Lille originales à Lille et Villeneuve d’Ascq ? Ne cherchez pas plus loin ! Notre agence spécialisée vous propose une variété d’activités stimulantes qui renforceront la cohésion et l’esprit d’équipe au sein de votre entreprise. Du team building traditionnel aux défis innovants, nous avons les meilleures idées pour vous." %}</p>
                <p>{% trans "Optez pour un escape game en entreprise, une escape room pour votre séminaire, ou encore des jeux de team building qui sortent de l’ordinaire." %}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
                <h3 class="mb-3">{% trans "Idée animation Noël en entreprise" %}</h3>
                <p>{% trans "La fête de fin d’année approchent, et c’est le moment idéal pour organiser une animation de Noël pour votre entreprise. Surprenez vos collaborateurs avec des repas de Noël festifs, des soirées animées, ou des activités spéciales qui crééront une ambiance chaleureuse et conviviale." %}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
                <h3 class="mb-3">{% trans "Séminaire d'entreprise à Lille et Villeneuve d'Ascq" %}</h3>
                <p>{% trans "Besoin de trouver le lieu idéal pour votre prochain séminaire d’entreprise ? Nos salles de réunion à Lille et Villeneuve d’Ascq offrent un cadre propice à la réflexion, à l’apprentissage, et à la productivité. Avec des espaces atypiques et des aménagements sur mesure, nous vous garantissons une organisation de séminaire réussie. Laissez-nous vous guider dans la planification de votre événement, du choix des activités au déroulement de la journée." %}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
                <h3 class="mb-3">{% trans "Location de salle de réunion à Lille" %}</h3>
                <p>{% trans "Pour vos réunions d’entreprise, nous proposons des salles de réunion modernes et bien équipées à Lille. Que ce soit pour une réunion d’équipe, une journée d’étude, ou une réunion stratégiques, nos espaces de réunion sont parfaitement adaptés à vos besoins. Réservez dès maintenant et bénéficiez de tarifs avantageux pour la location de salle de réunion." %}</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
                <h3 class="mb-3">{% trans "Conclusion" %}</h3>
                <p>{% trans "Quelle que soit votre demande, notre équipe expérimentée est là pour vous aider à organiser des événements d’entreprise inoubliables à Lille et Villeneuve d’Ascq. Contactez-nous dès aujourd’hui pour obtenir des idées d’activités de team building à Lille, des animations pour la fêtes de fin d’année, ou pour réserver une salle de réunion ou un lieu pour votre prochain séminaire d’entreprise." %}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block post_base_js %}

  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/{{ lang }}"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "{% trans "Team Building" %}",
                "item": "https://just-escape.fr/{{ lang }}team-building"
            }
        ]
    }
  </script>
{% endblock %}
