{% extends "base.html" %}

{% load i18n %}
{% load l10n %}

{% block title %}{% trans "Team Building – Escape Game Lille – Just Escape" %}{% endblock %}
{% block description %}{% trans "Turnkey packages: Breakfast ☕ Cocktail 🍸 Dinner Aperitif 🍻 Workshop 📈 Privatization 🤵" %}{% endblock %}

{% block og_title %}{% trans "Team Building – Turnkey Packages" %}{% endblock %}
{% block og_description %}{% trans "Turnkey packages: Breakfast ☕ Cocktail 🍸 Dinner Aperitif 🍻 Workshop 📈 Privatization 🤵" %}{% endblock %}

{% block gtm_header %}
  {% if salesquote_success %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10859757742"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'AW-10859757742');
      gtag('event', 'conversion', {'send_to': 'AW-10859757742/MBIPCMWH4rkDEK6Bq7oo'});
    </script>
  {% else %}
    <script>
      setTimeout(() => {
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PBPTZXM');
      }, 1000)
    </script>
  {% endif %}
{% endblock %}

{% block extra_css %}
  <style rel="stylesheet">{% include "css/fa-solid-5.8.1.min.css" %}</style>
  <style rel="stylesheet">{% include "css/fa-regular-5.8.1.min.css" %}</style>
  <style rel="stylesheet">{% include "css/fontawesome-5.8.1.min.css" %}</style>
  <style rel="stylesheet">{% include "css/tempusdominus-bootstrap-4-5.1.2.min.css" %}</style>
  <style rel="stylesheet">{% include "css/tempusdominus-custom.css" %}</style>
{% endblock %}

{% block main_header %}
<div class="jumbotron-fluid dark">
  <div class="container py-3">
    <div class="mx-auto text-center">
      <h1 class="size-15 text-inter lh-12" style="font-weight: normal">Une activité de team building ou de séminaire originale&nbsp;?</h1>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

  <div class="jumbotron-fluid light position-relative">
    <div class="position-absolute w-100 dark" style="top: 0px; height: 20px"></div>
    <div class="position-absolute w-100 dark" style="bottom: 0px; height: 80px"></div>

    <div class="container px-md-0">
      <div class="row">

        <div class="col-12 col-lg-6">
          <div id="carousel-team-building" class="carousel carousel-zoom-in slide mb-3" data-ride="carousel" data-interval="3000">
            <ol class="carousel-indicators">
              <li data-target="#carousel-team-building" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-team-building" data-slide-to="1"></li>
              <li data-target="#carousel-team-building" data-slide-to="2"></li>
              <li data-target="#carousel-team-building" data-slide-to="3"></li>
              <li data-target="#carousel-team-building" data-slide-to="4"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <picture>
                  <source srcset="/static/img/team-building-lille-escape-game.webp" type="image/webp">
                  <source srcset="/static/img/team-building-lille-escape-game.jpg" type="image/jpg">
                  <img src="/static/img/team-building-lille-escape-game.webp" class="img-fluid mb-3" alt="{% trans "Dans une salle d'escape game à Lille, deux collègues sont contentes de leur team building" %}">
                </picture>
              </div>
              <div class="carousel-item">
                <picture>
                  <source srcset="/static/img/salle-seminaire-escape-game-lille-baie-vitree.webp" type="image/webp">
                  <source srcset="/static/img/salle-seminaire-escape-game-lille-baie-vitree.jpg" type="image/jpg">
                  <img loading="lazy" src="/static/img/salle-seminaire-escape-game-lille-baie-vitree.webp" class="img-fluid mb-3" alt="{% trans "La salle de séminaire avec sa baie vitrée" %}">
                </picture>
              </div>
              <div class="carousel-item">
                <picture>
                  <source srcset="/static/img/cocktail-dinatoire-escape-game-lille.webp" type="image/webp">
                  <source srcset="/static/img/cocktail-dinatoire-escape-game-lille.jpg" type="image/jpg">
                  <img loading="lazy" src="/static/img/cocktail-dinatoire-escape-game-lille.webp" class="img-fluid mb-3" alt="{% trans "Un cocktail dinatoire réunit une équipe célèbrant un événement" %}">
                </picture>
              </div>
              <div class="carousel-item">
                <picture>
                  <source srcset="/static/img/communication-reflexion-puzzle.webp" type="image/webp">
                  <source srcset="/static/img/communication-reflexion-puzzle.jpg" type="image/jpg">
                  <img loading="lazy" src="/static/img/communication-reflexion-puzzle.webp" class="img-fluid mb-3" alt="{% trans "Puzzle qui demande de la reflexion et de la communication" %}">
                </picture>
              </div>
              <div class="carousel-item">
                <picture>
                  <source srcset="/static/img/cohesion-equipe-enigme.webp" type="image/webp">
                  <source srcset="/static/img/cohesion-equipe-enigme.jpg" type="image/jpg">
                  <img loading="lazy" src="/static/img/cohesion-equipe-enigme.webp" class="img-fluid mb-3" alt="{% trans "Une énigme qui demande de la cohésion d'équipe" %}">
                </picture>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carousel-team-building" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">{% trans "Previous" %}</span>
            </a>
            <a class="carousel-control-next" href="#carousel-team-building" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">{% trans "Next" %}</span>
            </a>
          </div>
        </div>

        <div class="col-12 col-lg-6">
          <h2 class="text-jaffa mt-4">Centre d'escape game avec salle de réunion&nbsp;: le team building parfait</h2>
          <p class="mb-0">Vous recherchez une activité originale pour un afterwork entre collègues&nbsp;? Souhaitez organiser un séminaire d'entreprise mémorable&nbsp;? Just Escape Lille organisera l'événement qu'il vous faut&nbsp;:</p>
          <ul class="mb-5">
            <li>Salle d'escape game sans cadenas. Les énigmes sont des créations originales de Just Escape, inédites à Lille.</li>
            <li>Organisation de journée ou de soirée sur mesure&nbsp;: salle de réception, cocktail apéritif, cocktail dinatoire, collation sucrée, escape game, jeu d'immersion à thème et bien plus encore.</li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="jumbotron pb-0 pt-3">
    <div class="container px-0">

      <div class="row d-flex flex-column align-items-center px-3 mb-4">
        <h3 class="size-15 text-jaffa">Mes salles de séminaire : 2 à 60 personnes</h3>

        <div>
          <a href="#devis" class="btn btn-primary px-5">
            <span>Je demande un devis</span>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-header">
              <h4 class="text-jaffa text-center mb-0">La petite salle</h4>
            </div>
            <div class="card-body">
              <div>Éclairée par deux grandes baies vitrées, cette salle entièrement équipée fait près de 40m² :</div>
              <ul>
                <li>vidéoprojecteur</li>
                <li>paperboard</li>
                <li>machine à café</li>
                <li>wifi haut débit</li>
                <li>salle privative</li>
              </ul>
              <div class="mb-3">C'est un lieu idéal pour des petits groupes, un petit déjeuner ou pour un cocktail après une partie d'escape game.</div>

              <picture>
                <source srcset="/static/img/salle-seminaire-escape-game-lille.webp" type="image/webp">
                <source srcset="/static/img/salle-seminaire-escape-game-lille.jpg" type="image/jpg">
                <img loading="lazy" src="/static/img/salle-seminaire-escape-game-lille.webp" class="img-fluid" alt="{% trans "Une salle de séminaire à Lille tout équipé pour des formations" %}">
              </picture>
            </div>
            <div class="card-footer d-flex flex-row justify-content-around align-items-center">
              <div class="text-jaffa text-center">De 2 à 15 personnes</div>
              <a href='/blog/location-salle-reunion-lille' class="btn btn-primary px-3"><span>En savoir plus</span></a>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-header">
              <h4 class="text-jaffa text-center mb-0">La grande salle</h4>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
              <div>
                <div>Une salle agréable et spacieuse de près de 60 m² entièrement équipée :</div>
                <ul>
                  <li>vidéoprojecteur</li>
                  <li>paperboard</li>
                  <li>machine à café</li>
                  <li>wifi haut débit</li>
                  <li>salle privative</li>
                </ul>
                <div class="mb-3">C'est un lieu idéal pour les grands groupes, une réunion, un séminaire, une formation ou un atelier de cohésion.</div>
              </div>

              <picture>
                <source srcset="/static/img/grande-salle-seminaire.webp" type="image/webp">
                <source srcset="/static/img/grande-salle-seminaire.jpg" type="image/jpg">
                <img loading="lazy" src="/static/img/grande-salle-seminaire.webp" class="img-fluid" alt="{% trans "Une grande salle de séminaire à Lille" %}">
              </picture>
            </div>
            <div class="card-footer d-flex flex-row justify-content-around align-items-center" style="min-height: 61px">
              <div class="text-jaffa text-center">De 2 à 60 personnes</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="jumbotron">
    <div class="container px-0">

      <div class="row d-flex flex-column align-items-center px-3 mb-4">
        <h4 class="size-15 text-jaffa">Faites participer de 2 à 150 personnes avec nos activités immersives</h4>

        <div>
          <a href="#devis" class="btn btn-primary px-5">
            <span>Je demande un devis</span>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-header">
              <h4 class="text-jaffa text-center mb-0">Séminaire personnalisé</h4>
            </div>
            <div class="card-body">
              <div>Vous souhaitez réaliser un séminaire avec des activités originales ? Décrivez votre besoin et Just Escape se charge d'organiser votre événement personnalisé.</div>
              <ul class="mb-3">
                <li>Diner à thème</li>
                <li>Escape game pour grand groupe</li>
                <li>Salle de réunion et collation</li>
                <li>Cluedo géant</li>
                <li>Activité à domicile</li>
                <li>Atelier d'improvisation théâtrale</li>
              </ul>

              <picture>
                <source srcset="/static/img/team-building-escape-game-lille.webp" type="image/webp">
                <source srcset="/static/img/team-building-escape-game-lille.jpg" type="image/jpg">
                <img loading="lazy" src="/static/img/team-building-escape-game-lille.webp" class="img-fluid" alt="{% trans "Team building pour entreprise dans un escape game" %}">
              </picture>
            </div>
            <div class="card-footer d-flex flex-row justify-content-around align-items-center">
              <div class="text-jaffa text-center">Jusqu'à 150 joueurs</div>
              <a href='/blog/seminaire-entreprise-escape-game' class="btn btn-primary px-3"><span>En savoir plus</span></a>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-header">
              <h4 class="text-jaffa text-center mb-0">Jeu d'immersion : murder party</h4>
            </div>
            <div class="card-body d-flex flex-column justify-content-between">
              <p>Vous recherchez une activité ludique et insolite pour des groupes jusqu'à 50 personnes sur Lille ? Optez pour un jeu d'immersion grandeur nature, dans notre centre d'escape game ou dans vos locaux. Chaque joueur incarne un personnage et doit faire preuve de négociation, de diplomatie et d'improvisation pour parvenir à ses fins. C'est l'occasion parfaite de renforcer la complicité ou de briser la glace. Des comédiens réalisent une mise en situation, puis c'est à vous de jouer !</p>

              <picture>
                <source srcset="/static/img/immersion-murder-party-lille.webp" type="image/webp">
                <source srcset="/static/img/immersion-murder-party-lille.jpg" type="image/jpg">
                <img loading="lazy" src="/static/img/immersion-murder-party-lille.webp" class="img-fluid" alt="{% trans "Une activité immersive de murder party à Lille" %}">
              </picture>
            </div>
            <div class="card-footer d-flex flex-row justify-content-around align-items-center">
              <div class="text-jaffa text-center">Jusqu'à 150 joueurs</div>
              <a href='/blog/activite-team-building-escape-game-lille' class="btn btn-primary px-3"><span>En savoir plus</span></a>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-6 mb-4">
          <div class="card deepdark border-jaffa h-100">
            <div class="card-header">
              <h3 class="text-jaffa text-center mb-0">Escape game pour entreprise</h3>
            </div>
            <div class="card-body">
              <p class="mb-3">Le Digimiam est un scénario original, jouable dans le centre de Lille, qui mêle un univers high-tech à la culture culinaire flamande. Vous allez avoir besoin de coordination et de communication pour résoudre les énigmes en équipe. L'immersion dans une escape room est une excellente occasion de découvrir ses collègues en dehors du contexte professionnel.</p>

              <picture>
                <source srcset="/static/img/centre-escape-game-lille.webp" type="image/webp">
                <source srcset="/static/img/centre-escape-game-lille.jpg" type="image/jpg">
                <img loading="lazy" src="/static/img/centre-escape-game-lille.webp" class="img-fluid" alt="{% trans "Le centre d'escape game de Lille de Just Escape" %}">
              </picture>
            </div>
            <div class="card-footer d-flex flex-row justify-content-around align-items-center">
              <div class="text-jaffa text-center">De 2 à 10 joueurs</div>
              <a href='/blog/escape-game-entreprise' class="btn btn-primary px-3"><span>En savoir plus</span></a>
            </div>
          </div>
        </div>

      </div>

      <div class="row mb-5">
        <div class="col d-flex justify-content-center">
          <a href="tel:+33789053790" class="btn btn-primary px-5">
            <span>J'appelle pour organiser mon événement : 07 89 05 37 90</span>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p>
            Organiser un escape game à Lille pour votre entreprise présente de nombreux avantages&nbsp;:
          </p>
          <ul>
            <li>Tout d'abord, cela permet de créer un moment de détente et de divertissement pour les employés, ce qui peut contribuer à améliorer le bien être au travail. En effet, en s'amusant ensemble, les employés peuvent se détendre et oublier le stress quotidien lié à leur travail.</li>
            <li>De plus, les escape games ou murder party sont des activités ludiques qui permettent de développer la créativité et la capacité de travail en équipe. En effet, pour réussir une mission d'escape game, il est nécessaire de communiquer et de collaborer avec les autres membres de l'équipe. Cela peut être bénéfique pour l'entreprise, car cela peut renforcer la coopération au sein de l'équipe et améliorer la performance de celle-ci.</li>
            <li>Un autre avantage du team building est qu'il permet de créer des liens entre les employés et de développer la solidarité au sein de l'entreprise. En effet, en travaillant ensemble pour résoudre des énigmes et réussir une mission, les employés peuvent mieux se connaître et renforcer leur esprit d'équipe.</li>
            <li>Enfin, un team building en escape game est une activité originale et inoubliable qui peut être très appréciée par les employés. Cela peut être un moyen pour l'entreprise de montrer sa reconnaissance envers ses employés et leur offrir une expérience unique.</li>
          </ul>
          <p>En résumé, organiser un escape game à Lille pour votre entreprise présente de nombreux avantages, tels que le développement de la créativité et de la cohésion d'équipe. Cela est bénéfique pour l'entreprise en termes de performance et de bien être au travail.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="jumbotron softdark">
    <div class="container">
      <div class="row">
        <div class="col-12 px-0 px-sm-3">
          <span id="devis" class="anchor">&nbsp;</span>
          <h2 class="text-jaffa mb-4">Je demande un devis</h2>
        </div>
      </div>

      {% include "component/quote_form.html" with action="/team-building#devis" form=form unexpected_error=unexpected_error salesquote_success=salesquote_success lang=lang %}
    </div>
  </div>

  <div class="jumbotron dark">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="mb-3">Team building à Lille et activités d'entreprise à Villeneuve d'Ascq</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3 class="mb-3">Introduction</h3>
          <p>Bienvenue à Lille et Villeneuve d’Ascq, deux villes dynamiques et idéales pour organiser vos événements d’entreprise. Que ce soit pour des séminaires, des réunions, des formations, ou des activités de team building à Lille, nous avons tout ce dont vous avez besoin pour rendre votre événement mémorable et réussi.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3 class="mb-3">Team Building à Lille et Villeneuve d'Ascq</h3>
          <p>Vous recherchez des activités de team building à Lille originales à Lille et Villeneuve d’Ascq ? Ne cherchez pas plus loin ! Notre agence spécialisée vous propose une variété d’activités stimulantes qui renforceront la cohésion et l’esprit d’équipe au sein de votre entreprise. Du team building traditionnel aux défis innovants, nous avons les meilleures idées pour vous.</p>
          <p>Optez pour un escape game en entreprise, une escape room pour votre séminaire, ou encore des jeux de team building qui sortent de l’ordinaire.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3 class="mb-3">Idée animation Noël en entreprise</h3>
          <p>La fête de fin d’année approchent, et c’est le moment idéal pour organiser une animation de Noël pour votre entreprise. Surprenez vos collaborateurs avec des repas de Noël festifs, des soirées animées, ou des activités spéciales qui crééront une ambiance chaleureuse et conviviale.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3 class="mb-3">Séminaire d'entreprise à Lille et Villeneuve d'Ascq</h3>
          <p>Besoin de trouver le lieu idéal pour votre prochain séminaire d’entreprise ? Nos salles de réunion à Lille et Villeneuve d’Ascq offrent un cadre propice à la réflexion, à l’apprentissage, et à la productivité. Avec des espaces atypiques et des aménagements sur mesure, nous vous garantissons une organisation de séminaire réussie. Laissez-nous vous guider dans la planification de votre événement, du choix des activités au déroulement de la journée.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3 class="mb-3">Location de salle de réunion à Lille</h3>
          <p>Pour vos réunions d’entreprise, nous proposons des salles de réunion modernes et bien équipées à Lille. Que ce soit pour une réunion d’équipe, une journée d’étude, ou une réunion stratégiques, nos espaces de réunion sont parfaitement adaptés à vos besoins. Réservez dès maintenant et bénéficiez de tarifs avantageux pour la location de salle de réunion.</p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3 class="mb-3">Conclusion</h3>
          <p>Quelle que soit votre demande, notre équipe expérimentée est là pour vous aider à organiser des événements d’entreprise inoubliables à Lille et Villeneuve d’Ascq. Contactez-nous dès aujourd’hui pour obtenir des idées d’activités de team building à Lille, des animations pour la fêtes de fin d’année, ou pour réserver une salle de réunion ou un lieu pour votre prochain séminaire d’entreprise.</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block post_base_js %}

  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/{{ lang }}"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "{% trans "Team Building" %}",
                "item": "https://just-escape.fr/{{ lang }}team-building"
            }
        ]
    }
  </script>
{% endblock %}
