{% extends "base.html" %}

{% block title %}Two Rooms – Just Escape{% endblock %}
{% block description %}Two Rooms c'est le loup-garou mais sans mourir. Amusez-vous grâce à cette activité complètement insolite !{% endblock %}

{% block og_title %}Two Rooms – Just Escape{% endblock %}
{% block og_description %}Two Rooms c'est le loup-garou mais sans mourir. Amusez-vous grâce à cette activité complètement insolite !{% endblock %}

{% block extra_css %}
  <style rel="stylesheet">{% include "css/fa-solid-5.8.1.min.css" %}</style>
  <style rel="stylesheet">{% include "css/fa-regular-5.8.1.min.css" %}</style>
  <style rel="stylesheet">{% include "css/fontawesome-5.8.1.min.css" %}</style>
  <style rel="stylesheet">{% include "css/tempusdominus-bootstrap-4-5.1.2.min.css" %}</style>
  <style rel="stylesheet">{% include "css/tempusdominus-custom.css" %}</style>
{% endblock %}

{% block h1 %}Une murder party pour les petits budgets à Lille{% endblock %}

{% block content %}

<section>
  <div class="jumbotron py-5 mb-4">
    <div class="container px-0">
      <div class="row">
        <div class="col">
          <div>
            <ol class="breadcrumb softdark py-2">
              <li class="breadcrumb-item"><a href="/" class="fill-jaffa svg-16px">{% include "svg/home.svg" %}</a></li>
              <li class="breadcrumb-item"><a href="/murder-party" class="text-jaffa">Murder Party</a></li>
              <li class="breadcrumb-item active" aria-current="page">Two Rooms</li>
            </ol>
          </div>

          <div class="d-flex flex-column flex-md-row justify-content-between mb-2">
            <div class="d-flex flex-column mb-0">
              <h2 class="text-jaffa mb-0">Two rooms</h2>
              <div class="text-inter font-weight-bold size-12 mb-2">Le loup-garou mais sans mourir</div>
            </div>
            <div class="d-flex flex-column align-items-end">
              <div>
                <span class="lh-24px">10 à 30 joueurs</span>
                <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/users.svg" %}</span>
              </div>
              <div>
                <span class="lh-24px">90 minutes</span>
                <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/chrono.svg" %}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <div class="position-relative">
            <picture>
              <source srcset="/static/img/two-rooms.webp" type="image/webp">
              <source srcset="/static/img/two-rooms.png" type="image/png">
              <img class="img-fluid w-100 mb-3" src="/static/img/two-rooms.webp" alt="Logo de two rooms">
            </picture>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mb-4 text-center">
        <div class="col-12 col-lg-4 mb-4 mb-lg-2">
          <div class="card transparent border-jaffa h-100">
            <div class="card-header">
              <h3><span class="text-inter">Le loup-garou</span> version 2.0</h3>
            </div>
            <div class="card-body pt-0">
              Qui n'a jamais joué à ce jeu qui traverse les générations ? Dans Two rooms, les règles sont conçues pour que tout le monde joue sans mourir.
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-4 mb-lg-2">
          <div class="card transparent border-jaffa h-100">
            <div class="card-header">
              <h3>Adapté pour tous les âges</h3>
            </div>
            <div class="card-body pt-0">
              Tout comme le Loup-Garou, Two rooms est adapté pour tous les âges, à partir d'un minimum de 8 ans. Cette activité est idéale pour fêter un anniversaire, ou pour découvrir une nouvelle version du Loup Garou.
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4 mb-4 mb-lg-2">
          <div class="card transparent border-jaffa h-100">
            <div class="card-header">
              <h3>Chaque partie est différente</h3>
            </div>
            <div class="card-body pt-0">
              Une partie de Two Rooms dure 1h30 et est constituée de 3 manches, où dans chacune d'elles s'ajoutent des rôles différents pour pimenter la partie. De nouveaux objectifs s'ajoutent à chaque manche, ainsi que des nouvelles stratégies.
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center mb-4">
        <div class="col-12 col-lg-6">
          <div class="card transparent border-light h-100">
            <div class="card-header text-inter font-weight-bold text-center">
              Détails de l'événement
            </div>
            <div class="card-body size-11 lh-12 pt-0">
              <ul class="list-unstyled">
                <li class="mb-1">
                  <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/map-marker.svg" %}</span>
                  <span class="lh-24px">26 rue d'Arras, près de la rue de Solférino, Lille</span>
                </li>
                <li class="mb-1">
                  <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/chrono.svg" %}</span>
                  <span class="lh-24px">1h30</span>
                </li>
                <li class="mb-1">
                  <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/users.svg" %}</span>
                  <span class="lh-24px">15 à 40 joueurs</span>
                </li>
                <li class="mb-1">
                  <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/euro.svg" %}</span>
                  <span class="lh-24px">À partir de 20€ par personne</span>
                </li>
                <li>
                  <span>Possibilité de consommer des boissons vendues sur place</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  <div class="jumbotron softdark position-relative py-5">
    <div class="softdark extension extension-top extension-corner-bottom-right"></div>
    <div class="softdark extension extension-bottom extension-corner-top-right"></div>
    <div class="container px-0">
      <div class="row">
        <div class="col">
          <span id="devis" class="anchor">&nbsp;</span>
          <h2 class="text-jaffa">Je souhaite réserver une partie de two rooms</h2>

          {% include "component/quote_form.html" with action="/two-rooms#devis" form=form unexpected_error=unexpected_error salesquote_success=salesquote_success lang=lang %}
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="jumbotron light position-relative py-5">
    {% include "component/discover_as_well.html" with label="d'autres scénarios" what="killer_party,digimiam" %}

    <div class="text-center">
      <a href="/murder-party">Je retourne à la liste des murder party</a>
    </div>
  </div>
</section>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Murder Party",
                "item": "https://just-escape.fr/murder-party"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "Two Rooms",
                "item": "https://just-escape.fr/two-rooms"
            }
        ]
    }
  </script>
{% endblock %}
