{% extends "base.html" %}

{% block title %}Two Rooms – Just Escape{% endblock %}
{% block description %}Two Rooms c'est le loup-garou mais sans mourir. Amusez-vous grâce à cette activité complètement insolite !{% endblock %}

{% block og_title %}Two Rooms – Just Escape{% endblock %}
{% block og_description %}Two Rooms c'est le loup-garou mais sans mourir. Amusez-vous grâce à cette activité complètement insolite !{% endblock %}

{% block extra_css %}
  <style rel="stylesheet">{% include "css/fa-solid-5.8.1.min.css" %}</style>
  <style rel="stylesheet">{% include "css/fa-regular-5.8.1.min.css" %}</style>
  <style rel="stylesheet">{% include "css/fontawesome-5.8.1.min.css" %}</style>
  <style rel="stylesheet">{% include "css/tempusdominus-bootstrap-4-5.1.2.min.css" %}</style>
  <style rel="stylesheet">{% include "css/tempusdominus-custom.css" %}</style>
{% endblock %}

{% block h1 %}Une murder party pour les petits budgets à Lille{% endblock %}

{% block content %}

<section>
  <div class="jumbotron py-5 mb-4">
    <div class="container px-0">
      <div class="row">
        <div class="col">
          <div>
            <ol class="breadcrumb softdark py-2">
              <li class="breadcrumb-item"><a href="/" class="fill-jaffa svg-16px">{% include "svg/home.svg" %}</a></li>
              <li class="breadcrumb-item"><a href="/murder-party" class="text-jaffa">Murder Party</a></li>
              <li class="breadcrumb-item active" aria-current="page">Two Rooms</li>
            </ol>
          </div>

          <div class="d-flex flex-column flex-md-row justify-content-between mb-2">
            <div class="d-flex flex-column mb-0">
              <h2 class="text-jaffa mb-0">Two rooms</h2>
              <div class="text-inter font-weight-bold size-12 mb-2">Le loup-garou mais sans mourir</div>
            </div>
            <div class="d-flex flex-column align-items-end">
              <div>
                <span class="lh-24px">10 à 30 joueurs</span>
                <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/users.svg" %}</span>
              </div>
              <div>
                <span class="lh-24px">90 minutes</span>
                <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/chrono.svg" %}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <div class="position-relative">
            <picture>
              <source srcset="/static/img/two-rooms.webp" type="image/webp">
              <source srcset="/static/img/two-rooms.png" type="image/png">
              <img class="img-fluid w-100 mb-3" src="/static/img/two-rooms.webp" alt="Logo de two rooms">
            </picture>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-lg-6 mb-4">
          <div class="card transparent border-light border-2px h-100">
            <div class="card-header">
              <h3 class="text-center text-inter font-weight-bold mb-0">Un univers palpitant et explosif</h3>
            </div>
            <div class="card-body size-11 text-center lh-12 pt-0">
              <div class="mb-2">Dans cette murder party, vous allez apprendre à vous méfier de tout le monde.</div>
              <div class="mb-2">Deux équipes s'affrontent dans une course contre la montre : les bleus doivent protéger leur empereur, tandis que les oranges cherchent à l'éliminer avant la fin du temps imparti.</div>
              <div>Mais quel est le rôle de chacun ? Dépêchez-vous car l'horloge tourne !</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 mb-4">
          <div class="card transparent border-light border-2px h-100">
            <div class="card-body size-11 text-center d-flex flex-column justify-content-center lh-12">
              <div>Le jeu est idéal pour les centres aérés. C'est une activité ludique que vous ne trouverez pas ailleurs.</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <p style="font-size: 28px; font-style: italic" class="text-right mb-4">Le temps sera votre pire ennemi</p>
          <hr style="width: 25%" class="border-jaffa">
          <p class="my-4">De 10 à 30 joueurs, Two Rooms est pour tout public.</p>
          <p class="my-4">Découvrez un univers dans lequel chaque choix compte et où l'intrigue vous réserve bien des surprises.</p>
          <hr style="width: 25%" class="border-jaffa">
          <p class="my-4">Contactez-nous pour organiser une partie.</p>
          <!-- <p class="text-center"><a href="/murder-party/qu-est-ce-qu-une-murder-party" class="btn btn-primary p-3"><span>Qu'est-ce qu'une murder party ?</span></a></p> -->
        </div>
      </div>
    </div>
  </div>
  
  <div class="jumbotron softdark position-relative py-5">
    <div class="softdark extension extension-top extension-corner-bottom-right"></div>
    <div class="softdark extension extension-bottom extension-corner-top-right"></div>
    <div class="container px-0">
      <div class="row">
        <div class="col">
          <span id="devis" class="anchor">&nbsp;</span>
          <h2 class="text-jaffa">Je souhaite réserver une partie de two rooms</h2>

          {% include "component/quote_form.html" with action="/two-rooms#devis" form=form unexpected_error=unexpected_error salesquote_success=salesquote_success lang=lang %}
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="jumbotron light position-relative py-5">
    {% include "component/discover_as_well.html" with label="d'autres scénarios" what="killer_party,digimiam" %}

    <div class="text-center">
      <a href="/murder-party">Je retourne à la liste des murder party</a>
    </div>
  </div>
</section>

{% endblock %}

{% block post_base_js %}
  <script type="application/ld+json">
    {
        "@context": "https://schema.org/",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "Just Escape",
                "item": "https://just-escape.fr/"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "Murder Party",
                "item": "https://just-escape.fr/murder-party"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "Two Rooms",
                "item": "https://just-escape.fr/two-rooms"
            }
        ]
    }
  </script>
{% endblock %}
