{% extends "base.html" %}

{% load i18n %}

{% block main_header %}{% endblock %}

{% block content %}

  <div class="jumbotron px-0">
    <div class="container">
      <h1 class="text-jaffa mb-2">Se désabonner de la newsletter</h1>
      <div class="row">
        <div class="col-12 col-md-7 col-lg-6">
          <form action="/{{ lang }}desabonnement" method="post">
            {% csrf_token %}

            {% if unexpected_error %}
              <p class="text-red">An unexpected error happened. Please contact us directly.</p>
            {% elif form.errors %}
              {{ form.non_field_errors }}
              {{ form.email.errors }}
            {% endif %}

            {% if subscription_success %}
            <a id="newsletter-email-bar" tabindex="0" data-toggle="popover" data-placement="top" data-trigger="click focus" data-content="Au revoir et à bientôt !">
            {% endif %}
              <div class="input-group">
                <input type="text" spellcheck="false" class="form-control" placeholder="marmitron@justescape.fr" name="{{ form.email.name }}" required>
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="submit"><span>Je me désabonne</span></button>
                </div>
              </div>
            {% if subscription_success %}
            </a>
            {% endif %}
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block post_base_js %}
  {% if subscription_success %}
    <script>
      $('#newsletter-email-bar').popover('show');
      $('#newsletter-email-bar').popover('disable');
    </script>
  {% endif %}
{% endblock %}
