<a href="/sherlock-vs-moriarty">
<div class="card deepdark position-relative py-4 px-0 px-sm-4 mb-4">
  <div class="card-header d-flex flex-column flex-md-row flex-lg-column justify-content-between">
    <div class="d-flex flex-column mb-3 mb-md-0 mb-lg-3 justify-content-center">
      <div class="text-inter font-weight-bold lh-1 size-2">Sherlock vs Moriarty</div>
      <div class="size-15 lh-1">Murder Party 2.0</div>
    </div>
    <div class="d-flex flex-column align-items-end justify-content-center">
      <div>
        <span class="lh-24px">20 à 150 joueurs</span>
        <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/users.svg" %}</span>
      </div>
      <div>
        <span class="lh-24px">90 minutes</span>
        <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/chrono.svg" %}</span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <picture>
      <source srcset="/static/img/sherlock-vs-moriarty-375.webp" type="image/webp">
      <source srcset="/static/img/sherlock-vs-moriarty-375.png" type="image/png">
      <img loading="lazy" class="img-fluid mx-auto d-block mb-3" src="/static/img/sherlock-vs-moriarty-375.webp" alt="Logo de sherlock vs moriarty">
    </picture>

    <p class="size-11 mb-0">Choisissez votre camp ! Les deux plus grands détectives de l'histoire s'affrontent lors d'une soirée exceptionnelle, et vous avez la chance de rejoindre l'un d'entre eux. Préparez-vous à résoudre un maximum d'énigmes et à prouver que votre détective préféré est le meilleur.</p>
  </div>
  <div class="card-footer">
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="d-flex flex-column align-items-center mb-4 mb-md-0">
        <div class="lh-1 size-09">À partir de</div>
        <div class="text-inter font-weight-bold lh-1 size-2">35€</div>
        <div class="lh-1 size-09">par joueur</div>
      </div>

      <div class="btn btn-primary p-3 size-12 d-flex flex-column justify-content-center"><span>Je veux en savoir plus</span></div>
    </div>
  </div>
</div>
</a>
