<a href="/murder-party-redrock-saloon">
<div class="card deepdark position-relative py-4 px-0 px-sm-4 mb-4">
  <div class="card-header d-flex flex-column flex-md-row flex-lg-column justify-content-between">
    <div class="d-flex flex-column mb-3 mb-md-0 mb-lg-3 justify-content-center">
      <div class="text-inter font-weight-bold lh-1 size-2">La Murder Party</div>
      <div class="size-15 lh-1">Murder party classique</div>
    </div>
    <div class="d-flex flex-column align-items-end justify-content-center">
      <div>
        <span class="lh-24px">6 à 23 joueurs</span>
        <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/users.svg" %}</span>
      </div>
      <div>
        <span class="lh-24px">2 heures</span>
        <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/chrono.svg" %}</span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <picture>
      <source srcset="/static/img/murder-party-375.webp" type="image/webp">
      <source srcset="/static/img/murder-party-375.png" type="image/png">
      <img loading="lazy" class="img-fluid mx-auto d-block mb-3" src="/static/img/murder-party-375.webp" alt="Logo de la murder party">
    </picture>

    <p class="size-11 mb-0">Un soir de printemps 1884, sur la côte ouest, les habitants de Silver Town se préparent à célébrer l'anniversaire de la ville. Mais les apparences sont trompeuses. Entre le shérif, le juge, les filles du saloon et les sympathiques indiens, tout le monde n'est pas là pour faire la fête. La présence d'étrangers, les vieux conflits de terre et les jeux de cartes douteux forment une atmosphère tendue...</p>
  </div>
  <div class="card-footer">
    <div class="d-flex flex-column flex-md-row justify-content-between mb-3">
      <div class="d-flex flex-column align-items-center mb-4 mb-md-0">
        <div class="lh-1 size-09">À partir de</div>
        <div class="text-inter font-weight-bold lh-1 size-2">35€</div>
        <div class="lh-1 size-09">par joueur</div>
      </div>

      <div class="btn btn-primary p-3 size-12 d-flex flex-column justify-content-center"><span>Je veux en savoir plus</span></div>
    </div>
  </div>
</div>
</a>
