{% load i18n %}

<a href="/{{ lang }}murder-party-le-tournoi-des-sorciers">
<div class="card deepdark position-relative px-0 w-100 h-100">
  <div class="card-header d-flex flex-column flex-lg-row justify-content-between">
    <div class="d-flex flex-column mb-3 mb-md-0 justify-content-top">
            <div class="text-inter font-weight-bold lh-1 text-jaffa size-15">{% trans "Le Tournoi des Sorciers" %}</div>
            <div class="lh-1">{% trans "Murder Party Immersive" %}</div>
    </div>
    <div class="d-flex flex-column align-items-end justify-content-center">
      <div class="lh-16px">
              <span class="size-09 lh-16px">{% trans "8 à 24 joueurs" %}</span>
        <span class="d-inline-block lh-16px svg-16px fill-light align-top">{% include "svg/users.svg" %}</span>
      </div>
      <div class="lh-16px">
              <span class="size-09 lh-16px">{% trans "90 minutes" %}</span>
        <span class="d-inline-block lh-16px svg-16px fill-light align-top">{% include "svg/chrono.svg" %}</span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <picture>
      <source srcset="/static/img/le-tournoi-des-sorciers-375.webp" type="image/webp">
      <source srcset="/static/img/le-tournoi-des-sorciers-375.png" type="image/png">
      <img class="img-fluid d-block mx-auto mb-2" src="/static/img/le-tournoi-des-sorciers-375.webp" alt={% trans "Logo murder party" %}>
    </picture>
    <div>{% trans "Préparez-vous à mettre en lumière votre talent d'enquêteur dans une expérience immersive au coeur d'un décor plus vrai que nature. Laissez la magie naître en vous et laissez le hasard choisir votre maison." %}</div>
  </div>
  <div class="card-footer d-flex flex-column flex-md-row justify-content-between">
    <div class="d-flex flex-row align-items-center mb-4 mb-md-0">
            <div class="lh-1 size-09 mr-1">{% trans "À partir de" %}</div><div class="text-inter font-weight-bold lh-1 size-15">35€</div>
    </div>

    <div class="btn btn-primary"><span>{% trans "Je veux en savoir plus" %}</span></div>
  </div>
</div>
</a>
