{% load i18n %}

<a href="/{{ lang }}murder-party-post-mortem">
<div class="card deepdark position-relative px-0 w-100 h-100">
  <div class="ribbon ribbon-top-left ribbon-mulberry-jaffa"><span>{% trans "NOUVEAU" %}</span></div>
  <div class="card-header d-flex flex-column flex-lg-row justify-content-between">
    <div class="d-flex flex-column mb-3 mb-md-0 justify-content-top">
            <div class="text-inter font-weight-bold lh-1 text-jaffa size-15">{% trans "Post Mortem" %}</div>
            <div class="lh-1"><span class="pill">Murder Party</span> {% trans "Murder Party Agatha Christie" %}</div>
    </div>
    <div class="d-flex flex-column align-items-end justify-content-center">
      <div class="lh-16px">
              <span class="size-09 lh-16px">{% trans "7 à 50 joueurs" %}</span>
        <span class="d-inline-block lh-16px svg-16px fill-light align-top">{% include "svg/users.svg" %}</span>
      </div>
      <div class="lh-16px">
              <span class="size-09 lh-16px">{% trans "2 heures" %}</span>
        <span class="d-inline-block lh-16px svg-16px fill-light align-top">{% include "svg/chrono.svg" %}</span>
      </div>
    </div>
  </div>
  <div class="card-body position-relative">
    <picture>
      <source srcset="/static/img/post-mortem-375.webp" type="image/webp">
      <source srcset="/static/img/post-mortem-375.png" type="image/png">
      <img class="img-fluid d-block mx-auto mb-2" src="/static/img/post-mortem-375.webp" alt={% trans "Logo post mortem" %}>
    </picture>
    <div>{% trans "Une réception mondaine dans un pavillon chic. Incarnez un invité chez Lord Rubis, un collectionneur d'art fasciné par l'occulte... sauf que la soirée vire au cauchemard lorsqu'il meurt pour de vrai." %}</div>
  </div>
  <div class="card-footer d-flex flex-column flex-md-row justify-content-between">
    <div class="d-flex flex-row align-items-center mb-4 mb-md-0">
            <div class="lh-1 size-09 mr-1">{% trans "À partir de" %}</div><div class="text-inter font-weight-bold lh-1 size-15">30€</div>
    </div>

    <div class="btn btn-primary"><span>{% trans "Je veux en savoir plus" %}</span></div>
  </div>
</div>
</a>
