{% load i18n %}

<a href="/{{ lang }}murder-dinner">
<div class="card deepdark position-relative py-4 px-0 px-sm-4 mb-4">
  <div class="card-header d-flex flex-column flex-md-row flex-lg-column justify-content-between">
    <div class="d-flex flex-column mb-3 mb-md-0 mb-lg-3 justify-content-center">
            <div class="text-inter font-weight-bold lh-1 size-2">{% trans "La murder dinner" %}</div>
            <div class="size-15 lh-1">{% trans "Trahissez-vous autour d'un repas" %}</div>
    </div>
    <div class="d-flex flex-column align-items-end justify-content-center">
      <div>
              <span class="lh-24px">{% trans "5 à 9 joueurs" %}</span>
        <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/users.svg" %}</span>
      </div>
      <div>
              <span class="lh-24px">{% trans "Le temps d'un repas" %}</span>
        <span class="d-inline-block svg-24px fill-light align-top">{% include "svg/chrono.svg" %}</span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <picture>
      <source srcset="/static/img/murder-dinner-375.webp" type="image/webp">
      <source srcset="/static/img/murder-dinner-375.png" type="image/png">
      <img loading="lazy" class="img-fluid mx-auto d-block mb-3" src="/static/img/murder-dinner-375.webp" alt={% trans "Logo de la murder dinner" %}>
    </picture>

    <p class="size-11 mb-0">{% trans "Zeus invite de nombreux dieux à sa table. Tous répondent présents. Tous... mais il semblerait que deux places supplémentaires sont occupées. Serait-ce des humains qui se sont faufilés parmis les convives de Zeus ? Le temps du repas permettra peut-être d'éclaircir la vérité. Zeus va sûrement faire entendre sa colère !" %}</p>
  </div>
  <div class="card-footer">
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <div class="d-flex flex-column align-items-center mb-4 mb-md-0">
              <div class="lh-1 size-09">{% trans "À partir de" %}</div>
        <div class="text-inter font-weight-bold lh-1 size-2">28€</div>
        <div class="lh-1 size-09">{% trans "+ prix du repas" %}</div>
      </div>

      <div class="btn btn-primary p-3 size-12 d-flex flex-column justify-content-center"><span>{% trans "Je veux en savoir plus" %}</span></div>
    </div>
  </div>
</div>
</a>
