{% load i18n %}

<a href="/{{ lang }}two-rooms">
<div class="card deepdark position-relative px-0 w-100 h-100">
  <div class="card-header d-flex flex-column flex-lg-row justify-content-between">
    <div class="d-flex flex-column mb-3 mb-md-0 justify-content-top">
            <div class="text-inter font-weight-bold lh-1 text-jaffa size-15">{% trans "Two rooms" %}</div>
            <div class="lh-1">{% trans "Le loup garou mais sans mourir" %}</div>
    </div>
    <div class="d-flex flex-column align-items-end justify-content-center">
      <div class="lh-16px">
              <span class="size-09 lh-16px">{% trans "15 à 30 joueurs" %}</span>
        <span class="d-inline-block lh-16px svg-16px fill-light align-top">{% include "svg/users.svg" %}</span>
      </div>
      <div class="lh-16px">
              <span class="size-09 lh-16px">{% trans "90 minutes" %}</span>
        <span class="d-inline-block lh-16px svg-16px fill-light align-top">{% include "svg/chrono.svg" %}</span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <picture>
      <source srcset="/static/img/two-rooms-375.webp" type="image/webp">
      <source srcset="/static/img/two-rooms-375.png" type="image/png">
      <img class="img-fluid d-block mx-auto mb-2" src="/static/img/two-rooms-375.webp" alt={% trans "Logo two rooms" %}>
    </picture>
    <div>{% trans "Two rooms : jeu de bluff et de négociation. Les joueurs se divisent en deux clans, négocient, échangent des informations et forment des alliances pour atteindre leurs objectifs." %}</div>
  </div>
  <div class="card-footer d-flex flex-column flex-md-row justify-content-between">
    <div class="d-flex flex-row align-items-center mb-4 mb-md-0">
            <div class="lh-1 size-09 mr-1">{% trans "À partir de" %}</div><div class="text-inter font-weight-bold lh-1 size-15">25€</div>
    </div>

    <div class="btn btn-primary"><span>{% trans "Je veux en savoir plus" %}</span></div>
  </div>
</div>
</a>
