<div class="card deepdark position-relative px-0">
  <div class="card-header d-flex flex-column flex-lg-row justify-content-between">
    <div class="d-flex flex-column mb-3 mb-md-0 justify-content-top">
      <div class="text-inter font-weight-bold lh-1 text-jaffa size-15">Le Digimiam</div>
      <div class="lh-1">Estaminet cybernétique</div>
    </div>
    <div class="d-flex flex-column align-items-end justify-content-center">
      <div class="lh-16px">
        <span class="size-09 lh-16px">2 à 10 joueurs (sur deux salles)</span>
        <span class="d-inline-block lh-16px svg-16px fill-light align-top">{% include "svg/users.svg" %}</span>
      </div>
      <div class="lh-16px">
        <span class="size-09 lh-16px">60 minutes</span>
        <span class="d-inline-block lh-16px svg-16px fill-light align-top">{% include "svg/chrono.svg" %}</span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <picture>
      <source srcset="/static/img/escape-game-375.webp" type="image/webp">
      <source srcset="/static/img/escape-game-375.png" type="image/png">
      <img loading="lazy" class="img-fluid mx-auto d-block mb-2" src="/static/img/escape-game-375.webp" alt="Logo escape game">
    </picture>
    <p class="size-09 mb-0">En 2080, le dernier estaminet de Lille vient de fermer. Les neurones de l'intelligence culinaire ont court-circuité. Mme Poivre compte sur vous pour restaurer le réfectoire. Parviendrez-vous à sauver l'un des derniers lieux emblématique de la culture flamande ?
    </p>
  </div>
  <div class="card-footer d-flex flex-column flex-md-row justify-content-between">
    <div class="d-flex flex-row align-items-center mb-4 mb-md-0">
      <div class="lh-1 size-09 mr-1">À partir de</div><div class="text-inter font-weight-bold lh-1 size-15">25€</div>
    </div>

    <a href="/salles" class="btn btn-inter">Je veux en savoir plus</a>
  </div>
</div>
