{% load filters %}

<div class="container px-0">
  <div class="row mb-3">
    <div class="col text-center">
      <h2 class="font-weight-bold">
        {{ label }}
      </h2>
    </div>
  </div>
  <div class="row">
    {% for w in what|split %}
    <div class="col-12 col-lg-6 mb-4">
      {% if w == "digimiam" %}
        {% include "component/card_sm_digimiam.html" %}
      {% elif w == "redrock_saloon" %}
        {% include "component/card_sm_redrock_saloon.html" %}
      {% elif w == "le_tournoi_des_sorciers" %}
        {% include "component/card_sm_le_tournoi_des_sorciers.html" %}
      {% elif w == "killer_party" %}
        {% include "component/card_sm_killer_party.html" %}
      {% elif w == "murder_dinner" %}
        {% include "component/card_sm_murder_dinner.html" %}
      {% elif w == "sherlock_vs_moriarty" %}
        {% include "component/card_sm_sherlock_vs_moriarty.html" %}
      {% elif w == "two_rooms" %}
        {% include "component/card_sm_two_rooms.html" %}
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
