/*
 * Colors:
 *   - mulberry: #cb4299
 *   - jaffa: #f38d40
 *   - softjaffa: #e6e7e8
 *   - red: #ff2d2a
 *   - light: #f8f9fa
 *   - hardlight: #e6e7e8
 *   - dark: #3c3c3e
 *   - softdark: #4d4d4f
 *   - deepdark: #2e2e2e
 **/

/* document */
@font-face {
    font-family: "Inter";
    font-display: swap;
    src: url('/static/font/inter-regular.eot');
    src: url('/static/font/inter-regular.eot?#iefix') format('embedded-opentype'),
        url('/static/font/inter-regular.woff2') format('woff2'),
        url('/static/font/inter-regular.woff') format('woff'),
        url('/static/font/inter-regular.ttf') format('truetype');
    unicode-range: U+000-5FF, U+20AC; /* Latin */ 
}

@font-face {
    font-family: "Inter";
    font-weight: bold;
    font-display: swap;
    src: url('/static/font/inter-extrabold.eot');
    src: url('/static/font/inter-extrabold.eot?#iefix') format('embedded-opentype'),
        url('/static/font/inter-extrabold.woff2') format('woff2'),
        url('/static/font/inter-extrabold.woff') format('woff'),
        url('/static/font/inter-extrabold.ttf') format('truetype');
    unicode-range: U+000-5FF, U+20AC; /* Latin */
}

/*
@font-face {
    font-family: "Big Noodle";
    font-style: normal;
    font-display: swap;
    src: url('/static/font/big-noodle.eot');
    src: url('/static/font/big-noodle.eot?#iefix') format('embedded-opentype'),
        url('/static/font/big-noodle.woff2') format('woff2'),
        url('/static/font/big-noodle.woff') format('woff'),
        url('/static/font/big-noodle.ttf') format('truetype');
    unicode-range: U+000-5FF, U+20AC;
}

@font-face {
    font-family: "Big Noodle";
    font-style: oblique;
    font-display: swap;
    src: url('/static/font/big-noodle-oblique.eot');
    src: url('/static/font/big-noodle-oblique.eot?#iefix') format('embedded-opentype'),
        url('/static/font/big-noodle-oblique.woff2') format('woff2'),
        url('/static/font/big-noodle-oblique.woff') format('woff'),
        url('/static/font/big-noodle-oblique.ttf') format('truetype');
    unicode-range: U+000-5FF;
}
*/

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/static/font/roboto-v19-latin-regular.eot');
    src: local('Roboto'),
         local('Roboto-Regular'),
         url('/static/font/roboto-v19-latin-regular.woff2') format('woff2'),
         url('/static/font/roboto-v19-latin-regular.woff') format('woff'),
         url('/static/font/roboto-v19-latin-regular.ttf') format('truetype');
    unicode-range: U+000-5FF, U+20AC; /* Latin */
}

body {
    min-height: 100%;
}

.pre-content {
    /* logo height */
    height: calc(80px);
    background: #2e2e2e;
}

@media (min-width: 992px) {
    /* black stripe height + logo height + line height + logo margin top */
    .pre-content {
        height: calc(2.25rem + 100px + 24px + 1rem);
        background: #f8f9fa;
    }
}

@media (min-width: 1200px) {
    /* black stripe height + logo height + line height + logo margin top */
    .pre-content {
        height: calc(2.25rem + 115px + 24px + 1rem);
    }
}
/* document */

/* background */
.jumbotron {
    border-radius: 0;
    margin-bottom: 0;
    background-color: inherit;
}

.jumbotron-fluid {
    background-color: inherit;
}

.dark {
    background-color: #3c3c3e;
    color: #f8f9fa;
}

.dark-transparent {
    background-color: rgba(60, 60, 62, 0.7);
    color: #f8f9fa;
}

.softdark {
    background-color: #4d4d4f;
    color: #f8f9fa;
}

.deepdark {
    background-color: #2e2e2e;
    color: #f8f9fa;
}

.transparent {
    background-color: transparent;
}

.card.transparent .card-header {
    background-color: transparent;
    border-bottom: 0px solid transparent;
}

.light {
    background-color: #f8f9fa;
    color: #3c3c3e;
}

.mulberry {
   background: #cb4299;
   color: #f8f9fa;
}

.gradient-mulberry-jaffa {
    background: linear-gradient(to right, #cb4299, #f38d40);
    color: #f8f9fa;
}

.extension {
    left: 0px;
    height: 40px;
    width: 100%;
    position: absolute;
    z-index: 10;
}

.extension-top {
    top: -40px;
}

.extension-corner-bottom-right {
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
}

.extension-bottom {
    bottom: -40px;
}

.extension-corner-top-right {
    clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
}

.extension-corner-top-left {
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}

.deeplight {
    background-color: #e6e7e8;
    color: #3c3c3e;
}

@media (min-width: 992px) {
    .bg-lg-transparent {
        background-color: transparent;
    }
}
/* background */

/* text */
h1, h2, h3, h4, h5, h6 {
    font-family: "Inter", "Helvetica", "Arial", "sans-serif";
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3, h4 {
    font-size: 1.2rem;
}

.question {
    font-family: "Inter", "Helvetica", "Arial", "sans-serif";
    text-transform: uppercase;
}

.text-inter {
    font-family: "Inter", "Helvetica", "Arial", "sans-serif";
    text-transform: uppercase;
}

.text-oblique {
    font-style: oblique;
}

.sans-serif {
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

a {
    color: inherit;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
}

a:hover {
    color: #cb4299;
    text-decoration: none;
}

.mobile-bar a:hover, .mobile-bar button:hover {
    color: #f8f9fa;
}

nav a, #blog a, .mobile-bar a, #mobile-header a, a.btn, .breadcrumb-item a {
    text-decoration: none;
}

.text-decoration-none {
    text-decoration: none;
}

.text-light {
    color: #f8f9fa;
}

.text-jaffa, a.text-jaffa:hover, .text-hover-jaffa:hover {
    color: #f38d40;
}

.text-mulberry, a.text-mulberry:hover, .text-hover-mulberry:hover {
    color: #cb4299;
}

.text-red {
    color: #ff2d2a;
}

.font-size-0 {
    font-size: 0;
}

.size-09 {
    font-size: 0.9rem;
}

.size-1 {
    font-size: 1rem;
}

.size-11 {
    font-size: 1.1rem;
}

.size-12 {
    font-size: 1.2rem;
}

.size-15 {
    font-size: 1.5rem;
}

.size-175 {
    font-size: 1.75rem;
}

.size-2 {
    font-size: 2rem;
}

@media (min-width: 992px) {
    .size-lg-2 {
        font-size: 2rem;
    }
}

.size-25 {
    font-size: 2.5rem;
}

.size-3 {
    font-size: 3rem;
}

.size-35 {
    font-size: 3.5rem;
}

@media (min-width: 600px) {
    .size-sm-35 {
        font-size: 3.5rem;
    }
}

.size-5 {
    font-size: 5rem;
}

.lh-1 {
    line-height: 1;
}

.lh-12 {
    line-height: 1.2;
}

.lh-16px {
    line-height: 16px;
}

.lh-24px {
    line-height: 24px;
}

.text-underline, .text-underline:hover {
    text-decoration: underline;
}

.text-underline-none {
    text-decoration: none;
}

.text-light-shadow {
    text-shadow: 0.07rem 0.07rem 0.1rem rgba(200, 200, 200, 0.2);
}

.text-red-shadow {
    text-shadow: 0px 0px 8px red;
}

.font-weight-normal {
    font-weight: normal;
}
/* text */

/* navheader */
#navheader nav {
    background: #f8f9fa;
    color: #3c3c3e;
    transition: background 1s ease-in-out;
}

#navheader.nav {
    display: none;
}

#navheader header {
    background: rgba(248, 249, 250, 0.65);
    color: #3c3c3e;
}

.logo-white {
    width: 50%;
}

@media (min-width: 768px) {
    .logo-white {
        width: 33%;
    }
}

.logo-white-max-height {
    width: 130px;
}

@media (min-width: 992px) {
    #navheader.nav {
        display: block;
    }

    #navheader header {
        background: transparent;
    }
}

#navheader.navheader-cover nav {
    background: transparent;
}

#navheader.navheader-cover.reduced nav {
    background: rgba(248, 249, 250);
}

#navheader.navheader-cover.reduced nav {
    background: #f8f9fa;
}

@media (max-width: 991.98px) {
    #navheader {
        transition: all 0.7s ease-in-out;
    }

    #navheader.reduced {
        transform: translateY(-110%);
    }
}

.logo-row {
    transition: transform 0.5s ease-in-out;
}

@media (min-width: 992px) {
    .logo-row {
        left: 50%;
        /* with height 100px, the width is ~270px */
        transform: translateX(-135px); 
    }

    .reduced .logo-row {
        /* with height 85px, the width is ~230px */
        transform: translateX(-115px);
    }
}

@media (min-width: 1200px) {
    .logo-row {
        left: 50%;
        /* with height 115px, the width is ~310px */
        transform: translateX(-155px); 
    }

    .reduced .logo-row {
        /* with height 90px, the width is ~244px */
        transform: translateX(-122px);
    }
}

.just-escape-logo svg {
    height: 50px;
    transition: height 0.5s ease-in-out;
}

@media (min-width: 992px) {
    .just-escape-logo svg {
        height: 100px;
    }

    .reduced .just-escape-logo svg {
        height: 85px;
    }
}

@media (min-width: 1200px) {
    .just-escape-logo svg {
        height: 115px;
    }

    .reduced .just-escape-logo svg {
        height: 90px;
    }
}

.space-for-logo {
    transition: height 0.5s ease-in-out;
}

@media (min-width: 992px) {
    .space-for-logo {
        /* logo height + title line height + margin top */
        height: calc(100px + 24px + 1rem);
    }

    .reduced .space-for-logo {
        /* logo height + title line height + margin top */
        height: calc(85px + 24px + 1rem);
    }
}

@media (min-width: 1200px) {
    .space-for-logo {
        /* logo height + title line height + margin top */
        height: calc(115px + 24px + 1rem);
    }

    .reduced .space-for-logo {
        /* logo height + title line height + margin top */
        height: calc(90px + 24px + 1rem);
    }
}

.just-escape-logo figcaption {
    font-size: 0.7rem;
    line-height: 24px;
    transition: transform 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

@media (min-width: 992px) {
    .just-escape-logo figcaption {
        font-size: 0.9rem;
    }

    .reduced .just-escape-logo figcaption {
        font-size: 0.7rem;
    }
}

.box-light-shadow, .reduced.navheader-cover .box-light-shadow {
    /* box-shadow: 0 0.1rem 0.5rem rgba(100, 100, 100, 0.5); */
    box-shadow: none;
}

.navheader-cover .box-light-shadow {
    box-shadow: none;
}

@media (min-width: 992px) {
    .box-lg-no-shadow {
        box-shadow: 0 0 0;
    }
}

.navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg%20viewBox%3D'0%200%2030%2030'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20stroke%3D'rgba(0%2C%200%2C%200%2C%200.5)'%20stroke-width%3D'2'%20stroke-linecap%3D'round'%20stroke-miterlimit%3D'10'%20d%3D'M4%207h22M4%2015h22M4%2023h22'%2F%3E%3C%2Fsvg%3E");
    border-color: #3c3c3e;
}

.size-reductible-nav {
    font-size: 0.98rem;
}

.navheader-cover .size-reductible-nav, .navheader-cover figcaption {
    color: #f8f9fa;
}

.navheader-cover.cover-max-transparency figcaption {
    color: transparent;
}

.navheader-cover .svg-logo {
    filter: brightness(0) invert(1);
    transition: filter 0.5s ease-in-out;
}

.navheader-cover.cover-max-transparency .svg-logo {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
} 

.size-reductible-nav-bis {
    font-size: 0.8rem;
}

.svg-24px-reductible svg {
    width: 19px;
    height: 19px;
}

.cover-max-transparency .nav-top.dark {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.cover-max-transparency.reduced .nav-top.dark {
    opacity: 1;
}

@media (min-width: 992px) {
    .size-reductible-nav {
        font-size: 0.98rem;
        transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
    }

    .reduced .size-reductible-nav {
        font-size: 0.9rem;
    }

    .reduced.navheader-cover .size-reductible-nav, .reduced.navheader-cover figcaption {
        color: #3c3c3e;
    }

    .reduced.navheader-cover .svg-logo {
        filter: brightness(1);
    }

    .reduced.navheader-cover.cover-max-transparency .svg-logo {
        opacity: 1;
    }

    .reduced.navheader-cover .size-reductible-nav.nav-button {
        color: #f8f9fa;
    }

    .size-reductible-nav-bis {
        font-size: 0.8rem;
        transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out;
    }

    .reduced .size-reductible-nav-bis {
        font-size: 0.8rem;
    }

    .svg-24px-reductible svg {
        width: 19px;
        height: 19px;
        transition: height 0.5s ease-in-out, width 0.5s ease-in-out;
    }
    
    .reduced .svg-24px-reductible svg {
        width: 19px;
        height: 19px;
    }
}

.z-1 {
    z-index: 1;
}

.z-2 {
    z-index: 2;
}

.z-3 {
    z-index: 3;
}

.z-4 {
    z-index: 4;
}

@media (min-width: 992px) {
    .z-lg-1 {
        z-index: 1;
    }
}

@media (min-width: 992px) {
    .z-lg-2 {
        z-index: 2;
    }
}

.img-cover {
    height: 100vh;
    object-fit: cover;
}

.mobile-bar {
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

.mobile-tile-current-page {
    background: #f38d40;
    color: #f8f9fa;
}

.mobile-tile-current-page svg {
    fill: #f8f9fa;
}

.mobile-tile-hover {
    transition: all 0.2s ease-in-out;
}

.mobile-tile-hover:hover {
    background: #cb4299;
    color: #f8f9fa;
}

.mobile-tile-hover:hover svg {
    fill: #f8f9fa;
}

.text-cover {
    margin-bottom: 20px;
}

.text-cover h1 {
    font-size: 2.5rem;
}

@media (min-width: 992px) {
    .text-cover {
        margin-bottom: 100px;
    }

    .text-cover h1 {
        font-size: 3.5rem;
    }

    .text-cover div {
        font-size: 1.2rem;
    }
}
/* navheader */

/* button */
.btn > span, .nav-button > span {
    z-index: 3;
    position: relative;
    font-family: "Inter", "Helvetica", "Arial", "sans-serif";
    font-weight: bold;
    text-transform: uppercase;
}

.btn > span {
    font-size: 1rem;
}

.btn-primary, .nav-button {
    background-color: #cb4299;
    color: #f8f9fa;
    border-width: 0px;
    position: relative;
    -webkit-backface-visibility: hidden;
    z-index: 1;
    border-radius: 0.25rem;
}

.btn-primary:after, .nav-button:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(12deg, #f38d40, #cb4299 90%);
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    border-radius: 0.25rem;
}

.btn-primary:hover {
    color: #f8f9fa;
    background-color: #cb4299;
    border-color: #3c3c3e;
}

.btn-primary:hover:after, .nav-button:hover:after {
    opacity: 1;
}

.nav-button:hover {
    color: #f8f9fa;
}

.btn-primary:not(:disabled):not(.disabled):active {
    background: linear-gradient(12deg, #f38d40, #cb4299 90%);
    border-color: #3c3c3e;
}

.btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(171, 34, 121, 0.5);
}

.btn-secondary {
    background-color: transparent;
    color: #ef8649;
    border-color: #ef8649;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out;
}

.btn-secondary:hover {
    background-color: #ef8649;
    color: #3c3c3e;
    border-color: #ef8649;
}

.btn-secondary:not(:disabled):not(.disabled):active {
    background-color: #ef8649;
    color: #f8f9fa;
}

.btn-secondary:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 168, 102, 0.5);
}

.btn-light {
    background-color: #f8f9fa;
    border-color: transparent;
    color: #cb4299;
}

.btn-light:hover {
    background-color: #f8f9fa;
    border-color: transparent;
    color: #cb4299;
}

.btn-light:not(:disabled):not(.disabled):active {
    background-color: #f8f9fa;
    color: #cb4299;
}

.btn-light:focus, .btn-light:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 168, 102, 0.5);
}
/* button */

/* icon */
svg:not(.animable) {
    pointer-events: none;
}

.width-170px svg {
    width: 170px;
}

.width-100px svg {
    width: 100px;
}

.ri-door {
    transform-origin: 0 50%;
}

.svg-16px svg {
    width: 16px;
    height: 16px;
}

.svg-20px svg {
    width: 20px;
    height: 20px;
}

.svg-24px svg {
    width: 24px;
    height: 24px;
}

.svg-30px svg {
    width: 30px;
    height: 30px;
}

.svg-32px svg {
    width: 32px;
    height: 32px;
}

.svg-36px svg {
    width: 36px;
    height: 36px;
}

.svg-75px svg {
    width: 75px;
    height: 75px;
}

.svg-132x200px svg {
    width: 132px;
    height: 200px;
}

@media (min-width: 768px) {
    .svg-sm-48px svg {
        height: 48px;
        width: 48px;
    }
}

.svg-64px svg {
    width: 64px;
    height: 64px;
}

.fill-mulberry svg {
    fill: #cb4299;
}

.fill-jaffa svg {
    fill: #f38d40;
}

.fill-light svg {
    fill: #f8f9fa;
}


.fill-dark svg {
    fill: #3c3c3e;
}

#svg-css {
    width: 0;
    height: 0;
    position: absolute;
}

.align-top svg {
    vertical-align: top;
}

.align-super svg {
    vertical-align: super;
}

.align-sub svg {
    vertical-align: sub;
}

.social-media-icon {
    transition: transform 0.5s ease-in-out;
}

.social-media-icon:hover {
    transform: rotate(360deg);
}

.social-media-icon svg:hover > .social-media-circle {
    fill: #cb4299;
}

.social-media-circle {
    fill: #f38d40;
    transition: fill 0.2s ease-in-out;
}

.social-media-shape {
    fill: #3c3c3e;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20viewBox%3D%220%200%20444.819%20444.819%22%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M352.025%2C196.712L165.884%2C10.848C159.029%2C3.615%2C150.469%2C0%2C140.187%2C0c-10.282%2C0-18.842%2C3.619-25.697%2C10.848L92.792%2C32.264%20c-7.044%2C7.043-10.566%2C15.604-10.566%2C25.692c0%2C9.897%2C3.521%2C18.56%2C10.566%2C25.981l138.753%2C138.473L92.786%2C361.168%20c-7.042%2C7.043-10.564%2C15.604-10.564%2C25.693c0%2C9.896%2C3.521%2C18.562%2C10.564%2C25.98l21.7%2C21.413%20c7.043%2C7.043%2C15.612%2C10.564%2C25.697%2C10.564c10.089%2C0%2C18.656-3.521%2C25.697-10.564l186.145-185.864%20c7.046-7.423%2C10.571-16.084%2C10.571-25.981C362.597%2C212.321%2C359.071%2C203.755%2C352.025%2C196.712z%22%2F%3E%3C%2Fsvg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20viewBox%3D%220%200%20444.819%20444.819%22%20fill%3D%22%23ffffff%22%3E%3Cpath%20d%3D%22M352.025%2C196.712L165.884%2C10.848C159.029%2C3.615%2C150.469%2C0%2C140.187%2C0c-10.282%2C0-18.842%2C3.619-25.697%2C10.848L92.792%2C32.264%20c-7.044%2C7.043-10.566%2C15.604-10.566%2C25.692c0%2C9.897%2C3.521%2C18.56%2C10.566%2C25.981l138.753%2C138.473L92.786%2C361.168%20c-7.042%2C7.043-10.564%2C15.604-10.564%2C25.693c0%2C9.896%2C3.521%2C18.562%2C10.564%2C25.98l21.7%2C21.413%20c7.043%2C7.043%2C15.612%2C10.564%2C25.697%2C10.564c10.089%2C0%2C18.656-3.521%2C25.697-10.564l186.145-185.864%20c7.046-7.423%2C10.571-16.084%2C10.571-25.981C362.597%2C212.321%2C359.071%2C203.755%2C352.025%2C196.712z%22%2F%3E%3C%2Fsvg%3E");
    transform: rotate(180deg);
}
/* icon */

/* form */
input.form-control, select.form-control, textarea.form-control, .input-group > .input-group-append > .input-group-text {
    background: transparent;
    border-color: #f38d40;
    color: #f8f9fa;
}

input.form-control, select.form-control {
    font-family: "Inter", "Arial Black", "sans-serif";
    font-size: 1rem;
}

input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(243, 141, 64, 0.25);
    background-color: transparent;
    border-color: #f38d40;
    color: #f8f9fa;
}

input.form-control::placeholder {
    font-family: "Inter", "Arial Black", "sans-serif";
    font-size: 1rem;
    color: rgba(248, 249, 250, 0.6);
}

.softdark input.form-control::placeholder, .softdark textarea.form-control::placeholder {
    color: rgba(248, 249, 250, 0.6);
}
/* form */

/* misc */
.breadcrumb-item.active {
    color: #f8f9fa;
}

.disclaimer {
    position: fixed;
    bottom: 50px;
    padding: 1rem 1rem 1rem 2rem;
    background: #cb4299;
    border-radius: 0 0.25rem 0.25rem 0;
    z-index: 1000;
}

.height-200px {
    height: 200px;
}

.border-solid {
    border: 1px solid #f8f9fa;
}

.border-2px {
    border-width: 2px;
}

@media (min-width: 576px) {
    .d-sm-table {
        display: table!important;
    }

    .flex-sm-row {
        -ms-flex-direction: row!important;
        flex-direction: row!important
    }

    .justify-content-sm-center {
        -ms-flex-pack: center!important;
        justify-content: center!important
    }

    .justify-content-sm-between {
        -ms-flex-pack: justify!important;
        justify-content: space-between!important
    }
}

@media(min-width: 768px) {
    .flex-md-row {
        -ms-flex-direction: row!important;
        flex-direction: row!important
    }

    .justify-content-md-end {
        -ms-flex-pack: end!important;
        justify-content: flex-end!important
    }
}

@media (min-width: 992px) {
    .position-lg-absolute {
        position: absolute!important;
    }

    .d-lg-none {
        display: none!important;
    }

    .d-lg-block {
        display: block!important;
    }

    .d-lg-flex {
        display: -ms-flexbox!important;
        display: flex!important;
    }

    .flex-lg-row {
        -ms-flex-direction: row!important;
        flex-direction: row!important
    }

    .flex-lg-column {
        -ms-flex-direction: column!important;
        flex-direction: column!important
    }

    .flex-lg-column-reverse {
        -ms-flex-direction: column-reverse!important;
        flex-direction: column-reverse!important
    }
}

.pointer:hover {
    cursor: pointer;
}

.not-allowed:hover {
    cursor: not-allowed;
}

.anchor {
    position: absolute;
    left: 0;
    top: calc(-5rem - 2rem);
}

@media (min-width: 992px) {
    .anchor {
        top: calc(-9.65rem - 2rem);
    }
}

@media (min-width: 1200px) {
    .anchor {
        top: calc(-10.5rem - 2rem);
    }
}

.border-jaffa {
    border-color: #f38d40;
}

.border-mulberry {
    border-color: #cb4299;
}

.border-dark {
    border-color: #3c3c3e;
}

.border-light {
    border-color: #f8f9fa;
}

.border-2px {
    border-width: 2px;
}

.rotate-90 {
    transform: rotate(90deg);
}

@media (max-width: 767.98px) {
    .rotate-xl-sm-90 {
        transform: rotate(90deg);
    }
}

.transition-02s {
    transition: all 0.2s ease-in-out;
}

.transition-03s {
    transition: all 0.3s ease-in-out;
}

.opacity-07 {
    opacity: 0.7;
}

.opacity-05 {
    opacity: 0.5;
}

.opacity-04 {
    opacity: 0.4;
}

.opacity-hover-1:hover {
    opacity: 1;
}

.ul-no-style {
    list-style-type: none;
}

#map {
    min-height: 20rem;
}

.error-404-door {
    z-index: 3;
    position: absolute;
    left: 0;
    top: 0;
}

.error-404-door svg {
    transition: transform 1s ease-in-out;
}

.moving-door:hover .error-404-door svg {
    transform: scaleX(-1);
}

.error-404-background {
    z-index: 2;
}

.table-team-building {
    width: 100%;
}

.table-team-building thead {
    background-color: #2e2e2e;
}

.table-team-building td, .table-team-building thead th {
    text-align: center;
    padding: 1rem;
}

.table-team-building tbody th {
    padding: 1rem 0 1rem 1rem;
}

.table-team-building tr th {
    font-weight: normal;
}

.table-team-building tbody tr:nth-child(even) {
    background-color: #4d4d4f;
}

.ribbon {
    width: 130px;
    height: 130px;
    overflow: hidden;
    position: absolute;
}

.ribbon.ribbon-small {
    width: 113px;
    height: 113px;
}

.ribbon::before, .ribbon::after {
    position: absolute;
    content: '';
    display: block;
    border: 5px solid;
}

.ribbon-mulberry-jaffa span {
    background: linear-gradient(40deg, #f38d40, #cb4299 90%);
}

.ribbon-jaffa span {
    background: #f38d40;
}

.ribbon-mulberry-jaffa::before {
    border-color: #cb4299;
}

.ribbon-mulberry-jaffa::after, .ribbon-jaffa::before, .ribbon-jaffa::after {
    border-color: #f38d40;
}

.ribbon span {
    position: absolute;
    display: block;
    width: 225px;
    padding: 8px 0;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #f8f9fa;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-align: center;
}

.ribbon.ribbon-small span {
    padding: 2px 0;
    font-size: 0.8rem;
}

.ribbon-top-left {
    top: -10px;
    left: -10px;
}

.ribbon-top-left::before, .ribbon-top-left::after {
    border-top-color: transparent;
    border-left-color: transparent;
}

.ribbon-top-left::before {
    top: 0;
    right: 0;
}

.ribbon-top-left::after {
    bottom: 0;
    left: 0;
}

.ribbon-top-left span {
    right: -34px;
    top: 33px;
    transform: rotate(-45deg);
}

.ribbon-top-left.ribbon-small span {
    right: -44px;
    top: 42px;
}

video {
    width: 100%;
    height: auto;
    display: block; /* Removes a mysterious margin bottom */
}

.carousel-zoom-in .carousel-item img, .carousel-zoom-in .carousel-item video {
    transition: transform 5s linear;
}

.carousel-zoom-in .carousel-item.active img, .carousel-zoom-in .carousel-item.active video {
    transform: scale(1.05);
}

.zoom-in-out {
    animation: keyframes-zoom-in-out 20s linear infinite;
}

@keyframes keyframes-zoom-in-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}

.content-cover {
    height: 75vh;
}

@media (min-width: 992px) {
    .content-cover {
        height: 88vh;
    }
}
/* misc */

/* popover */
.popover {
    background-color: #3c3c3e;
    color: #f8f9fa;
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
    border-color: #f38d40;
}

.popover-header {
    background-color: #2e2e2e; 
    border-color: transparent;
}

.popover-body {
    color: #f8f9fa;
}

.bs-popover-auto[x-placement^=right]>.arrow::after, .bs-popover-right>.arrow::after {
    border-right-color: #f38d40;
}

.bs-popover-auto[x-placement^=left]>.arrow::after, .bs-popover-left>.arrow::after {
    border-left-color: #f38d40;
}

.bs-popover-auto[x-placement^=top]>.arrow::after, .bs-popover-top>.arrow::after {
    border-top-color: #f38d40;
}

.bs-popover-auto[x-placement^=bottom]>.arrow::after, .bs-popover-bottom>.arrow::after {
    border-bottom-color: #f38d40;
}
/* popover */

/* django forms */
ul.errorlist {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
    color: #ff2d2a;
}
/* django forms */

/* custom checkbox */
.jaffa-mark {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.jaffa-mark input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark, .radiomark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 1px solid #f38d40;
}

.checkmark {
    border-radius: 0.25rem;
}

.radiomark {
    border-radius: 50%;
}

.jaffa-mark:hover input ~ .checkmark, .jaffa-mark:hover input ~ .radiomark {
    background-color: rgba(243, 141, 64, 0.25);
}

.jaffa-mark input:checked ~ .checkmark, .jaffa-mark input:checked ~ .radiomark {
    background-color: #f38d40;
}

.checkmark:after, .radiomark:after {
    content: "";
    position: absolute;
    display: none;
}

.jaffa-mark input:checked ~ .checkmark:after, .jaffa-mark input:checked ~ .radiomark:after {
    display: block;
}

.jaffa-mark .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* custom checkbox */
